<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ABE_REQ_UID">
	{$ABE_REQ_UID_editcontrol}
	</control>
	<control field="ABE_UID">
	{$ABE_UID_editcontrol}
	</control>
	<control field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<control field="ABE_REQ_SENT_TO">
	{$ABE_REQ_SENT_TO_editcontrol}
	</control>
	<control field="ABE_REQ_SUBJECT">
	{$ABE_REQ_SUBJECT_editcontrol}
	</control>
	<control field="ABE_REQ_BODY">
	{$ABE_REQ_BODY_editcontrol}
	</control>
	<control field="ABE_REQ_DATE">
	{$ABE_REQ_DATE_editcontrol}
	</control>
	<control field="ABE_REQ_STATUS">
	{$ABE_REQ_STATUS_editcontrol}
	</control>
	<control field="ABE_REQ_ANSWERED">
	{$ABE_REQ_ANSWERED_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>