<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ADD_TAB_UID">
	{$ADD_TAB_UID_editcontrol}
	</control>
	<control field="ADD_TAB_NAME">
	{$ADD_TAB_NAME_editcontrol}
	</control>
	<control field="ADD_TAB_CLASS_NAME">
	{$ADD_TAB_CLASS_NAME_editcontrol}
	</control>
	<control field="ADD_TAB_DESCRIPTION">
	{$ADD_TAB_DESCRIPTION_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_LOG_INSERT">
	{$ADD_TAB_SDW_LOG_INSERT_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_LOG_UPDATE">
	{$ADD_TAB_SDW_LOG_UPDATE_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_LOG_DELETE">
	{$ADD_TAB_SDW_LOG_DELETE_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_LOG_SELECT">
	{$ADD_TAB_SDW_LOG_SELECT_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_MAX_LENGTH">
	{$ADD_TAB_SDW_MAX_LENGTH_editcontrol}
	</control>
	<control field="ADD_TAB_SDW_AUTO_DELETE">
	{$ADD_TAB_SDW_AUTO_DELETE_editcontrol}
	</control>
	<control field="ADD_TAB_PLG_UID">
	{$ADD_TAB_PLG_UID_editcontrol}
	</control>
	<control field="DBS_UID">
	{$DBS_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="ADD_TAB_TYPE">
	{$ADD_TAB_TYPE_editcontrol}
	</control>
	<control field="ADD_TAB_GRID">
	{$ADD_TAB_GRID_editcontrol}
	</control>
	<control field="ADD_TAB_TAG">
	{$ADD_TAB_TAG_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>