<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ADDON_ID">
	{$ADDON_ID_editcontrol}
	</control>
	<control field="STORE_ID">
	{$STORE_ID_editcontrol}
	</control>
	<control field="ADDON_NAME">
	{$ADDON_NAME_editcontrol}
	</control>
	<control field="ADDON_NICK">
	{$ADDON_NICK_editcontrol}
	</control>
	<control field="ADDON_DOWNLOAD_FILENAME">
	{$ADDON_DOWNLOAD_FILENAME_editcontrol}
	</control>
	<control field="ADDON_DESCRIPTION">
	{$ADDON_DESCRIPTION_editcontrol}
	</control>
	<control field="ADDON_STATE">
	{$ADDON_STATE_editcontrol}
	</control>
	<control field="ADDON_STATE_CHANGED">
	{$ADDON_STATE_CHANGED_editcontrol}
	</control>
	<control field="ADDON_STATUS">
	{$ADDON_STATUS_editcontrol}
	</control>
	<control field="ADDON_VERSION">
	{$ADDON_VERSION_editcontrol}
	</control>
	<control field="ADDON_TYPE">
	{$ADDON_TYPE_editcontrol}
	</control>
	<control field="ADDON_PUBLISHER">
	{$ADDON_PUBLISHER_editcontrol}
	</control>
	<control field="ADDON_RELEASE_DATE">
	{$ADDON_RELEASE_DATE_editcontrol}
	</control>
	<control field="ADDON_RELEASE_TYPE">
	{$ADDON_RELEASE_TYPE_editcontrol}
	</control>
	<control field="ADDON_RELEASE_NOTES">
	{$ADDON_RELEASE_NOTES_editcontrol}
	</control>
	<control field="ADDON_DOWNLOAD_URL">
	{$ADDON_DOWNLOAD_URL_editcontrol}
	</control>
	<control field="ADDON_DOWNLOAD_PROGRESS">
	{$ADDON_DOWNLOAD_PROGRESS_editcontrol}
	</control>
	<control field="ADDON_DOWNLOAD_MD5">
	{$ADDON_DOWNLOAD_MD5_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>