<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel ADDONS_MANAGER print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN ADDON_ID_fieldheadercolumn}
			<th class="{$ADDON_ID_class}" {$ADDON_ID_style}  data-field="ADDON_ID">
				{$label ADDONS_MANAGER ADDON_ID}
			</th>
			{END ADDON_ID_fieldheadercolumn}
			{BEGIN STORE_ID_fieldheadercolumn}
			<th class="{$STORE_ID_class}" {$STORE_ID_style}  data-field="STORE_ID">
				{$label ADDONS_MANAGER STORE_ID}
			</th>
			{END STORE_ID_fieldheadercolumn}
			{BEGIN ADDON_NAME_fieldheadercolumn}
			<th class="{$ADDON_NAME_class}" {$ADDON_NAME_style}  data-field="ADDON_NAME">
				{$label ADDONS_MANAGER ADDON_NAME}
			</th>
			{END ADDON_NAME_fieldheadercolumn}
			{BEGIN ADDON_NICK_fieldheadercolumn}
			<th class="{$ADDON_NICK_class}" {$ADDON_NICK_style}  data-field="ADDON_NICK">
				{$label ADDONS_MANAGER ADDON_NICK}
			</th>
			{END ADDON_NICK_fieldheadercolumn}
			{BEGIN ADDON_DOWNLOAD_FILENAME_fieldheadercolumn}
			<th class="{$ADDON_DOWNLOAD_FILENAME_class}" {$ADDON_DOWNLOAD_FILENAME_style}  data-field="ADDON_DOWNLOAD_FILENAME">
				{$label ADDONS_MANAGER ADDON_DOWNLOAD_FILENAME}
			</th>
			{END ADDON_DOWNLOAD_FILENAME_fieldheadercolumn}
			{BEGIN ADDON_DESCRIPTION_fieldheadercolumn}
			<th class="{$ADDON_DESCRIPTION_class}" {$ADDON_DESCRIPTION_style}  data-field="ADDON_DESCRIPTION">
				{$label ADDONS_MANAGER ADDON_DESCRIPTION}
			</th>
			{END ADDON_DESCRIPTION_fieldheadercolumn}
			{BEGIN ADDON_STATE_fieldheadercolumn}
			<th class="{$ADDON_STATE_class}" {$ADDON_STATE_style}  data-field="ADDON_STATE">
				{$label ADDONS_MANAGER ADDON_STATE}
			</th>
			{END ADDON_STATE_fieldheadercolumn}
			{BEGIN ADDON_STATE_CHANGED_fieldheadercolumn}
			<th class="{$ADDON_STATE_CHANGED_class}" {$ADDON_STATE_CHANGED_style}  data-field="ADDON_STATE_CHANGED">
				{$label ADDONS_MANAGER ADDON_STATE_CHANGED}
			</th>
			{END ADDON_STATE_CHANGED_fieldheadercolumn}
			{BEGIN ADDON_STATUS_fieldheadercolumn}
			<th class="{$ADDON_STATUS_class}" {$ADDON_STATUS_style}  data-field="ADDON_STATUS">
				{$label ADDONS_MANAGER ADDON_STATUS}
			</th>
			{END ADDON_STATUS_fieldheadercolumn}
			{BEGIN ADDON_VERSION_fieldheadercolumn}
			<th class="{$ADDON_VERSION_class}" {$ADDON_VERSION_style}  data-field="ADDON_VERSION">
				{$label ADDONS_MANAGER ADDON_VERSION}
			</th>
			{END ADDON_VERSION_fieldheadercolumn}
			{BEGIN ADDON_TYPE_fieldheadercolumn}
			<th class="{$ADDON_TYPE_class}" {$ADDON_TYPE_style}  data-field="ADDON_TYPE">
				{$label ADDONS_MANAGER ADDON_TYPE}
			</th>
			{END ADDON_TYPE_fieldheadercolumn}
			{BEGIN ADDON_PUBLISHER_fieldheadercolumn}
			<th class="{$ADDON_PUBLISHER_class}" {$ADDON_PUBLISHER_style}  data-field="ADDON_PUBLISHER">
				{$label ADDONS_MANAGER ADDON_PUBLISHER}
			</th>
			{END ADDON_PUBLISHER_fieldheadercolumn}
			{BEGIN ADDON_RELEASE_DATE_fieldheadercolumn}
			<th class="{$ADDON_RELEASE_DATE_class}" {$ADDON_RELEASE_DATE_style}  data-field="ADDON_RELEASE_DATE">
				{$label ADDONS_MANAGER ADDON_RELEASE_DATE}
			</th>
			{END ADDON_RELEASE_DATE_fieldheadercolumn}
			{BEGIN ADDON_RELEASE_TYPE_fieldheadercolumn}
			<th class="{$ADDON_RELEASE_TYPE_class}" {$ADDON_RELEASE_TYPE_style}  data-field="ADDON_RELEASE_TYPE">
				{$label ADDONS_MANAGER ADDON_RELEASE_TYPE}
			</th>
			{END ADDON_RELEASE_TYPE_fieldheadercolumn}
			{BEGIN ADDON_RELEASE_NOTES_fieldheadercolumn}
			<th class="{$ADDON_RELEASE_NOTES_class}" {$ADDON_RELEASE_NOTES_style}  data-field="ADDON_RELEASE_NOTES">
				{$label ADDONS_MANAGER ADDON_RELEASE_NOTES}
			</th>
			{END ADDON_RELEASE_NOTES_fieldheadercolumn}
			{BEGIN ADDON_DOWNLOAD_URL_fieldheadercolumn}
			<th class="{$ADDON_DOWNLOAD_URL_class}" {$ADDON_DOWNLOAD_URL_style}  data-field="ADDON_DOWNLOAD_URL">
				{$label ADDONS_MANAGER ADDON_DOWNLOAD_URL}
			</th>
			{END ADDON_DOWNLOAD_URL_fieldheadercolumn}
			{BEGIN ADDON_DOWNLOAD_PROGRESS_fieldheadercolumn}
			<th class="{$ADDON_DOWNLOAD_PROGRESS_class}" {$ADDON_DOWNLOAD_PROGRESS_style}  data-field="ADDON_DOWNLOAD_PROGRESS">
				{$label ADDONS_MANAGER ADDON_DOWNLOAD_PROGRESS}
			</th>
			{END ADDON_DOWNLOAD_PROGRESS_fieldheadercolumn}
			{BEGIN ADDON_DOWNLOAD_MD5_fieldheadercolumn}
			<th class="{$ADDON_DOWNLOAD_MD5_class}" {$ADDON_DOWNLOAD_MD5_style}  data-field="ADDON_DOWNLOAD_MD5">
				{$label ADDONS_MANAGER ADDON_DOWNLOAD_MD5}
			</th>
			{END ADDON_DOWNLOAD_MD5_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN ADDON_ID_fieldcolumn}
			<td  class="{$ADDON_ID_class}" {$ADDON_ID_style} {$recordattrs}>
				{$ADDON_ID_value}
			</td>
			{END ADDON_ID_fieldcolumn}
			{BEGIN STORE_ID_fieldcolumn}
			<td  class="{$STORE_ID_class}" {$STORE_ID_style} {$recordattrs}>
				{$STORE_ID_value}
			</td>
			{END STORE_ID_fieldcolumn}
			{BEGIN ADDON_NAME_fieldcolumn}
			<td  class="{$ADDON_NAME_class}" {$ADDON_NAME_style} {$recordattrs}>
				{$ADDON_NAME_value}
			</td>
			{END ADDON_NAME_fieldcolumn}
			{BEGIN ADDON_NICK_fieldcolumn}
			<td  class="{$ADDON_NICK_class}" {$ADDON_NICK_style} {$recordattrs}>
				{$ADDON_NICK_value}
			</td>
			{END ADDON_NICK_fieldcolumn}
			{BEGIN ADDON_DOWNLOAD_FILENAME_fieldcolumn}
			<td  class="{$ADDON_DOWNLOAD_FILENAME_class}" {$ADDON_DOWNLOAD_FILENAME_style} {$recordattrs}>
				{$ADDON_DOWNLOAD_FILENAME_value}
			</td>
			{END ADDON_DOWNLOAD_FILENAME_fieldcolumn}
			{BEGIN ADDON_DESCRIPTION_fieldcolumn}
			<td  class="{$ADDON_DESCRIPTION_class}" {$ADDON_DESCRIPTION_style} {$recordattrs}>
				{$ADDON_DESCRIPTION_value}
			</td>
			{END ADDON_DESCRIPTION_fieldcolumn}
			{BEGIN ADDON_STATE_fieldcolumn}
			<td  class="{$ADDON_STATE_class}" {$ADDON_STATE_style} {$recordattrs}>
				{$ADDON_STATE_value}
			</td>
			{END ADDON_STATE_fieldcolumn}
			{BEGIN ADDON_STATE_CHANGED_fieldcolumn}
			<td  class="{$ADDON_STATE_CHANGED_class}" {$ADDON_STATE_CHANGED_style} {$recordattrs}>
				{$ADDON_STATE_CHANGED_value}
			</td>
			{END ADDON_STATE_CHANGED_fieldcolumn}
			{BEGIN ADDON_STATUS_fieldcolumn}
			<td  class="{$ADDON_STATUS_class}" {$ADDON_STATUS_style} {$recordattrs}>
				{$ADDON_STATUS_value}
			</td>
			{END ADDON_STATUS_fieldcolumn}
			{BEGIN ADDON_VERSION_fieldcolumn}
			<td  class="{$ADDON_VERSION_class}" {$ADDON_VERSION_style} {$recordattrs}>
				{$ADDON_VERSION_value}
			</td>
			{END ADDON_VERSION_fieldcolumn}
			{BEGIN ADDON_TYPE_fieldcolumn}
			<td  class="{$ADDON_TYPE_class}" {$ADDON_TYPE_style} {$recordattrs}>
				{$ADDON_TYPE_value}
			</td>
			{END ADDON_TYPE_fieldcolumn}
			{BEGIN ADDON_PUBLISHER_fieldcolumn}
			<td  class="{$ADDON_PUBLISHER_class}" {$ADDON_PUBLISHER_style} {$recordattrs}>
				{$ADDON_PUBLISHER_value}
			</td>
			{END ADDON_PUBLISHER_fieldcolumn}
			{BEGIN ADDON_RELEASE_DATE_fieldcolumn}
			<td  class="{$ADDON_RELEASE_DATE_class}" {$ADDON_RELEASE_DATE_style} {$recordattrs}>
				{$ADDON_RELEASE_DATE_value}
			</td>
			{END ADDON_RELEASE_DATE_fieldcolumn}
			{BEGIN ADDON_RELEASE_TYPE_fieldcolumn}
			<td  class="{$ADDON_RELEASE_TYPE_class}" {$ADDON_RELEASE_TYPE_style} {$recordattrs}>
				{$ADDON_RELEASE_TYPE_value}
			</td>
			{END ADDON_RELEASE_TYPE_fieldcolumn}
			{BEGIN ADDON_RELEASE_NOTES_fieldcolumn}
			<td  class="{$ADDON_RELEASE_NOTES_class}" {$ADDON_RELEASE_NOTES_style} {$recordattrs}>
				{$ADDON_RELEASE_NOTES_value}
			</td>
			{END ADDON_RELEASE_NOTES_fieldcolumn}
			{BEGIN ADDON_DOWNLOAD_URL_fieldcolumn}
			<td  class="{$ADDON_DOWNLOAD_URL_class}" {$ADDON_DOWNLOAD_URL_style} {$recordattrs}>
				{$ADDON_DOWNLOAD_URL_value}
			</td>
			{END ADDON_DOWNLOAD_URL_fieldcolumn}
			{BEGIN ADDON_DOWNLOAD_PROGRESS_fieldcolumn}
			<td  class="{$ADDON_DOWNLOAD_PROGRESS_class}" {$ADDON_DOWNLOAD_PROGRESS_style} {$recordattrs}>
				{$ADDON_DOWNLOAD_PROGRESS_value}
			</td>
			{END ADDON_DOWNLOAD_PROGRESS_fieldcolumn}
			{BEGIN ADDON_DOWNLOAD_MD5_fieldcolumn}
			<td  class="{$ADDON_DOWNLOAD_MD5_class}" {$ADDON_DOWNLOAD_MD5_style} {$recordattrs}>
				{$ADDON_DOWNLOAD_MD5_value}
			</td>
			{END ADDON_DOWNLOAD_MD5_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
