<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="APP_DELAY_UID">
	{$APP_DELAY_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control field="APP_THREAD_INDEX">
	{$APP_THREAD_INDEX_editcontrol}
	</control>
	<control field="APP_DEL_INDEX">
	{$APP_DEL_INDEX_editcontrol}
	</control>
	<control field="APP_TYPE">
	{$APP_TYPE_editcontrol}
	</control>
	<control field="APP_STATUS">
	{$APP_STATUS_editcontrol}
	</control>
	<control field="APP_NEXT_TASK">
	{$APP_NEXT_TASK_editcontrol}
	</control>
	<control field="APP_DELEGATION_USER">
	{$APP_DELEGATION_USER_editcontrol}
	</control>
	<control field="APP_ENABLE_ACTION_USER">
	{$APP_ENABLE_ACTION_USER_editcontrol}
	</control>
	<control field="APP_ENABLE_ACTION_DATE">
	{$APP_ENABLE_ACTION_DATE_editcontrol}
	</control>
	<control field="APP_DISABLE_ACTION_USER">
	{$APP_DISABLE_ACTION_USER_editcontrol}
	</control>
	<control field="APP_DISABLE_ACTION_DATE">
	{$APP_DISABLE_ACTION_DATE_editcontrol}
	</control>
	<control field="APP_AUTOMATIC_DISABLED_DATE">
	{$APP_AUTOMATIC_DISABLED_DATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>