<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="APP_DOC_UID">
	{$APP_DOC_UID_editcontrol}
	</control>
	<control field="DOC_VERSION">
	{$DOC_VERSION_editcontrol}
	</control>
	<control field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<control field="DOC_UID">
	{$DOC_UID_editcontrol}
	</control>
	<control field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control field="APP_DOC_TYPE">
	{$APP_DOC_TYPE_editcontrol}
	</control>
	<control field="APP_DOC_CREATE_DATE">
	{$APP_DOC_CREATE_DATE_editcontrol}
	</control>
	<control field="APP_DOC_INDEX">
	{$APP_DOC_INDEX_editcontrol}
	</control>
	<control field="FOLDER_UID">
	{$FOLDER_UID_editcontrol}
	</control>
	<control field="APP_DOC_PLUGIN">
	{$APP_DOC_PLUGIN_editcontrol}
	</control>
	<control field="APP_DOC_TAGS">
	{$APP_DOC_TAGS_editcontrol}
	</control>
	<control field="APP_DOC_STATUS">
	{$APP_DOC_STATUS_editcontrol}
	</control>
	<control field="APP_DOC_STATUS_DATE">
	{$APP_DOC_STATUS_DATE_editcontrol}
	</control>
	<control field="APP_DOC_FIELDNAME">
	{$APP_DOC_FIELDNAME_editcontrol}
	</control>
	<control field="APP_DOC_DRIVE_DOWNLOAD">
	{$APP_DOC_DRIVE_DOWNLOAD_editcontrol}
	</control>
	<control field="SYNC_WITH_DRIVE">
	{$SYNC_WITH_DRIVE_editcontrol}
	</control>
	<control field="SYNC_PERMISSIONS">
	{$SYNC_PERMISSIONS_editcontrol}
	</control>
	<control field="APP_DOC_FILENAME">
	{$APP_DOC_FILENAME_editcontrol}
	</control>
	<control field="APP_DOC_TITLE">
	{$APP_DOC_TITLE_editcontrol}
	</control>
	<control field="APP_DOC_COMMENT">
	{$APP_DOC_COMMENT_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>