<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_MSG_UID">
	{$APP_MSG_UID_editcontrol}
	</control>
	<control 
	field="MSG_UID">
	{$MSG_UID_editcontrol}
	</control>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<control 
	field="APP_MSG_TYPE">
	{$APP_MSG_TYPE_editcontrol}
	</control>
	<control 
	field="APP_MSG_SUBJECT">
	{$APP_MSG_SUBJECT_editcontrol}
	</control>
	<control 
	field="APP_MSG_FROM">
	{$APP_MSG_FROM_editcontrol}
	</control>
	<control 
	field="APP_MSG_TO">
	{$APP_MSG_TO_editcontrol}
	</control>
	<control 
	field="APP_MSG_BODY">
	{$APP_MSG_BODY_editcontrol}
	</control>
	<control 
	field="APP_MSG_DATE">
	{$APP_MSG_DATE_editcontrol}
	</control>
	<control 
	field="APP_MSG_CC">
	{$APP_MSG_CC_editcontrol}
	</control>
	<control 
	field="APP_MSG_BCC">
	{$APP_MSG_BCC_editcontrol}
	</control>
	<control 
	field="APP_MSG_TEMPLATE">
	{$APP_MSG_TEMPLATE_editcontrol}
	</control>
	<control 
	field="APP_MSG_STATUS">
	{$APP_MSG_STATUS_editcontrol}
	</control>
	<control 
	field="APP_MSG_ATTACH">
	{$APP_MSG_ATTACH_editcontrol}
	</control>
	<control 
	field="APP_MSG_SEND_DATE">
	{$APP_MSG_SEND_DATE_editcontrol}
	</control>
	<control 
	field="APP_MSG_SHOW_MESSAGE">
	{$APP_MSG_SHOW_MESSAGE_editcontrol}
	</control>
	<control 
	field="APP_MSG_ERROR">
	{$APP_MSG_ERROR_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
