<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_NUMBER">
	{$APP_NUMBER_editcontrol}
	</control>
	<control 
	field="USR_ID">
	{$USR_ID_editcontrol}
	</control>
	<control 
	field="PRO_ID">
	{$PRO_ID_editcontrol}
	</control>
	<control 
	field="TAS_ID">
	{$TAS_ID_editcontrol}
	</control>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<control 
	field="DEL_PREVIOUS">
	{$DEL_PREVIOUS_editcontrol}
	</control>
	<control 
	field="DEL_LAST_INDEX">
	{$DEL_LAST_INDEX_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control 
	field="DEL_TYPE">
	{$DEL_TYPE_editcontrol}
	</control>
	<control 
	field="DEL_THREAD">
	{$DEL_THREAD_editcontrol}
	</control>
	<control 
	field="DEL_THREAD_STATUS">
	{$DEL_THREAD_STATUS_editcontrol}
	</control>
	<control 
	field="DEL_PRIORITY">
	{$DEL_PRIORITY_editcontrol}
	</control>
	<control 
	field="DEL_DELEGATE_DATE">
	{$DEL_DELEGATE_DATE_editcontrol}
	</control>
	<control 
	field="DEL_INIT_DATE">
	{$DEL_INIT_DATE_editcontrol}
	</control>
	<control 
	field="DEL_FINISH_DATE">
	{$DEL_FINISH_DATE_editcontrol}
	</control>
	<control 
	field="DEL_TASK_DUE_DATE">
	{$DEL_TASK_DUE_DATE_editcontrol}
	</control>
	<control 
	field="DEL_RISK_DATE">
	{$DEL_RISK_DATE_editcontrol}
	</control>
	<control 
	field="DEL_DURATION">
	{$DEL_DURATION_editcontrol}
	</control>
	<control 
	field="DEL_QUEUE_DURATION">
	{$DEL_QUEUE_DURATION_editcontrol}
	</control>
	<control 
	field="DEL_DELAY_DURATION">
	{$DEL_DELAY_DURATION_editcontrol}
	</control>
	<control 
	field="DEL_STARTED">
	{$DEL_STARTED_editcontrol}
	</control>
	<control 
	field="DEL_FINISHED">
	{$DEL_FINISHED_editcontrol}
	</control>
	<control 
	field="DEL_DELAYED">
	{$DEL_DELAYED_editcontrol}
	</control>
	<control 
	field="DEL_DATA">
	{$DEL_DATA_editcontrol}
	</control>
	<control 
	field="APP_OVERDUE_PERCENTAGE">
	{$APP_OVERDUE_PERCENTAGE_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
