<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="FOLDER_UID">
	{$FOLDER_UID_editcontrol}
	</control>
	<control field="FOLDER_PARENT_UID">
	{$FOLDER_PARENT_UID_editcontrol}
	</control>
	<control field="FOLDER_NAME">
	{$FOLDER_NAME_editcontrol}
	</control>
	<control field="FOLDER_CREATE_DATE">
	{$FOLDER_CREATE_DATE_editcontrol}
	</control>
	<control field="FOLDER_UPDATE_DATE">
	{$FOLDER_UPDATE_DATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>