<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel APP_CACHE_VIEW_Chart search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN APP_UID_fieldblock}		
	<div class="container {$fielddispclass_APP_UID}" data-fieldname="APP_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_UID}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol1}
			</div>
		</div>
	</div>
{END APP_UID_fieldblock}
	{BEGIN DEL_INDEX_fieldblock}		
	<div class="container {$fielddispclass_DEL_INDEX}" data-fieldname="DEL_INDEX">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_INDEX}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_INDEX}
			</div>
			<div class="col-md-4" >
				{$DEL_INDEX_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_INDEX_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_INDEX_fieldblock}
	{BEGIN DEL_LAST_INDEX_fieldblock}		
	<div class="container {$fielddispclass_DEL_LAST_INDEX}" data-fieldname="DEL_LAST_INDEX">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_LAST_INDEX}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_LAST_INDEX}
			</div>
			<div class="col-md-4" >
				{$DEL_LAST_INDEX_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_LAST_INDEX_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_LAST_INDEX_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}		
	<div class="container {$fielddispclass_APP_NUMBER}" data-fieldname="APP_NUMBER">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_NUMBER}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_NUMBER}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol1}
			</div>
		</div>
	</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}		
	<div class="container {$fielddispclass_APP_STATUS}" data-fieldname="APP_STATUS">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_STATUS}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_STATUS}
			</div>
			<div class="col-md-4" >
				{$APP_STATUS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_STATUS_editcontrol1}
			</div>
		</div>
	</div>
{END APP_STATUS_fieldblock}
	{BEGIN USR_UID_fieldblock}		
	<div class="container {$fielddispclass_USR_UID}" data-fieldname="USR_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart USR_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_USR_UID}
			</div>
			<div class="col-md-4" >
				{$USR_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$USR_UID_editcontrol1}
			</div>
		</div>
	</div>
{END USR_UID_fieldblock}
	{BEGIN PREVIOUS_USR_UID_fieldblock}		
	<div class="container {$fielddispclass_PREVIOUS_USR_UID}" data-fieldname="PREVIOUS_USR_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart PREVIOUS_USR_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PREVIOUS_USR_UID}
			</div>
			<div class="col-md-4" >
				{$PREVIOUS_USR_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PREVIOUS_USR_UID_editcontrol1}
			</div>
		</div>
	</div>
{END PREVIOUS_USR_UID_fieldblock}
	{BEGIN TAS_UID_fieldblock}		
	<div class="container {$fielddispclass_TAS_UID}" data-fieldname="TAS_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart TAS_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_TAS_UID}
			</div>
			<div class="col-md-4" >
				{$TAS_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TAS_UID_editcontrol1}
			</div>
		</div>
	</div>
{END TAS_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}		
	<div class="container {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart PRO_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRO_UID}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol1}
			</div>
		</div>
	</div>
{END PRO_UID_fieldblock}
	{BEGIN DEL_DELEGATE_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_DELEGATE_DATE}" data-fieldname="DEL_DELEGATE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_DELEGATE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DELEGATE_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_DELEGATE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DELEGATE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DELEGATE_DATE_fieldblock}
	{BEGIN DEL_INIT_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_INIT_DATE}" data-fieldname="DEL_INIT_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_INIT_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_INIT_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_INIT_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_INIT_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_INIT_DATE_fieldblock}
	{BEGIN DEL_FINISH_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_FINISH_DATE}" data-fieldname="DEL_FINISH_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_FINISH_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_FINISH_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_FINISH_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_FINISH_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_FINISH_DATE_fieldblock}
	{BEGIN DEL_TASK_DUE_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_TASK_DUE_DATE}" data-fieldname="DEL_TASK_DUE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_TASK_DUE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_TASK_DUE_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_TASK_DUE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_TASK_DUE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_TASK_DUE_DATE_fieldblock}
	{BEGIN DEL_RISK_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_RISK_DATE}" data-fieldname="DEL_RISK_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_RISK_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_RISK_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_RISK_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_RISK_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_RISK_DATE_fieldblock}
	{BEGIN DEL_THREAD_STATUS_fieldblock}		
	<div class="container {$fielddispclass_DEL_THREAD_STATUS}" data-fieldname="DEL_THREAD_STATUS">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_THREAD_STATUS}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_THREAD_STATUS}
			</div>
			<div class="col-md-4" >
				{$DEL_THREAD_STATUS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_THREAD_STATUS_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_THREAD_STATUS_fieldblock}
	{BEGIN APP_THREAD_STATUS_fieldblock}		
	<div class="container {$fielddispclass_APP_THREAD_STATUS}" data-fieldname="APP_THREAD_STATUS">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_THREAD_STATUS}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_THREAD_STATUS}
			</div>
			<div class="col-md-4" >
				{$APP_THREAD_STATUS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_THREAD_STATUS_editcontrol1}
			</div>
		</div>
	</div>
{END APP_THREAD_STATUS_fieldblock}
	{BEGIN APP_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_TITLE}" data-fieldname="APP_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_TITLE_fieldblock}
	{BEGIN APP_PRO_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_PRO_TITLE}" data-fieldname="APP_PRO_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_PRO_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_PRO_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_PRO_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_PRO_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_PRO_TITLE_fieldblock}
	{BEGIN APP_TAS_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_TAS_TITLE}" data-fieldname="APP_TAS_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_TAS_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_TAS_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_TAS_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_TAS_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_TAS_TITLE_fieldblock}
	{BEGIN APP_CURRENT_USER_fieldblock}		
	<div class="container {$fielddispclass_APP_CURRENT_USER}" data-fieldname="APP_CURRENT_USER">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_CURRENT_USER}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_CURRENT_USER}
			</div>
			<div class="col-md-4" >
				{$APP_CURRENT_USER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_CURRENT_USER_editcontrol1}
			</div>
		</div>
	</div>
{END APP_CURRENT_USER_fieldblock}
	{BEGIN APP_DEL_PREVIOUS_USER_fieldblock}		
	<div class="container {$fielddispclass_APP_DEL_PREVIOUS_USER}" data-fieldname="APP_DEL_PREVIOUS_USER">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_DEL_PREVIOUS_USER}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_DEL_PREVIOUS_USER}
			</div>
			<div class="col-md-4" >
				{$APP_DEL_PREVIOUS_USER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_DEL_PREVIOUS_USER_editcontrol1}
			</div>
		</div>
	</div>
{END APP_DEL_PREVIOUS_USER_fieldblock}
	{BEGIN DEL_PRIORITY_fieldblock}		
	<div class="container {$fielddispclass_DEL_PRIORITY}" data-fieldname="DEL_PRIORITY">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_PRIORITY}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PRIORITY}
			</div>
			<div class="col-md-4" >
				{$DEL_PRIORITY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PRIORITY_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PRIORITY_fieldblock}
	{BEGIN DEL_DURATION_fieldblock}		
	<div class="container {$fielddispclass_DEL_DURATION}" data-fieldname="DEL_DURATION">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_DURATION}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DURATION}
			</div>
			<div class="col-md-4" >
				{$DEL_DURATION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DURATION_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DURATION_fieldblock}
	{BEGIN DEL_QUEUE_DURATION_fieldblock}		
	<div class="container {$fielddispclass_DEL_QUEUE_DURATION}" data-fieldname="DEL_QUEUE_DURATION">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_QUEUE_DURATION}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_QUEUE_DURATION}
			</div>
			<div class="col-md-4" >
				{$DEL_QUEUE_DURATION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_QUEUE_DURATION_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_QUEUE_DURATION_fieldblock}
	{BEGIN DEL_DELAY_DURATION_fieldblock}		
	<div class="container {$fielddispclass_DEL_DELAY_DURATION}" data-fieldname="DEL_DELAY_DURATION">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_DELAY_DURATION}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DELAY_DURATION}
			</div>
			<div class="col-md-4" >
				{$DEL_DELAY_DURATION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DELAY_DURATION_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DELAY_DURATION_fieldblock}
	{BEGIN DEL_STARTED_fieldblock}		
	<div class="container {$fielddispclass_DEL_STARTED}" data-fieldname="DEL_STARTED">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_STARTED}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_STARTED}
			</div>
			<div class="col-md-4" >
				{$DEL_STARTED_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_STARTED_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_STARTED_fieldblock}
	{BEGIN DEL_FINISHED_fieldblock}		
	<div class="container {$fielddispclass_DEL_FINISHED}" data-fieldname="DEL_FINISHED">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_FINISHED}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_FINISHED}
			</div>
			<div class="col-md-4" >
				{$DEL_FINISHED_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_FINISHED_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_FINISHED_fieldblock}
	{BEGIN DEL_DELAYED_fieldblock}		
	<div class="container {$fielddispclass_DEL_DELAYED}" data-fieldname="DEL_DELAYED">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart DEL_DELAYED}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DELAYED}
			</div>
			<div class="col-md-4" >
				{$DEL_DELAYED_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DELAYED_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DELAYED_fieldblock}
	{BEGIN APP_CREATE_DATE_fieldblock}		
	<div class="container {$fielddispclass_APP_CREATE_DATE}" data-fieldname="APP_CREATE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_CREATE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_CREATE_DATE}
			</div>
			<div class="col-md-4" >
				{$APP_CREATE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_CREATE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_CREATE_DATE_fieldblock}
	{BEGIN APP_FINISH_DATE_fieldblock}		
	<div class="container {$fielddispclass_APP_FINISH_DATE}" data-fieldname="APP_FINISH_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_FINISH_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_FINISH_DATE}
			</div>
			<div class="col-md-4" >
				{$APP_FINISH_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_FINISH_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_FINISH_DATE_fieldblock}
	{BEGIN APP_UPDATE_DATE_fieldblock}		
	<div class="container {$fielddispclass_APP_UPDATE_DATE}" data-fieldname="APP_UPDATE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_UPDATE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_UPDATE_DATE}
			</div>
			<div class="col-md-4" >
				{$APP_UPDATE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_UPDATE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_UPDATE_DATE_fieldblock}
	{BEGIN APP_OVERDUE_PERCENTAGE_fieldblock}		
	<div class="container {$fielddispclass_APP_OVERDUE_PERCENTAGE}" data-fieldname="APP_OVERDUE_PERCENTAGE">
		<div class="form-group">
			<div class="col-md-2">
				{$label APP_CACHE_VIEW_Chart APP_OVERDUE_PERCENTAGE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_OVERDUE_PERCENTAGE}
			</div>
			<div class="col-md-4" >
				{$APP_OVERDUE_PERCENTAGE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_OVERDUE_PERCENTAGE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_OVERDUE_PERCENTAGE_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>検索</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>リセット</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>一覧に戻る</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
