<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="APP_THREAD_INDEX">
	{$APP_THREAD_INDEX_editcontrol}
	</control>
	<control 
	field="APP_THREAD_PARENT">
	{$APP_THREAD_PARENT_editcontrol}
	</control>
	<control 
	field="APP_THREAD_STATUS">
	{$APP_THREAD_STATUS_editcontrol}
	</control>
	<control 
	field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
