<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}



{BEGIN container_master}
<div {$master_chiddenattr} data-pageid="{$pageid}" data-container="master" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_master}



{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel APP_NOTES print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN APP_UID_fieldheadercolumn}
			<th class="{$APP_UID_class}" {$APP_UID_style}  data-field="APP_UID">
				{$label APP_NOTES APP_UID}
			</th>
			{END APP_UID_fieldheadercolumn}
			{BEGIN USR_UID_fieldheadercolumn}
			<th class="{$USR_UID_class}" {$USR_UID_style}  data-field="USR_UID">
				{$label APP_NOTES USR_UID}
			</th>
			{END USR_UID_fieldheadercolumn}
			{BEGIN NOTE_DATE_fieldheadercolumn}
			<th class="{$NOTE_DATE_class}" {$NOTE_DATE_style}  data-field="NOTE_DATE">
				{$label APP_NOTES NOTE_DATE}
			</th>
			{END NOTE_DATE_fieldheadercolumn}
			{BEGIN NOTE_CONTENT_fieldheadercolumn}
			<th class="{$NOTE_CONTENT_class}" {$NOTE_CONTENT_style}  data-field="NOTE_CONTENT">
				{$label APP_NOTES NOTE_CONTENT}
			</th>
			{END NOTE_CONTENT_fieldheadercolumn}
			{BEGIN NOTE_TYPE_fieldheadercolumn}
			<th class="{$NOTE_TYPE_class}" {$NOTE_TYPE_style}  data-field="NOTE_TYPE">
				{$label APP_NOTES NOTE_TYPE}
			</th>
			{END NOTE_TYPE_fieldheadercolumn}
			{BEGIN NOTE_AVAILABILITY_fieldheadercolumn}
			<th class="{$NOTE_AVAILABILITY_class}" {$NOTE_AVAILABILITY_style}  data-field="NOTE_AVAILABILITY">
				{$label APP_NOTES NOTE_AVAILABILITY}
			</th>
			{END NOTE_AVAILABILITY_fieldheadercolumn}
			{BEGIN NOTE_ORIGIN_OBJ_fieldheadercolumn}
			<th class="{$NOTE_ORIGIN_OBJ_class}" {$NOTE_ORIGIN_OBJ_style}  data-field="NOTE_ORIGIN_OBJ">
				{$label APP_NOTES NOTE_ORIGIN_OBJ}
			</th>
			{END NOTE_ORIGIN_OBJ_fieldheadercolumn}
			{BEGIN NOTE_AFFECTED_OBJ1_fieldheadercolumn}
			<th class="{$NOTE_AFFECTED_OBJ1_class}" {$NOTE_AFFECTED_OBJ1_style}  data-field="NOTE_AFFECTED_OBJ1">
				{$label APP_NOTES NOTE_AFFECTED_OBJ1}
			</th>
			{END NOTE_AFFECTED_OBJ1_fieldheadercolumn}
			{BEGIN NOTE_AFFECTED_OBJ2_fieldheadercolumn}
			<th class="{$NOTE_AFFECTED_OBJ2_class}" {$NOTE_AFFECTED_OBJ2_style}  data-field="NOTE_AFFECTED_OBJ2">
				{$label APP_NOTES NOTE_AFFECTED_OBJ2}
			</th>
			{END NOTE_AFFECTED_OBJ2_fieldheadercolumn}
			{BEGIN NOTE_RECIPIENTS_fieldheadercolumn}
			<th class="{$NOTE_RECIPIENTS_class}" {$NOTE_RECIPIENTS_style}  data-field="NOTE_RECIPIENTS">
				{$label APP_NOTES NOTE_RECIPIENTS}
			</th>
			{END NOTE_RECIPIENTS_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN APP_UID_fieldcolumn}
			<td  class="{$APP_UID_class}" {$APP_UID_style} {$recordattrs}>
				{$APP_UID_value}
			</td>
			{END APP_UID_fieldcolumn}
			{BEGIN USR_UID_fieldcolumn}
			<td  class="{$USR_UID_class}" {$USR_UID_style} {$recordattrs}>
				{$USR_UID_value}
			</td>
			{END USR_UID_fieldcolumn}
			{BEGIN NOTE_DATE_fieldcolumn}
			<td  class="{$NOTE_DATE_class}" {$NOTE_DATE_style} {$recordattrs}>
				{$NOTE_DATE_value}
			</td>
			{END NOTE_DATE_fieldcolumn}
			{BEGIN NOTE_CONTENT_fieldcolumn}
			<td  class="{$NOTE_CONTENT_class}" {$NOTE_CONTENT_style} {$recordattrs}>
				{$NOTE_CONTENT_value}
			</td>
			{END NOTE_CONTENT_fieldcolumn}
			{BEGIN NOTE_TYPE_fieldcolumn}
			<td  class="{$NOTE_TYPE_class}" {$NOTE_TYPE_style} {$recordattrs}>
				{$NOTE_TYPE_value}
			</td>
			{END NOTE_TYPE_fieldcolumn}
			{BEGIN NOTE_AVAILABILITY_fieldcolumn}
			<td  class="{$NOTE_AVAILABILITY_class}" {$NOTE_AVAILABILITY_style} {$recordattrs}>
				{$NOTE_AVAILABILITY_value}
			</td>
			{END NOTE_AVAILABILITY_fieldcolumn}
			{BEGIN NOTE_ORIGIN_OBJ_fieldcolumn}
			<td  class="{$NOTE_ORIGIN_OBJ_class}" {$NOTE_ORIGIN_OBJ_style} {$recordattrs}>
				{$NOTE_ORIGIN_OBJ_value}
			</td>
			{END NOTE_ORIGIN_OBJ_fieldcolumn}
			{BEGIN NOTE_AFFECTED_OBJ1_fieldcolumn}
			<td  class="{$NOTE_AFFECTED_OBJ1_class}" {$NOTE_AFFECTED_OBJ1_style} {$recordattrs}>
				{$NOTE_AFFECTED_OBJ1_value}
			</td>
			{END NOTE_AFFECTED_OBJ1_fieldcolumn}
			{BEGIN NOTE_AFFECTED_OBJ2_fieldcolumn}
			<td  class="{$NOTE_AFFECTED_OBJ2_class}" {$NOTE_AFFECTED_OBJ2_style} {$recordattrs}>
				{$NOTE_AFFECTED_OBJ2_value}
			</td>
			{END NOTE_AFFECTED_OBJ2_fieldcolumn}
			{BEGIN NOTE_RECIPIENTS_fieldcolumn}
			<td  class="{$NOTE_RECIPIENTS_class}" {$NOTE_RECIPIENTS_style} {$recordattrs}>
				{$NOTE_RECIPIENTS_value}
			</td>
			{END NOTE_RECIPIENTS_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
