<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel APP_MESSAGE edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN APP_MSG_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_UID}" data-fieldname="APP_MSG_UID" data-signal-error-for="APP_MSG_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_UID}">
		{BEGIN APP_MSG_UID_label}{$label APP_MESSAGE APP_MSG_UID}{END APP_MSG_UID_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_UID">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_UID}
		</div>
	</div>
</div>
</div>
{END APP_MSG_UID_fieldblock}

			{BEGIN MSG_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_MSG_UID}" data-fieldname="MSG_UID" data-signal-error-for="MSG_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_MSG_UID}">
		{BEGIN MSG_UID_label}{$label APP_MESSAGE MSG_UID}{END MSG_UID_label}
	</label>
	<div class="col-md-6" >
		{$MSG_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="MSG_UID">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE MSG_UID}
		</div>
	</div>
</div>
</div>
{END MSG_UID_fieldblock}

			{BEGIN APP_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_UID}" data-fieldname="APP_UID" data-signal-error-for="APP_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_UID}">
		{BEGIN APP_UID_label}{$label APP_MESSAGE APP_UID}{END APP_UID_label}
	</label>
	<div class="col-md-6" >
		{$APP_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_UID">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_UID}
		</div>
	</div>
</div>
</div>
{END APP_UID_fieldblock}

			{BEGIN DEL_INDEX_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DEL_INDEX}" data-fieldname="DEL_INDEX" data-signal-error-for="DEL_INDEX{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DEL_INDEX}">
		{BEGIN DEL_INDEX_label}{$label APP_MESSAGE DEL_INDEX}{END DEL_INDEX_label}
	</label>
	<div class="col-md-6" >
		{$DEL_INDEX_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DEL_INDEX">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE DEL_INDEX}
		</div>
	</div>
</div>
</div>
{END DEL_INDEX_fieldblock}

			{BEGIN APP_MSG_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_TYPE}" data-fieldname="APP_MSG_TYPE" data-signal-error-for="APP_MSG_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_TYPE}">
		{BEGIN APP_MSG_TYPE_label}{$label APP_MESSAGE APP_MSG_TYPE}{END APP_MSG_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_TYPE">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_TYPE}
		</div>
	</div>
</div>
</div>
{END APP_MSG_TYPE_fieldblock}

			{BEGIN APP_MSG_SUBJECT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_SUBJECT}" data-fieldname="APP_MSG_SUBJECT" data-signal-error-for="APP_MSG_SUBJECT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_SUBJECT}">
		{BEGIN APP_MSG_SUBJECT_label}{$label APP_MESSAGE APP_MSG_SUBJECT}{END APP_MSG_SUBJECT_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_SUBJECT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_SUBJECT">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_SUBJECT}
		</div>
	</div>
</div>
</div>
{END APP_MSG_SUBJECT_fieldblock}

			{BEGIN APP_MSG_FROM_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_FROM}" data-fieldname="APP_MSG_FROM" data-signal-error-for="APP_MSG_FROM{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_FROM}">
		{BEGIN APP_MSG_FROM_label}{$label APP_MESSAGE APP_MSG_FROM}{END APP_MSG_FROM_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_FROM_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_FROM">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_FROM}
		</div>
	</div>
</div>
</div>
{END APP_MSG_FROM_fieldblock}

			{BEGIN APP_MSG_TO_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_TO}" data-fieldname="APP_MSG_TO" data-signal-error-for="APP_MSG_TO{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_TO}">
		{BEGIN APP_MSG_TO_label}{$label APP_MESSAGE APP_MSG_TO}{END APP_MSG_TO_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_TO_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_TO">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_TO}
		</div>
	</div>
</div>
</div>
{END APP_MSG_TO_fieldblock}

			{BEGIN APP_MSG_BODY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_BODY}" data-fieldname="APP_MSG_BODY" data-signal-error-for="APP_MSG_BODY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_BODY}">
		{BEGIN APP_MSG_BODY_label}{$label APP_MESSAGE APP_MSG_BODY}{END APP_MSG_BODY_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_BODY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_BODY">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_BODY}
		</div>
	</div>
</div>
</div>
{END APP_MSG_BODY_fieldblock}

			{BEGIN APP_MSG_DATE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_DATE}" data-fieldname="APP_MSG_DATE" data-signal-error-for="APP_MSG_DATE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_DATE}">
		{BEGIN APP_MSG_DATE_label}{$label APP_MESSAGE APP_MSG_DATE}{END APP_MSG_DATE_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_DATE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_DATE">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_DATE}
		</div>
	</div>
</div>
</div>
{END APP_MSG_DATE_fieldblock}

			{BEGIN APP_MSG_CC_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_CC}" data-fieldname="APP_MSG_CC" data-signal-error-for="APP_MSG_CC{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_CC}">
		{BEGIN APP_MSG_CC_label}{$label APP_MESSAGE APP_MSG_CC}{END APP_MSG_CC_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_CC_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_CC">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_CC}
		</div>
	</div>
</div>
</div>
{END APP_MSG_CC_fieldblock}

			{BEGIN APP_MSG_BCC_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_BCC}" data-fieldname="APP_MSG_BCC" data-signal-error-for="APP_MSG_BCC{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_BCC}">
		{BEGIN APP_MSG_BCC_label}{$label APP_MESSAGE APP_MSG_BCC}{END APP_MSG_BCC_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_BCC_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_BCC">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_BCC}
		</div>
	</div>
</div>
</div>
{END APP_MSG_BCC_fieldblock}

			{BEGIN APP_MSG_TEMPLATE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_TEMPLATE}" data-fieldname="APP_MSG_TEMPLATE" data-signal-error-for="APP_MSG_TEMPLATE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_TEMPLATE}">
		{BEGIN APP_MSG_TEMPLATE_label}{$label APP_MESSAGE APP_MSG_TEMPLATE}{END APP_MSG_TEMPLATE_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_TEMPLATE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_TEMPLATE">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_TEMPLATE}
		</div>
	</div>
</div>
</div>
{END APP_MSG_TEMPLATE_fieldblock}

			{BEGIN APP_MSG_STATUS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_STATUS}" data-fieldname="APP_MSG_STATUS" data-signal-error-for="APP_MSG_STATUS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_STATUS}">
		{BEGIN APP_MSG_STATUS_label}{$label APP_MESSAGE APP_MSG_STATUS}{END APP_MSG_STATUS_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_STATUS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_STATUS">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_STATUS}
		</div>
	</div>
</div>
</div>
{END APP_MSG_STATUS_fieldblock}

			{BEGIN APP_MSG_ATTACH_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_ATTACH}" data-fieldname="APP_MSG_ATTACH" data-signal-error-for="APP_MSG_ATTACH{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_ATTACH}">
		{BEGIN APP_MSG_ATTACH_label}{$label APP_MESSAGE APP_MSG_ATTACH}{END APP_MSG_ATTACH_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_ATTACH_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_ATTACH">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_ATTACH}
		</div>
	</div>
</div>
</div>
{END APP_MSG_ATTACH_fieldblock}

			{BEGIN APP_MSG_SEND_DATE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_SEND_DATE}" data-fieldname="APP_MSG_SEND_DATE" data-signal-error-for="APP_MSG_SEND_DATE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_SEND_DATE}">
		{BEGIN APP_MSG_SEND_DATE_label}{$label APP_MESSAGE APP_MSG_SEND_DATE}{END APP_MSG_SEND_DATE_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_SEND_DATE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_SEND_DATE">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_SEND_DATE}
		</div>
	</div>
</div>
</div>
{END APP_MSG_SEND_DATE_fieldblock}

			{BEGIN APP_MSG_SHOW_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_SHOW_MESSAGE}" data-fieldname="APP_MSG_SHOW_MESSAGE" data-signal-error-for="APP_MSG_SHOW_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_SHOW_MESSAGE}">
		{BEGIN APP_MSG_SHOW_MESSAGE_label}{$label APP_MESSAGE APP_MSG_SHOW_MESSAGE}{END APP_MSG_SHOW_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_SHOW_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_SHOW_MESSAGE">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_SHOW_MESSAGE}
		</div>
	</div>
</div>
</div>
{END APP_MSG_SHOW_MESSAGE_fieldblock}

			{BEGIN APP_MSG_ERROR_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_MSG_ERROR}" data-fieldname="APP_MSG_ERROR" data-signal-error-for="APP_MSG_ERROR{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_MSG_ERROR}">
		{BEGIN APP_MSG_ERROR_label}{$label APP_MESSAGE APP_MSG_ERROR}{END APP_MSG_ERROR_label}
	</label>
	<div class="col-md-6" >
		{$APP_MSG_ERROR_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_MSG_ERROR">
		<div class="text-muted" >
		{$tooltip APP_MESSAGE APP_MSG_ERROR}
		</div>
	</div>
</div>
</div>
{END APP_MSG_ERROR_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
