<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control 
	field="NOTE_DATE">
	{$NOTE_DATE_editcontrol}
	</control>
	<control 
	field="NOTE_CONTENT">
	{$NOTE_CONTENT_editcontrol}
	</control>
	<control 
	field="NOTE_TYPE">
	{$NOTE_TYPE_editcontrol}
	</control>
	<control 
	field="NOTE_AVAILABILITY">
	{$NOTE_AVAILABILITY_editcontrol}
	</control>
	<control 
	field="NOTE_ORIGIN_OBJ">
	{$NOTE_ORIGIN_OBJ_editcontrol}
	</control>
	<control 
	field="NOTE_AFFECTED_OBJ1">
	{$NOTE_AFFECTED_OBJ1_editcontrol}
	</control>
	<control 
	field="NOTE_AFFECTED_OBJ2">
	{$NOTE_AFFECTED_OBJ2_editcontrol}
	</control>
	<control 
	field="NOTE_RECIPIENTS">
	{$NOTE_RECIPIENTS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
