<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="DEL_INDEX">
	{$DEL_INDEX_editcontrol}
	</control>
	<control 
	field="EVN_UID">
	{$EVN_UID_editcontrol}
	</control>
	<control 
	field="APP_EVN_ACTION_DATE">
	{$APP_EVN_ACTION_DATE_editcontrol}
	</control>
	<control 
	field="APP_EVN_ATTEMPTS">
	{$APP_EVN_ATTEMPTS_editcontrol}
	</control>
	<control 
	field="APP_EVN_LAST_EXECUTION_DATE">
	{$APP_EVN_LAST_EXECUTION_DATE_editcontrol}
	</control>
	<control 
	field="APP_EVN_STATUS">
	{$APP_EVN_STATUS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
