<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel APPLICATION masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$APP_UID_class}">{$label APPLICATION APP_UID}</th>
			<th class="{$APP_TITLE_class}">{$label APPLICATION APP_TITLE}</th>
			<th class="{$APP_DESCRIPTION_class}">{$label APPLICATION APP_DESCRIPTION}</th>
			<th class="{$APP_NUMBER_class}">{$label APPLICATION APP_NUMBER}</th>
			<th class="{$APP_PARENT_class}">{$label APPLICATION APP_PARENT}</th>
			<th class="{$APP_STATUS_class}">{$label APPLICATION APP_STATUS}</th>
			<th class="{$PRO_UID_class}">{$label APPLICATION PRO_UID}</th>
			<th class="{$APP_PROC_STATUS_class}">{$label APPLICATION APP_PROC_STATUS}</th>
			<th class="{$APP_PROC_CODE_class}">{$label APPLICATION APP_PROC_CODE}</th>
			<th class="{$APP_PARALLEL_class}">{$label APPLICATION APP_PARALLEL}</th>
			<th class="{$APP_INIT_USER_class}">{$label APPLICATION APP_INIT_USER}</th>
			<th class="{$APP_CUR_USER_class}">{$label APPLICATION APP_CUR_USER}</th>
			<th class="{$APP_CREATE_DATE_class}">{$label APPLICATION APP_CREATE_DATE}</th>
			<th class="{$APP_INIT_DATE_class}">{$label APPLICATION APP_INIT_DATE}</th>
			<th class="{$APP_FINISH_DATE_class}">{$label APPLICATION APP_FINISH_DATE}</th>
			<th class="{$APP_UPDATE_DATE_class}">{$label APPLICATION APP_UPDATE_DATE}</th>
			<th class="{$APP_DATA_class}">{$label APPLICATION APP_DATA}</th>
			<th class="{$APP_PIN_class}">{$label APPLICATION APP_PIN}</th>
			<th class="{$APP_DURATION_class}">{$label APPLICATION APP_DURATION}</th>
			<th class="{$APP_DELAY_DURATION_class}">{$label APPLICATION APP_DELAY_DURATION}</th>
			<th class="{$APP_DRIVE_FOLDER_UID_class}">{$label APPLICATION APP_DRIVE_FOLDER_UID}</th>
			<th class="{$APP_ROUTING_DATA_class}">{$label APPLICATION APP_ROUTING_DATA}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$APP_UID_class}">{$APP_UID_mastervalue}</td>
			<td class="{$APP_TITLE_class}">{$APP_TITLE_mastervalue}</td>
			<td class="{$APP_DESCRIPTION_class}">{$APP_DESCRIPTION_mastervalue}</td>
			<td class="{$APP_NUMBER_class}">{$APP_NUMBER_mastervalue}</td>
			<td class="{$APP_PARENT_class}">{$APP_PARENT_mastervalue}</td>
			<td class="{$APP_STATUS_class}">{$APP_STATUS_mastervalue}</td>
			<td class="{$PRO_UID_class}">{$PRO_UID_mastervalue}</td>
			<td class="{$APP_PROC_STATUS_class}">{$APP_PROC_STATUS_mastervalue}</td>
			<td class="{$APP_PROC_CODE_class}">{$APP_PROC_CODE_mastervalue}</td>
			<td class="{$APP_PARALLEL_class}">{$APP_PARALLEL_mastervalue}</td>
			<td class="{$APP_INIT_USER_class}">{$APP_INIT_USER_mastervalue}</td>
			<td class="{$APP_CUR_USER_class}">{$APP_CUR_USER_mastervalue}</td>
			<td class="{$APP_CREATE_DATE_class}">{$APP_CREATE_DATE_mastervalue}</td>
			<td class="{$APP_INIT_DATE_class}">{$APP_INIT_DATE_mastervalue}</td>
			<td class="{$APP_FINISH_DATE_class}">{$APP_FINISH_DATE_mastervalue}</td>
			<td class="{$APP_UPDATE_DATE_class}">{$APP_UPDATE_DATE_mastervalue}</td>
			<td class="{$APP_DATA_class}">{$APP_DATA_mastervalue}</td>
			<td class="{$APP_PIN_class}">{$APP_PIN_mastervalue}</td>
			<td class="{$APP_DURATION_class}">{$APP_DURATION_mastervalue}</td>
			<td class="{$APP_DELAY_DURATION_class}">{$APP_DELAY_DURATION_mastervalue}</td>
			<td class="{$APP_DRIVE_FOLDER_UID_class}">{$APP_DRIVE_FOLDER_UID_mastervalue}</td>
			<td class="{$APP_ROUTING_DATA_class}">{$APP_ROUTING_DATA_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>