<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control field="APP_TITLE">
	{$APP_TITLE_editcontrol}
	</control>
	<control field="APP_DATA">
	{$APP_DATA_editcontrol}
	</control>
	<control field="APP_DESCRIPTION">
	{$APP_DESCRIPTION_editcontrol}
	</control>
	<control field="APP_NUMBER">
	{$APP_NUMBER_editcontrol}
	</control>
	<control field="APP_PARENT">
	{$APP_PARENT_editcontrol}
	</control>
	<control field="APP_STATUS">
	{$APP_STATUS_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="APP_PROC_STATUS">
	{$APP_PROC_STATUS_editcontrol}
	</control>
	<control field="APP_PROC_CODE">
	{$APP_PROC_CODE_editcontrol}
	</control>
	<control field="APP_PARALLEL">
	{$APP_PARALLEL_editcontrol}
	</control>
	<control field="APP_INIT_USER">
	{$APP_INIT_USER_editcontrol}
	</control>
	<control field="APP_CUR_USER">
	{$APP_CUR_USER_editcontrol}
	</control>
	<control field="APP_CREATE_DATE">
	{$APP_CREATE_DATE_editcontrol}
	</control>
	<control field="APP_INIT_DATE">
	{$APP_INIT_DATE_editcontrol}
	</control>
	<control field="APP_FINISH_DATE">
	{$APP_FINISH_DATE_editcontrol}
	</control>
	<control field="APP_UPDATE_DATE">
	{$APP_UPDATE_DATE_editcontrol}
	</control>
	<control field="APP_PIN">
	{$APP_PIN_editcontrol}
	</control>
	<control field="APP_DURATION">
	{$APP_DURATION_editcontrol}
	</control>
	<control field="APP_DELAY_DURATION">
	{$APP_DELAY_DURATION_editcontrol}
	</control>
	<control field="APP_DRIVE_FOLDER_UID">
	{$APP_DRIVE_FOLDER_UID_editcontrol}
	</control>
	<control field="APP_ROUTING_DATA">
	{$APP_ROUTING_DATA_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>