<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Field">
	{$Field_editcontrol}
	</control>
	<control 
	field="English">
	{$English_editcontrol}
	</control>
	<control 
	field="Japanese">
	{$Japanese_editcontrol}
	</control>
	<control 
	field="English_Tooltips">
	{$English_Tooltips_editcontrol}
	</control>
	<control 
	field="Japanese_Tooltips">
	{$Japanese_Tooltips_editcontrol}
	</control>
	<control 
	field="English_Placeholders">
	{$English_Placeholders_editcontrol}
	</control>
	<control 
	field="Japanese_Placeholders">
	{$Japanese_Placeholders_editcontrol}
	</control>
	<control 
	field="id">
	{$id_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
