<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="LNS_UID">
	{$LNS_UID_editcontrol}
	</control>
	<control field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="LNS_NAME">
	{$LNS_NAME_editcontrol}
	</control>
	<control field="LNS_PARENT_LANE">
	{$LNS_PARENT_LANE_editcontrol}
	</control>
	<control field="LNS_IS_HORIZONTAL">
	{$LNS_IS_HORIZONTAL_editcontrol}
	</control>
	<control field="LNS_STATE">
	{$LNS_STATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>