<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="LAN_UID">
	{$LAN_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="LNS_UID">
	{$LNS_UID_editcontrol}
	</control>
	<control 
	field="LAN_NAME">
	{$LAN_NAME_editcontrol}
	</control>
	<control 
	field="LAN_CHILD_LANESET">
	{$LAN_CHILD_LANESET_editcontrol}
	</control>
	<control 
	field="LAN_IS_HORIZONTAL">
	{$LAN_IS_HORIZONTAL_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
