<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="DIA_UID">
	{$DIA_UID_editcontrol}
	</control>
	<control 
	field="PRO_NAME">
	{$PRO_NAME_editcontrol}
	</control>
	<control 
	field="PRO_TYPE">
	{$PRO_TYPE_editcontrol}
	</control>
	<control 
	field="PRO_IS_EXECUTABLE">
	{$PRO_IS_EXECUTABLE_editcontrol}
	</control>
	<control 
	field="PRO_IS_CLOSED">
	{$PRO_IS_CLOSED_editcontrol}
	</control>
	<control 
	field="PRO_IS_SUBPROCESS">
	{$PRO_IS_SUBPROCESS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
