<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="FLO_UID">
	{$FLO_UID_editcontrol}
	</control>
	<control field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control field="DIA_UID">
	{$DIA_UID_editcontrol}
	</control>
	<control field="FLO_TYPE">
	{$FLO_TYPE_editcontrol}
	</control>
	<control field="FLO_NAME">
	{$FLO_NAME_editcontrol}
	</control>
	<control field="FLO_ELEMENT_ORIGIN">
	{$FLO_ELEMENT_ORIGIN_editcontrol}
	</control>
	<control field="FLO_ELEMENT_ORIGIN_TYPE">
	{$FLO_ELEMENT_ORIGIN_TYPE_editcontrol}
	</control>
	<control field="FLO_ELEMENT_ORIGIN_PORT">
	{$FLO_ELEMENT_ORIGIN_PORT_editcontrol}
	</control>
	<control field="FLO_ELEMENT_DEST">
	{$FLO_ELEMENT_DEST_editcontrol}
	</control>
	<control field="FLO_ELEMENT_DEST_TYPE">
	{$FLO_ELEMENT_DEST_TYPE_editcontrol}
	</control>
	<control field="FLO_ELEMENT_DEST_PORT">
	{$FLO_ELEMENT_DEST_PORT_editcontrol}
	</control>
	<control field="FLO_IS_INMEDIATE">
	{$FLO_IS_INMEDIATE_editcontrol}
	</control>
	<control field="FLO_CONDITION">
	{$FLO_CONDITION_editcontrol}
	</control>
	<control field="FLO_X1">
	{$FLO_X1_editcontrol}
	</control>
	<control field="FLO_Y1">
	{$FLO_Y1_editcontrol}
	</control>
	<control field="FLO_X2">
	{$FLO_X2_editcontrol}
	</control>
	<control field="FLO_Y2">
	{$FLO_Y2_editcontrol}
	</control>
	<control field="FLO_STATE">
	{$FLO_STATE_editcontrol}
	</control>
	<control field="FLO_POSITION">
	{$FLO_POSITION_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>