<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="GAT_UID">
	{$GAT_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="GAT_NAME">
	{$GAT_NAME_editcontrol}
	</control>
	<control 
	field="GAT_TYPE">
	{$GAT_TYPE_editcontrol}
	</control>
	<control 
	field="GAT_DIRECTION">
	{$GAT_DIRECTION_editcontrol}
	</control>
	<control 
	field="GAT_INSTANTIATE">
	{$GAT_INSTANTIATE_editcontrol}
	</control>
	<control 
	field="GAT_EVENT_GATEWAY_TYPE">
	{$GAT_EVENT_GATEWAY_TYPE_editcontrol}
	</control>
	<control 
	field="GAT_ACTIVATION_COUNT">
	{$GAT_ACTIVATION_COUNT_editcontrol}
	</control>
	<control 
	field="GAT_WAITING_FOR_START">
	{$GAT_WAITING_FOR_START_editcontrol}
	</control>
	<control 
	field="GAT_DEFAULT_FLOW">
	{$GAT_DEFAULT_FLOW_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
