<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control field="PRJ_NAME">
	{$PRJ_NAME_editcontrol}
	</control>
	<control field="PRJ_DESCRIPTION">
	{$PRJ_DESCRIPTION_editcontrol}
	</control>
	<control field="PRJ_TARGET_NAMESPACE">
	{$PRJ_TARGET_NAMESPACE_editcontrol}
	</control>
	<control field="PRJ_EXPRESION_LANGUAGE">
	{$PRJ_EXPRESION_LANGUAGE_editcontrol}
	</control>
	<control field="PRJ_TYPE_LANGUAGE">
	{$PRJ_TYPE_LANGUAGE_editcontrol}
	</control>
	<control field="PRJ_EXPORTER">
	{$PRJ_EXPORTER_editcontrol}
	</control>
	<control field="PRJ_EXPORTER_VERSION">
	{$PRJ_EXPORTER_VERSION_editcontrol}
	</control>
	<control field="PRJ_CREATE_DATE">
	{$PRJ_CREATE_DATE_editcontrol}
	</control>
	<control field="PRJ_UPDATE_DATE">
	{$PRJ_UPDATE_DATE_editcontrol}
	</control>
	<control field="PRJ_AUTHOR">
	{$PRJ_AUTHOR_editcontrol}
	</control>
	<control field="PRJ_AUTHOR_VERSION">
	{$PRJ_AUTHOR_VERSION_editcontrol}
	</control>
	<control field="PRJ_ORIGINAL_SOURCE">
	{$PRJ_ORIGINAL_SOURCE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>