<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-add" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel BPMN_LANESET add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN LNS_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LNS_UID}" data-fieldname="LNS_UID" data-signal-error-for="LNS_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LNS_UID}">
		{BEGIN LNS_UID_label}{$label BPMN_LANESET LNS_UID}{END LNS_UID_label}
	</label>
	<div class="col-md-6" >
		{$LNS_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LNS_UID">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET LNS_UID}
		</div>
	</div>
</div>
</div>
{END LNS_UID_fieldblock}

			{BEGIN PRJ_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRJ_UID}" data-fieldname="PRJ_UID" data-signal-error-for="PRJ_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRJ_UID}">
		{BEGIN PRJ_UID_label}{$label BPMN_LANESET PRJ_UID}{END PRJ_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRJ_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRJ_UID">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET PRJ_UID}
		</div>
	</div>
</div>
</div>
{END PRJ_UID_fieldblock}

			{BEGIN PRO_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID" data-signal-error-for="PRO_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRO_UID}">
		{BEGIN PRO_UID_label}{$label BPMN_LANESET PRO_UID}{END PRO_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRO_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRO_UID">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET PRO_UID}
		</div>
	</div>
</div>
</div>
{END PRO_UID_fieldblock}

			{BEGIN LNS_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LNS_NAME}" data-fieldname="LNS_NAME" data-signal-error-for="LNS_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LNS_NAME}">
		{BEGIN LNS_NAME_label}{$label BPMN_LANESET LNS_NAME}{END LNS_NAME_label}
	</label>
	<div class="col-md-6" >
		{$LNS_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LNS_NAME">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET LNS_NAME}
		</div>
	</div>
</div>
</div>
{END LNS_NAME_fieldblock}

			{BEGIN LNS_PARENT_LANE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LNS_PARENT_LANE}" data-fieldname="LNS_PARENT_LANE" data-signal-error-for="LNS_PARENT_LANE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LNS_PARENT_LANE}">
		{BEGIN LNS_PARENT_LANE_label}{$label BPMN_LANESET LNS_PARENT_LANE}{END LNS_PARENT_LANE_label}
	</label>
	<div class="col-md-6" >
		{$LNS_PARENT_LANE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LNS_PARENT_LANE">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET LNS_PARENT_LANE}
		</div>
	</div>
</div>
</div>
{END LNS_PARENT_LANE_fieldblock}

			{BEGIN LNS_IS_HORIZONTAL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LNS_IS_HORIZONTAL}" data-fieldname="LNS_IS_HORIZONTAL" data-signal-error-for="LNS_IS_HORIZONTAL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LNS_IS_HORIZONTAL}">
		{BEGIN LNS_IS_HORIZONTAL_label}{$label BPMN_LANESET LNS_IS_HORIZONTAL}{END LNS_IS_HORIZONTAL_label}
	</label>
	<div class="col-md-6" >
		{$LNS_IS_HORIZONTAL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LNS_IS_HORIZONTAL">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET LNS_IS_HORIZONTAL}
		</div>
	</div>
</div>
</div>
{END LNS_IS_HORIZONTAL_fieldblock}

			{BEGIN LNS_STATE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LNS_STATE}" data-fieldname="LNS_STATE" data-signal-error-for="LNS_STATE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LNS_STATE}">
		{BEGIN LNS_STATE_label}{$label BPMN_LANESET LNS_STATE}{END LNS_STATE_label}
	</label>
	<div class="col-md-6" >
		{$LNS_STATE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LNS_STATE">
		<div class="text-muted" >
		{$tooltip BPMN_LANESET LNS_STATE}
		</div>
	</div>
</div>
</div>
{END LNS_STATE_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
