<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EVN_UID">
	{$EVN_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="EVN_NAME">
	{$EVN_NAME_editcontrol}
	</control>
	<control 
	field="EVN_TYPE">
	{$EVN_TYPE_editcontrol}
	</control>
	<control 
	field="EVN_MARKER">
	{$EVN_MARKER_editcontrol}
	</control>
	<control 
	field="EVN_IS_INTERRUPTING">
	{$EVN_IS_INTERRUPTING_editcontrol}
	</control>
	<control 
	field="EVN_ATTACHED_TO">
	{$EVN_ATTACHED_TO_editcontrol}
	</control>
	<control 
	field="EVN_CANCEL_ACTIVITY">
	{$EVN_CANCEL_ACTIVITY_editcontrol}
	</control>
	<control 
	field="EVN_ACTIVITY_REF">
	{$EVN_ACTIVITY_REF_editcontrol}
	</control>
	<control 
	field="EVN_WAIT_FOR_COMPLETION">
	{$EVN_WAIT_FOR_COMPLETION_editcontrol}
	</control>
	<control 
	field="EVN_ERROR_NAME">
	{$EVN_ERROR_NAME_editcontrol}
	</control>
	<control 
	field="EVN_ERROR_CODE">
	{$EVN_ERROR_CODE_editcontrol}
	</control>
	<control 
	field="EVN_ESCALATION_NAME">
	{$EVN_ESCALATION_NAME_editcontrol}
	</control>
	<control 
	field="EVN_ESCALATION_CODE">
	{$EVN_ESCALATION_CODE_editcontrol}
	</control>
	<control 
	field="EVN_CONDITION">
	{$EVN_CONDITION_editcontrol}
	</control>
	<control 
	field="EVN_MESSAGE">
	{$EVN_MESSAGE_editcontrol}
	</control>
	<control 
	field="EVN_OPERATION_NAME">
	{$EVN_OPERATION_NAME_editcontrol}
	</control>
	<control 
	field="EVN_OPERATION_IMPLEMENTATION_REF">
	{$EVN_OPERATION_IMPLEMENTATION_REF_editcontrol}
	</control>
	<control 
	field="EVN_TIME_DATE">
	{$EVN_TIME_DATE_editcontrol}
	</control>
	<control 
	field="EVN_TIME_CYCLE">
	{$EVN_TIME_CYCLE_editcontrol}
	</control>
	<control 
	field="EVN_TIME_DURATION">
	{$EVN_TIME_DURATION_editcontrol}
	</control>
	<control 
	field="EVN_BEHAVIOR">
	{$EVN_BEHAVIOR_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
