<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ART_UID">
	{$ART_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="ART_TYPE">
	{$ART_TYPE_editcontrol}
	</control>
	<control 
	field="ART_NAME">
	{$ART_NAME_editcontrol}
	</control>
	<control 
	field="ART_CATEGORY_REF">
	{$ART_CATEGORY_REF_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
