<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-search" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel BPMN_GATEWAY search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN GAT_UID_fieldblock}		
	<div class="container {$fielddispclass_GAT_UID}" data-fieldname="GAT_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_UID}
			</div>
			<div class="col-md-4" >
				{$GAT_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_UID_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_UID_fieldblock}
	{BEGIN PRJ_UID_fieldblock}		
	<div class="container {$fielddispclass_PRJ_UID}" data-fieldname="PRJ_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY PRJ_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRJ_UID}
			</div>
			<div class="col-md-4" >
				{$PRJ_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRJ_UID_editcontrol1}
			</div>
		</div>
	</div>
{END PRJ_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}		
	<div class="container {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY PRO_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRO_UID}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol1}
			</div>
		</div>
	</div>
{END PRO_UID_fieldblock}
	{BEGIN GAT_NAME_fieldblock}		
	<div class="container {$fielddispclass_GAT_NAME}" data-fieldname="GAT_NAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_NAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_NAME}
			</div>
			<div class="col-md-4" >
				{$GAT_NAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_NAME_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_NAME_fieldblock}
	{BEGIN GAT_TYPE_fieldblock}		
	<div class="container {$fielddispclass_GAT_TYPE}" data-fieldname="GAT_TYPE">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_TYPE}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_TYPE}
			</div>
			<div class="col-md-4" >
				{$GAT_TYPE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_TYPE_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_TYPE_fieldblock}
	{BEGIN GAT_DIRECTION_fieldblock}		
	<div class="container {$fielddispclass_GAT_DIRECTION}" data-fieldname="GAT_DIRECTION">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_DIRECTION}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_DIRECTION}
			</div>
			<div class="col-md-4" >
				{$GAT_DIRECTION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_DIRECTION_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_DIRECTION_fieldblock}
	{BEGIN GAT_INSTANTIATE_fieldblock}		
	<div class="container {$fielddispclass_GAT_INSTANTIATE}" data-fieldname="GAT_INSTANTIATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_INSTANTIATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_INSTANTIATE}
			</div>
			<div class="col-md-4" >
				{$GAT_INSTANTIATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_INSTANTIATE_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_INSTANTIATE_fieldblock}
	{BEGIN GAT_EVENT_GATEWAY_TYPE_fieldblock}		
	<div class="container {$fielddispclass_GAT_EVENT_GATEWAY_TYPE}" data-fieldname="GAT_EVENT_GATEWAY_TYPE">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_EVENT_GATEWAY_TYPE}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_EVENT_GATEWAY_TYPE}
			</div>
			<div class="col-md-4" >
				{$GAT_EVENT_GATEWAY_TYPE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_EVENT_GATEWAY_TYPE_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_EVENT_GATEWAY_TYPE_fieldblock}
	{BEGIN GAT_ACTIVATION_COUNT_fieldblock}		
	<div class="container {$fielddispclass_GAT_ACTIVATION_COUNT}" data-fieldname="GAT_ACTIVATION_COUNT">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_ACTIVATION_COUNT}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_ACTIVATION_COUNT}
			</div>
			<div class="col-md-4" >
				{$GAT_ACTIVATION_COUNT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_ACTIVATION_COUNT_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_ACTIVATION_COUNT_fieldblock}
	{BEGIN GAT_WAITING_FOR_START_fieldblock}		
	<div class="container {$fielddispclass_GAT_WAITING_FOR_START}" data-fieldname="GAT_WAITING_FOR_START">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_WAITING_FOR_START}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_WAITING_FOR_START}
			</div>
			<div class="col-md-4" >
				{$GAT_WAITING_FOR_START_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_WAITING_FOR_START_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_WAITING_FOR_START_fieldblock}
	{BEGIN GAT_DEFAULT_FLOW_fieldblock}		
	<div class="container {$fielddispclass_GAT_DEFAULT_FLOW}" data-fieldname="GAT_DEFAULT_FLOW">
		<div class="form-group">
			<div class="col-md-2">
				{$label BPMN_GATEWAY GAT_DEFAULT_FLOW}
			</div>
			<div class="col-md-2" >
				{$searchtype_GAT_DEFAULT_FLOW}
			</div>
			<div class="col-md-4" >
				{$GAT_DEFAULT_FLOW_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GAT_DEFAULT_FLOW_editcontrol1}
			</div>
		</div>
	</div>
{END GAT_DEFAULT_FLOW_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
