<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">{mlang_message DETAILS_FOUND}: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$BOU_UID_class}">{$label BPMN_BOUND BOU_UID}</th>
			<th class="{$PRJ_UID_class}">{$label BPMN_BOUND PRJ_UID}</th>
			<th class="{$DIA_UID_class}">{$label BPMN_BOUND DIA_UID}</th>
			<th class="{$ELEMENT_UID_class}">{$label BPMN_BOUND ELEMENT_UID}</th>
			<th class="{$BOU_ELEMENT_class}">{$label BPMN_BOUND BOU_ELEMENT}</th>
			<th class="{$BOU_ELEMENT_TYPE_class}">{$label BPMN_BOUND BOU_ELEMENT_TYPE}</th>
			<th class="{$BOU_X_class}">{$label BPMN_BOUND BOU_X}</th>
			<th class="{$BOU_Y_class}">{$label BPMN_BOUND BOU_Y}</th>
			<th class="{$BOU_WIDTH_class}">{$label BPMN_BOUND BOU_WIDTH}</th>
			<th class="{$BOU_HEIGHT_class}">{$label BPMN_BOUND BOU_HEIGHT}</th>
			<th class="{$BOU_REL_POSITION_class}">{$label BPMN_BOUND BOU_REL_POSITION}</th>
			<th class="{$BOU_SIZE_IDENTICAL_class}">{$label BPMN_BOUND BOU_SIZE_IDENTICAL}</th>
			<th class="{$BOU_CONTAINER_class}">{$label BPMN_BOUND BOU_CONTAINER}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$BOU_UID_class}">{$BOU_UID_value}</td>
			<td class="{$PRJ_UID_class}">{$PRJ_UID_value}</td>
			<td class="{$DIA_UID_class}">{$DIA_UID_value}</td>
			<td class="{$ELEMENT_UID_class}">{$ELEMENT_UID_value}</td>
			<td class="{$BOU_ELEMENT_class}">{$BOU_ELEMENT_value}</td>
			<td class="{$BOU_ELEMENT_TYPE_class}">{$BOU_ELEMENT_TYPE_value}</td>
			<td class="{$BOU_X_class}">{$BOU_X_value}</td>
			<td class="{$BOU_Y_class}">{$BOU_Y_value}</td>
			<td class="{$BOU_WIDTH_class}">{$BOU_WIDTH_value}</td>
			<td class="{$BOU_HEIGHT_class}">{$BOU_HEIGHT_value}</td>
			<td class="{$BOU_REL_POSITION_class}">{$BOU_REL_POSITION_value}</td>
			<td class="{$BOU_SIZE_IDENTICAL_class}">{$BOU_SIZE_IDENTICAL_value}</td>
			<td class="{$BOU_CONTAINER_class}">{$BOU_CONTAINER_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>