<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DAT_UID">
	{$DAT_UID_editcontrol}
	</control>
	<control field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="DAT_NAME">
	{$DAT_NAME_editcontrol}
	</control>
	<control field="DAT_TYPE">
	{$DAT_TYPE_editcontrol}
	</control>
	<control field="DAT_IS_COLLECTION">
	{$DAT_IS_COLLECTION_editcontrol}
	</control>
	<control field="DAT_ITEM_KIND">
	{$DAT_ITEM_KIND_editcontrol}
	</control>
	<control field="DAT_CAPACITY">
	{$DAT_CAPACITY_editcontrol}
	</control>
	<control field="DAT_IS_UNLIMITED">
	{$DAT_IS_UNLIMITED_editcontrol}
	</control>
	<control field="DAT_STATE">
	{$DAT_STATE_editcontrol}
	</control>
	<control field="DAT_IS_GLOBAL">
	{$DAT_IS_GLOBAL_editcontrol}
	</control>
	<control field="DAT_OBJECT_REF">
	{$DAT_OBJECT_REF_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>