<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel BPMN_DIAGRAM masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$DIA_UID_class}">{$label BPMN_DIAGRAM DIA_UID}</th>
			<th class="{$PRJ_UID_class}">{$label BPMN_DIAGRAM PRJ_UID}</th>
			<th class="{$DIA_NAME_class}">{$label BPMN_DIAGRAM DIA_NAME}</th>
			<th class="{$DIA_IS_CLOSABLE_class}">{$label BPMN_DIAGRAM DIA_IS_CLOSABLE}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$DIA_UID_class}">{$DIA_UID_mastervalue}</td>
			<td class="{$PRJ_UID_class}">{$PRJ_UID_mastervalue}</td>
			<td class="{$DIA_NAME_class}">{$DIA_NAME_mastervalue}</td>
			<td class="{$DIA_IS_CLOSABLE_class}">{$DIA_IS_CLOSABLE_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>