<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="BOU_UID">
	{$BOU_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="DIA_UID">
	{$DIA_UID_editcontrol}
	</control>
	<control 
	field="ELEMENT_UID">
	{$ELEMENT_UID_editcontrol}
	</control>
	<control 
	field="BOU_ELEMENT">
	{$BOU_ELEMENT_editcontrol}
	</control>
	<control 
	field="BOU_ELEMENT_TYPE">
	{$BOU_ELEMENT_TYPE_editcontrol}
	</control>
	<control 
	field="BOU_X">
	{$BOU_X_editcontrol}
	</control>
	<control 
	field="BOU_Y">
	{$BOU_Y_editcontrol}
	</control>
	<control 
	field="BOU_WIDTH">
	{$BOU_WIDTH_editcontrol}
	</control>
	<control 
	field="BOU_HEIGHT">
	{$BOU_HEIGHT_editcontrol}
	</control>
	<control 
	field="BOU_REL_POSITION">
	{$BOU_REL_POSITION_editcontrol}
	</control>
	<control 
	field="BOU_SIZE_IDENTICAL">
	{$BOU_SIZE_IDENTICAL_editcontrol}
	</control>
	<control 
	field="BOU_CONTAINER">
	{$BOU_CONTAINER_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
