<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel BPMN_GATEWAY view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN GAT_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_UID} bs-viewform-group" data-fieldname="GAT_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_UID}">
			{$label BPMN_GATEWAY GAT_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_UID_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_UID_fieldblock}
	{BEGIN PRJ_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRJ_UID} bs-viewform-group" data-fieldname="PRJ_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRJ_UID}">
			{$label BPMN_GATEWAY PRJ_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRJ_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRJ_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRO_UID} bs-viewform-group" data-fieldname="PRO_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRO_UID}">
			{$label BPMN_GATEWAY PRO_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRO_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRO_UID_fieldblock}
	{BEGIN GAT_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_NAME} bs-viewform-group" data-fieldname="GAT_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_NAME}">
			{$label BPMN_GATEWAY GAT_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_NAME_fieldblock}
	{BEGIN GAT_TYPE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_TYPE} bs-viewform-group" data-fieldname="GAT_TYPE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_TYPE}">
			{$label BPMN_GATEWAY GAT_TYPE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_TYPE_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_TYPE_fieldblock}
	{BEGIN GAT_DIRECTION_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_DIRECTION} bs-viewform-group" data-fieldname="GAT_DIRECTION">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_DIRECTION}">
			{$label BPMN_GATEWAY GAT_DIRECTION}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_DIRECTION_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_DIRECTION_fieldblock}
	{BEGIN GAT_INSTANTIATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_INSTANTIATE} bs-viewform-group" data-fieldname="GAT_INSTANTIATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_INSTANTIATE}">
			{$label BPMN_GATEWAY GAT_INSTANTIATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_INSTANTIATE_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_INSTANTIATE_fieldblock}
	{BEGIN GAT_EVENT_GATEWAY_TYPE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_EVENT_GATEWAY_TYPE} bs-viewform-group" data-fieldname="GAT_EVENT_GATEWAY_TYPE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_EVENT_GATEWAY_TYPE}">
			{$label BPMN_GATEWAY GAT_EVENT_GATEWAY_TYPE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_EVENT_GATEWAY_TYPE_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_EVENT_GATEWAY_TYPE_fieldblock}
	{BEGIN GAT_ACTIVATION_COUNT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_ACTIVATION_COUNT} bs-viewform-group" data-fieldname="GAT_ACTIVATION_COUNT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_ACTIVATION_COUNT}">
			{$label BPMN_GATEWAY GAT_ACTIVATION_COUNT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_ACTIVATION_COUNT_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_ACTIVATION_COUNT_fieldblock}
	{BEGIN GAT_WAITING_FOR_START_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_WAITING_FOR_START} bs-viewform-group" data-fieldname="GAT_WAITING_FOR_START">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_WAITING_FOR_START}">
			{$label BPMN_GATEWAY GAT_WAITING_FOR_START}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_WAITING_FOR_START_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_WAITING_FOR_START_fieldblock}
	{BEGIN GAT_DEFAULT_FLOW_fieldblock}
<div class="container">
	<div class="{$fielddispclass_GAT_DEFAULT_FLOW} bs-viewform-group" data-fieldname="GAT_DEFAULT_FLOW">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_GAT_DEFAULT_FLOW}">
			{$label BPMN_GATEWAY GAT_DEFAULT_FLOW}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$GAT_DEFAULT_FLOW_value}&nbsp;
		</div>
	</div>
</div>
{END GAT_DEFAULT_FLOW_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
