<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel BPMN_PROJECT masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$PRJ_UID_class}">{$label BPMN_PROJECT PRJ_UID}</th>
			<th class="{$PRJ_NAME_class}">{$label BPMN_PROJECT PRJ_NAME}</th>
			<th class="{$PRJ_DESCRIPTION_class}">{$label BPMN_PROJECT PRJ_DESCRIPTION}</th>
			<th class="{$PRJ_TARGET_NAMESPACE_class}">{$label BPMN_PROJECT PRJ_TARGET_NAMESPACE}</th>
			<th class="{$PRJ_EXPRESION_LANGUAGE_class}">{$label BPMN_PROJECT PRJ_EXPRESION_LANGUAGE}</th>
			<th class="{$PRJ_TYPE_LANGUAGE_class}">{$label BPMN_PROJECT PRJ_TYPE_LANGUAGE}</th>
			<th class="{$PRJ_EXPORTER_class}">{$label BPMN_PROJECT PRJ_EXPORTER}</th>
			<th class="{$PRJ_EXPORTER_VERSION_class}">{$label BPMN_PROJECT PRJ_EXPORTER_VERSION}</th>
			<th class="{$PRJ_CREATE_DATE_class}">{$label BPMN_PROJECT PRJ_CREATE_DATE}</th>
			<th class="{$PRJ_UPDATE_DATE_class}">{$label BPMN_PROJECT PRJ_UPDATE_DATE}</th>
			<th class="{$PRJ_AUTHOR_class}">{$label BPMN_PROJECT PRJ_AUTHOR}</th>
			<th class="{$PRJ_AUTHOR_VERSION_class}">{$label BPMN_PROJECT PRJ_AUTHOR_VERSION}</th>
			<th class="{$PRJ_ORIGINAL_SOURCE_class}">{$label BPMN_PROJECT PRJ_ORIGINAL_SOURCE}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$PRJ_UID_class}">{$PRJ_UID_mastervalue}</td>
			<td class="{$PRJ_NAME_class}">{$PRJ_NAME_mastervalue}</td>
			<td class="{$PRJ_DESCRIPTION_class}">{$PRJ_DESCRIPTION_mastervalue}</td>
			<td class="{$PRJ_TARGET_NAMESPACE_class}">{$PRJ_TARGET_NAMESPACE_mastervalue}</td>
			<td class="{$PRJ_EXPRESION_LANGUAGE_class}">{$PRJ_EXPRESION_LANGUAGE_mastervalue}</td>
			<td class="{$PRJ_TYPE_LANGUAGE_class}">{$PRJ_TYPE_LANGUAGE_mastervalue}</td>
			<td class="{$PRJ_EXPORTER_class}">{$PRJ_EXPORTER_mastervalue}</td>
			<td class="{$PRJ_EXPORTER_VERSION_class}">{$PRJ_EXPORTER_VERSION_mastervalue}</td>
			<td class="{$PRJ_CREATE_DATE_class}">{$PRJ_CREATE_DATE_mastervalue}</td>
			<td class="{$PRJ_UPDATE_DATE_class}">{$PRJ_UPDATE_DATE_mastervalue}</td>
			<td class="{$PRJ_AUTHOR_class}">{$PRJ_AUTHOR_mastervalue}</td>
			<td class="{$PRJ_AUTHOR_VERSION_class}">{$PRJ_AUTHOR_VERSION_mastervalue}</td>
			<td class="{$PRJ_ORIGINAL_SOURCE_class}">{$PRJ_ORIGINAL_SOURCE_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>