<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CTO_UID">
	{$CTO_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="CTO_TYPE_OBJ">
	{$CTO_TYPE_OBJ_editcontrol}
	</control>
	<control field="CTO_UID_OBJ">
	{$CTO_UID_OBJ_editcontrol}
	</control>
	<control field="CTO_CONDITION">
	{$CTO_CONDITION_editcontrol}
	</control>
	<control field="CTO_POSITION">
	{$CTO_POSITION_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>