<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="SCH_UID">
	{$SCH_UID_editcontrol}
	</control>
	<control field="SCH_DEL_USER_NAME">
	{$SCH_DEL_USER_NAME_editcontrol}
	</control>
	<control field="SCH_DEL_USER_PASS">
	{$SCH_DEL_USER_PASS_editcontrol}
	</control>
	<control field="SCH_DEL_USER_UID">
	{$SCH_DEL_USER_UID_editcontrol}
	</control>
	<control field="SCH_NAME">
	{$SCH_NAME_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control field="SCH_TIME_NEXT_RUN">
	{$SCH_TIME_NEXT_RUN_editcontrol}
	</control>
	<control field="SCH_LAST_RUN_TIME">
	{$SCH_LAST_RUN_TIME_editcontrol}
	</control>
	<control field="SCH_STATE">
	{$SCH_STATE_editcontrol}
	</control>
	<control field="SCH_LAST_STATE">
	{$SCH_LAST_STATE_editcontrol}
	</control>
	<control field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control field="SCH_OPTION">
	{$SCH_OPTION_editcontrol}
	</control>
	<control field="SCH_START_TIME">
	{$SCH_START_TIME_editcontrol}
	</control>
	<control field="SCH_START_DATE">
	{$SCH_START_DATE_editcontrol}
	</control>
	<control field="SCH_DAYS_PERFORM_TASK">
	{$SCH_DAYS_PERFORM_TASK_editcontrol}
	</control>
	<control field="SCH_EVERY_DAYS">
	{$SCH_EVERY_DAYS_editcontrol}
	</control>
	<control field="SCH_WEEK_DAYS">
	{$SCH_WEEK_DAYS_editcontrol}
	</control>
	<control field="SCH_START_DAY">
	{$SCH_START_DAY_editcontrol}
	</control>
	<control field="SCH_MONTHS">
	{$SCH_MONTHS_editcontrol}
	</control>
	<control field="SCH_END_DATE">
	{$SCH_END_DATE_editcontrol}
	</control>
	<control field="SCH_REPEAT_EVERY">
	{$SCH_REPEAT_EVERY_editcontrol}
	</control>
	<control field="SCH_REPEAT_UNTIL">
	{$SCH_REPEAT_UNTIL_editcontrol}
	</control>
	<control field="SCH_REPEAT_STOP_IF_RUNNING">
	{$SCH_REPEAT_STOP_IF_RUNNING_editcontrol}
	</control>
	<control field="SCH_EXECUTION_DATE">
	{$SCH_EXECUTION_DATE_editcontrol}
	</control>
	<control field="CASE_SH_PLUGIN_UID">
	{$CASE_SH_PLUGIN_UID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>