<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CAT_UID">
	{$CAT_UID_editcontrol}
	</control>
	<control field="CAT_LABEL_ID">
	{$CAT_LABEL_ID_editcontrol}
	</control>
	<control field="CAT_TYPE">
	{$CAT_TYPE_editcontrol}
	</control>
	<control field="CAT_FLAG">
	{$CAT_FLAG_editcontrol}
	</control>
	<control field="CAT_OBSERVATION">
	{$CAT_OBSERVATION_editcontrol}
	</control>
	<control field="CAT_CREATE_DATE">
	{$CAT_CREATE_DATE_editcontrol}
	</control>
	<control field="CAT_UPDATE_DATE">
	{$CAT_UPDATE_DATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>