<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="TABLE_CATALOG">
	{$TABLE_CATALOG_editcontrol}
	</control>
	<control 
	field="TABLE_SCHEMA">
	{$TABLE_SCHEMA_editcontrol}
	</control>
	<control 
	field="TABLE_NAME">
	{$TABLE_NAME_editcontrol}
	</control>
	<control 
	field="COLUMN_NAME">
	{$COLUMN_NAME_editcontrol}
	</control>
	<control 
	field="ORDINAL_POSITION">
	{$ORDINAL_POSITION_editcontrol}
	</control>
	<control 
	field="COLUMN_DEFAULT">
	{$COLUMN_DEFAULT_editcontrol}
	</control>
	<control 
	field="IS_NULLABLE">
	{$IS_NULLABLE_editcontrol}
	</control>
	<control 
	field="DATA_TYPE">
	{$DATA_TYPE_editcontrol}
	</control>
	<control 
	field="CHARACTER_MAXIMUM_LENGTH">
	{$CHARACTER_MAXIMUM_LENGTH_editcontrol}
	</control>
	<control 
	field="CHARACTER_OCTET_LENGTH">
	{$CHARACTER_OCTET_LENGTH_editcontrol}
	</control>
	<control 
	field="NUMERIC_PRECISION">
	{$NUMERIC_PRECISION_editcontrol}
	</control>
	<control 
	field="NUMERIC_SCALE">
	{$NUMERIC_SCALE_editcontrol}
	</control>
	<control 
	field="DATETIME_PRECISION">
	{$DATETIME_PRECISION_editcontrol}
	</control>
	<control 
	field="CHARACTER_SET_NAME">
	{$CHARACTER_SET_NAME_editcontrol}
	</control>
	<control 
	field="COLLATION_NAME">
	{$COLLATION_NAME_editcontrol}
	</control>
	<control 
	field="COLUMN_TYPE">
	{$COLUMN_TYPE_editcontrol}
	</control>
	<control 
	field="COLUMN_KEY">
	{$COLUMN_KEY_editcontrol}
	</control>
	<control 
	field="EXTRA">
	{$EXTRA_editcontrol}
	</control>
	<control 
	field="PRIVILEGES">
	{$PRIVILEGES_editcontrol}
	</control>
	<control 
	field="COLUMN_COMMENT">
	{$COLUMN_COMMENT_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
