<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}



{BEGIN container_master}
<div {$master_chiddenattr} data-pageid="{$pageid}" data-container="master" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_master}



{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel COLUMNS print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN TABLE_CATALOG_fieldheadercolumn}
			<th class="{$TABLE_CATALOG_class}" {$TABLE_CATALOG_style}  data-field="TABLE_CATALOG">
				{$label COLUMNS TABLE_CATALOG}
			</th>
			{END TABLE_CATALOG_fieldheadercolumn}
			{BEGIN TABLE_SCHEMA_fieldheadercolumn}
			<th class="{$TABLE_SCHEMA_class}" {$TABLE_SCHEMA_style}  data-field="TABLE_SCHEMA">
				{$label COLUMNS TABLE_SCHEMA}
			</th>
			{END TABLE_SCHEMA_fieldheadercolumn}
			{BEGIN TABLE_NAME_fieldheadercolumn}
			<th class="{$TABLE_NAME_class}" {$TABLE_NAME_style}  data-field="TABLE_NAME">
				{$label COLUMNS TABLE_NAME}
			</th>
			{END TABLE_NAME_fieldheadercolumn}
			{BEGIN COLUMN_NAME_fieldheadercolumn}
			<th class="{$COLUMN_NAME_class}" {$COLUMN_NAME_style}  data-field="COLUMN_NAME">
				{$label COLUMNS COLUMN_NAME}
			</th>
			{END COLUMN_NAME_fieldheadercolumn}
			{BEGIN ORDINAL_POSITION_fieldheadercolumn}
			<th class="{$ORDINAL_POSITION_class}" {$ORDINAL_POSITION_style}  data-field="ORDINAL_POSITION">
				{$label COLUMNS ORDINAL_POSITION}
			</th>
			{END ORDINAL_POSITION_fieldheadercolumn}
			{BEGIN COLUMN_DEFAULT_fieldheadercolumn}
			<th class="{$COLUMN_DEFAULT_class}" {$COLUMN_DEFAULT_style}  data-field="COLUMN_DEFAULT">
				{$label COLUMNS COLUMN_DEFAULT}
			</th>
			{END COLUMN_DEFAULT_fieldheadercolumn}
			{BEGIN IS_NULLABLE_fieldheadercolumn}
			<th class="{$IS_NULLABLE_class}" {$IS_NULLABLE_style}  data-field="IS_NULLABLE">
				{$label COLUMNS IS_NULLABLE}
			</th>
			{END IS_NULLABLE_fieldheadercolumn}
			{BEGIN DATA_TYPE_fieldheadercolumn}
			<th class="{$DATA_TYPE_class}" {$DATA_TYPE_style}  data-field="DATA_TYPE">
				{$label COLUMNS DATA_TYPE}
			</th>
			{END DATA_TYPE_fieldheadercolumn}
			{BEGIN CHARACTER_MAXIMUM_LENGTH_fieldheadercolumn}
			<th class="{$CHARACTER_MAXIMUM_LENGTH_class}" {$CHARACTER_MAXIMUM_LENGTH_style}  data-field="CHARACTER_MAXIMUM_LENGTH">
				{$label COLUMNS CHARACTER_MAXIMUM_LENGTH}
			</th>
			{END CHARACTER_MAXIMUM_LENGTH_fieldheadercolumn}
			{BEGIN CHARACTER_OCTET_LENGTH_fieldheadercolumn}
			<th class="{$CHARACTER_OCTET_LENGTH_class}" {$CHARACTER_OCTET_LENGTH_style}  data-field="CHARACTER_OCTET_LENGTH">
				{$label COLUMNS CHARACTER_OCTET_LENGTH}
			</th>
			{END CHARACTER_OCTET_LENGTH_fieldheadercolumn}
			{BEGIN NUMERIC_PRECISION_fieldheadercolumn}
			<th class="{$NUMERIC_PRECISION_class}" {$NUMERIC_PRECISION_style}  data-field="NUMERIC_PRECISION">
				{$label COLUMNS NUMERIC_PRECISION}
			</th>
			{END NUMERIC_PRECISION_fieldheadercolumn}
			{BEGIN NUMERIC_SCALE_fieldheadercolumn}
			<th class="{$NUMERIC_SCALE_class}" {$NUMERIC_SCALE_style}  data-field="NUMERIC_SCALE">
				{$label COLUMNS NUMERIC_SCALE}
			</th>
			{END NUMERIC_SCALE_fieldheadercolumn}
			{BEGIN DATETIME_PRECISION_fieldheadercolumn}
			<th class="{$DATETIME_PRECISION_class}" {$DATETIME_PRECISION_style}  data-field="DATETIME_PRECISION">
				{$label COLUMNS DATETIME_PRECISION}
			</th>
			{END DATETIME_PRECISION_fieldheadercolumn}
			{BEGIN CHARACTER_SET_NAME_fieldheadercolumn}
			<th class="{$CHARACTER_SET_NAME_class}" {$CHARACTER_SET_NAME_style}  data-field="CHARACTER_SET_NAME">
				{$label COLUMNS CHARACTER_SET_NAME}
			</th>
			{END CHARACTER_SET_NAME_fieldheadercolumn}
			{BEGIN COLLATION_NAME_fieldheadercolumn}
			<th class="{$COLLATION_NAME_class}" {$COLLATION_NAME_style}  data-field="COLLATION_NAME">
				{$label COLUMNS COLLATION_NAME}
			</th>
			{END COLLATION_NAME_fieldheadercolumn}
			{BEGIN COLUMN_TYPE_fieldheadercolumn}
			<th class="{$COLUMN_TYPE_class}" {$COLUMN_TYPE_style}  data-field="COLUMN_TYPE">
				{$label COLUMNS COLUMN_TYPE}
			</th>
			{END COLUMN_TYPE_fieldheadercolumn}
			{BEGIN COLUMN_KEY_fieldheadercolumn}
			<th class="{$COLUMN_KEY_class}" {$COLUMN_KEY_style}  data-field="COLUMN_KEY">
				{$label COLUMNS COLUMN_KEY}
			</th>
			{END COLUMN_KEY_fieldheadercolumn}
			{BEGIN EXTRA_fieldheadercolumn}
			<th class="{$EXTRA_class}" {$EXTRA_style}  data-field="EXTRA">
				{$label COLUMNS EXTRA}
			</th>
			{END EXTRA_fieldheadercolumn}
			{BEGIN PRIVILEGES_fieldheadercolumn}
			<th class="{$PRIVILEGES_class}" {$PRIVILEGES_style}  data-field="PRIVILEGES">
				{$label COLUMNS PRIVILEGES}
			</th>
			{END PRIVILEGES_fieldheadercolumn}
			{BEGIN COLUMN_COMMENT_fieldheadercolumn}
			<th class="{$COLUMN_COMMENT_class}" {$COLUMN_COMMENT_style}  data-field="COLUMN_COMMENT">
				{$label COLUMNS COLUMN_COMMENT}
			</th>
			{END COLUMN_COMMENT_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN TABLE_CATALOG_fieldcolumn}
			<td  class="{$TABLE_CATALOG_class}" {$TABLE_CATALOG_style} {$recordattrs}>
				{$TABLE_CATALOG_value}
			</td>
			{END TABLE_CATALOG_fieldcolumn}
			{BEGIN TABLE_SCHEMA_fieldcolumn}
			<td  class="{$TABLE_SCHEMA_class}" {$TABLE_SCHEMA_style} {$recordattrs}>
				{$TABLE_SCHEMA_value}
			</td>
			{END TABLE_SCHEMA_fieldcolumn}
			{BEGIN TABLE_NAME_fieldcolumn}
			<td  class="{$TABLE_NAME_class}" {$TABLE_NAME_style} {$recordattrs}>
				{$TABLE_NAME_value}
			</td>
			{END TABLE_NAME_fieldcolumn}
			{BEGIN COLUMN_NAME_fieldcolumn}
			<td  class="{$COLUMN_NAME_class}" {$COLUMN_NAME_style} {$recordattrs}>
				{$COLUMN_NAME_value}
			</td>
			{END COLUMN_NAME_fieldcolumn}
			{BEGIN ORDINAL_POSITION_fieldcolumn}
			<td  class="{$ORDINAL_POSITION_class}" {$ORDINAL_POSITION_style} {$recordattrs}>
				{$ORDINAL_POSITION_value}
			</td>
			{END ORDINAL_POSITION_fieldcolumn}
			{BEGIN COLUMN_DEFAULT_fieldcolumn}
			<td  class="{$COLUMN_DEFAULT_class}" {$COLUMN_DEFAULT_style} {$recordattrs}>
				{$COLUMN_DEFAULT_value}
			</td>
			{END COLUMN_DEFAULT_fieldcolumn}
			{BEGIN IS_NULLABLE_fieldcolumn}
			<td  class="{$IS_NULLABLE_class}" {$IS_NULLABLE_style} {$recordattrs}>
				{$IS_NULLABLE_value}
			</td>
			{END IS_NULLABLE_fieldcolumn}
			{BEGIN DATA_TYPE_fieldcolumn}
			<td  class="{$DATA_TYPE_class}" {$DATA_TYPE_style} {$recordattrs}>
				{$DATA_TYPE_value}
			</td>
			{END DATA_TYPE_fieldcolumn}
			{BEGIN CHARACTER_MAXIMUM_LENGTH_fieldcolumn}
			<td  class="{$CHARACTER_MAXIMUM_LENGTH_class}" {$CHARACTER_MAXIMUM_LENGTH_style} {$recordattrs}>
				{$CHARACTER_MAXIMUM_LENGTH_value}
			</td>
			{END CHARACTER_MAXIMUM_LENGTH_fieldcolumn}
			{BEGIN CHARACTER_OCTET_LENGTH_fieldcolumn}
			<td  class="{$CHARACTER_OCTET_LENGTH_class}" {$CHARACTER_OCTET_LENGTH_style} {$recordattrs}>
				{$CHARACTER_OCTET_LENGTH_value}
			</td>
			{END CHARACTER_OCTET_LENGTH_fieldcolumn}
			{BEGIN NUMERIC_PRECISION_fieldcolumn}
			<td  class="{$NUMERIC_PRECISION_class}" {$NUMERIC_PRECISION_style} {$recordattrs}>
				{$NUMERIC_PRECISION_value}
			</td>
			{END NUMERIC_PRECISION_fieldcolumn}
			{BEGIN NUMERIC_SCALE_fieldcolumn}
			<td  class="{$NUMERIC_SCALE_class}" {$NUMERIC_SCALE_style} {$recordattrs}>
				{$NUMERIC_SCALE_value}
			</td>
			{END NUMERIC_SCALE_fieldcolumn}
			{BEGIN DATETIME_PRECISION_fieldcolumn}
			<td  class="{$DATETIME_PRECISION_class}" {$DATETIME_PRECISION_style} {$recordattrs}>
				{$DATETIME_PRECISION_value}
			</td>
			{END DATETIME_PRECISION_fieldcolumn}
			{BEGIN CHARACTER_SET_NAME_fieldcolumn}
			<td  class="{$CHARACTER_SET_NAME_class}" {$CHARACTER_SET_NAME_style} {$recordattrs}>
				{$CHARACTER_SET_NAME_value}
			</td>
			{END CHARACTER_SET_NAME_fieldcolumn}
			{BEGIN COLLATION_NAME_fieldcolumn}
			<td  class="{$COLLATION_NAME_class}" {$COLLATION_NAME_style} {$recordattrs}>
				{$COLLATION_NAME_value}
			</td>
			{END COLLATION_NAME_fieldcolumn}
			{BEGIN COLUMN_TYPE_fieldcolumn}
			<td  class="{$COLUMN_TYPE_class}" {$COLUMN_TYPE_style} {$recordattrs}>
				{$COLUMN_TYPE_value}
			</td>
			{END COLUMN_TYPE_fieldcolumn}
			{BEGIN COLUMN_KEY_fieldcolumn}
			<td  class="{$COLUMN_KEY_class}" {$COLUMN_KEY_style} {$recordattrs}>
				{$COLUMN_KEY_value}
			</td>
			{END COLUMN_KEY_fieldcolumn}
			{BEGIN EXTRA_fieldcolumn}
			<td  class="{$EXTRA_class}" {$EXTRA_style} {$recordattrs}>
				{$EXTRA_value}
			</td>
			{END EXTRA_fieldcolumn}
			{BEGIN PRIVILEGES_fieldcolumn}
			<td  class="{$PRIVILEGES_class}" {$PRIVILEGES_style} {$recordattrs}>
				{$PRIVILEGES_value}
			</td>
			{END PRIVILEGES_fieldcolumn}
			{BEGIN COLUMN_COMMENT_fieldcolumn}
			<td  class="{$COLUMN_COMMENT_class}" {$COLUMN_COMMENT_style} {$recordattrs}>
				{$COLUMN_COMMENT_value}
			</td>
			{END COLUMN_COMMENT_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
