<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel CONTENT2 view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN CON_CATEGORY_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CON_CATEGORY} bs-viewform-group" data-fieldname="CON_CATEGORY">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CON_CATEGORY}">
			{$label CONTENT2 CON_CATEGORY}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CON_CATEGORY_value}&nbsp;
		</div>
	</div>
</div>
{END CON_CATEGORY_fieldblock}
	{BEGIN CON_PARENT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CON_PARENT} bs-viewform-group" data-fieldname="CON_PARENT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CON_PARENT}">
			{$label CONTENT2 CON_PARENT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CON_PARENT_value}&nbsp;
		</div>
	</div>
</div>
{END CON_PARENT_fieldblock}
	{BEGIN CON_ID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CON_ID} bs-viewform-group" data-fieldname="CON_ID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CON_ID}">
			{$label CONTENT2 CON_ID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CON_ID_value}&nbsp;
		</div>
	</div>
</div>
{END CON_ID_fieldblock}
	{BEGIN CON_LANG_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CON_LANG} bs-viewform-group" data-fieldname="CON_LANG">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CON_LANG}">
			{$label CONTENT2 CON_LANG}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CON_LANG_value}&nbsp;
		</div>
	</div>
</div>
{END CON_LANG_fieldblock}
	{BEGIN CON_VALUE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CON_VALUE} bs-viewform-group" data-fieldname="CON_VALUE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CON_VALUE}">
			{$label CONTENT2 CON_VALUE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CON_VALUE_value}&nbsp;
		</div>
	</div>
</div>
{END CON_VALUE_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
