<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-add" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel CONTENT3 add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN CON_CATEGORY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CON_CATEGORY}" data-fieldname="CON_CATEGORY" data-signal-error-for="CON_CATEGORY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CON_CATEGORY}">
		{BEGIN CON_CATEGORY_label}{$label CONTENT3 CON_CATEGORY}{END CON_CATEGORY_label}
	</label>
	<div class="col-md-6" >
		{$CON_CATEGORY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CON_CATEGORY">
		<div class="text-muted" >
		{$tooltip CONTENT3 CON_CATEGORY}
		</div>
	</div>
</div>
</div>
{END CON_CATEGORY_fieldblock}

			{BEGIN CON_PARENT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CON_PARENT}" data-fieldname="CON_PARENT" data-signal-error-for="CON_PARENT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CON_PARENT}">
		{BEGIN CON_PARENT_label}{$label CONTENT3 CON_PARENT}{END CON_PARENT_label}
	</label>
	<div class="col-md-6" >
		{$CON_PARENT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CON_PARENT">
		<div class="text-muted" >
		{$tooltip CONTENT3 CON_PARENT}
		</div>
	</div>
</div>
</div>
{END CON_PARENT_fieldblock}

			{BEGIN CON_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CON_ID}" data-fieldname="CON_ID" data-signal-error-for="CON_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CON_ID}">
		{BEGIN CON_ID_label}{$label CONTENT3 CON_ID}{END CON_ID_label}
	</label>
	<div class="col-md-6" >
		{$CON_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CON_ID">
		<div class="text-muted" >
		{$tooltip CONTENT3 CON_ID}
		</div>
	</div>
</div>
</div>
{END CON_ID_fieldblock}

			{BEGIN CON_LANG_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CON_LANG}" data-fieldname="CON_LANG" data-signal-error-for="CON_LANG{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CON_LANG}">
		{BEGIN CON_LANG_label}{$label CONTENT3 CON_LANG}{END CON_LANG_label}
	</label>
	<div class="col-md-6" >
		{$CON_LANG_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CON_LANG">
		<div class="text-muted" >
		{$tooltip CONTENT3 CON_LANG}
		</div>
	</div>
</div>
</div>
{END CON_LANG_fieldblock}

			{BEGIN CON_VALUE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CON_VALUE}" data-fieldname="CON_VALUE" data-signal-error-for="CON_VALUE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CON_VALUE}">
		{BEGIN CON_VALUE_label}{$label CONTENT3 CON_VALUE}{END CON_VALUE_label}
	</label>
	<div class="col-md-6" >
		{$CON_VALUE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CON_VALUE">
		<div class="text-muted" >
		{$tooltip CONTENT3 CON_VALUE}
		</div>
	</div>
</div>
</div>
{END CON_VALUE_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
