<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel DB_SOURCE edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN DBS_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_UID}" data-fieldname="DBS_UID" data-signal-error-for="DBS_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_UID}">
		{BEGIN DBS_UID_label}{$label DB_SOURCE DBS_UID}{END DBS_UID_label}
	</label>
	<div class="col-md-6" >
		{$DBS_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_UID">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_UID}
		</div>
	</div>
</div>
</div>
{END DBS_UID_fieldblock}

			{BEGIN PRO_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID" data-signal-error-for="PRO_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRO_UID}">
		{BEGIN PRO_UID_label}{$label DB_SOURCE PRO_UID}{END PRO_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRO_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRO_UID">
		<div class="text-muted" >
		{$tooltip DB_SOURCE PRO_UID}
		</div>
	</div>
</div>
</div>
{END PRO_UID_fieldblock}

			{BEGIN DBS_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_TYPE}" data-fieldname="DBS_TYPE" data-signal-error-for="DBS_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_TYPE}">
		{BEGIN DBS_TYPE_label}{$label DB_SOURCE DBS_TYPE}{END DBS_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$DBS_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_TYPE">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_TYPE}
		</div>
	</div>
</div>
</div>
{END DBS_TYPE_fieldblock}

			{BEGIN DBS_SERVER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_SERVER}" data-fieldname="DBS_SERVER" data-signal-error-for="DBS_SERVER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_SERVER}">
		{BEGIN DBS_SERVER_label}{$label DB_SOURCE DBS_SERVER}{END DBS_SERVER_label}
	</label>
	<div class="col-md-6" >
		{$DBS_SERVER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_SERVER">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_SERVER}
		</div>
	</div>
</div>
</div>
{END DBS_SERVER_fieldblock}

			{BEGIN DBS_DATABASE_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_DATABASE_NAME}" data-fieldname="DBS_DATABASE_NAME" data-signal-error-for="DBS_DATABASE_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_DATABASE_NAME}">
		{BEGIN DBS_DATABASE_NAME_label}{$label DB_SOURCE DBS_DATABASE_NAME}{END DBS_DATABASE_NAME_label}
	</label>
	<div class="col-md-6" >
		{$DBS_DATABASE_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_DATABASE_NAME">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_DATABASE_NAME}
		</div>
	</div>
</div>
</div>
{END DBS_DATABASE_NAME_fieldblock}

			{BEGIN DBS_USERNAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_USERNAME}" data-fieldname="DBS_USERNAME" data-signal-error-for="DBS_USERNAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_USERNAME}">
		{BEGIN DBS_USERNAME_label}{$label DB_SOURCE DBS_USERNAME}{END DBS_USERNAME_label}
	</label>
	<div class="col-md-6" >
		{$DBS_USERNAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_USERNAME">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_USERNAME}
		</div>
	</div>
</div>
</div>
{END DBS_USERNAME_fieldblock}

			{BEGIN DBS_PASSWORD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_PASSWORD}" data-fieldname="DBS_PASSWORD" data-signal-error-for="DBS_PASSWORD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_PASSWORD}">
		{BEGIN DBS_PASSWORD_label}{$label DB_SOURCE DBS_PASSWORD}{END DBS_PASSWORD_label}
	</label>
	<div class="col-md-6" >
		{$DBS_PASSWORD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_PASSWORD">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_PASSWORD}
		</div>
	</div>
</div>
</div>
{END DBS_PASSWORD_fieldblock}

			{BEGIN DBS_PORT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_PORT}" data-fieldname="DBS_PORT" data-signal-error-for="DBS_PORT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_PORT}">
		{BEGIN DBS_PORT_label}{$label DB_SOURCE DBS_PORT}{END DBS_PORT_label}
	</label>
	<div class="col-md-6" >
		{$DBS_PORT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_PORT">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_PORT}
		</div>
	</div>
</div>
</div>
{END DBS_PORT_fieldblock}

			{BEGIN DBS_ENCODE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_ENCODE}" data-fieldname="DBS_ENCODE" data-signal-error-for="DBS_ENCODE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_ENCODE}">
		{BEGIN DBS_ENCODE_label}{$label DB_SOURCE DBS_ENCODE}{END DBS_ENCODE_label}
	</label>
	<div class="col-md-6" >
		{$DBS_ENCODE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_ENCODE">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_ENCODE}
		</div>
	</div>
</div>
</div>
{END DBS_ENCODE_fieldblock}

			{BEGIN DBS_CONNECTION_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_CONNECTION_TYPE}" data-fieldname="DBS_CONNECTION_TYPE" data-signal-error-for="DBS_CONNECTION_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_CONNECTION_TYPE}">
		{BEGIN DBS_CONNECTION_TYPE_label}{$label DB_SOURCE DBS_CONNECTION_TYPE}{END DBS_CONNECTION_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$DBS_CONNECTION_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_CONNECTION_TYPE">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_CONNECTION_TYPE}
		</div>
	</div>
</div>
</div>
{END DBS_CONNECTION_TYPE_fieldblock}

			{BEGIN DBS_TNS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DBS_TNS}" data-fieldname="DBS_TNS" data-signal-error-for="DBS_TNS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DBS_TNS}">
		{BEGIN DBS_TNS_label}{$label DB_SOURCE DBS_TNS}{END DBS_TNS_label}
	</label>
	<div class="col-md-6" >
		{$DBS_TNS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DBS_TNS">
		<div class="text-muted" >
		{$tooltip DB_SOURCE DBS_TNS}
		</div>
	</div>
</div>
</div>
{END DBS_TNS_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
