<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel DB_SOURCE view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN DBS_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_UID} bs-viewform-group" data-fieldname="DBS_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_UID}">
			{$label DB_SOURCE DBS_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_UID_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRO_UID} bs-viewform-group" data-fieldname="PRO_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRO_UID}">
			{$label DB_SOURCE PRO_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRO_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRO_UID_fieldblock}
	{BEGIN DBS_TYPE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_TYPE} bs-viewform-group" data-fieldname="DBS_TYPE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_TYPE}">
			{$label DB_SOURCE DBS_TYPE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_TYPE_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_TYPE_fieldblock}
	{BEGIN DBS_SERVER_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_SERVER} bs-viewform-group" data-fieldname="DBS_SERVER">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_SERVER}">
			{$label DB_SOURCE DBS_SERVER}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_SERVER_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_SERVER_fieldblock}
	{BEGIN DBS_DATABASE_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_DATABASE_NAME} bs-viewform-group" data-fieldname="DBS_DATABASE_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_DATABASE_NAME}">
			{$label DB_SOURCE DBS_DATABASE_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_DATABASE_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_DATABASE_NAME_fieldblock}
	{BEGIN DBS_USERNAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_USERNAME} bs-viewform-group" data-fieldname="DBS_USERNAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_USERNAME}">
			{$label DB_SOURCE DBS_USERNAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_USERNAME_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_USERNAME_fieldblock}
	{BEGIN DBS_PASSWORD_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_PASSWORD} bs-viewform-group" data-fieldname="DBS_PASSWORD">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_PASSWORD}">
			{$label DB_SOURCE DBS_PASSWORD}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_PASSWORD_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_PASSWORD_fieldblock}
	{BEGIN DBS_PORT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_PORT} bs-viewform-group" data-fieldname="DBS_PORT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_PORT}">
			{$label DB_SOURCE DBS_PORT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_PORT_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_PORT_fieldblock}
	{BEGIN DBS_ENCODE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_ENCODE} bs-viewform-group" data-fieldname="DBS_ENCODE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_ENCODE}">
			{$label DB_SOURCE DBS_ENCODE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_ENCODE_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_ENCODE_fieldblock}
	{BEGIN DBS_CONNECTION_TYPE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_CONNECTION_TYPE} bs-viewform-group" data-fieldname="DBS_CONNECTION_TYPE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_CONNECTION_TYPE}">
			{$label DB_SOURCE DBS_CONNECTION_TYPE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_CONNECTION_TYPE_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_CONNECTION_TYPE_fieldblock}
	{BEGIN DBS_TNS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DBS_TNS} bs-viewform-group" data-fieldname="DBS_TNS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DBS_TNS}">
			{$label DB_SOURCE DBS_TNS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DBS_TNS_value}&nbsp;
		</div>
	</div>
</div>
{END DBS_TNS_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
