<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DBS_UID">
	{$DBS_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="DBS_TYPE">
	{$DBS_TYPE_editcontrol}
	</control>
	<control field="DBS_SERVER">
	{$DBS_SERVER_editcontrol}
	</control>
	<control field="DBS_DATABASE_NAME">
	{$DBS_DATABASE_NAME_editcontrol}
	</control>
	<control field="DBS_USERNAME">
	{$DBS_USERNAME_editcontrol}
	</control>
	<control field="DBS_PASSWORD">
	{$DBS_PASSWORD_editcontrol}
	</control>
	<control field="DBS_PORT">
	{$DBS_PORT_editcontrol}
	</control>
	<control field="DBS_ENCODE">
	{$DBS_ENCODE_editcontrol}
	</control>
	<control field="DBS_CONNECTION_TYPE">
	{$DBS_CONNECTION_TYPE_editcontrol}
	</control>
	<control field="DBS_TNS">
	{$DBS_TNS_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>