<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DEP_UID">
	{$DEP_UID_editcontrol}
	</control>
	<control field="DEP_TITLE">
	{$DEP_TITLE_editcontrol}
	</control>
	<control field="DEP_PARENT">
	{$DEP_PARENT_editcontrol}
	</control>
	<control field="DEP_MANAGER">
	{$DEP_MANAGER_editcontrol}
	</control>
	<control field="DEP_LOCATION">
	{$DEP_LOCATION_editcontrol}
	</control>
	<control field="DEP_STATUS">
	{$DEP_STATUS_editcontrol}
	</control>
	<control field="DEP_REF_CODE">
	{$DEP_REF_CODE_editcontrol}
	</control>
	<control field="DEP_LDAP_DN">
	{$DEP_LDAP_DN_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>