<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="TIME_ID">
	{$TIME_ID_editcontrol}
	</control>
	<control 
	field="MONTH_ID">
	{$MONTH_ID_editcontrol}
	</control>
	<control 
	field="QTR_ID">
	{$QTR_ID_editcontrol}
	</control>
	<control 
	field="YEAR_ID">
	{$YEAR_ID_editcontrol}
	</control>
	<control 
	field="MONTH_NAME">
	{$MONTH_NAME_editcontrol}
	</control>
	<control 
	field="MONTH_DESC">
	{$MONTH_DESC_editcontrol}
	</control>
	<control 
	field="QTR_NAME">
	{$QTR_NAME_editcontrol}
	</control>
	<control 
	field="QTR_DESC">
	{$QTR_DESC_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
