<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="FCD_UID">
	{$FCD_UID_editcontrol}
	</control>
	<control 
	field="FCD_FUNCTION">
	{$FCD_FUNCTION_editcontrol}
	</control>
	<control 
	field="FCD_FIELDS">
	{$FCD_FIELDS_editcontrol}
	</control>
	<control 
	field="FCD_CONDITION">
	{$FCD_CONDITION_editcontrol}
	</control>
	<control 
	field="FCD_EVENTS">
	{$FCD_EVENTS_editcontrol}
	</control>
	<control 
	field="FCD_EVENT_OWNERS">
	{$FCD_EVENT_OWNERS_editcontrol}
	</control>
	<control 
	field="FCD_STATUS">
	{$FCD_STATUS_editcontrol}
	</control>
	<control 
	field="FCD_DYN_UID">
	{$FCD_DYN_UID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
