<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="FLD_UID">
	{$FLD_UID_editcontrol}
	</control>
	<control 
	field="ADD_TAB_UID">
	{$ADD_TAB_UID_editcontrol}
	</control>
	<control 
	field="FLD_INDEX">
	{$FLD_INDEX_editcontrol}
	</control>
	<control 
	field="FLD_NAME">
	{$FLD_NAME_editcontrol}
	</control>
	<control 
	field="FLD_DESCRIPTION">
	{$FLD_DESCRIPTION_editcontrol}
	</control>
	<control 
	field="FLD_TYPE">
	{$FLD_TYPE_editcontrol}
	</control>
	<control 
	field="FLD_SIZE">
	{$FLD_SIZE_editcontrol}
	</control>
	<control 
	field="FLD_NULL">
	{$FLD_NULL_editcontrol}
	</control>
	<control 
	field="FLD_AUTO_INCREMENT">
	{$FLD_AUTO_INCREMENT_editcontrol}
	</control>
	<control 
	field="FLD_KEY">
	{$FLD_KEY_editcontrol}
	</control>
	<control 
	field="FLD_TABLE_INDEX">
	{$FLD_TABLE_INDEX_editcontrol}
	</control>
	<control 
	field="FLD_FOREIGN_KEY">
	{$FLD_FOREIGN_KEY_editcontrol}
	</control>
	<control 
	field="FLD_FOREIGN_KEY_TABLE">
	{$FLD_FOREIGN_KEY_TABLE_editcontrol}
	</control>
	<control 
	field="FLD_DYN_NAME">
	{$FLD_DYN_NAME_editcontrol}
	</control>
	<control 
	field="FLD_DYN_UID">
	{$FLD_DYN_UID_editcontrol}
	</control>
	<control 
	field="FLD_FILTER">
	{$FLD_FILTER_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
