<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="event_time">
	{$event_time_editcontrol}
	</control>
	<control field="user_host">
	{$user_host_editcontrol}
	</control>
	<control field="thread_id">
	{$thread_id_editcontrol}
	</control>
	<control field="server_id">
	{$server_id_editcontrol}
	</control>
	<control field="command_type">
	{$command_type_editcontrol}
	</control>
	<control field="argument">
	{$argument_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>