<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel GMAIL_RELABELING view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN LABELING_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_LABELING_UID} bs-viewform-group" data-fieldname="LABELING_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_LABELING_UID}">
			{$label GMAIL_RELABELING LABELING_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$LABELING_UID_value}&nbsp;
		</div>
	</div>
</div>
{END LABELING_UID_fieldblock}
	{BEGIN CREATE_DATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CREATE_DATE} bs-viewform-group" data-fieldname="CREATE_DATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CREATE_DATE}">
			{$label GMAIL_RELABELING CREATE_DATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CREATE_DATE_value}&nbsp;
		</div>
	</div>
</div>
{END CREATE_DATE_fieldblock}
	{BEGIN APP_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_UID} bs-viewform-group" data-fieldname="APP_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_UID}">
			{$label GMAIL_RELABELING APP_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_UID_value}&nbsp;
		</div>
	</div>
</div>
{END APP_UID_fieldblock}
	{BEGIN DEL_INDEX_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DEL_INDEX} bs-viewform-group" data-fieldname="DEL_INDEX">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DEL_INDEX}">
			{$label GMAIL_RELABELING DEL_INDEX}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DEL_INDEX_value}&nbsp;
		</div>
	</div>
</div>
{END DEL_INDEX_fieldblock}
	{BEGIN CURRENT_LAST_INDEX_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CURRENT_LAST_INDEX} bs-viewform-group" data-fieldname="CURRENT_LAST_INDEX">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CURRENT_LAST_INDEX}">
			{$label GMAIL_RELABELING CURRENT_LAST_INDEX}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CURRENT_LAST_INDEX_value}&nbsp;
		</div>
	</div>
</div>
{END CURRENT_LAST_INDEX_fieldblock}
	{BEGIN UNASSIGNED_fieldblock}
<div class="container">
	<div class="{$fielddispclass_UNASSIGNED} bs-viewform-group" data-fieldname="UNASSIGNED">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_UNASSIGNED}">
			{$label GMAIL_RELABELING UNASSIGNED}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$UNASSIGNED_value}&nbsp;
		</div>
	</div>
</div>
{END UNASSIGNED_fieldblock}
	{BEGIN STATUS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_STATUS} bs-viewform-group" data-fieldname="STATUS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_STATUS}">
			{$label GMAIL_RELABELING STATUS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$STATUS_value}&nbsp;
		</div>
	</div>
</div>
{END STATUS_fieldblock}
	{BEGIN MSG_ERROR_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MSG_ERROR} bs-viewform-group" data-fieldname="MSG_ERROR">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MSG_ERROR}">
			{$label GMAIL_RELABELING MSG_ERROR}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MSG_ERROR_value}&nbsp;
		</div>
	</div>
</div>
{END MSG_ERROR_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
