<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="discription">
	{$discription_editcontrol}
	</control>
	<control 
	field="abstruct">
	{$abstruct_editcontrol}
	</control>
	<control 
	field="claim">
	{$claim_editcontrol}
	</control>
	<control 
	field="document">
	{$document_editcontrol}
	</control>
	<control 
	field="parent">
	{$parent_editcontrol}
	</control>
	<control 
	field="count">
	{$count_editcontrol}
	</control>
	<control 
	field="url">
	{$url_editcontrol}
	</control>
	<control 
	field="name">
	{$name_editcontrol}
	</control>
	<control 
	field="japanase">
	{$japanase_editcontrol}
	</control>
	<control 
	field="svm">
	{$svm_editcontrol}
	</control>
	<control 
	field="price">
	{$price_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
