<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="LAN_ID">
	{$LAN_ID_editcontrol}
	</control>
	<control field="LAN_LOCATION">
	{$LAN_LOCATION_editcontrol}
	</control>
	<control field="LAN_NAME">
	{$LAN_NAME_editcontrol}
	</control>
	<control field="LAN_NATIVE_NAME">
	{$LAN_NATIVE_NAME_editcontrol}
	</control>
	<control field="LAN_DIRECTION">
	{$LAN_DIRECTION_editcontrol}
	</control>
	<control field="LAN_WEIGHT">
	{$LAN_WEIGHT_editcontrol}
	</control>
	<control field="LAN_ENABLED">
	{$LAN_ENABLED_editcontrol}
	</control>
	<control field="LAN_CALENDAR">
	{$LAN_CALENDAR_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>