<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-add" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel LICENSE_MANAGER add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN LICENSE_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_UID}" data-fieldname="LICENSE_UID" data-signal-error-for="LICENSE_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_UID}">
		{BEGIN LICENSE_UID_label}{$label LICENSE_MANAGER LICENSE_UID}{END LICENSE_UID_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_UID">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_UID}
		</div>
	</div>
</div>
</div>
{END LICENSE_UID_fieldblock}

			{BEGIN LICENSE_USER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_USER}" data-fieldname="LICENSE_USER" data-signal-error-for="LICENSE_USER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_USER}">
		{BEGIN LICENSE_USER_label}{$label LICENSE_MANAGER LICENSE_USER}{END LICENSE_USER_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_USER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_USER">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_USER}
		</div>
	</div>
</div>
</div>
{END LICENSE_USER_fieldblock}

			{BEGIN LICENSE_START_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_START}" data-fieldname="LICENSE_START" data-signal-error-for="LICENSE_START{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_START}">
		{BEGIN LICENSE_START_label}{$label LICENSE_MANAGER LICENSE_START}{END LICENSE_START_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_START_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_START">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_START}
		</div>
	</div>
</div>
</div>
{END LICENSE_START_fieldblock}

			{BEGIN LICENSE_END_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_END}" data-fieldname="LICENSE_END" data-signal-error-for="LICENSE_END{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_END}">
		{BEGIN LICENSE_END_label}{$label LICENSE_MANAGER LICENSE_END}{END LICENSE_END_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_END_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_END">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_END}
		</div>
	</div>
</div>
</div>
{END LICENSE_END_fieldblock}

			{BEGIN LICENSE_SPAN_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_SPAN}" data-fieldname="LICENSE_SPAN" data-signal-error-for="LICENSE_SPAN{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_SPAN}">
		{BEGIN LICENSE_SPAN_label}{$label LICENSE_MANAGER LICENSE_SPAN}{END LICENSE_SPAN_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_SPAN_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_SPAN">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_SPAN}
		</div>
	</div>
</div>
</div>
{END LICENSE_SPAN_fieldblock}

			{BEGIN LICENSE_STATUS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_STATUS}" data-fieldname="LICENSE_STATUS" data-signal-error-for="LICENSE_STATUS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_STATUS}">
		{BEGIN LICENSE_STATUS_label}{$label LICENSE_MANAGER LICENSE_STATUS}{END LICENSE_STATUS_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_STATUS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_STATUS">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_STATUS}
		</div>
	</div>
</div>
</div>
{END LICENSE_STATUS_fieldblock}

			{BEGIN LICENSE_DATA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_DATA}" data-fieldname="LICENSE_DATA" data-signal-error-for="LICENSE_DATA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_DATA}">
		{BEGIN LICENSE_DATA_label}{$label LICENSE_MANAGER LICENSE_DATA}{END LICENSE_DATA_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_DATA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_DATA">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_DATA}
		</div>
	</div>
</div>
</div>
{END LICENSE_DATA_fieldblock}

			{BEGIN LICENSE_PATH_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_PATH}" data-fieldname="LICENSE_PATH" data-signal-error-for="LICENSE_PATH{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_PATH}">
		{BEGIN LICENSE_PATH_label}{$label LICENSE_MANAGER LICENSE_PATH}{END LICENSE_PATH_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_PATH_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_PATH">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_PATH}
		</div>
	</div>
</div>
</div>
{END LICENSE_PATH_fieldblock}

			{BEGIN LICENSE_WORKSPACE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_WORKSPACE}" data-fieldname="LICENSE_WORKSPACE" data-signal-error-for="LICENSE_WORKSPACE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_WORKSPACE}">
		{BEGIN LICENSE_WORKSPACE_label}{$label LICENSE_MANAGER LICENSE_WORKSPACE}{END LICENSE_WORKSPACE_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_WORKSPACE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_WORKSPACE">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_WORKSPACE}
		</div>
	</div>
</div>
</div>
{END LICENSE_WORKSPACE_fieldblock}

			{BEGIN LICENSE_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LICENSE_TYPE}" data-fieldname="LICENSE_TYPE" data-signal-error-for="LICENSE_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LICENSE_TYPE}">
		{BEGIN LICENSE_TYPE_label}{$label LICENSE_MANAGER LICENSE_TYPE}{END LICENSE_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$LICENSE_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LICENSE_TYPE">
		<div class="text-muted" >
		{$tooltip LICENSE_MANAGER LICENSE_TYPE}
		</div>
	</div>
</div>
</div>
{END LICENSE_TYPE_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
