<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-search" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel LIST_PAUSED search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN APP_UID_fieldblock}		
	<div class="container {$fielddispclass_APP_UID}" data-fieldname="APP_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_UID}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol1}
			</div>
		</div>
	</div>
{END APP_UID_fieldblock}
	{BEGIN DEL_INDEX_fieldblock}		
	<div class="container {$fielddispclass_DEL_INDEX}" data-fieldname="DEL_INDEX">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_INDEX}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_INDEX}
			</div>
			<div class="col-md-4" >
				{$DEL_INDEX_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_INDEX_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_INDEX_fieldblock}
	{BEGIN USR_UID_fieldblock}		
	<div class="container {$fielddispclass_USR_UID}" data-fieldname="USR_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED USR_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_USR_UID}
			</div>
			<div class="col-md-4" >
				{$USR_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$USR_UID_editcontrol1}
			</div>
		</div>
	</div>
{END USR_UID_fieldblock}
	{BEGIN TAS_UID_fieldblock}		
	<div class="container {$fielddispclass_TAS_UID}" data-fieldname="TAS_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED TAS_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_TAS_UID}
			</div>
			<div class="col-md-4" >
				{$TAS_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TAS_UID_editcontrol1}
			</div>
		</div>
	</div>
{END TAS_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}		
	<div class="container {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED PRO_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRO_UID}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRO_UID_editcontrol1}
			</div>
		</div>
	</div>
{END PRO_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}		
	<div class="container {$fielddispclass_APP_NUMBER}" data-fieldname="APP_NUMBER">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_NUMBER}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_NUMBER}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol1}
			</div>
		</div>
	</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_TITLE}" data-fieldname="APP_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_TITLE_fieldblock}
	{BEGIN APP_PRO_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_PRO_TITLE}" data-fieldname="APP_PRO_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_PRO_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_PRO_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_PRO_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_PRO_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_PRO_TITLE_fieldblock}
	{BEGIN APP_TAS_TITLE_fieldblock}		
	<div class="container {$fielddispclass_APP_TAS_TITLE}" data-fieldname="APP_TAS_TITLE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_TAS_TITLE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_TAS_TITLE}
			</div>
			<div class="col-md-4" >
				{$APP_TAS_TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_TAS_TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_TAS_TITLE_fieldblock}
	{BEGIN APP_PAUSED_DATE_fieldblock}		
	<div class="container {$fielddispclass_APP_PAUSED_DATE}" data-fieldname="APP_PAUSED_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_PAUSED_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_PAUSED_DATE}
			</div>
			<div class="col-md-4" >
				{$APP_PAUSED_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_PAUSED_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_PAUSED_DATE_fieldblock}
	{BEGIN APP_RESTART_DATE_fieldblock}		
	<div class="container {$fielddispclass_APP_RESTART_DATE}" data-fieldname="APP_RESTART_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED APP_RESTART_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_RESTART_DATE}
			</div>
			<div class="col-md-4" >
				{$APP_RESTART_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_RESTART_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END APP_RESTART_DATE_fieldblock}
	{BEGIN DEL_PREVIOUS_USR_UID_fieldblock}		
	<div class="container {$fielddispclass_DEL_PREVIOUS_USR_UID}" data-fieldname="DEL_PREVIOUS_USR_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_PREVIOUS_USR_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PREVIOUS_USR_UID}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_UID_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PREVIOUS_USR_UID_fieldblock}
	{BEGIN DEL_PREVIOUS_USR_USERNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_PREVIOUS_USR_USERNAME}" data-fieldname="DEL_PREVIOUS_USR_USERNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_PREVIOUS_USR_USERNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PREVIOUS_USR_USERNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_USERNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_USERNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PREVIOUS_USR_USERNAME_fieldblock}
	{BEGIN DEL_PREVIOUS_USR_FIRSTNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_PREVIOUS_USR_FIRSTNAME}" data-fieldname="DEL_PREVIOUS_USR_FIRSTNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_PREVIOUS_USR_FIRSTNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PREVIOUS_USR_FIRSTNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_FIRSTNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_FIRSTNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PREVIOUS_USR_FIRSTNAME_fieldblock}
	{BEGIN DEL_PREVIOUS_USR_LASTNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_PREVIOUS_USR_LASTNAME}" data-fieldname="DEL_PREVIOUS_USR_LASTNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_PREVIOUS_USR_LASTNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PREVIOUS_USR_LASTNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_LASTNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PREVIOUS_USR_LASTNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PREVIOUS_USR_LASTNAME_fieldblock}
	{BEGIN DEL_CURRENT_USR_USERNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_CURRENT_USR_USERNAME}" data-fieldname="DEL_CURRENT_USR_USERNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_CURRENT_USR_USERNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_CURRENT_USR_USERNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_USERNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_USERNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_CURRENT_USR_USERNAME_fieldblock}
	{BEGIN DEL_CURRENT_USR_FIRSTNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_CURRENT_USR_FIRSTNAME}" data-fieldname="DEL_CURRENT_USR_FIRSTNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_CURRENT_USR_FIRSTNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_CURRENT_USR_FIRSTNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_FIRSTNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_FIRSTNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_CURRENT_USR_FIRSTNAME_fieldblock}
	{BEGIN DEL_CURRENT_USR_LASTNAME_fieldblock}		
	<div class="container {$fielddispclass_DEL_CURRENT_USR_LASTNAME}" data-fieldname="DEL_CURRENT_USR_LASTNAME">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_CURRENT_USR_LASTNAME}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_CURRENT_USR_LASTNAME}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_LASTNAME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_CURRENT_USR_LASTNAME_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_CURRENT_USR_LASTNAME_fieldblock}
	{BEGIN DEL_DELEGATE_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_DELEGATE_DATE}" data-fieldname="DEL_DELEGATE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_DELEGATE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DELEGATE_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_DELEGATE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DELEGATE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DELEGATE_DATE_fieldblock}
	{BEGIN DEL_INIT_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_INIT_DATE}" data-fieldname="DEL_INIT_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_INIT_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_INIT_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_INIT_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_INIT_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_INIT_DATE_fieldblock}
	{BEGIN DEL_DUE_DATE_fieldblock}		
	<div class="container {$fielddispclass_DEL_DUE_DATE}" data-fieldname="DEL_DUE_DATE">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_DUE_DATE}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_DUE_DATE}
			</div>
			<div class="col-md-4" >
				{$DEL_DUE_DATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_DUE_DATE_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_DUE_DATE_fieldblock}
	{BEGIN DEL_PRIORITY_fieldblock}		
	<div class="container {$fielddispclass_DEL_PRIORITY}" data-fieldname="DEL_PRIORITY">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED DEL_PRIORITY}
			</div>
			<div class="col-md-2" >
				{$searchtype_DEL_PRIORITY}
			</div>
			<div class="col-md-4" >
				{$DEL_PRIORITY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEL_PRIORITY_editcontrol1}
			</div>
		</div>
	</div>
{END DEL_PRIORITY_fieldblock}
	{BEGIN PRO_ID_fieldblock}		
	<div class="container {$fielddispclass_PRO_ID}" data-fieldname="PRO_ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED PRO_ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_PRO_ID}
			</div>
			<div class="col-md-4" >
				{$PRO_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PRO_ID_editcontrol1}
			</div>
		</div>
	</div>
{END PRO_ID_fieldblock}
	{BEGIN USR_ID_fieldblock}		
	<div class="container {$fielddispclass_USR_ID}" data-fieldname="USR_ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED USR_ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_USR_ID}
			</div>
			<div class="col-md-4" >
				{$USR_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$USR_ID_editcontrol1}
			</div>
		</div>
	</div>
{END USR_ID_fieldblock}
	{BEGIN TAS_ID_fieldblock}		
	<div class="container {$fielddispclass_TAS_ID}" data-fieldname="TAS_ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label LIST_PAUSED TAS_ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_TAS_ID}
			</div>
			<div class="col-md-4" >
				{$TAS_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TAS_ID_editcontrol1}
			</div>
		</div>
	</div>
{END TAS_ID_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
