<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="LOG_CASE_UID">
	{$LOG_CASE_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control field="USR_NAME">
	{$USR_NAME_editcontrol}
	</control>
	<control field="EXEC_DATE">
	{$EXEC_DATE_editcontrol}
	</control>
	<control field="EXEC_HOUR">
	{$EXEC_HOUR_editcontrol}
	</control>
	<control field="RESULT">
	{$RESULT_editcontrol}
	</control>
	<control field="SCH_UID">
	{$SCH_UID_editcontrol}
	</control>
	<control field="WS_CREATE_CASE_STATUS">
	{$WS_CREATE_CASE_STATUS_editcontrol}
	</control>
	<control field="WS_ROUTE_CASE_STATUS">
	{$WS_ROUTE_CASE_STATUS_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>