<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="LOG_UID">
	{$LOG_UID_editcontrol}
	</control>
	<control 
	field="LOG_STATUS">
	{$LOG_STATUS_editcontrol}
	</control>
	<control 
	field="LOG_IP">
	{$LOG_IP_editcontrol}
	</control>
	<control 
	field="LOG_SID">
	{$LOG_SID_editcontrol}
	</control>
	<control 
	field="LOG_INIT_DATE">
	{$LOG_INIT_DATE_editcontrol}
	</control>
	<control 
	field="LOG_END_DATE">
	{$LOG_END_DATE_editcontrol}
	</control>
	<control 
	field="LOG_CLIENT_HOSTNAME">
	{$LOG_CLIENT_HOSTNAME_editcontrol}
	</control>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
