<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="MSGED_UID">
	{$MSGED_UID_editcontrol}
	</control>
	<control field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control field="EVN_UID">
	{$EVN_UID_editcontrol}
	</control>
	<control field="MSGT_UID">
	{$MSGT_UID_editcontrol}
	</control>
	<control field="MSGED_USR_UID">
	{$MSGED_USR_UID_editcontrol}
	</control>
	<control field="MSGED_VARIABLES">
	{$MSGED_VARIABLES_editcontrol}
	</control>
	<control field="MSGED_CORRELATION">
	{$MSGED_CORRELATION_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>