<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="MSGAPP_UID">
	{$MSGAPP_UID_editcontrol}
	</control>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="EVN_UID_THROW">
	{$EVN_UID_THROW_editcontrol}
	</control>
	<control 
	field="EVN_UID_CATCH">
	{$EVN_UID_CATCH_editcontrol}
	</control>
	<control 
	field="MSGAPP_VARIABLES">
	{$MSGAPP_VARIABLES_editcontrol}
	</control>
	<control 
	field="MSGAPP_CORRELATION">
	{$MSGAPP_CORRELATION_editcontrol}
	</control>
	<control 
	field="MSGAPP_THROW_DATE">
	{$MSGAPP_THROW_DATE_editcontrol}
	</control>
	<control 
	field="MSGAPP_CATCH_DATE">
	{$MSGAPP_CATCH_DATE_editcontrol}
	</control>
	<control 
	field="MSGAPP_STATUS">
	{$MSGAPP_STATUS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
