<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-search" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel modx_site_content search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN link_fieldblock}		
	<div class="container {$fielddispclass_link}" data-fieldname="link">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content link}
			</div>
			<div class="col-md-2" >
				{$searchtype_link}
			</div>
			<div class="col-md-4" >
				{$link_editcontrol}
			</div>
			<div class="col-md-4" >
				{$link_editcontrol1}
			</div>
		</div>
	</div>
{END link_fieldblock}
	{BEGIN id_fieldblock}		
	<div class="container {$fielddispclass_id}" data-fieldname="id">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content id}
			</div>
			<div class="col-md-2" >
				{$searchtype_id}
			</div>
			<div class="col-md-4" >
				{$id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$id_editcontrol1}
			</div>
		</div>
	</div>
{END id_fieldblock}
	{BEGIN url_fieldblock}		
	<div class="container {$fielddispclass_url}" data-fieldname="url">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content url}
			</div>
			<div class="col-md-2" >
				{$searchtype_url}
			</div>
			<div class="col-md-4" >
				{$url_editcontrol}
			</div>
			<div class="col-md-4" >
				{$url_editcontrol1}
			</div>
		</div>
	</div>
{END url_fieldblock}
	{BEGIN content_fieldblock}		
	<div class="container {$fielddispclass_content}" data-fieldname="content">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content content}
			</div>
			<div class="col-md-2" >
				{$searchtype_content}
			</div>
			<div class="col-md-4" >
				{$content_editcontrol}
			</div>
			<div class="col-md-4" >
				{$content_editcontrol1}
			</div>
		</div>
	</div>
{END content_fieldblock}
	{BEGIN introtext_fieldblock}		
	<div class="container {$fielddispclass_introtext}" data-fieldname="introtext">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content introtext}
			</div>
			<div class="col-md-2" >
				{$searchtype_introtext}
			</div>
			<div class="col-md-4" >
				{$introtext_editcontrol}
			</div>
			<div class="col-md-4" >
				{$introtext_editcontrol1}
			</div>
		</div>
	</div>
{END introtext_fieldblock}
	{BEGIN menuindex_fieldblock}		
	<div class="container {$fielddispclass_menuindex}" data-fieldname="menuindex">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content menuindex}
			</div>
			<div class="col-md-2" >
				{$searchtype_menuindex}
			</div>
			<div class="col-md-4" >
				{$menuindex_editcontrol}
			</div>
			<div class="col-md-4" >
				{$menuindex_editcontrol1}
			</div>
		</div>
	</div>
{END menuindex_fieldblock}
	{BEGIN richtext_fieldblock}		
	<div class="container {$fielddispclass_richtext}" data-fieldname="richtext">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content richtext}
			</div>
			<div class="col-md-2" >
				{$searchtype_richtext}
			</div>
			<div class="col-md-4" >
				{$richtext_editcontrol}
			</div>
			<div class="col-md-4" >
				{$richtext_editcontrol1}
			</div>
		</div>
	</div>
{END richtext_fieldblock}
	{BEGIN modx_site_snippet_id_fieldblock}		
	<div class="container {$fielddispclass_modx_site_snippet_id}" data-fieldname="modx_site_snippet_id">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content modx_site_snippet_id}
			</div>
			<div class="col-md-2" >
				{$searchtype_modx_site_snippet_id}
			</div>
			<div class="col-md-4" >
				{$modx_site_snippet_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$modx_site_snippet_id_editcontrol1}
			</div>
		</div>
	</div>
{END modx_site_snippet_id_fieldblock}
	{BEGIN modex_site_htmlsnippet_id_fieldblock}		
	<div class="container {$fielddispclass_modex_site_htmlsnippet_id}" data-fieldname="modex_site_htmlsnippet_id">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content modex_site_htmlsnippet_id}
			</div>
			<div class="col-md-2" >
				{$searchtype_modex_site_htmlsnippet_id}
			</div>
			<div class="col-md-4" >
				{$modex_site_htmlsnippet_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$modex_site_htmlsnippet_id_editcontrol1}
			</div>
		</div>
	</div>
{END modex_site_htmlsnippet_id_fieldblock}
	{BEGIN template_fieldblock}		
	<div class="container {$fielddispclass_template}" data-fieldname="template">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content template}
			</div>
			<div class="col-md-2" >
				{$searchtype_template}
			</div>
			<div class="col-md-4" >
				{$template_editcontrol}
			</div>
			<div class="col-md-4" >
				{$template_editcontrol1}
			</div>
		</div>
	</div>
{END template_fieldblock}
	{BEGIN type_fieldblock}		
	<div class="container {$fielddispclass_type}" data-fieldname="type">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content type}
			</div>
			<div class="col-md-2" >
				{$searchtype_type}
			</div>
			<div class="col-md-4" >
				{$type_editcontrol}
			</div>
			<div class="col-md-4" >
				{$type_editcontrol1}
			</div>
		</div>
	</div>
{END type_fieldblock}
	{BEGIN publishedon_fieldblock}		
	<div class="container {$fielddispclass_publishedon}" data-fieldname="publishedon">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content publishedon}
			</div>
			<div class="col-md-2" >
				{$searchtype_publishedon}
			</div>
			<div class="col-md-4" >
				{$publishedon_editcontrol}
			</div>
			<div class="col-md-4" >
				{$publishedon_editcontrol1}
			</div>
		</div>
	</div>
{END publishedon_fieldblock}
	{BEGIN contentType_fieldblock}		
	<div class="container {$fielddispclass_contentType}" data-fieldname="contentType">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content contentType}
			</div>
			<div class="col-md-2" >
				{$searchtype_contentType}
			</div>
			<div class="col-md-4" >
				{$contentType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$contentType_editcontrol1}
			</div>
		</div>
	</div>
{END contentType_fieldblock}
	{BEGIN pagetitle_fieldblock}		
	<div class="container {$fielddispclass_pagetitle}" data-fieldname="pagetitle">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content pagetitle}
			</div>
			<div class="col-md-2" >
				{$searchtype_pagetitle}
			</div>
			<div class="col-md-4" >
				{$pagetitle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$pagetitle_editcontrol1}
			</div>
		</div>
	</div>
{END pagetitle_fieldblock}
	{BEGIN longtitle_fieldblock}		
	<div class="container {$fielddispclass_longtitle}" data-fieldname="longtitle">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content longtitle}
			</div>
			<div class="col-md-2" >
				{$searchtype_longtitle}
			</div>
			<div class="col-md-4" >
				{$longtitle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$longtitle_editcontrol1}
			</div>
		</div>
	</div>
{END longtitle_fieldblock}
	{BEGIN description_fieldblock}		
	<div class="container {$fielddispclass_description}" data-fieldname="description">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content description}
			</div>
			<div class="col-md-2" >
				{$searchtype_description}
			</div>
			<div class="col-md-4" >
				{$description_editcontrol}
			</div>
			<div class="col-md-4" >
				{$description_editcontrol1}
			</div>
		</div>
	</div>
{END description_fieldblock}
	{BEGIN alias_fieldblock}		
	<div class="container {$fielddispclass_alias}" data-fieldname="alias">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content alias}
			</div>
			<div class="col-md-2" >
				{$searchtype_alias}
			</div>
			<div class="col-md-4" >
				{$alias_editcontrol}
			</div>
			<div class="col-md-4" >
				{$alias_editcontrol1}
			</div>
		</div>
	</div>
{END alias_fieldblock}
	{BEGIN link_attributes_fieldblock}		
	<div class="container {$fielddispclass_link_attributes}" data-fieldname="link_attributes">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content link_attributes}
			</div>
			<div class="col-md-2" >
				{$searchtype_link_attributes}
			</div>
			<div class="col-md-4" >
				{$link_attributes_editcontrol}
			</div>
			<div class="col-md-4" >
				{$link_attributes_editcontrol1}
			</div>
		</div>
	</div>
{END link_attributes_fieldblock}
	{BEGIN published_fieldblock}		
	<div class="container {$fielddispclass_published}" data-fieldname="published">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content published}
			</div>
			<div class="col-md-2" >
				{$searchtype_published}
			</div>
			<div class="col-md-4" >
				{$published_editcontrol}
			</div>
			<div class="col-md-4" >
				{$published_editcontrol1}
			</div>
		</div>
	</div>
{END published_fieldblock}
	{BEGIN pub_date_fieldblock}		
	<div class="container {$fielddispclass_pub_date}" data-fieldname="pub_date">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content pub_date}
			</div>
			<div class="col-md-2" >
				{$searchtype_pub_date}
			</div>
			<div class="col-md-4" >
				{$pub_date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$pub_date_editcontrol1}
			</div>
		</div>
	</div>
{END pub_date_fieldblock}
	{BEGIN unpub_date_fieldblock}		
	<div class="container {$fielddispclass_unpub_date}" data-fieldname="unpub_date">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content unpub_date}
			</div>
			<div class="col-md-2" >
				{$searchtype_unpub_date}
			</div>
			<div class="col-md-4" >
				{$unpub_date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$unpub_date_editcontrol1}
			</div>
		</div>
	</div>
{END unpub_date_fieldblock}
	{BEGIN parent_fieldblock}		
	<div class="container {$fielddispclass_parent}" data-fieldname="parent">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content parent}
			</div>
			<div class="col-md-2" >
				{$searchtype_parent}
			</div>
			<div class="col-md-4" >
				{$parent_editcontrol}
			</div>
			<div class="col-md-4" >
				{$parent_editcontrol1}
			</div>
		</div>
	</div>
{END parent_fieldblock}
	{BEGIN isfolder_fieldblock}		
	<div class="container {$fielddispclass_isfolder}" data-fieldname="isfolder">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content isfolder}
			</div>
			<div class="col-md-2" >
				{$searchtype_isfolder}
			</div>
			<div class="col-md-4" >
				{$isfolder_editcontrol}
			</div>
			<div class="col-md-4" >
				{$isfolder_editcontrol1}
			</div>
		</div>
	</div>
{END isfolder_fieldblock}
	{BEGIN searchable_fieldblock}		
	<div class="container {$fielddispclass_searchable}" data-fieldname="searchable">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content searchable}
			</div>
			<div class="col-md-2" >
				{$searchtype_searchable}
			</div>
			<div class="col-md-4" >
				{$searchable_editcontrol}
			</div>
			<div class="col-md-4" >
				{$searchable_editcontrol1}
			</div>
		</div>
	</div>
{END searchable_fieldblock}
	{BEGIN cacheable_fieldblock}		
	<div class="container {$fielddispclass_cacheable}" data-fieldname="cacheable">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content cacheable}
			</div>
			<div class="col-md-2" >
				{$searchtype_cacheable}
			</div>
			<div class="col-md-4" >
				{$cacheable_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cacheable_editcontrol1}
			</div>
		</div>
	</div>
{END cacheable_fieldblock}
	{BEGIN createdby_fieldblock}		
	<div class="container {$fielddispclass_createdby}" data-fieldname="createdby">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content createdby}
			</div>
			<div class="col-md-2" >
				{$searchtype_createdby}
			</div>
			<div class="col-md-4" >
				{$createdby_editcontrol}
			</div>
			<div class="col-md-4" >
				{$createdby_editcontrol1}
			</div>
		</div>
	</div>
{END createdby_fieldblock}
	{BEGIN createdon_fieldblock}		
	<div class="container {$fielddispclass_createdon}" data-fieldname="createdon">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content createdon}
			</div>
			<div class="col-md-2" >
				{$searchtype_createdon}
			</div>
			<div class="col-md-4" >
				{$createdon_editcontrol}
			</div>
			<div class="col-md-4" >
				{$createdon_editcontrol1}
			</div>
		</div>
	</div>
{END createdon_fieldblock}
	{BEGIN editedby_fieldblock}		
	<div class="container {$fielddispclass_editedby}" data-fieldname="editedby">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content editedby}
			</div>
			<div class="col-md-2" >
				{$searchtype_editedby}
			</div>
			<div class="col-md-4" >
				{$editedby_editcontrol}
			</div>
			<div class="col-md-4" >
				{$editedby_editcontrol1}
			</div>
		</div>
	</div>
{END editedby_fieldblock}
	{BEGIN editedon_fieldblock}		
	<div class="container {$fielddispclass_editedon}" data-fieldname="editedon">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content editedon}
			</div>
			<div class="col-md-2" >
				{$searchtype_editedon}
			</div>
			<div class="col-md-4" >
				{$editedon_editcontrol}
			</div>
			<div class="col-md-4" >
				{$editedon_editcontrol1}
			</div>
		</div>
	</div>
{END editedon_fieldblock}
	{BEGIN deleted_fieldblock}		
	<div class="container {$fielddispclass_deleted}" data-fieldname="deleted">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content deleted}
			</div>
			<div class="col-md-2" >
				{$searchtype_deleted}
			</div>
			<div class="col-md-4" >
				{$deleted_editcontrol}
			</div>
			<div class="col-md-4" >
				{$deleted_editcontrol1}
			</div>
		</div>
	</div>
{END deleted_fieldblock}
	{BEGIN deletedon_fieldblock}		
	<div class="container {$fielddispclass_deletedon}" data-fieldname="deletedon">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content deletedon}
			</div>
			<div class="col-md-2" >
				{$searchtype_deletedon}
			</div>
			<div class="col-md-4" >
				{$deletedon_editcontrol}
			</div>
			<div class="col-md-4" >
				{$deletedon_editcontrol1}
			</div>
		</div>
	</div>
{END deletedon_fieldblock}
	{BEGIN deletedby_fieldblock}		
	<div class="container {$fielddispclass_deletedby}" data-fieldname="deletedby">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content deletedby}
			</div>
			<div class="col-md-2" >
				{$searchtype_deletedby}
			</div>
			<div class="col-md-4" >
				{$deletedby_editcontrol}
			</div>
			<div class="col-md-4" >
				{$deletedby_editcontrol1}
			</div>
		</div>
	</div>
{END deletedby_fieldblock}
	{BEGIN publishedby_fieldblock}		
	<div class="container {$fielddispclass_publishedby}" data-fieldname="publishedby">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content publishedby}
			</div>
			<div class="col-md-2" >
				{$searchtype_publishedby}
			</div>
			<div class="col-md-4" >
				{$publishedby_editcontrol}
			</div>
			<div class="col-md-4" >
				{$publishedby_editcontrol1}
			</div>
		</div>
	</div>
{END publishedby_fieldblock}
	{BEGIN menutitle_fieldblock}		
	<div class="container {$fielddispclass_menutitle}" data-fieldname="menutitle">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content menutitle}
			</div>
			<div class="col-md-2" >
				{$searchtype_menutitle}
			</div>
			<div class="col-md-4" >
				{$menutitle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$menutitle_editcontrol1}
			</div>
		</div>
	</div>
{END menutitle_fieldblock}
	{BEGIN donthit_fieldblock}		
	<div class="container {$fielddispclass_donthit}" data-fieldname="donthit">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content donthit}
			</div>
			<div class="col-md-2" >
				{$searchtype_donthit}
			</div>
			<div class="col-md-4" >
				{$donthit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$donthit_editcontrol1}
			</div>
		</div>
	</div>
{END donthit_fieldblock}
	{BEGIN haskeywords_fieldblock}		
	<div class="container {$fielddispclass_haskeywords}" data-fieldname="haskeywords">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content haskeywords}
			</div>
			<div class="col-md-2" >
				{$searchtype_haskeywords}
			</div>
			<div class="col-md-4" >
				{$haskeywords_editcontrol}
			</div>
			<div class="col-md-4" >
				{$haskeywords_editcontrol1}
			</div>
		</div>
	</div>
{END haskeywords_fieldblock}
	{BEGIN hasmetatags_fieldblock}		
	<div class="container {$fielddispclass_hasmetatags}" data-fieldname="hasmetatags">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content hasmetatags}
			</div>
			<div class="col-md-2" >
				{$searchtype_hasmetatags}
			</div>
			<div class="col-md-4" >
				{$hasmetatags_editcontrol}
			</div>
			<div class="col-md-4" >
				{$hasmetatags_editcontrol1}
			</div>
		</div>
	</div>
{END hasmetatags_fieldblock}
	{BEGIN privateweb_fieldblock}		
	<div class="container {$fielddispclass_privateweb}" data-fieldname="privateweb">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content privateweb}
			</div>
			<div class="col-md-2" >
				{$searchtype_privateweb}
			</div>
			<div class="col-md-4" >
				{$privateweb_editcontrol}
			</div>
			<div class="col-md-4" >
				{$privateweb_editcontrol1}
			</div>
		</div>
	</div>
{END privateweb_fieldblock}
	{BEGIN privatemgr_fieldblock}		
	<div class="container {$fielddispclass_privatemgr}" data-fieldname="privatemgr">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content privatemgr}
			</div>
			<div class="col-md-2" >
				{$searchtype_privatemgr}
			</div>
			<div class="col-md-4" >
				{$privatemgr_editcontrol}
			</div>
			<div class="col-md-4" >
				{$privatemgr_editcontrol1}
			</div>
		</div>
	</div>
{END privatemgr_fieldblock}
	{BEGIN content_dispo_fieldblock}		
	<div class="container {$fielddispclass_content_dispo}" data-fieldname="content_dispo">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content content_dispo}
			</div>
			<div class="col-md-2" >
				{$searchtype_content_dispo}
			</div>
			<div class="col-md-4" >
				{$content_dispo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$content_dispo_editcontrol1}
			</div>
		</div>
	</div>
{END content_dispo_fieldblock}
	{BEGIN hidemenu_fieldblock}		
	<div class="container {$fielddispclass_hidemenu}" data-fieldname="hidemenu">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content hidemenu}
			</div>
			<div class="col-md-2" >
				{$searchtype_hidemenu}
			</div>
			<div class="col-md-4" >
				{$hidemenu_editcontrol}
			</div>
			<div class="col-md-4" >
				{$hidemenu_editcontrol1}
			</div>
		</div>
	</div>
{END hidemenu_fieldblock}
	{BEGIN alias_visible_fieldblock}		
	<div class="container {$fielddispclass_alias_visible}" data-fieldname="alias_visible">
		<div class="form-group">
			<div class="col-md-2">
				{$label modx_site_content alias_visible}
			</div>
			<div class="col-md-2" >
				{$searchtype_alias_visible}
			</div>
			<div class="col-md-4" >
				{$alias_visible_editcontrol}
			</div>
			<div class="col-md-4" >
				{$alias_visible_editcontrol1}
			</div>
		</div>
	</div>
{END alias_visible_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
