<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 



<div class="bs-gridintab-container">







{BEGIN details_modx_site_templates}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">{$caption modx_site_templates}
		<span>
{BEGIN details_inlineadd_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_templates_attrs}>{mlang_message INLINE_ADD}</button>
{END details_inlineadd_modx_site_templates_link}		
{BEGIN details_add_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_templates_attrs}>{mlang_message ADD_NEW}</button>
{END details_add_modx_site_templates_link}
{BEGIN details_edit_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_templates_attrs}>{mlang_message EDIT}</button>
{END details_edit_modx_site_templates_link}
{BEGIN details_updateselected_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_templates_attrs}>{mlang_message UPDATE_SELECTED}</button>
{END details_updateselected_modx_site_templates_link}


{BEGIN details_delete_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_templates_attrs}>{mlang_message DELETE}</button>
{END details_delete_modx_site_templates_link}

{BEGIN saveall_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_templates_attrs} {$savealllink_modx_site_templates_span}>{mlang_message SAVE_ALL}</button>
{END saveall_modx_site_templates_link}
{BEGIN cancelall_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_templates_attrs} {$cancelalllink_modx_site_templates_span}>{mlang_message CANCEL_ALL}</button>
{END cancelall_modx_site_templates_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_templates}
</div>
</div>
</div>
{END details_modx_site_templates}
	
	
	

</div>



<div class="bs-gridintab-container">







{BEGIN details_modx_site_snippets}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">{$caption modx_site_snippets}
		<span>
{BEGIN details_inlineadd_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_snippets_attrs}>{mlang_message INLINE_ADD}</button>
{END details_inlineadd_modx_site_snippets_link}		
{BEGIN details_add_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_snippets_attrs}>{mlang_message ADD_NEW}</button>
{END details_add_modx_site_snippets_link}
{BEGIN details_edit_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_snippets_attrs}>{mlang_message EDIT}</button>
{END details_edit_modx_site_snippets_link}
{BEGIN details_updateselected_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_snippets_attrs}>{mlang_message UPDATE_SELECTED}</button>
{END details_updateselected_modx_site_snippets_link}


{BEGIN details_delete_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_snippets_attrs}>{mlang_message DELETE}</button>
{END details_delete_modx_site_snippets_link}

{BEGIN saveall_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_snippets_attrs} {$savealllink_modx_site_snippets_span}>{mlang_message SAVE_ALL}</button>
{END saveall_modx_site_snippets_link}
{BEGIN cancelall_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_snippets_attrs} {$cancelalllink_modx_site_snippets_span}>{mlang_message CANCEL_ALL}</button>
{END cancelall_modx_site_snippets_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_snippets}
</div>
</div>
</div>
{END details_modx_site_snippets}
	
	
	

</div>



<div class="bs-gridintab-container">







{BEGIN details_modx_site_htmlsnippets}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">{$caption modx_site_htmlsnippets}
		<span>
{BEGIN details_inlineadd_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_htmlsnippets_attrs}>{mlang_message INLINE_ADD}</button>
{END details_inlineadd_modx_site_htmlsnippets_link}		
{BEGIN details_add_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_htmlsnippets_attrs}>{mlang_message ADD_NEW}</button>
{END details_add_modx_site_htmlsnippets_link}
{BEGIN details_edit_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_htmlsnippets_attrs}>{mlang_message EDIT}</button>
{END details_edit_modx_site_htmlsnippets_link}
{BEGIN details_updateselected_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_htmlsnippets_attrs}>{mlang_message UPDATE_SELECTED}</button>
{END details_updateselected_modx_site_htmlsnippets_link}


{BEGIN details_delete_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_htmlsnippets_attrs}>{mlang_message DELETE}</button>
{END details_delete_modx_site_htmlsnippets_link}

{BEGIN saveall_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_htmlsnippets_attrs} {$savealllink_modx_site_htmlsnippets_span}>{mlang_message SAVE_ALL}</button>
{END saveall_modx_site_htmlsnippets_link}
{BEGIN cancelall_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_htmlsnippets_attrs} {$cancelalllink_modx_site_htmlsnippets_span}>{mlang_message CANCEL_ALL}</button>
{END cancelall_modx_site_htmlsnippets_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_htmlsnippets}
</div>
</div>
</div>
{END details_modx_site_htmlsnippets}
	
	
	

</div>







</div>
{END container_tabfields}

</div>