<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN unpub_date_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_unpub_date}" data-fieldname="unpub_date" >
		<label class=" control-label" for="{$labelfor_unpub_date}">
			{$label modx_site_content_child unpub_date}
		</label>
		<div class="" >
			{$unpub_date_value}
		</div>
	</div>
{END unpub_date_tabfieldblock}
{BEGIN parent_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_parent}" data-fieldname="parent" >
		<label class=" control-label" for="{$labelfor_parent}">
			{$label modx_site_content_child parent}
		</label>
		<div class="" >
			{$parent_value}
		</div>
	</div>
{END parent_tabfieldblock}
{BEGIN isfolder_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_isfolder}" data-fieldname="isfolder" >
		<label class=" control-label" for="{$labelfor_isfolder}">
			{$label modx_site_content_child isfolder}
		</label>
		<div class="" >
			{$isfolder_value}
		</div>
	</div>
{END isfolder_tabfieldblock}
{BEGIN searchable_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_searchable}" data-fieldname="searchable" >
		<label class=" control-label" for="{$labelfor_searchable}">
			{$label modx_site_content_child searchable}
		</label>
		<div class="" >
			{$searchable_value}
		</div>
	</div>
{END searchable_tabfieldblock}
{BEGIN cacheable_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_cacheable}" data-fieldname="cacheable" >
		<label class=" control-label" for="{$labelfor_cacheable}">
			{$label modx_site_content_child cacheable}
		</label>
		<div class="" >
			{$cacheable_value}
		</div>
	</div>
{END cacheable_tabfieldblock}
{BEGIN createdby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_createdby}" data-fieldname="createdby" >
		<label class=" control-label" for="{$labelfor_createdby}">
			{$label modx_site_content_child createdby}
		</label>
		<div class="" >
			{$createdby_value}
		</div>
	</div>
{END createdby_tabfieldblock}
{BEGIN createdon_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_createdon}" data-fieldname="createdon" >
		<label class=" control-label" for="{$labelfor_createdon}">
			{$label modx_site_content_child createdon}
		</label>
		<div class="" >
			{$createdon_value}
		</div>
	</div>
{END createdon_tabfieldblock}
{BEGIN editedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_editedby}" data-fieldname="editedby" >
		<label class=" control-label" for="{$labelfor_editedby}">
			{$label modx_site_content_child editedby}
		</label>
		<div class="" >
			{$editedby_value}
		</div>
	</div>
{END editedby_tabfieldblock}
{BEGIN editedon_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_editedon}" data-fieldname="editedon" >
		<label class=" control-label" for="{$labelfor_editedon}">
			{$label modx_site_content_child editedon}
		</label>
		<div class="" >
			{$editedon_value}
		</div>
	</div>
{END editedon_tabfieldblock}
{BEGIN deleted_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_deleted}" data-fieldname="deleted" >
		<label class=" control-label" for="{$labelfor_deleted}">
			{$label modx_site_content_child deleted}
		</label>
		<div class="" >
			{$deleted_value}
		</div>
	</div>
{END deleted_tabfieldblock}
{BEGIN deletedon_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_deletedon}" data-fieldname="deletedon" >
		<label class=" control-label" for="{$labelfor_deletedon}">
			{$label modx_site_content_child deletedon}
		</label>
		<div class="" >
			{$deletedon_value}
		</div>
	</div>
{END deletedon_tabfieldblock}
{BEGIN deletedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_deletedby}" data-fieldname="deletedby" >
		<label class=" control-label" for="{$labelfor_deletedby}">
			{$label modx_site_content_child deletedby}
		</label>
		<div class="" >
			{$deletedby_value}
		</div>
	</div>
{END deletedby_tabfieldblock}
{BEGIN publishedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_publishedby}" data-fieldname="publishedby" >
		<label class=" control-label" for="{$labelfor_publishedby}">
			{$label modx_site_content_child publishedby}
		</label>
		<div class="" >
			{$publishedby_value}
		</div>
	</div>
{END publishedby_tabfieldblock}
{BEGIN menutitle_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_menutitle}" data-fieldname="menutitle" >
		<label class=" control-label" for="{$labelfor_menutitle}">
			{$label modx_site_content_child menutitle}
		</label>
		<div class="" >
			{$menutitle_value}
		</div>
	</div>
{END menutitle_tabfieldblock}
{BEGIN donthit_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_donthit}" data-fieldname="donthit" >
		<label class=" control-label" for="{$labelfor_donthit}">
			{$label modx_site_content_child donthit}
		</label>
		<div class="" >
			{$donthit_value}
		</div>
	</div>
{END donthit_tabfieldblock}
{BEGIN haskeywords_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_haskeywords}" data-fieldname="haskeywords" >
		<label class=" control-label" for="{$labelfor_haskeywords}">
			{$label modx_site_content_child haskeywords}
		</label>
		<div class="" >
			{$haskeywords_value}
		</div>
	</div>
{END haskeywords_tabfieldblock}
{BEGIN hasmetatags_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_hasmetatags}" data-fieldname="hasmetatags" >
		<label class=" control-label" for="{$labelfor_hasmetatags}">
			{$label modx_site_content_child hasmetatags}
		</label>
		<div class="" >
			{$hasmetatags_value}
		</div>
	</div>
{END hasmetatags_tabfieldblock}
{BEGIN privateweb_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_privateweb}" data-fieldname="privateweb" >
		<label class=" control-label" for="{$labelfor_privateweb}">
			{$label modx_site_content_child privateweb}
		</label>
		<div class="" >
			{$privateweb_value}
		</div>
	</div>
{END privateweb_tabfieldblock}
{BEGIN privatemgr_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_privatemgr}" data-fieldname="privatemgr" >
		<label class=" control-label" for="{$labelfor_privatemgr}">
			{$label modx_site_content_child privatemgr}
		</label>
		<div class="" >
			{$privatemgr_value}
		</div>
	</div>
{END privatemgr_tabfieldblock}
{BEGIN content_dispo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_content_dispo}" data-fieldname="content_dispo" >
		<label class=" control-label" for="{$labelfor_content_dispo}">
			{$label modx_site_content_child content_dispo}
		</label>
		<div class="" >
			{$content_dispo_value}
		</div>
	</div>
{END content_dispo_tabfieldblock}
{BEGIN hidemenu_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_hidemenu}" data-fieldname="hidemenu" >
		<label class=" control-label" for="{$labelfor_hidemenu}">
			{$label modx_site_content_child hidemenu}
		</label>
		<div class="" >
			{$hidemenu_value}
		</div>
	</div>
{END hidemenu_tabfieldblock}
{BEGIN alias_visible_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_alias_visible}" data-fieldname="alias_visible" >
		<label class=" control-label" for="{$labelfor_alias_visible}">
			{$label modx_site_content_child alias_visible}
		</label>
		<div class="" >
			{$alias_visible_value}
		</div>
	</div>
{END alias_visible_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>