<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="modx_site_content_id">
	{$modx_site_content_id_editcontrol}
	</control>
	<control 
	field="name">
	{$name_editcontrol}
	</control>
	<control 
		type="FCK"
	field="snippet">
	{$snippet_editcontrol}
	</control>
	<control 
	field="description">
	{$description_editcontrol}
	</control>
	<control 
	field="published">
	{$published_editcontrol}
	</control>
	<control 
	field="pub_date">
	{$pub_date_editcontrol}
	</control>
	<control 
	field="unpub_date">
	{$unpub_date_editcontrol}
	</control>
	<control 
	field="editor_type">
	{$editor_type_editcontrol}
	</control>
	<control 
	field="category">
	{$category_editcontrol}
	</control>
	<control 
	field="cache_type">
	{$cache_type_editcontrol}
	</control>
	<control 
	field="locked">
	{$locked_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
