<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN content_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_content}" data-fieldname="content" >
		<label class=" control-label" for="{$labelfor_content}">
			{$label modx_site_content content}
		</label>
		<div class="" >
			{$content_value}
		</div>
	</div>
{END content_tabfieldblock}
{BEGIN introtext_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_introtext}" data-fieldname="introtext" >
		<label class=" control-label" for="{$labelfor_introtext}">
			{$label modx_site_content introtext}
		</label>
		<div class="" >
			{$introtext_value}
		</div>
	</div>
{END introtext_tabfieldblock}
{BEGIN menuindex_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_menuindex}" data-fieldname="menuindex" >
		<label class=" control-label" for="{$labelfor_menuindex}">
			{$label modx_site_content menuindex}
		</label>
		<div class="" >
			{$menuindex_value}
		</div>
	</div>
{END menuindex_tabfieldblock}
{BEGIN richtext_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_richtext}" data-fieldname="richtext" >
		<label class=" control-label" for="{$labelfor_richtext}">
			{$label modx_site_content richtext}
		</label>
		<div class="" >
			{$richtext_value}
		</div>
	</div>
{END richtext_tabfieldblock}
{BEGIN modx_site_snippet_id_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_modx_site_snippet_id}" data-fieldname="modx_site_snippet_id" >
		<label class=" control-label" for="{$labelfor_modx_site_snippet_id}">
			{$label modx_site_content modx_site_snippet_id}
		</label>
		<div class="" >
			{$modx_site_snippet_id_value}
		</div>
	</div>
{END modx_site_snippet_id_tabfieldblock}
{BEGIN modex_site_htmlsnippet_id_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_modex_site_htmlsnippet_id}" data-fieldname="modex_site_htmlsnippet_id" >
		<label class=" control-label" for="{$labelfor_modex_site_htmlsnippet_id}">
			{$label modx_site_content modex_site_htmlsnippet_id}
		</label>
		<div class="" >
			{$modex_site_htmlsnippet_id_value}
		</div>
	</div>
{END modex_site_htmlsnippet_id_tabfieldblock}
{BEGIN template_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_template}" data-fieldname="template" >
		<label class=" control-label" for="{$labelfor_template}">
			{$label modx_site_content template}
		</label>
		<div class="" >
			{$template_value}
		</div>
	</div>
{END template_tabfieldblock}
{BEGIN type_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_type}" data-fieldname="type" >
		<label class=" control-label" for="{$labelfor_type}">
			{$label modx_site_content type}
		</label>
		<div class="" >
			{$type_value}
		</div>
	</div>
{END type_tabfieldblock}
{BEGIN publishedon_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_publishedon}" data-fieldname="publishedon" >
		<label class=" control-label" for="{$labelfor_publishedon}">
			{$label modx_site_content publishedon}
		</label>
		<div class="" >
			{$publishedon_value}
		</div>
	</div>
{END publishedon_tabfieldblock}
{BEGIN contentType_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_contentType}" data-fieldname="contentType" >
		<label class=" control-label" for="{$labelfor_contentType}">
			{$label modx_site_content contentType}
		</label>
		<div class="" >
			{$contentType_value}
		</div>
	</div>
{END contentType_tabfieldblock}
{BEGIN pagetitle_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_pagetitle}" data-fieldname="pagetitle" >
		<label class=" control-label" for="{$labelfor_pagetitle}">
			{$label modx_site_content pagetitle}
		</label>
		<div class="" >
			{$pagetitle_value}
		</div>
	</div>
{END pagetitle_tabfieldblock}
{BEGIN longtitle_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_longtitle}" data-fieldname="longtitle" >
		<label class=" control-label" for="{$labelfor_longtitle}">
			{$label modx_site_content longtitle}
		</label>
		<div class="" >
			{$longtitle_value}
		</div>
	</div>
{END longtitle_tabfieldblock}
{BEGIN description_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_description}" data-fieldname="description" >
		<label class=" control-label" for="{$labelfor_description}">
			{$label modx_site_content description}
		</label>
		<div class="" >
			{$description_value}
		</div>
	</div>
{END description_tabfieldblock}
{BEGIN alias_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_alias}" data-fieldname="alias" >
		<label class=" control-label" for="{$labelfor_alias}">
			{$label modx_site_content alias}
		</label>
		<div class="" >
			{$alias_value}
		</div>
	</div>
{END alias_tabfieldblock}
{BEGIN link_attributes_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_link_attributes}" data-fieldname="link_attributes" >
		<label class=" control-label" for="{$labelfor_link_attributes}">
			{$label modx_site_content link_attributes}
		</label>
		<div class="" >
			{$link_attributes_value}
		</div>
	</div>
{END link_attributes_tabfieldblock}
{BEGIN published_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_published}" data-fieldname="published" >
		<label class=" control-label" for="{$labelfor_published}">
			{$label modx_site_content published}
		</label>
		<div class="" >
			{$published_value}
		</div>
	</div>
{END published_tabfieldblock}
{BEGIN pub_date_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_pub_date}" data-fieldname="pub_date" >
		<label class=" control-label" for="{$labelfor_pub_date}">
			{$label modx_site_content pub_date}
		</label>
		<div class="" >
			{$pub_date_value}
		</div>
	</div>
{END pub_date_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>