<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="modx_site_content_id">
	{$modx_site_content_id_editcontrol}
	</control>
	<control 
	field="boot">
	{$boot_editcontrol}
	</control>
	<control 
	field="name">
	{$name_editcontrol}
	</control>
	<control 
	field="snippet">
	{$snippet_editcontrol}
	</control>
	<control 
	field="description">
	{$description_editcontrol}
	</control>
	<control 
	field="editor_type">
	{$editor_type_editcontrol}
	</control>
	<control 
	field="category">
	{$category_editcontrol}
	</control>
	<control 
	field="cache_type">
	{$cache_type_editcontrol}
	</control>
	<control 
	field="locked">
	{$locked_editcontrol}
	</control>
	<control 
	field="properties">
	{$properties_editcontrol}
	</control>
	<control 
	field="moduleguid">
	{$moduleguid_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
