<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
		type="FCK"
	field="content">
	{$content_editcontrol}
	</control>
	<control 
	field="menutitle">
	{$menutitle_editcontrol}
	</control>
	<control 
	field="alias">
	{$alias_editcontrol}
	</control>
	<control 
	field="alias_visible">
	{$alias_visible_editcontrol}
	</control>
	<control 
	field="published">
	{$published_editcontrol}
	</control>
	<control 
	field="publishedon">
	{$publishedon_editcontrol}
	</control>
	<control 
	field="pub_date">
	{$pub_date_editcontrol}
	</control>
	<control 
	field="pagetitle">
	{$pagetitle_editcontrol}
	</control>
	<control 
	field="introtext">
	{$introtext_editcontrol}
	</control>
	<control 
	field="menuindex">
	{$menuindex_editcontrol}
	</control>
	<control 
	field="richtext">
	{$richtext_editcontrol}
	</control>
	<control 
	field="modx_site_snippet_id">
	{$modx_site_snippet_id_editcontrol}
	</control>
	<control 
	field="modex_site_htmlsnippet_id">
	{$modex_site_htmlsnippet_id_editcontrol}
	</control>
	<control 
	field="template">
	{$template_editcontrol}
	</control>
	<control 
	field="type">
	{$type_editcontrol}
	</control>
	<control 
	field="contentType">
	{$contentType_editcontrol}
	</control>
	<control 
	field="longtitle">
	{$longtitle_editcontrol}
	</control>
	<control 
	field="description">
	{$description_editcontrol}
	</control>
	<control 
	field="link_attributes">
	{$link_attributes_editcontrol}
	</control>
	<control 
	field="unpub_date">
	{$unpub_date_editcontrol}
	</control>
	<control 
	field="parent">
	{$parent_editcontrol}
	</control>
	<control 
	field="isfolder">
	{$isfolder_editcontrol}
	</control>
	<control 
	field="searchable">
	{$searchable_editcontrol}
	</control>
	<control 
	field="cacheable">
	{$cacheable_editcontrol}
	</control>
	<control 
	field="createdby">
	{$createdby_editcontrol}
	</control>
	<control 
	field="createdon">
	{$createdon_editcontrol}
	</control>
	<control 
	field="editedby">
	{$editedby_editcontrol}
	</control>
	<control 
	field="editedon">
	{$editedon_editcontrol}
	</control>
	<control 
	field="deleted">
	{$deleted_editcontrol}
	</control>
	<control 
	field="deletedon">
	{$deletedon_editcontrol}
	</control>
	<control 
	field="deletedby">
	{$deletedby_editcontrol}
	</control>
	<control 
	field="publishedby">
	{$publishedby_editcontrol}
	</control>
	<control 
	field="donthit">
	{$donthit_editcontrol}
	</control>
	<control 
	field="haskeywords">
	{$haskeywords_editcontrol}
	</control>
	<control 
	field="hasmetatags">
	{$hasmetatags_editcontrol}
	</control>
	<control 
	field="privateweb">
	{$privateweb_editcontrol}
	</control>
	<control 
	field="privatemgr">
	{$privatemgr_editcontrol}
	</control>
	<control 
	field="content_dispo">
	{$content_dispo_editcontrol}
	</control>
	<control 
	field="hidemenu">
	{$hidemenu_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
