<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="templatename">
	{$templatename_editcontrol}
	</control>
	<control field="description">
	{$description_editcontrol}
	</control>
	<control field="editor_type">
	{$editor_type_editcontrol}
	</control>
	<control field="category">
	{$category_editcontrol}
	</control>
	<control field="icon">
	{$icon_editcontrol}
	</control>
	<control field="template_type">
	{$template_type_editcontrol}
	</control>
		<control type="FCK" field="content">
	{$content_editcontrol}
	</control>
	<control field="parent">
	{$parent_editcontrol}
	</control>
	<control field="locked">
	{$locked_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>