<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel modxdf_site_plugins edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN source_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_source}" data-fieldname="source" data-signal-error-for="source{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_source}">
		{BEGIN source_label}{$label modxdf_site_plugins source}{END source_label}
	</label>
	<div class="col-md-6" >
		{$source_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="source">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins source}
		</div>
	</div>
</div>
</div>
{END source_fieldblock}

			{BEGIN property_preprocess_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_property_preprocess}" data-fieldname="property_preprocess" data-signal-error-for="property_preprocess{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_property_preprocess}">
		{BEGIN property_preprocess_label}{$label modxdf_site_plugins property_preprocess}{END property_preprocess_label}
	</label>
	<div class="col-md-6" >
		{$property_preprocess_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="property_preprocess">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins property_preprocess}
		</div>
	</div>
</div>
</div>
{END property_preprocess_fieldblock}

			{BEGIN name_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_name}" data-fieldname="name" data-signal-error-for="name{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_name}">
		{BEGIN name_label}{$label modxdf_site_plugins name}{END name_label}
	</label>
	<div class="col-md-6" >
		{$name_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="name">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins name}
		</div>
	</div>
</div>
</div>
{END name_fieldblock}

			{BEGIN description_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_description}" data-fieldname="description" data-signal-error-for="description{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_description}">
		{BEGIN description_label}{$label modxdf_site_plugins description}{END description_label}
	</label>
	<div class="col-md-6" >
		{$description_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="description">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins description}
		</div>
	</div>
</div>
</div>
{END description_fieldblock}

			{BEGIN editor_type_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_editor_type}" data-fieldname="editor_type" data-signal-error-for="editor_type{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_editor_type}">
		{BEGIN editor_type_label}{$label modxdf_site_plugins editor_type}{END editor_type_label}
	</label>
	<div class="col-md-6" >
		{$editor_type_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="editor_type">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins editor_type}
		</div>
	</div>
</div>
</div>
{END editor_type_fieldblock}

			{BEGIN category_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_category}" data-fieldname="category" data-signal-error-for="category{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_category}">
		{BEGIN category_label}{$label modxdf_site_plugins category}{END category_label}
	</label>
	<div class="col-md-6" >
		{$category_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="category">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins category}
		</div>
	</div>
</div>
</div>
{END category_fieldblock}

			{BEGIN cache_type_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_cache_type}" data-fieldname="cache_type" data-signal-error-for="cache_type{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_cache_type}">
		{BEGIN cache_type_label}{$label modxdf_site_plugins cache_type}{END cache_type_label}
	</label>
	<div class="col-md-6" >
		{$cache_type_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="cache_type">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins cache_type}
		</div>
	</div>
</div>
</div>
{END cache_type_fieldblock}

			{BEGIN plugincode_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_plugincode}" data-fieldname="plugincode" data-signal-error-for="plugincode{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_plugincode}">
		{BEGIN plugincode_label}{$label modxdf_site_plugins plugincode}{END plugincode_label}
	</label>
	<div class="col-md-6" >
		{$plugincode_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="plugincode">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins plugincode}
		</div>
	</div>
</div>
</div>
{END plugincode_fieldblock}

			{BEGIN locked_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_locked}" data-fieldname="locked" data-signal-error-for="locked{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_locked}">
		{BEGIN locked_label}{$label modxdf_site_plugins locked}{END locked_label}
	</label>
	<div class="col-md-6" >
		{$locked_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="locked">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins locked}
		</div>
	</div>
</div>
</div>
{END locked_fieldblock}

			{BEGIN properties_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_properties}" data-fieldname="properties" data-signal-error-for="properties{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_properties}">
		{BEGIN properties_label}{$label modxdf_site_plugins properties}{END properties_label}
	</label>
	<div class="col-md-6" >
		{$properties_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="properties">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins properties}
		</div>
	</div>
</div>
</div>
{END properties_fieldblock}

			{BEGIN disabled_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_disabled}" data-fieldname="disabled" data-signal-error-for="disabled{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_disabled}">
		{BEGIN disabled_label}{$label modxdf_site_plugins disabled}{END disabled_label}
	</label>
	<div class="col-md-6" >
		{$disabled_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="disabled">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins disabled}
		</div>
	</div>
</div>
</div>
{END disabled_fieldblock}

			{BEGIN moduleguid_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_moduleguid}" data-fieldname="moduleguid" data-signal-error-for="moduleguid{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_moduleguid}">
		{BEGIN moduleguid_label}{$label modxdf_site_plugins moduleguid}{END moduleguid_label}
	</label>
	<div class="col-md-6" >
		{$moduleguid_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="moduleguid">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins moduleguid}
		</div>
	</div>
</div>
</div>
{END moduleguid_fieldblock}

			{BEGIN static_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_static}" data-fieldname="static" data-signal-error-for="static{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_static}">
		{BEGIN static_label}{$label modxdf_site_plugins static}{END static_label}
	</label>
	<div class="col-md-6" >
		{$static_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="static">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins static}
		</div>
	</div>
</div>
</div>
{END static_fieldblock}

			{BEGIN static_file_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_static_file}" data-fieldname="static_file" data-signal-error-for="static_file{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_static_file}">
		{BEGIN static_file_label}{$label modxdf_site_plugins static_file}{END static_file_label}
	</label>
	<div class="col-md-6" >
		{$static_file_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="static_file">
		<div class="text-muted" >
		{$tooltip modxdf_site_plugins static_file}
		</div>
	</div>
</div>
</div>
{END static_file_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
