<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel OAUTH_ACCESS_TOKENS print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN ACCESS_TOKEN_fieldheadercolumn}
			<th class="{$ACCESS_TOKEN_class}" {$ACCESS_TOKEN_style}  data-field="ACCESS_TOKEN">
				{$label OAUTH_ACCESS_TOKENS ACCESS_TOKEN}
			</th>
			{END ACCESS_TOKEN_fieldheadercolumn}
			{BEGIN CLIENT_ID_fieldheadercolumn}
			<th class="{$CLIENT_ID_class}" {$CLIENT_ID_style}  data-field="CLIENT_ID">
				{$label OAUTH_ACCESS_TOKENS CLIENT_ID}
			</th>
			{END CLIENT_ID_fieldheadercolumn}
			{BEGIN USER_ID_fieldheadercolumn}
			<th class="{$USER_ID_class}" {$USER_ID_style}  data-field="USER_ID">
				{$label OAUTH_ACCESS_TOKENS USER_ID}
			</th>
			{END USER_ID_fieldheadercolumn}
			{BEGIN EXPIRES_fieldheadercolumn}
			<th class="{$EXPIRES_class}" {$EXPIRES_style}  data-field="EXPIRES">
				{$label OAUTH_ACCESS_TOKENS EXPIRES}
			</th>
			{END EXPIRES_fieldheadercolumn}
			{BEGIN SCOPE_fieldheadercolumn}
			<th class="{$SCOPE_class}" {$SCOPE_style}  data-field="SCOPE">
				{$label OAUTH_ACCESS_TOKENS SCOPE}
			</th>
			{END SCOPE_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN ACCESS_TOKEN_fieldcolumn}
			<td  class="{$ACCESS_TOKEN_class}" {$ACCESS_TOKEN_style} {$recordattrs}>
				{$ACCESS_TOKEN_value}
			</td>
			{END ACCESS_TOKEN_fieldcolumn}
			{BEGIN CLIENT_ID_fieldcolumn}
			<td  class="{$CLIENT_ID_class}" {$CLIENT_ID_style} {$recordattrs}>
				{$CLIENT_ID_value}
			</td>
			{END CLIENT_ID_fieldcolumn}
			{BEGIN USER_ID_fieldcolumn}
			<td  class="{$USER_ID_class}" {$USER_ID_style} {$recordattrs}>
				{$USER_ID_value}
			</td>
			{END USER_ID_fieldcolumn}
			{BEGIN EXPIRES_fieldcolumn}
			<td  class="{$EXPIRES_class}" {$EXPIRES_style} {$recordattrs}>
				{$EXPIRES_value}
			</td>
			{END EXPIRES_fieldcolumn}
			{BEGIN SCOPE_fieldcolumn}
			<td  class="{$SCOPE_class}" {$SCOPE_style} {$recordattrs}>
				{$SCOPE_value}
			</td>
			{END SCOPE_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
