<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PMT_MENU view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN MENU_SORT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MENU_SORT} bs-viewform-group" data-fieldname="MENU_SORT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MENU_SORT}">
			{$label PMT_MENU MENU_SORT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MENU_SORT_value}&nbsp;
		</div>
	</div>
</div>
{END MENU_SORT_fieldblock}
	{BEGIN MENU_ID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MENU_ID} bs-viewform-group" data-fieldname="MENU_ID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MENU_ID}">
			{$label PMT_MENU MENU_ID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MENU_ID_value}&nbsp;
		</div>
	</div>
</div>
{END MENU_ID_fieldblock}
	{BEGIN MENU_VAL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MENU_VAL} bs-viewform-group" data-fieldname="MENU_VAL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MENU_VAL}">
			{$label PMT_MENU MENU_VAL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MENU_VAL_value}&nbsp;
		</div>
	</div>
</div>
{END MENU_VAL_fieldblock}
	{BEGIN MENU_URL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MENU_URL} bs-viewform-group" data-fieldname="MENU_URL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MENU_URL}">
			{$label PMT_MENU MENU_URL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MENU_URL_value}&nbsp;
		</div>
	</div>
</div>
{END MENU_URL_fieldblock}
	{BEGIN MENU_PAL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MENU_PAL} bs-viewform-group" data-fieldname="MENU_PAL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MENU_PAL}">
			{$label PMT_MENU MENU_PAL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MENU_PAL_value}&nbsp;
		</div>
	</div>
</div>
{END MENU_PAL_fieldblock}
	
	

{BEGIN details_PMT_MENU1}
<div data-pageid="1" data-container="detailscontainer" class=" bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">{$caption PMT_MENU1}</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_PMT_MENU1}
		</div>
	</div>
</div>
{END details_PMT_MENU1}
		
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
						{BEGIN pdflink_block}
			<li><a href=# class="pdflink" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a></li>
			{END pdflink_block}
						{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
