<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PMT_SPREADMAIN view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN APP_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_UID} bs-viewform-group" data-fieldname="APP_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_UID}">
			{$label PMT_SPREADMAIN APP_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_UID_value}&nbsp;
		</div>
	</div>
</div>
{END APP_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_NUMBER} bs-viewform-group" data-fieldname="APP_NUMBER">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_NUMBER}">
			{$label PMT_SPREADMAIN APP_NUMBER}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_NUMBER_value}&nbsp;
		</div>
	</div>
</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_STATUS} bs-viewform-group" data-fieldname="APP_STATUS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_STATUS}">
			{$label PMT_SPREADMAIN APP_STATUS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_STATUS_value}&nbsp;
		</div>
	</div>
</div>
{END APP_STATUS_fieldblock}
	{BEGIN A30_fieldblock}
<div class="container">
	<div class="{$fielddispclass_A30} bs-viewform-group" data-fieldname="A30">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_A30}">
			{$label PMT_SPREADMAIN A30}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$A30_value}&nbsp;
		</div>
	</div>
</div>
{END A30_fieldblock}
	{BEGIN A31_fieldblock}
<div class="container">
	<div class="{$fielddispclass_A31} bs-viewform-group" data-fieldname="A31">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_A31}">
			{$label PMT_SPREADMAIN A31}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$A31_value}&nbsp;
		</div>
	</div>
</div>
{END A31_fieldblock}
	{BEGIN A32_fieldblock}
<div class="container">
	<div class="{$fielddispclass_A32} bs-viewform-group" data-fieldname="A32">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_A32}">
			{$label PMT_SPREADMAIN A32}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$A32_value}&nbsp;
		</div>
	</div>
</div>
{END A32_fieldblock}
	{BEGIN D35_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D35} bs-viewform-group" data-fieldname="D35">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D35}">
			{$label PMT_SPREADMAIN D35}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D35_value}&nbsp;
		</div>
	</div>
</div>
{END D35_fieldblock}
	{BEGIN D36_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D36} bs-viewform-group" data-fieldname="D36">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D36}">
			{$label PMT_SPREADMAIN D36}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D36_value}&nbsp;
		</div>
	</div>
</div>
{END D36_fieldblock}
	{BEGIN D38_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D38} bs-viewform-group" data-fieldname="D38">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D38}">
			{$label PMT_SPREADMAIN D38}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D38_value}&nbsp;
		</div>
	</div>
</div>
{END D38_fieldblock}
	{BEGIN D39_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D39} bs-viewform-group" data-fieldname="D39">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D39}">
			{$label PMT_SPREADMAIN D39}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D39_value}&nbsp;
		</div>
	</div>
</div>
{END D39_fieldblock}
	{BEGIN D40_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D40} bs-viewform-group" data-fieldname="D40">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D40}">
			{$label PMT_SPREADMAIN D40}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D40_value}&nbsp;
		</div>
	</div>
</div>
{END D40_fieldblock}
	{BEGIN D41_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D41} bs-viewform-group" data-fieldname="D41">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D41}">
			{$label PMT_SPREADMAIN D41}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D41_value}&nbsp;
		</div>
	</div>
</div>
{END D41_fieldblock}
	{BEGIN D42_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D42} bs-viewform-group" data-fieldname="D42">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D42}">
			{$label PMT_SPREADMAIN D42}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D42_value}&nbsp;
		</div>
	</div>
</div>
{END D42_fieldblock}
	{BEGIN D43_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D43} bs-viewform-group" data-fieldname="D43">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D43}">
			{$label PMT_SPREADMAIN D43}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D43_value}&nbsp;
		</div>
	</div>
</div>
{END D43_fieldblock}
	{BEGIN D44_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D44} bs-viewform-group" data-fieldname="D44">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D44}">
			{$label PMT_SPREADMAIN D44}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D44_value}&nbsp;
		</div>
	</div>
</div>
{END D44_fieldblock}
	{BEGIN D45_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D45} bs-viewform-group" data-fieldname="D45">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D45}">
			{$label PMT_SPREADMAIN D45}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D45_value}&nbsp;
		</div>
	</div>
</div>
{END D45_fieldblock}
	{BEGIN D48_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D48} bs-viewform-group" data-fieldname="D48">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D48}">
			{$label PMT_SPREADMAIN D48}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D48_value}&nbsp;
		</div>
	</div>
</div>
{END D48_fieldblock}
	{BEGIN D49_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D49} bs-viewform-group" data-fieldname="D49">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D49}">
			{$label PMT_SPREADMAIN D49}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D49_value}&nbsp;
		</div>
	</div>
</div>
{END D49_fieldblock}
	{BEGIN D51_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D51} bs-viewform-group" data-fieldname="D51">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D51}">
			{$label PMT_SPREADMAIN D51}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D51_value}&nbsp;
		</div>
	</div>
</div>
{END D51_fieldblock}
	{BEGIN D52_fieldblock}
<div class="container">
	<div class="{$fielddispclass_D52} bs-viewform-group" data-fieldname="D52">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_D52}">
			{$label PMT_SPREADMAIN D52}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$D52_value}&nbsp;
		</div>
	</div>
</div>
{END D52_fieldblock}
	{BEGIN E27_fieldblock}
<div class="container">
	<div class="{$fielddispclass_E27} bs-viewform-group" data-fieldname="E27">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_E27}">
			{$label PMT_SPREADMAIN E27}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$E27_value}&nbsp;
		</div>
	</div>
</div>
{END E27_fieldblock}
	{BEGIN F25_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F25} bs-viewform-group" data-fieldname="F25">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F25}">
			{$label PMT_SPREADMAIN F25}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F25_value}&nbsp;
		</div>
	</div>
</div>
{END F25_fieldblock}
	{BEGIN F26_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F26} bs-viewform-group" data-fieldname="F26">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F26}">
			{$label PMT_SPREADMAIN F26}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F26_value}&nbsp;
		</div>
	</div>
</div>
{END F26_fieldblock}
	{BEGIN F43_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F43} bs-viewform-group" data-fieldname="F43">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F43}">
			{$label PMT_SPREADMAIN F43}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F43_value}&nbsp;
		</div>
	</div>
</div>
{END F43_fieldblock}
	{BEGIN F44_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F44} bs-viewform-group" data-fieldname="F44">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F44}">
			{$label PMT_SPREADMAIN F44}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F44_value}&nbsp;
		</div>
	</div>
</div>
{END F44_fieldblock}
	{BEGIN F35_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F35} bs-viewform-group" data-fieldname="F35">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F35}">
			{$label PMT_SPREADMAIN F35}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F35_value}&nbsp;
		</div>
	</div>
</div>
{END F35_fieldblock}
	{BEGIN F36_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F36} bs-viewform-group" data-fieldname="F36">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F36}">
			{$label PMT_SPREADMAIN F36}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F36_value}&nbsp;
		</div>
	</div>
</div>
{END F36_fieldblock}
	{BEGIN F38_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F38} bs-viewform-group" data-fieldname="F38">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F38}">
			{$label PMT_SPREADMAIN F38}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F38_value}&nbsp;
		</div>
	</div>
</div>
{END F38_fieldblock}
	{BEGIN F48_fieldblock}
<div class="container">
	<div class="{$fielddispclass_F48} bs-viewform-group" data-fieldname="F48">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_F48}">
			{$label PMT_SPREADMAIN F48}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$F48_value}&nbsp;
		</div>
	</div>
</div>
{END F48_fieldblock}
	{BEGIN ROW_fieldblock}
<div class="container">
	<div class="{$fielddispclass_ROW} bs-viewform-group" data-fieldname="ROW">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_ROW}">
			{$label PMT_SPREADMAIN ROW}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$ROW_value}&nbsp;
		</div>
	</div>
</div>
{END ROW_fieldblock}
	{BEGIN N1_fieldblock}
<div class="container">
	<div class="{$fielddispclass_N1} bs-viewform-group" data-fieldname="N1">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_N1}">
			{$label PMT_SPREADMAIN N1}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$N1_value}&nbsp;
		</div>
	</div>
</div>
{END N1_fieldblock}
	{BEGIN P1_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P1} bs-viewform-group" data-fieldname="P1">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P1}">
			{$label PMT_SPREADMAIN P1}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P1_value}&nbsp;
		</div>
	</div>
</div>
{END P1_fieldblock}
	{BEGIN K80_fieldblock}
<div class="container">
	<div class="{$fielddispclass_K80} bs-viewform-group" data-fieldname="K80">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_K80}">
			{$label PMT_SPREADMAIN K80}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$K80_value}&nbsp;
		</div>
	</div>
</div>
{END K80_fieldblock}
	{BEGIN K27_fieldblock}
<div class="container">
	<div class="{$fielddispclass_K27} bs-viewform-group" data-fieldname="K27">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_K27}">
			{$label PMT_SPREADMAIN K27}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$K27_value}&nbsp;
		</div>
	</div>
</div>
{END K27_fieldblock}
	{BEGIN K25_fieldblock}
<div class="container">
	<div class="{$fielddispclass_K25} bs-viewform-group" data-fieldname="K25">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_K25}">
			{$label PMT_SPREADMAIN K25}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$K25_value}&nbsp;
		</div>
	</div>
</div>
{END K25_fieldblock}
	{BEGIN M35_fieldblock}
<div class="container">
	<div class="{$fielddispclass_M35} bs-viewform-group" data-fieldname="M35">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_M35}">
			{$label PMT_SPREADMAIN M35}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$M35_value}&nbsp;
		</div>
	</div>
</div>
{END M35_fieldblock}
	{BEGIN J36_fieldblock}
<div class="container">
	<div class="{$fielddispclass_J36} bs-viewform-group" data-fieldname="J36">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_J36}">
			{$label PMT_SPREADMAIN J36}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$J36_value}&nbsp;
		</div>
	</div>
</div>
{END J36_fieldblock}
	{BEGIN TIME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TIME} bs-viewform-group" data-fieldname="TIME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TIME}">
			{$label PMT_SPREADMAIN TIME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TIME_value}&nbsp;
		</div>
	</div>
</div>
{END TIME_fieldblock}
	{BEGIN MONTHLY_REPORT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_MONTHLY_REPORT} bs-viewform-group" data-fieldname="MONTHLY_REPORT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_MONTHLY_REPORT}">
			{$label PMT_SPREADMAIN MONTHLY_REPORT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$MONTHLY_REPORT_value}&nbsp;
		</div>
	</div>
</div>
{END MONTHLY_REPORT_fieldblock}
	{BEGIN M39_fieldblock}
<div class="container">
	<div class="{$fielddispclass_M39} bs-viewform-group" data-fieldname="M39">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_M39}">
			{$label PMT_SPREADMAIN M39}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$M39_value}&nbsp;
		</div>
	</div>
</div>
{END M39_fieldblock}
	{BEGIN M43_fieldblock}
<div class="container">
	<div class="{$fielddispclass_M43} bs-viewform-group" data-fieldname="M43">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_M43}">
			{$label PMT_SPREADMAIN M43}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$M43_value}&nbsp;
		</div>
	</div>
</div>
{END M43_fieldblock}
	{BEGIN M45_fieldblock}
<div class="container">
	<div class="{$fielddispclass_M45} bs-viewform-group" data-fieldname="M45">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_M45}">
			{$label PMT_SPREADMAIN M45}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$M45_value}&nbsp;
		</div>
	</div>
</div>
{END M45_fieldblock}
	{BEGIN K50_fieldblock}
<div class="container">
	<div class="{$fielddispclass_K50} bs-viewform-group" data-fieldname="K50">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_K50}">
			{$label PMT_SPREADMAIN K50}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$K50_value}&nbsp;
		</div>
	</div>
</div>
{END K50_fieldblock}
	{BEGIN P48_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P48} bs-viewform-group" data-fieldname="P48">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P48}">
			{$label PMT_SPREADMAIN P48}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P48_value}&nbsp;
		</div>
	</div>
</div>
{END P48_fieldblock}
	{BEGIN P49_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P49} bs-viewform-group" data-fieldname="P49">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P49}">
			{$label PMT_SPREADMAIN P49}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P49_value}&nbsp;
		</div>
	</div>
</div>
{END P49_fieldblock}
	{BEGIN P50_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P50} bs-viewform-group" data-fieldname="P50">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P50}">
			{$label PMT_SPREADMAIN P50}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P50_value}&nbsp;
		</div>
	</div>
</div>
{END P50_fieldblock}
	{BEGIN P51_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P51} bs-viewform-group" data-fieldname="P51">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P51}">
			{$label PMT_SPREADMAIN P51}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P51_value}&nbsp;
		</div>
	</div>
</div>
{END P51_fieldblock}
	{BEGIN P52_fieldblock}
<div class="container">
	<div class="{$fielddispclass_P52} bs-viewform-group" data-fieldname="P52">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_P52}">
			{$label PMT_SPREADMAIN P52}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$P52_value}&nbsp;
		</div>
	</div>
</div>
{END P52_fieldblock}
	{BEGIN id_fieldblock}
<div class="container">
	<div class="{$fielddispclass_id} bs-viewform-group" data-fieldname="id">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_id}">
			{$label PMT_SPREADMAIN id}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$id_value}&nbsp;
		</div>
	</div>
</div>
{END id_fieldblock}
	
	

{BEGIN details_PMT_SPREADSUB}
<div data-pageid="1" data-container="detailscontainer" class=" bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">{$caption PMT_SPREADSUB}</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_PMT_SPREADSUB}
		</div>
	</div>
</div>
{END details_PMT_SPREADSUB}
		
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
						{BEGIN pdflink_block}
			<li><a href=# class="pdflink" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a></li>
			{END pdflink_block}
						{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
