<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">{mlang_message DETAILS_FOUND}: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$APP_UID_class}">{$label PMT_SUBCONTRACTORS APP_UID}</th>
			<th class="{$APP_NUMBER_class}">{$label PMT_SUBCONTRACTORS APP_NUMBER}</th>
			<th class="{$APP_STATUS_class}">{$label PMT_SUBCONTRACTORS APP_STATUS}</th>
			<th class="{$ROW_class}">{$label PMT_SUBCONTRACTORS ROW}</th>
			<th class="{$HASCONTRACT_class}">{$label PMT_SUBCONTRACTORS HASCONTRACT}</th>
			<th class="{$NAME_class}">{$label PMT_SUBCONTRACTORS NAME}</th>
			<th class="{$TEXT0000000001_class}">{$label PMT_SUBCONTRACTORS TEXT0000000001}</th>
			<th class="{$TEXT0000000002_class}">{$label PMT_SUBCONTRACTORS TEXT0000000002}</th>
			<th class="{$TEXT0000000003_class}">{$label PMT_SUBCONTRACTORS TEXT0000000003}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$APP_UID_class}">{$APP_UID_value}</td>
			<td class="{$APP_NUMBER_class}">{$APP_NUMBER_value}</td>
			<td class="{$APP_STATUS_class}">{$APP_STATUS_value}</td>
			<td class="{$ROW_class}">{$ROW_value}</td>
			<td class="{$HASCONTRACT_class}">{$HASCONTRACT_value}</td>
			<td class="{$NAME_class}">{$NAME_value}</td>
			<td class="{$TEXT0000000001_class}">{$TEXT0000000001_value}</td>
			<td class="{$TEXT0000000002_class}">{$TEXT0000000002_value}</td>
			<td class="{$TEXT0000000003_class}">{$TEXT0000000003_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>