<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PMT_SUBCONTRACTORS view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN APP_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_UID} bs-viewform-group" data-fieldname="APP_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_UID}">
			{$label PMT_SUBCONTRACTORS APP_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_UID_value}&nbsp;
		</div>
	</div>
</div>
{END APP_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_NUMBER} bs-viewform-group" data-fieldname="APP_NUMBER">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_NUMBER}">
			{$label PMT_SUBCONTRACTORS APP_NUMBER}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_NUMBER_value}&nbsp;
		</div>
	</div>
</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_STATUS} bs-viewform-group" data-fieldname="APP_STATUS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_STATUS}">
			{$label PMT_SUBCONTRACTORS APP_STATUS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_STATUS_value}&nbsp;
		</div>
	</div>
</div>
{END APP_STATUS_fieldblock}
	{BEGIN ROW_fieldblock}
<div class="container">
	<div class="{$fielddispclass_ROW} bs-viewform-group" data-fieldname="ROW">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_ROW}">
			{$label PMT_SUBCONTRACTORS ROW}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$ROW_value}&nbsp;
		</div>
	</div>
</div>
{END ROW_fieldblock}
	{BEGIN HASCONTRACT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_HASCONTRACT} bs-viewform-group" data-fieldname="HASCONTRACT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_HASCONTRACT}">
			{$label PMT_SUBCONTRACTORS HASCONTRACT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$HASCONTRACT_value}&nbsp;
		</div>
	</div>
</div>
{END HASCONTRACT_fieldblock}
	{BEGIN NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_NAME} bs-viewform-group" data-fieldname="NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_NAME}">
			{$label PMT_SUBCONTRACTORS NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$NAME_value}&nbsp;
		</div>
	</div>
</div>
{END NAME_fieldblock}
	{BEGIN TEXT0000000001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXT0000000001} bs-viewform-group" data-fieldname="TEXT0000000001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXT0000000001}">
			{$label PMT_SUBCONTRACTORS TEXT0000000001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXT0000000001_value}&nbsp;
		</div>
	</div>
</div>
{END TEXT0000000001_fieldblock}
	{BEGIN TEXT0000000002_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXT0000000002} bs-viewform-group" data-fieldname="TEXT0000000002">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXT0000000002}">
			{$label PMT_SUBCONTRACTORS TEXT0000000002}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXT0000000002_value}&nbsp;
		</div>
	</div>
</div>
{END TEXT0000000002_fieldblock}
	{BEGIN TEXT0000000003_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXT0000000003} bs-viewform-group" data-fieldname="TEXT0000000003">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXT0000000003}">
			{$label PMT_SUBCONTRACTORS TEXT0000000003}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXT0000000003_value}&nbsp;
		</div>
	</div>
</div>
{END TEXT0000000003_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
