<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel PMT_ECCUBEBLOG edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN APP_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_UID}" data-fieldname="APP_UID" data-signal-error-for="APP_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_UID}">
		{BEGIN APP_UID_label}{$label PMT_ECCUBEBLOG APP_UID}{END APP_UID_label}
	</label>
	<div class="col-md-6" >
		{$APP_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_UID">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG APP_UID}
		</div>
	</div>
</div>
</div>
{END APP_UID_fieldblock}

			{BEGIN APP_NUMBER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_NUMBER}" data-fieldname="APP_NUMBER" data-signal-error-for="APP_NUMBER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_NUMBER}">
		{BEGIN APP_NUMBER_label}{$label PMT_ECCUBEBLOG APP_NUMBER}{END APP_NUMBER_label}
	</label>
	<div class="col-md-6" >
		{$APP_NUMBER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_NUMBER">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG APP_NUMBER}
		</div>
	</div>
</div>
</div>
{END APP_NUMBER_fieldblock}

			{BEGIN APP_STATUS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APP_STATUS}" data-fieldname="APP_STATUS" data-signal-error-for="APP_STATUS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APP_STATUS}">
		{BEGIN APP_STATUS_label}{$label PMT_ECCUBEBLOG APP_STATUS}{END APP_STATUS_label}
	</label>
	<div class="col-md-6" >
		{$APP_STATUS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APP_STATUS">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG APP_STATUS}
		</div>
	</div>
</div>
</div>
{END APP_STATUS_fieldblock}

			{BEGIN BLOC_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BLOC_ID}" data-fieldname="BLOC_ID" data-signal-error-for="BLOC_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BLOC_ID}">
		{BEGIN BLOC_ID_label}{$label PMT_ECCUBEBLOG BLOC_ID}{END BLOC_ID_label}
	</label>
	<div class="col-md-6" >
		{$BLOC_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BLOC_ID">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG BLOC_ID}
		</div>
	</div>
</div>
</div>
{END BLOC_ID_fieldblock}

			{BEGIN BLOC_ID_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BLOC_ID_LABEL}" data-fieldname="BLOC_ID_LABEL" data-signal-error-for="BLOC_ID_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BLOC_ID_LABEL}">
		{BEGIN BLOC_ID_LABEL_label}{$label PMT_ECCUBEBLOG BLOC_ID_LABEL}{END BLOC_ID_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$BLOC_ID_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BLOC_ID_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG BLOC_ID_LABEL}
		</div>
	</div>
</div>
</div>
{END BLOC_ID_LABEL_fieldblock}

			{BEGIN BLOC_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BLOC_NAME}" data-fieldname="BLOC_NAME" data-signal-error-for="BLOC_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BLOC_NAME}">
		{BEGIN BLOC_NAME_label}{$label PMT_ECCUBEBLOG BLOC_NAME}{END BLOC_NAME_label}
	</label>
	<div class="col-md-6" >
		{$BLOC_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BLOC_NAME">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG BLOC_NAME}
		</div>
	</div>
</div>
</div>
{END BLOC_NAME_fieldblock}

			{BEGIN BLOC_NAME_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BLOC_NAME_LABEL}" data-fieldname="BLOC_NAME_LABEL" data-signal-error-for="BLOC_NAME_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BLOC_NAME_LABEL}">
		{BEGIN BLOC_NAME_LABEL_label}{$label PMT_ECCUBEBLOG BLOC_NAME_LABEL}{END BLOC_NAME_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$BLOC_NAME_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BLOC_NAME_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG BLOC_NAME_LABEL}
		</div>
	</div>
</div>
</div>
{END BLOC_NAME_LABEL_fieldblock}

			{BEGIN APPLICATION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APPLICATION}" data-fieldname="APPLICATION" data-signal-error-for="APPLICATION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APPLICATION}">
		{BEGIN APPLICATION_label}{$label PMT_ECCUBEBLOG APPLICATION}{END APPLICATION_label}
	</label>
	<div class="col-md-6" >
		{$APPLICATION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APPLICATION">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG APPLICATION}
		</div>
	</div>
</div>
</div>
{END APPLICATION_fieldblock}

			{BEGIN APPLICATION_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_APPLICATION_LABEL}" data-fieldname="APPLICATION_LABEL" data-signal-error-for="APPLICATION_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_APPLICATION_LABEL}">
		{BEGIN APPLICATION_LABEL_label}{$label PMT_ECCUBEBLOG APPLICATION_LABEL}{END APPLICATION_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$APPLICATION_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="APPLICATION_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG APPLICATION_LABEL}
		</div>
	</div>
</div>
</div>
{END APPLICATION_LABEL_fieldblock}

			{BEGIN PROCESS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PROCESS}" data-fieldname="PROCESS" data-signal-error-for="PROCESS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PROCESS}">
		{BEGIN PROCESS_label}{$label PMT_ECCUBEBLOG PROCESS}{END PROCESS_label}
	</label>
	<div class="col-md-6" >
		{$PROCESS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PROCESS">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG PROCESS}
		</div>
	</div>
</div>
</div>
{END PROCESS_fieldblock}

			{BEGIN PROCESS_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PROCESS_LABEL}" data-fieldname="PROCESS_LABEL" data-signal-error-for="PROCESS_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PROCESS_LABEL}">
		{BEGIN PROCESS_LABEL_label}{$label PMT_ECCUBEBLOG PROCESS_LABEL}{END PROCESS_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$PROCESS_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PROCESS_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG PROCESS_LABEL}
		</div>
	</div>
</div>
</div>
{END PROCESS_LABEL_fieldblock}

			{BEGIN CHECKBOXVAR001_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CHECKBOXVAR001}" data-fieldname="CHECKBOXVAR001" data-signal-error-for="CHECKBOXVAR001{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CHECKBOXVAR001}">
		{BEGIN CHECKBOXVAR001_label}{$label PMT_ECCUBEBLOG CHECKBOXVAR001}{END CHECKBOXVAR001_label}
	</label>
	<div class="col-md-6" >
		{$CHECKBOXVAR001_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CHECKBOXVAR001">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG CHECKBOXVAR001}
		</div>
	</div>
</div>
</div>
{END CHECKBOXVAR001_fieldblock}

			{BEGIN DATETIMEVAR001_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DATETIMEVAR001}" data-fieldname="DATETIMEVAR001" data-signal-error-for="DATETIMEVAR001{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DATETIMEVAR001}">
		{BEGIN DATETIMEVAR001_label}{$label PMT_ECCUBEBLOG DATETIMEVAR001}{END DATETIMEVAR001_label}
	</label>
	<div class="col-md-6" >
		{$DATETIMEVAR001_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DATETIMEVAR001">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DATETIMEVAR001}
		</div>
	</div>
</div>
</div>
{END DATETIMEVAR001_fieldblock}

			{BEGIN DATETIMEVAR001_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DATETIMEVAR001_LABEL}" data-fieldname="DATETIMEVAR001_LABEL" data-signal-error-for="DATETIMEVAR001_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DATETIMEVAR001_LABEL}">
		{BEGIN DATETIMEVAR001_LABEL_label}{$label PMT_ECCUBEBLOG DATETIMEVAR001_LABEL}{END DATETIMEVAR001_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$DATETIMEVAR001_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DATETIMEVAR001_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DATETIMEVAR001_LABEL}
		</div>
	</div>
</div>
</div>
{END DATETIMEVAR001_LABEL_fieldblock}

			{BEGIN DATETIMEVAR002_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DATETIMEVAR002}" data-fieldname="DATETIMEVAR002" data-signal-error-for="DATETIMEVAR002{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DATETIMEVAR002}">
		{BEGIN DATETIMEVAR002_label}{$label PMT_ECCUBEBLOG DATETIMEVAR002}{END DATETIMEVAR002_label}
	</label>
	<div class="col-md-6" >
		{$DATETIMEVAR002_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DATETIMEVAR002">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DATETIMEVAR002}
		</div>
	</div>
</div>
</div>
{END DATETIMEVAR002_fieldblock}

			{BEGIN DATETIMEVAR002_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DATETIMEVAR002_LABEL}" data-fieldname="DATETIMEVAR002_LABEL" data-signal-error-for="DATETIMEVAR002_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DATETIMEVAR002_LABEL}">
		{BEGIN DATETIMEVAR002_LABEL_label}{$label PMT_ECCUBEBLOG DATETIMEVAR002_LABEL}{END DATETIMEVAR002_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$DATETIMEVAR002_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DATETIMEVAR002_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DATETIMEVAR002_LABEL}
		</div>
	</div>
</div>
</div>
{END DATETIMEVAR002_LABEL_fieldblock}

			{BEGIN DROPDOWNVAR001_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DROPDOWNVAR001}" data-fieldname="DROPDOWNVAR001" data-signal-error-for="DROPDOWNVAR001{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DROPDOWNVAR001}">
		{BEGIN DROPDOWNVAR001_label}{$label PMT_ECCUBEBLOG DROPDOWNVAR001}{END DROPDOWNVAR001_label}
	</label>
	<div class="col-md-6" >
		{$DROPDOWNVAR001_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DROPDOWNVAR001">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DROPDOWNVAR001}
		</div>
	</div>
</div>
</div>
{END DROPDOWNVAR001_fieldblock}

			{BEGIN DROPDOWNVAR002_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DROPDOWNVAR002}" data-fieldname="DROPDOWNVAR002" data-signal-error-for="DROPDOWNVAR002{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DROPDOWNVAR002}">
		{BEGIN DROPDOWNVAR002_label}{$label PMT_ECCUBEBLOG DROPDOWNVAR002}{END DROPDOWNVAR002_label}
	</label>
	<div class="col-md-6" >
		{$DROPDOWNVAR002_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DROPDOWNVAR002">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DROPDOWNVAR002}
		</div>
	</div>
</div>
</div>
{END DROPDOWNVAR002_fieldblock}

			{BEGIN DROPDOWNVAR003_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DROPDOWNVAR003}" data-fieldname="DROPDOWNVAR003" data-signal-error-for="DROPDOWNVAR003{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DROPDOWNVAR003}">
		{BEGIN DROPDOWNVAR003_label}{$label PMT_ECCUBEBLOG DROPDOWNVAR003}{END DROPDOWNVAR003_label}
	</label>
	<div class="col-md-6" >
		{$DROPDOWNVAR003_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DROPDOWNVAR003">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DROPDOWNVAR003}
		</div>
	</div>
</div>
</div>
{END DROPDOWNVAR003_fieldblock}

			{BEGIN DROPDOWNVAR003_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DROPDOWNVAR003_LABEL}" data-fieldname="DROPDOWNVAR003_LABEL" data-signal-error-for="DROPDOWNVAR003_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DROPDOWNVAR003_LABEL}">
		{BEGIN DROPDOWNVAR003_LABEL_label}{$label PMT_ECCUBEBLOG DROPDOWNVAR003_LABEL}{END DROPDOWNVAR003_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$DROPDOWNVAR003_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DROPDOWNVAR003_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG DROPDOWNVAR003_LABEL}
		</div>
	</div>
</div>
</div>
{END DROPDOWNVAR003_LABEL_fieldblock}

			{BEGIN SATEI_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SATEI}" data-fieldname="SATEI" data-signal-error-for="SATEI{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SATEI}">
		{BEGIN SATEI_label}{$label PMT_ECCUBEBLOG SATEI}{END SATEI_label}
	</label>
	<div class="col-md-6" >
		{$SATEI_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SATEI">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG SATEI}
		</div>
	</div>
</div>
</div>
{END SATEI_fieldblock}

			{BEGIN SATEI_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SATEI_LABEL}" data-fieldname="SATEI_LABEL" data-signal-error-for="SATEI_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SATEI_LABEL}">
		{BEGIN SATEI_LABEL_label}{$label PMT_ECCUBEBLOG SATEI_LABEL}{END SATEI_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$SATEI_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SATEI_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG SATEI_LABEL}
		</div>
	</div>
</div>
</div>
{END SATEI_LABEL_fieldblock}

			{BEGIN TEXTVAR001_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR001}" data-fieldname="TEXTVAR001" data-signal-error-for="TEXTVAR001{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR001}">
		{BEGIN TEXTVAR001_label}{$label PMT_ECCUBEBLOG TEXTVAR001}{END TEXTVAR001_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR001_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR001">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR001}
		</div>
	</div>
</div>
</div>
{END TEXTVAR001_fieldblock}

			{BEGIN TEXTVAR001_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR001_LABEL}" data-fieldname="TEXTVAR001_LABEL" data-signal-error-for="TEXTVAR001_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR001_LABEL}">
		{BEGIN TEXTVAR001_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR001_LABEL}{END TEXTVAR001_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR001_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR001_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR001_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR001_LABEL_fieldblock}

			{BEGIN TEXTVAR004_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR004}" data-fieldname="TEXTVAR004" data-signal-error-for="TEXTVAR004{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR004}">
		{BEGIN TEXTVAR004_label}{$label PMT_ECCUBEBLOG TEXTVAR004}{END TEXTVAR004_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR004_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR004">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR004}
		</div>
	</div>
</div>
</div>
{END TEXTVAR004_fieldblock}

			{BEGIN TEXTVAR004_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR004_LABEL}" data-fieldname="TEXTVAR004_LABEL" data-signal-error-for="TEXTVAR004_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR004_LABEL}">
		{BEGIN TEXTVAR004_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR004_LABEL}{END TEXTVAR004_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR004_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR004_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR004_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR004_LABEL_fieldblock}

			{BEGIN TEXTVAR005_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR005}" data-fieldname="TEXTVAR005" data-signal-error-for="TEXTVAR005{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR005}">
		{BEGIN TEXTVAR005_label}{$label PMT_ECCUBEBLOG TEXTVAR005}{END TEXTVAR005_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR005_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR005">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR005}
		</div>
	</div>
</div>
</div>
{END TEXTVAR005_fieldblock}

			{BEGIN TEXTVAR006_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR006}" data-fieldname="TEXTVAR006" data-signal-error-for="TEXTVAR006{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR006}">
		{BEGIN TEXTVAR006_label}{$label PMT_ECCUBEBLOG TEXTVAR006}{END TEXTVAR006_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR006_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR006">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR006}
		</div>
	</div>
</div>
</div>
{END TEXTVAR006_fieldblock}

			{BEGIN TEXTVAR006_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR006_LABEL}" data-fieldname="TEXTVAR006_LABEL" data-signal-error-for="TEXTVAR006_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR006_LABEL}">
		{BEGIN TEXTVAR006_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR006_LABEL}{END TEXTVAR006_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR006_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR006_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR006_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR006_LABEL_fieldblock}

			{BEGIN TEXTVAR007_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR007}" data-fieldname="TEXTVAR007" data-signal-error-for="TEXTVAR007{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR007}">
		{BEGIN TEXTVAR007_label}{$label PMT_ECCUBEBLOG TEXTVAR007}{END TEXTVAR007_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR007_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR007">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR007}
		</div>
	</div>
</div>
</div>
{END TEXTVAR007_fieldblock}

			{BEGIN TEXTVAR007_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR007_LABEL}" data-fieldname="TEXTVAR007_LABEL" data-signal-error-for="TEXTVAR007_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR007_LABEL}">
		{BEGIN TEXTVAR007_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR007_LABEL}{END TEXTVAR007_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR007_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR007_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR007_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR007_LABEL_fieldblock}

			{BEGIN TEXTVAR008_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR008}" data-fieldname="TEXTVAR008" data-signal-error-for="TEXTVAR008{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR008}">
		{BEGIN TEXTVAR008_label}{$label PMT_ECCUBEBLOG TEXTVAR008}{END TEXTVAR008_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR008_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR008">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR008}
		</div>
	</div>
</div>
</div>
{END TEXTVAR008_fieldblock}

			{BEGIN TEXTVAR008_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR008_LABEL}" data-fieldname="TEXTVAR008_LABEL" data-signal-error-for="TEXTVAR008_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR008_LABEL}">
		{BEGIN TEXTVAR008_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR008_LABEL}{END TEXTVAR008_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR008_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR008_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR008_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR008_LABEL_fieldblock}

			{BEGIN TEXTVAR009_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR009}" data-fieldname="TEXTVAR009" data-signal-error-for="TEXTVAR009{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR009}">
		{BEGIN TEXTVAR009_label}{$label PMT_ECCUBEBLOG TEXTVAR009}{END TEXTVAR009_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR009_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR009">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR009}
		</div>
	</div>
</div>
</div>
{END TEXTVAR009_fieldblock}

			{BEGIN TEXTVAR009_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR009_LABEL}" data-fieldname="TEXTVAR009_LABEL" data-signal-error-for="TEXTVAR009_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR009_LABEL}">
		{BEGIN TEXTVAR009_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR009_LABEL}{END TEXTVAR009_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR009_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR009_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR009_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR009_LABEL_fieldblock}

			{BEGIN TEXTVAR010_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR010}" data-fieldname="TEXTVAR010" data-signal-error-for="TEXTVAR010{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR010}">
		{BEGIN TEXTVAR010_label}{$label PMT_ECCUBEBLOG TEXTVAR010}{END TEXTVAR010_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR010_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR010">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR010}
		</div>
	</div>
</div>
</div>
{END TEXTVAR010_fieldblock}

			{BEGIN TEXTVAR010_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR010_LABEL}" data-fieldname="TEXTVAR010_LABEL" data-signal-error-for="TEXTVAR010_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR010_LABEL}">
		{BEGIN TEXTVAR010_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR010_LABEL}{END TEXTVAR010_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR010_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR010_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR010_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR010_LABEL_fieldblock}

			{BEGIN TEXTVAR011_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR011}" data-fieldname="TEXTVAR011" data-signal-error-for="TEXTVAR011{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR011}">
		{BEGIN TEXTVAR011_label}{$label PMT_ECCUBEBLOG TEXTVAR011}{END TEXTVAR011_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR011_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR011">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR011}
		</div>
	</div>
</div>
</div>
{END TEXTVAR011_fieldblock}

			{BEGIN TEXTVAR011_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR011_LABEL}" data-fieldname="TEXTVAR011_LABEL" data-signal-error-for="TEXTVAR011_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR011_LABEL}">
		{BEGIN TEXTVAR011_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR011_LABEL}{END TEXTVAR011_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR011_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR011_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR011_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR011_LABEL_fieldblock}

			{BEGIN TEXTVAR012_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR012}" data-fieldname="TEXTVAR012" data-signal-error-for="TEXTVAR012{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR012}">
		{BEGIN TEXTVAR012_label}{$label PMT_ECCUBEBLOG TEXTVAR012}{END TEXTVAR012_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR012_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR012">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR012}
		</div>
	</div>
</div>
</div>
{END TEXTVAR012_fieldblock}

			{BEGIN TEXTVAR012_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR012_LABEL}" data-fieldname="TEXTVAR012_LABEL" data-signal-error-for="TEXTVAR012_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR012_LABEL}">
		{BEGIN TEXTVAR012_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR012_LABEL}{END TEXTVAR012_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR012_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR012_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR012_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR012_LABEL_fieldblock}

			{BEGIN TEXTVAR013_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR013}" data-fieldname="TEXTVAR013" data-signal-error-for="TEXTVAR013{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR013}">
		{BEGIN TEXTVAR013_label}{$label PMT_ECCUBEBLOG TEXTVAR013}{END TEXTVAR013_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR013_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR013">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR013}
		</div>
	</div>
</div>
</div>
{END TEXTVAR013_fieldblock}

			{BEGIN TEXTVAR013_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR013_LABEL}" data-fieldname="TEXTVAR013_LABEL" data-signal-error-for="TEXTVAR013_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR013_LABEL}">
		{BEGIN TEXTVAR013_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR013_LABEL}{END TEXTVAR013_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR013_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR013_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR013_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR013_LABEL_fieldblock}

			{BEGIN TEXTVAR014_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR014}" data-fieldname="TEXTVAR014" data-signal-error-for="TEXTVAR014{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR014}">
		{BEGIN TEXTVAR014_label}{$label PMT_ECCUBEBLOG TEXTVAR014}{END TEXTVAR014_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR014_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR014">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR014}
		</div>
	</div>
</div>
</div>
{END TEXTVAR014_fieldblock}

			{BEGIN TEXTVAR014_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR014_LABEL}" data-fieldname="TEXTVAR014_LABEL" data-signal-error-for="TEXTVAR014_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR014_LABEL}">
		{BEGIN TEXTVAR014_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR014_LABEL}{END TEXTVAR014_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR014_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR014_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR014_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR014_LABEL_fieldblock}

			{BEGIN TEXTVAR015_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR015}" data-fieldname="TEXTVAR015" data-signal-error-for="TEXTVAR015{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR015}">
		{BEGIN TEXTVAR015_label}{$label PMT_ECCUBEBLOG TEXTVAR015}{END TEXTVAR015_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR015_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR015">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR015}
		</div>
	</div>
</div>
</div>
{END TEXTVAR015_fieldblock}

			{BEGIN TEXTVAR015_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTVAR015_LABEL}" data-fieldname="TEXTVAR015_LABEL" data-signal-error-for="TEXTVAR015_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTVAR015_LABEL}">
		{BEGIN TEXTVAR015_LABEL_label}{$label PMT_ECCUBEBLOG TEXTVAR015_LABEL}{END TEXTVAR015_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTVAR015_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTVAR015_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTVAR015_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTVAR015_LABEL_fieldblock}

			{BEGIN TEXTAREAVAR001_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR001}" data-fieldname="TEXTAREAVAR001" data-signal-error-for="TEXTAREAVAR001{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR001}">
		{BEGIN TEXTAREAVAR001_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR001}{END TEXTAREAVAR001_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR001_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR001">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR001}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR001_fieldblock}

			{BEGIN TEXTAREAVAR002_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR002}" data-fieldname="TEXTAREAVAR002" data-signal-error-for="TEXTAREAVAR002{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR002}">
		{BEGIN TEXTAREAVAR002_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR002}{END TEXTAREAVAR002_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR002_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR002">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR002}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR002_fieldblock}

			{BEGIN TEXTAREAVAR003_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR003}" data-fieldname="TEXTAREAVAR003" data-signal-error-for="TEXTAREAVAR003{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR003}">
		{BEGIN TEXTAREAVAR003_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR003}{END TEXTAREAVAR003_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR003_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR003">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR003}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR003_fieldblock}

			{BEGIN TEXTAREAVAR003_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR003_LABEL}" data-fieldname="TEXTAREAVAR003_LABEL" data-signal-error-for="TEXTAREAVAR003_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR003_LABEL}">
		{BEGIN TEXTAREAVAR003_LABEL_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR003_LABEL}{END TEXTAREAVAR003_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR003_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR003_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR003_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR003_LABEL_fieldblock}

			{BEGIN TEXTAREAVAR004_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR004}" data-fieldname="TEXTAREAVAR004" data-signal-error-for="TEXTAREAVAR004{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR004}">
		{BEGIN TEXTAREAVAR004_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR004}{END TEXTAREAVAR004_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR004_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR004">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR004}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR004_fieldblock}

			{BEGIN TEXTAREAVAR004_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR004_LABEL}" data-fieldname="TEXTAREAVAR004_LABEL" data-signal-error-for="TEXTAREAVAR004_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR004_LABEL}">
		{BEGIN TEXTAREAVAR004_LABEL_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR004_LABEL}{END TEXTAREAVAR004_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR004_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR004_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR004_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR004_LABEL_fieldblock}

			{BEGIN TEXTAREAVAR005_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR005}" data-fieldname="TEXTAREAVAR005" data-signal-error-for="TEXTAREAVAR005{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR005}">
		{BEGIN TEXTAREAVAR005_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR005}{END TEXTAREAVAR005_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR005_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR005">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR005}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR005_fieldblock}

			{BEGIN TEXTAREAVAR005_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR005_LABEL}" data-fieldname="TEXTAREAVAR005_LABEL" data-signal-error-for="TEXTAREAVAR005_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR005_LABEL}">
		{BEGIN TEXTAREAVAR005_LABEL_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR005_LABEL}{END TEXTAREAVAR005_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR005_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR005_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR005_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR005_LABEL_fieldblock}

			{BEGIN TEXTAREAVAR006_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR006}" data-fieldname="TEXTAREAVAR006" data-signal-error-for="TEXTAREAVAR006{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR006}">
		{BEGIN TEXTAREAVAR006_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR006}{END TEXTAREAVAR006_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR006_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR006">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR006}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR006_fieldblock}

			{BEGIN TEXTAREAVAR006_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TEXTAREAVAR006_LABEL}" data-fieldname="TEXTAREAVAR006_LABEL" data-signal-error-for="TEXTAREAVAR006_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TEXTAREAVAR006_LABEL}">
		{BEGIN TEXTAREAVAR006_LABEL_label}{$label PMT_ECCUBEBLOG TEXTAREAVAR006_LABEL}{END TEXTAREAVAR006_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TEXTAREAVAR006_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TEXTAREAVAR006_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TEXTAREAVAR006_LABEL}
		</div>
	</div>
</div>
</div>
{END TEXTAREAVAR006_LABEL_fieldblock}

			{BEGIN JPN_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_JPN}" data-fieldname="JPN" data-signal-error-for="JPN{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_JPN}">
		{BEGIN JPN_label}{$label PMT_ECCUBEBLOG JPN}{END JPN_label}
	</label>
	<div class="col-md-6" >
		{$JPN_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="JPN">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG JPN}
		</div>
	</div>
</div>
</div>
{END JPN_fieldblock}

			{BEGIN JPN_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_JPN_LABEL}" data-fieldname="JPN_LABEL" data-signal-error-for="JPN_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_JPN_LABEL}">
		{BEGIN JPN_LABEL_label}{$label PMT_ECCUBEBLOG JPN_LABEL}{END JPN_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$JPN_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="JPN_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG JPN_LABEL}
		</div>
	</div>
</div>
</div>
{END JPN_LABEL_fieldblock}

			{BEGIN TPL_PATH_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TPL_PATH}" data-fieldname="TPL_PATH" data-signal-error-for="TPL_PATH{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TPL_PATH}">
		{BEGIN TPL_PATH_label}{$label PMT_ECCUBEBLOG TPL_PATH}{END TPL_PATH_label}
	</label>
	<div class="col-md-6" >
		{$TPL_PATH_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TPL_PATH">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TPL_PATH}
		</div>
	</div>
</div>
</div>
{END TPL_PATH_fieldblock}

			{BEGIN TPL_PATH_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TPL_PATH_LABEL}" data-fieldname="TPL_PATH_LABEL" data-signal-error-for="TPL_PATH_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TPL_PATH_LABEL}">
		{BEGIN TPL_PATH_LABEL_label}{$label PMT_ECCUBEBLOG TPL_PATH_LABEL}{END TPL_PATH_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$TPL_PATH_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TPL_PATH_LABEL">
		<div class="text-muted" >
		{$tooltip PMT_ECCUBEBLOG TPL_PATH_LABEL}
		</div>
	</div>
</div>
</div>
{END TPL_PATH_LABEL_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
