<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel PMT_GYOUMU001 masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$APP_UID_class}">{$label PMT_GYOUMU001 APP_UID}</th>
			<th class="{$A_class}">{$label PMT_GYOUMU001 A}</th>
			<th class="{$B_class}">{$label PMT_GYOUMU001 B}</th>
			<th class="{$C_class}">{$label PMT_GYOUMU001 C}</th>
			<th class="{$D_class}">{$label PMT_GYOUMU001 D}</th>
			<th class="{$E_class}">{$label PMT_GYOUMU001 E}</th>
			<th class="{$F_class}">{$label PMT_GYOUMU001 F}</th>
			<th class="{$G_class}">{$label PMT_GYOUMU001 G}</th>
			<th class="{$H_class}">{$label PMT_GYOUMU001 H}</th>
			<th class="{$I_class}">{$label PMT_GYOUMU001 I}</th>
			<th class="{$J_class}">{$label PMT_GYOUMU001 J}</th>
			<th class="{$K_class}">{$label PMT_GYOUMU001 K}</th>
			<th class="{$E_LABEL_class}">{$label PMT_GYOUMU001 E_LABEL}</th>
			<th class="{$A_LABEL_class}">{$label PMT_GYOUMU001 A_LABEL}</th>
			<th class="{$B_LABEL_class}">{$label PMT_GYOUMU001 B_LABEL}</th>
			<th class="{$C_LABEL_class}">{$label PMT_GYOUMU001 C_LABEL}</th>
			<th class="{$D_LABEL_class}">{$label PMT_GYOUMU001 D_LABEL}</th>
			<th class="{$APP_NUMBER_class}">{$label PMT_GYOUMU001 APP_NUMBER}</th>
			<th class="{$APP_STATUS_class}">{$label PMT_GYOUMU001 APP_STATUS}</th>
			<th class="{$ROW_class}">{$label PMT_GYOUMU001 ROW}</th>
			<th class="{$EMPLOYEE_NO_class}">{$label PMT_GYOUMU001 EMPLOYEE_NO}</th>
			<th class="{$TIME_class}">{$label PMT_GYOUMU001 TIME}</th>
			<th class="{$MONTHLY_REPORT_class}">{$label PMT_GYOUMU001 MONTHLY_REPORT}</th>
			<th class="{$BUSINESS_CONFIRMATION_17_class}">{$label PMT_GYOUMU001 BUSINESS_CONFIRMATION_17}</th>
			<th class="{$BUSINESS_CONFIRMATION_18_class}">{$label PMT_GYOUMU001 BUSINESS_CONFIRMATION_18}</th>
			<th class="{$BUSINESS_CONFIRMATION_19_class}">{$label PMT_GYOUMU001 BUSINESS_CONFIRMATION_19}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$APP_UID_class}">{$APP_UID_mastervalue}</td>
			<td class="{$A_class}">{$A_mastervalue}</td>
			<td class="{$B_class}">{$B_mastervalue}</td>
			<td class="{$C_class}">{$C_mastervalue}</td>
			<td class="{$D_class}">{$D_mastervalue}</td>
			<td class="{$E_class}">{$E_mastervalue}</td>
			<td class="{$F_class}">{$F_mastervalue}</td>
			<td class="{$G_class}">{$G_mastervalue}</td>
			<td class="{$H_class}">{$H_mastervalue}</td>
			<td class="{$I_class}">{$I_mastervalue}</td>
			<td class="{$J_class}">{$J_mastervalue}</td>
			<td class="{$K_class}">{$K_mastervalue}</td>
			<td class="{$E_LABEL_class}">{$E_LABEL_mastervalue}</td>
			<td class="{$A_LABEL_class}">{$A_LABEL_mastervalue}</td>
			<td class="{$B_LABEL_class}">{$B_LABEL_mastervalue}</td>
			<td class="{$C_LABEL_class}">{$C_LABEL_mastervalue}</td>
			<td class="{$D_LABEL_class}">{$D_LABEL_mastervalue}</td>
			<td class="{$APP_NUMBER_class}">{$APP_NUMBER_mastervalue}</td>
			<td class="{$APP_STATUS_class}">{$APP_STATUS_mastervalue}</td>
			<td class="{$ROW_class}">{$ROW_mastervalue}</td>
			<td class="{$EMPLOYEE_NO_class}">{$EMPLOYEE_NO_mastervalue}</td>
			<td class="{$TIME_class}">{$TIME_mastervalue}</td>
			<td class="{$MONTHLY_REPORT_class}">{$MONTHLY_REPORT_mastervalue}</td>
			<td class="{$BUSINESS_CONFIRMATION_17_class}">{$BUSINESS_CONFIRMATION_17_mastervalue}</td>
			<td class="{$BUSINESS_CONFIRMATION_18_class}">{$BUSINESS_CONFIRMATION_18_mastervalue}</td>
			<td class="{$BUSINESS_CONFIRMATION_19_class}">{$BUSINESS_CONFIRMATION_19_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>