<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">{mlang_message BACK_TO} {$backtomasterlink_caption}</a><span>{$pagetitlelabel PMT_MITUMORI1 masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=APP_UID]:before {
		content: "{$label PMT_MITUMORI1 APP_UID}";
	}
	.bs-gridcell[data-field=A]:before {
		content: "{$label PMT_MITUMORI1 A}";
	}
	.bs-gridcell[data-field=B]:before {
		content: "{$label PMT_MITUMORI1 B}";
	}
	.bs-gridcell[data-field=C]:before {
		content: "{$label PMT_MITUMORI1 C}";
	}
	.bs-gridcell[data-field=D]:before {
		content: "{$label PMT_MITUMORI1 D}";
	}
	.bs-gridcell[data-field=E]:before {
		content: "{$label PMT_MITUMORI1 E}";
	}
	.bs-gridcell[data-field=F]:before {
		content: "{$label PMT_MITUMORI1 F}";
	}
	.bs-gridcell[data-field=G]:before {
		content: "{$label PMT_MITUMORI1 G}";
	}
	.bs-gridcell[data-field=H]:before {
		content: "{$label PMT_MITUMORI1 H}";
	}
	.bs-gridcell[data-field=I]:before {
		content: "{$label PMT_MITUMORI1 I}";
	}
	.bs-gridcell[data-field=J]:before {
		content: "{$label PMT_MITUMORI1 J}";
	}
	.bs-gridcell[data-field=K]:before {
		content: "{$label PMT_MITUMORI1 K}";
	}
	.bs-gridcell[data-field=APP_STATUS]:before {
		content: "{$label PMT_MITUMORI1 APP_STATUS}";
	}
	.bs-gridcell[data-field=APP_NUMBER]:before {
		content: "{$label PMT_MITUMORI1 APP_NUMBER}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$APP_UID_class}">{$label PMT_MITUMORI1 APP_UID}</th>
			<th class="{$A_class}">{$label PMT_MITUMORI1 A}</th>
			<th class="{$B_class}">{$label PMT_MITUMORI1 B}</th>
			<th class="{$C_class}">{$label PMT_MITUMORI1 C}</th>
			<th class="{$D_class}">{$label PMT_MITUMORI1 D}</th>
			<th class="{$E_class}">{$label PMT_MITUMORI1 E}</th>
			<th class="{$F_class}">{$label PMT_MITUMORI1 F}</th>
			<th class="{$G_class}">{$label PMT_MITUMORI1 G}</th>
			<th class="{$H_class}">{$label PMT_MITUMORI1 H}</th>
			<th class="{$I_class}">{$label PMT_MITUMORI1 I}</th>
			<th class="{$J_class}">{$label PMT_MITUMORI1 J}</th>
			<th class="{$K_class}">{$label PMT_MITUMORI1 K}</th>
			<th class="{$APP_STATUS_class}">{$label PMT_MITUMORI1 APP_STATUS}</th>
			<th class="{$APP_NUMBER_class}">{$label PMT_MITUMORI1 APP_NUMBER}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$APP_UID_class} bs-gridcell" data-field=APP_UID>{$APP_UID_mastervalue}</td>
			<td class="{$A_class} bs-gridcell" data-field=A>{$A_mastervalue}</td>
			<td class="{$B_class} bs-gridcell" data-field=B>{$B_mastervalue}</td>
			<td class="{$C_class} bs-gridcell" data-field=C>{$C_mastervalue}</td>
			<td class="{$D_class} bs-gridcell" data-field=D>{$D_mastervalue}</td>
			<td class="{$E_class} bs-gridcell" data-field=E>{$E_mastervalue}</td>
			<td class="{$F_class} bs-gridcell" data-field=F>{$F_mastervalue}</td>
			<td class="{$G_class} bs-gridcell" data-field=G>{$G_mastervalue}</td>
			<td class="{$H_class} bs-gridcell" data-field=H>{$H_mastervalue}</td>
			<td class="{$I_class} bs-gridcell" data-field=I>{$I_mastervalue}</td>
			<td class="{$J_class} bs-gridcell" data-field=J>{$J_mastervalue}</td>
			<td class="{$K_class} bs-gridcell" data-field=K>{$K_mastervalue}</td>
			<td class="{$APP_STATUS_class} bs-gridcell" data-field=APP_STATUS>{$APP_STATUS_mastervalue}</td>
			<td class="{$APP_NUMBER_class} bs-gridcell" data-field=APP_NUMBER>{$APP_NUMBER_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>