<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PMT_RESIDENTS_BASIC_ATTRIBUTES view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN RES_APP_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_APP_UID} bs-viewform-group" data-fieldname="RES_APP_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_APP_UID}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_APP_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_APP_UID_value}&nbsp;
		</div>
	</div>
</div>
{END RES_APP_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_NUMBER} bs-viewform-group" data-fieldname="APP_NUMBER">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_NUMBER}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES APP_NUMBER}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_NUMBER_value}&nbsp;
		</div>
	</div>
</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_STATUS} bs-viewform-group" data-fieldname="APP_STATUS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_STATUS}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES APP_STATUS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_STATUS_value}&nbsp;
		</div>
	</div>
</div>
{END APP_STATUS_fieldblock}
	{BEGIN ROW_fieldblock}
<div class="container">
	<div class="{$fielddispclass_ROW} bs-viewform-group" data-fieldname="ROW">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_ROW}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES ROW}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$ROW_value}&nbsp;
		</div>
	</div>
</div>
{END ROW_fieldblock}
	{BEGIN RES_ITEM_1_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_ITEM_1} bs-viewform-group" data-fieldname="RES_ITEM_1">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_ITEM_1}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_ITEM_1}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_ITEM_1_value}&nbsp;
		</div>
	</div>
</div>
{END RES_ITEM_1_fieldblock}
	{BEGIN TIME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TIME} bs-viewform-group" data-fieldname="TIME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TIME}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES TIME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TIME_value}&nbsp;
		</div>
	</div>
</div>
{END TIME_fieldblock}
	{BEGIN RES_MONTHLY_REPORT_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_MONTHLY_REPORT} bs-viewform-group" data-fieldname="RES_MONTHLY_REPORT">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_MONTHLY_REPORT}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_MONTHLY_REPORT}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_MONTHLY_REPORT_value}&nbsp;
		</div>
	</div>
</div>
{END RES_MONTHLY_REPORT_fieldblock}
	{BEGIN RES_ITEM_2_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_ITEM_2} bs-viewform-group" data-fieldname="RES_ITEM_2">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_ITEM_2}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_ITEM_2}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_ITEM_2_value}&nbsp;
		</div>
	</div>
</div>
{END RES_ITEM_2_fieldblock}
	{BEGIN RES_ITEM_3_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_ITEM_3} bs-viewform-group" data-fieldname="RES_ITEM_3">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_ITEM_3}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_ITEM_3}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_ITEM_3_value}&nbsp;
		</div>
	</div>
</div>
{END RES_ITEM_3_fieldblock}
	{BEGIN RES_ITEM_4_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_ITEM_4} bs-viewform-group" data-fieldname="RES_ITEM_4">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_ITEM_4}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_ITEM_4}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_ITEM_4_value}&nbsp;
		</div>
	</div>
</div>
{END RES_ITEM_4_fieldblock}
	{BEGIN RES_ITEM_5_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_ITEM_5} bs-viewform-group" data-fieldname="RES_ITEM_5">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_ITEM_5}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_ITEM_5}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_ITEM_5_value}&nbsp;
		</div>
	</div>
</div>
{END RES_ITEM_5_fieldblock}
	{BEGIN RES_RESIDENTS_CLASSIFICATION_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_RESIDENTS_CLASSIFICATION} bs-viewform-group" data-fieldname="RES_RESIDENTS_CLASSIFICATION">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_RESIDENTS_CLASSIFICATION}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_RESIDENTS_CLASSIFICATION}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_RESIDENTS_CLASSIFICATION_value}&nbsp;
		</div>
	</div>
</div>
{END RES_RESIDENTS_CLASSIFICATION_fieldblock}
	{BEGIN RES_RESIDENTS_STATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_RESIDENTS_STATE} bs-viewform-group" data-fieldname="RES_RESIDENTS_STATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_RESIDENTS_STATE}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_RESIDENTS_STATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_RESIDENTS_STATE_value}&nbsp;
		</div>
	</div>
</div>
{END RES_RESIDENTS_STATE_fieldblock}
	{BEGIN RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE} bs-viewform-group" data-fieldname="RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE_value}&nbsp;
		</div>
	</div>
</div>
{END RES_THE_CURRENT_LOCAL_GOVERNMENT_MOVE_IN_DATE_fieldblock}
	{BEGIN RES_SEX_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_SEX} bs-viewform-group" data-fieldname="RES_SEX">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_SEX}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_SEX}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_SEX_value}&nbsp;
		</div>
	</div>
</div>
{END RES_SEX_fieldblock}
	{BEGIN RES_BIRTHDAY_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_BIRTHDAY} bs-viewform-group" data-fieldname="RES_BIRTHDAY">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_BIRTHDAY}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_BIRTHDAY}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_BIRTHDAY_value}&nbsp;
		</div>
	</div>
</div>
{END RES_BIRTHDAY_fieldblock}
	{BEGIN RES_JAPANESE_CLASSIFICATION_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_JAPANESE_CLASSIFICATION} bs-viewform-group" data-fieldname="RES_JAPANESE_CLASSIFICATION">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_JAPANESE_CLASSIFICATION}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_JAPANESE_CLASSIFICATION}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_JAPANESE_CLASSIFICATION_value}&nbsp;
		</div>
	</div>
</div>
{END RES_JAPANESE_CLASSIFICATION_fieldblock}
	{BEGIN RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C} bs-viewform-group" data-fieldname="RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C_value}&nbsp;
		</div>
	</div>
</div>
{END RES_MOVE_IN_THE_ORIGINAL_MUNICIPALITY_C_fieldblock}
	{BEGIN RES_HOUSING_REGISTRATION_DIVISION_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_HOUSING_REGISTRATION_DIVISION} bs-viewform-group" data-fieldname="RES_HOUSING_REGISTRATION_DIVISION">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_HOUSING_REGISTRATION_DIVISION}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_HOUSING_REGISTRATION_DIVISION}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_HOUSING_REGISTRATION_DIVISION_value}&nbsp;
		</div>
	</div>
</div>
{END RES_HOUSING_REGISTRATION_DIVISION_fieldblock}
	{BEGIN RES_SURNAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_SURNAME} bs-viewform-group" data-fieldname="RES_SURNAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_SURNAME}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_SURNAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_SURNAME_value}&nbsp;
		</div>
	</div>
</div>
{END RES_SURNAME_fieldblock}
	{BEGIN RES_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_NAME} bs-viewform-group" data-fieldname="RES_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_NAME}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END RES_NAME_fieldblock}
	{BEGIN RES_KANA_LAST_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_KANA_LAST_NAME} bs-viewform-group" data-fieldname="RES_KANA_LAST_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_KANA_LAST_NAME}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_KANA_LAST_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_KANA_LAST_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END RES_KANA_LAST_NAME_fieldblock}
	{BEGIN RES_KANA_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_KANA_NAME} bs-viewform-group" data-fieldname="RES_KANA_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_KANA_NAME}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_KANA_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_KANA_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END RES_KANA_NAME_fieldblock}
	{BEGIN RES_PERMANENT_RESIDENCE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_PERMANENT_RESIDENCE} bs-viewform-group" data-fieldname="RES_PERMANENT_RESIDENCE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_PERMANENT_RESIDENCE}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_PERMANENT_RESIDENCE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_PERMANENT_RESIDENCE_value}&nbsp;
		</div>
	</div>
</div>
{END RES_PERMANENT_RESIDENCE_fieldblock}
	{BEGIN RES_LEGAL_DOMICILE_ADDRESS_CODE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_LEGAL_DOMICILE_ADDRESS_CODE} bs-viewform-group" data-fieldname="RES_LEGAL_DOMICILE_ADDRESS_CODE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_LEGAL_DOMICILE_ADDRESS_CODE}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_LEGAL_DOMICILE_ADDRESS_CODE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_LEGAL_DOMICILE_ADDRESS_CODE_value}&nbsp;
		</div>
	</div>
</div>
{END RES_LEGAL_DOMICILE_ADDRESS_CODE_fieldblock}
	{BEGIN RES_COUNTRY_OF_CITIZENSHIP_fieldblock}
<div class="container">
	<div class="{$fielddispclass_RES_COUNTRY_OF_CITIZENSHIP} bs-viewform-group" data-fieldname="RES_COUNTRY_OF_CITIZENSHIP">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_RES_COUNTRY_OF_CITIZENSHIP}">
			{$label PMT_RESIDENTS_BASIC_ATTRIBUTES RES_COUNTRY_OF_CITIZENSHIP}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$RES_COUNTRY_OF_CITIZENSHIP_value}&nbsp;
		</div>
	</div>
</div>
{END RES_COUNTRY_OF_CITIZENSHIP_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
