<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="APP_NUMBER">
	{$APP_NUMBER_editcontrol}
	</control>
	<control 
	field="APP_STATUS">
	{$APP_STATUS_editcontrol}
	</control>
	<control 
	field="ROW">
	{$ROW_editcontrol}
	</control>
	<control 
	field="HASCONTRACT">
	{$HASCONTRACT_editcontrol}
	</control>
	<control 
	field="NAME">
	{$NAME_editcontrol}
	</control>
	<control 
	field="TEXT0000000001">
	{$TEXT0000000001_editcontrol}
	</control>
	<control 
	field="TEXT0000000002">
	{$TEXT0000000002_editcontrol}
	</control>
	<control 
	field="TEXT0000000003">
	{$TEXT0000000003_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
