<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id">
	{$id_editcontrol}
	</control>
	<control 
	field="K50">
	{$K50_editcontrol}
	</control>
	<control 
	field="P48">
	{$P48_editcontrol}
	</control>
	<control 
	field="P49">
	{$P49_editcontrol}
	</control>
	<control 
	field="P50">
	{$P50_editcontrol}
	</control>
	<control 
	field="P51">
	{$P51_editcontrol}
	</control>
	<control 
	field="P52">
	{$P52_editcontrol}
	</control>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="APP_NUMBER">
	{$APP_NUMBER_editcontrol}
	</control>
	<control 
	field="APP_STATUS">
	{$APP_STATUS_editcontrol}
	</control>
	<control 
	field="ROW">
	{$ROW_editcontrol}
	</control>
	<control 
	field="N1">
	{$N1_editcontrol}
	</control>
	<control 
	field="P1">
	{$P1_editcontrol}
	</control>
	<control 
	field="F25">
	{$F25_editcontrol}
	</control>
	<control 
	field="K80">
	{$K80_editcontrol}
	</control>
	<control 
	field="F26">
	{$F26_editcontrol}
	</control>
	<control 
	field="E27">
	{$E27_editcontrol}
	</control>
	<control 
	field="K27">
	{$K27_editcontrol}
	</control>
	<control 
	field="K25">
	{$K25_editcontrol}
	</control>
	<control 
	field="A30">
	{$A30_editcontrol}
	</control>
	<control 
	field="A31">
	{$A31_editcontrol}
	</control>
	<control 
	field="A32">
	{$A32_editcontrol}
	</control>
	<control 
	field="D35">
	{$D35_editcontrol}
	</control>
	<control 
	field="F35">
	{$F35_editcontrol}
	</control>
	<control 
	field="M35">
	{$M35_editcontrol}
	</control>
	<control 
	field="D36">
	{$D36_editcontrol}
	</control>
	<control 
	field="F36">
	{$F36_editcontrol}
	</control>
	<control 
	field="J36">
	{$J36_editcontrol}
	</control>
	<control 
	field="D38">
	{$D38_editcontrol}
	</control>
	<control 
	field="F38">
	{$F38_editcontrol}
	</control>
	<control 
	field="D39">
	{$D39_editcontrol}
	</control>
	<control 
	field="TIME">
	{$TIME_editcontrol}
	</control>
	<control 
	field="MONTHLY_REPORT">
	{$MONTHLY_REPORT_editcontrol}
	</control>
	<control 
	field="M39">
	{$M39_editcontrol}
	</control>
	<control 
	field="D40">
	{$D40_editcontrol}
	</control>
	<control 
	field="D41">
	{$D41_editcontrol}
	</control>
	<control 
	field="D42">
	{$D42_editcontrol}
	</control>
	<control 
	field="D43">
	{$D43_editcontrol}
	</control>
	<control 
	field="M43">
	{$M43_editcontrol}
	</control>
	<control 
	field="F43">
	{$F43_editcontrol}
	</control>
	<control 
	field="D44">
	{$D44_editcontrol}
	</control>
	<control 
	field="F44">
	{$F44_editcontrol}
	</control>
	<control 
	field="D45">
	{$D45_editcontrol}
	</control>
	<control 
	field="M45">
	{$M45_editcontrol}
	</control>
	<control 
	field="D48">
	{$D48_editcontrol}
	</control>
	<control 
	field="F48">
	{$F48_editcontrol}
	</control>
	<control 
	field="D49">
	{$D49_editcontrol}
	</control>
	<control 
	field="D51">
	{$D51_editcontrol}
	</control>
	<control 
	field="D52">
	{$D52_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
