<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-search" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel PMT_PROGRAM_LIST search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN APP_UID_fieldblock}		
	<div class="container {$fielddispclass_APP_UID}" data-fieldname="APP_UID">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST APP_UID}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_UID}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_UID_editcontrol1}
			</div>
		</div>
	</div>
{END APP_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}		
	<div class="container {$fielddispclass_APP_NUMBER}" data-fieldname="APP_NUMBER">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST APP_NUMBER}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_NUMBER}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_NUMBER_editcontrol1}
			</div>
		</div>
	</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}		
	<div class="container {$fielddispclass_APP_STATUS}" data-fieldname="APP_STATUS">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST APP_STATUS}
			</div>
			<div class="col-md-2" >
				{$searchtype_APP_STATUS}
			</div>
			<div class="col-md-4" >
				{$APP_STATUS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$APP_STATUS_editcontrol1}
			</div>
		</div>
	</div>
{END APP_STATUS_fieldblock}
	{BEGIN ROW_fieldblock}		
	<div class="container {$fielddispclass_ROW}" data-fieldname="ROW">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST ROW}
			</div>
			<div class="col-md-2" >
				{$searchtype_ROW}
			</div>
			<div class="col-md-4" >
				{$ROW_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ROW_editcontrol1}
			</div>
		</div>
	</div>
{END ROW_fieldblock}
	{BEGIN N1_fieldblock}		
	<div class="container {$fielddispclass_N1}" data-fieldname="N1">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST N1}
			</div>
			<div class="col-md-2" >
				{$searchtype_N1}
			</div>
			<div class="col-md-4" >
				{$N1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$N1_editcontrol1}
			</div>
		</div>
	</div>
{END N1_fieldblock}
	{BEGIN P1_fieldblock}		
	<div class="container {$fielddispclass_P1}" data-fieldname="P1">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P1}
			</div>
			<div class="col-md-2" >
				{$searchtype_P1}
			</div>
			<div class="col-md-4" >
				{$P1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P1_editcontrol1}
			</div>
		</div>
	</div>
{END P1_fieldblock}
	{BEGIN F25_fieldblock}		
	<div class="container {$fielddispclass_F25}" data-fieldname="F25">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F25}
			</div>
			<div class="col-md-2" >
				{$searchtype_F25}
			</div>
			<div class="col-md-4" >
				{$F25_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F25_editcontrol1}
			</div>
		</div>
	</div>
{END F25_fieldblock}
	{BEGIN K80_fieldblock}		
	<div class="container {$fielddispclass_K80}" data-fieldname="K80">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST K80}
			</div>
			<div class="col-md-2" >
				{$searchtype_K80}
			</div>
			<div class="col-md-4" >
				{$K80_editcontrol}
			</div>
			<div class="col-md-4" >
				{$K80_editcontrol1}
			</div>
		</div>
	</div>
{END K80_fieldblock}
	{BEGIN F26_fieldblock}		
	<div class="container {$fielddispclass_F26}" data-fieldname="F26">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F26}
			</div>
			<div class="col-md-2" >
				{$searchtype_F26}
			</div>
			<div class="col-md-4" >
				{$F26_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F26_editcontrol1}
			</div>
		</div>
	</div>
{END F26_fieldblock}
	{BEGIN E27_fieldblock}		
	<div class="container {$fielddispclass_E27}" data-fieldname="E27">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST E27}
			</div>
			<div class="col-md-2" >
				{$searchtype_E27}
			</div>
			<div class="col-md-4" >
				{$E27_editcontrol}
			</div>
			<div class="col-md-4" >
				{$E27_editcontrol1}
			</div>
		</div>
	</div>
{END E27_fieldblock}
	{BEGIN K27_fieldblock}		
	<div class="container {$fielddispclass_K27}" data-fieldname="K27">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST K27}
			</div>
			<div class="col-md-2" >
				{$searchtype_K27}
			</div>
			<div class="col-md-4" >
				{$K27_editcontrol}
			</div>
			<div class="col-md-4" >
				{$K27_editcontrol1}
			</div>
		</div>
	</div>
{END K27_fieldblock}
	{BEGIN K25_fieldblock}		
	<div class="container {$fielddispclass_K25}" data-fieldname="K25">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST K25}
			</div>
			<div class="col-md-2" >
				{$searchtype_K25}
			</div>
			<div class="col-md-4" >
				{$K25_editcontrol}
			</div>
			<div class="col-md-4" >
				{$K25_editcontrol1}
			</div>
		</div>
	</div>
{END K25_fieldblock}
	{BEGIN A30_fieldblock}		
	<div class="container {$fielddispclass_A30}" data-fieldname="A30">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST A30}
			</div>
			<div class="col-md-2" >
				{$searchtype_A30}
			</div>
			<div class="col-md-4" >
				{$A30_editcontrol}
			</div>
			<div class="col-md-4" >
				{$A30_editcontrol1}
			</div>
		</div>
	</div>
{END A30_fieldblock}
	{BEGIN A31_fieldblock}		
	<div class="container {$fielddispclass_A31}" data-fieldname="A31">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST A31}
			</div>
			<div class="col-md-2" >
				{$searchtype_A31}
			</div>
			<div class="col-md-4" >
				{$A31_editcontrol}
			</div>
			<div class="col-md-4" >
				{$A31_editcontrol1}
			</div>
		</div>
	</div>
{END A31_fieldblock}
	{BEGIN A32_fieldblock}		
	<div class="container {$fielddispclass_A32}" data-fieldname="A32">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST A32}
			</div>
			<div class="col-md-2" >
				{$searchtype_A32}
			</div>
			<div class="col-md-4" >
				{$A32_editcontrol}
			</div>
			<div class="col-md-4" >
				{$A32_editcontrol1}
			</div>
		</div>
	</div>
{END A32_fieldblock}
	{BEGIN D35_fieldblock}		
	<div class="container {$fielddispclass_D35}" data-fieldname="D35">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D35}
			</div>
			<div class="col-md-2" >
				{$searchtype_D35}
			</div>
			<div class="col-md-4" >
				{$D35_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D35_editcontrol1}
			</div>
		</div>
	</div>
{END D35_fieldblock}
	{BEGIN F35_fieldblock}		
	<div class="container {$fielddispclass_F35}" data-fieldname="F35">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F35}
			</div>
			<div class="col-md-2" >
				{$searchtype_F35}
			</div>
			<div class="col-md-4" >
				{$F35_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F35_editcontrol1}
			</div>
		</div>
	</div>
{END F35_fieldblock}
	{BEGIN M35_fieldblock}		
	<div class="container {$fielddispclass_M35}" data-fieldname="M35">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST M35}
			</div>
			<div class="col-md-2" >
				{$searchtype_M35}
			</div>
			<div class="col-md-4" >
				{$M35_editcontrol}
			</div>
			<div class="col-md-4" >
				{$M35_editcontrol1}
			</div>
		</div>
	</div>
{END M35_fieldblock}
	{BEGIN D36_fieldblock}		
	<div class="container {$fielddispclass_D36}" data-fieldname="D36">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D36}
			</div>
			<div class="col-md-2" >
				{$searchtype_D36}
			</div>
			<div class="col-md-4" >
				{$D36_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D36_editcontrol1}
			</div>
		</div>
	</div>
{END D36_fieldblock}
	{BEGIN F36_fieldblock}		
	<div class="container {$fielddispclass_F36}" data-fieldname="F36">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F36}
			</div>
			<div class="col-md-2" >
				{$searchtype_F36}
			</div>
			<div class="col-md-4" >
				{$F36_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F36_editcontrol1}
			</div>
		</div>
	</div>
{END F36_fieldblock}
	{BEGIN J36_fieldblock}		
	<div class="container {$fielddispclass_J36}" data-fieldname="J36">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST J36}
			</div>
			<div class="col-md-2" >
				{$searchtype_J36}
			</div>
			<div class="col-md-4" >
				{$J36_editcontrol}
			</div>
			<div class="col-md-4" >
				{$J36_editcontrol1}
			</div>
		</div>
	</div>
{END J36_fieldblock}
	{BEGIN D38_fieldblock}		
	<div class="container {$fielddispclass_D38}" data-fieldname="D38">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D38}
			</div>
			<div class="col-md-2" >
				{$searchtype_D38}
			</div>
			<div class="col-md-4" >
				{$D38_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D38_editcontrol1}
			</div>
		</div>
	</div>
{END D38_fieldblock}
	{BEGIN F38_fieldblock}		
	<div class="container {$fielddispclass_F38}" data-fieldname="F38">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F38}
			</div>
			<div class="col-md-2" >
				{$searchtype_F38}
			</div>
			<div class="col-md-4" >
				{$F38_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F38_editcontrol1}
			</div>
		</div>
	</div>
{END F38_fieldblock}
	{BEGIN D39_fieldblock}		
	<div class="container {$fielddispclass_D39}" data-fieldname="D39">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D39}
			</div>
			<div class="col-md-2" >
				{$searchtype_D39}
			</div>
			<div class="col-md-4" >
				{$D39_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D39_editcontrol1}
			</div>
		</div>
	</div>
{END D39_fieldblock}
	{BEGIN TIME_fieldblock}		
	<div class="container {$fielddispclass_TIME}" data-fieldname="TIME">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST TIME}
			</div>
			<div class="col-md-2" >
				{$searchtype_TIME}
			</div>
			<div class="col-md-4" >
				{$TIME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TIME_editcontrol1}
			</div>
		</div>
	</div>
{END TIME_fieldblock}
	{BEGIN MONTHLY_REPORT_fieldblock}		
	<div class="container {$fielddispclass_MONTHLY_REPORT}" data-fieldname="MONTHLY_REPORT">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST MONTHLY_REPORT}
			</div>
			<div class="col-md-2" >
				{$searchtype_MONTHLY_REPORT}
			</div>
			<div class="col-md-4" >
				{$MONTHLY_REPORT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MONTHLY_REPORT_editcontrol1}
			</div>
		</div>
	</div>
{END MONTHLY_REPORT_fieldblock}
	{BEGIN M39_fieldblock}		
	<div class="container {$fielddispclass_M39}" data-fieldname="M39">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST M39}
			</div>
			<div class="col-md-2" >
				{$searchtype_M39}
			</div>
			<div class="col-md-4" >
				{$M39_editcontrol}
			</div>
			<div class="col-md-4" >
				{$M39_editcontrol1}
			</div>
		</div>
	</div>
{END M39_fieldblock}
	{BEGIN D40_fieldblock}		
	<div class="container {$fielddispclass_D40}" data-fieldname="D40">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D40}
			</div>
			<div class="col-md-2" >
				{$searchtype_D40}
			</div>
			<div class="col-md-4" >
				{$D40_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D40_editcontrol1}
			</div>
		</div>
	</div>
{END D40_fieldblock}
	{BEGIN D41_fieldblock}		
	<div class="container {$fielddispclass_D41}" data-fieldname="D41">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D41}
			</div>
			<div class="col-md-2" >
				{$searchtype_D41}
			</div>
			<div class="col-md-4" >
				{$D41_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D41_editcontrol1}
			</div>
		</div>
	</div>
{END D41_fieldblock}
	{BEGIN D42_fieldblock}		
	<div class="container {$fielddispclass_D42}" data-fieldname="D42">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D42}
			</div>
			<div class="col-md-2" >
				{$searchtype_D42}
			</div>
			<div class="col-md-4" >
				{$D42_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D42_editcontrol1}
			</div>
		</div>
	</div>
{END D42_fieldblock}
	{BEGIN D43_fieldblock}		
	<div class="container {$fielddispclass_D43}" data-fieldname="D43">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D43}
			</div>
			<div class="col-md-2" >
				{$searchtype_D43}
			</div>
			<div class="col-md-4" >
				{$D43_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D43_editcontrol1}
			</div>
		</div>
	</div>
{END D43_fieldblock}
	{BEGIN M43_fieldblock}		
	<div class="container {$fielddispclass_M43}" data-fieldname="M43">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST M43}
			</div>
			<div class="col-md-2" >
				{$searchtype_M43}
			</div>
			<div class="col-md-4" >
				{$M43_editcontrol}
			</div>
			<div class="col-md-4" >
				{$M43_editcontrol1}
			</div>
		</div>
	</div>
{END M43_fieldblock}
	{BEGIN F43_fieldblock}		
	<div class="container {$fielddispclass_F43}" data-fieldname="F43">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F43}
			</div>
			<div class="col-md-2" >
				{$searchtype_F43}
			</div>
			<div class="col-md-4" >
				{$F43_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F43_editcontrol1}
			</div>
		</div>
	</div>
{END F43_fieldblock}
	{BEGIN D44_fieldblock}		
	<div class="container {$fielddispclass_D44}" data-fieldname="D44">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D44}
			</div>
			<div class="col-md-2" >
				{$searchtype_D44}
			</div>
			<div class="col-md-4" >
				{$D44_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D44_editcontrol1}
			</div>
		</div>
	</div>
{END D44_fieldblock}
	{BEGIN F44_fieldblock}		
	<div class="container {$fielddispclass_F44}" data-fieldname="F44">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F44}
			</div>
			<div class="col-md-2" >
				{$searchtype_F44}
			</div>
			<div class="col-md-4" >
				{$F44_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F44_editcontrol1}
			</div>
		</div>
	</div>
{END F44_fieldblock}
	{BEGIN D45_fieldblock}		
	<div class="container {$fielddispclass_D45}" data-fieldname="D45">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D45}
			</div>
			<div class="col-md-2" >
				{$searchtype_D45}
			</div>
			<div class="col-md-4" >
				{$D45_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D45_editcontrol1}
			</div>
		</div>
	</div>
{END D45_fieldblock}
	{BEGIN M45_fieldblock}		
	<div class="container {$fielddispclass_M45}" data-fieldname="M45">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST M45}
			</div>
			<div class="col-md-2" >
				{$searchtype_M45}
			</div>
			<div class="col-md-4" >
				{$M45_editcontrol}
			</div>
			<div class="col-md-4" >
				{$M45_editcontrol1}
			</div>
		</div>
	</div>
{END M45_fieldblock}
	{BEGIN D48_fieldblock}		
	<div class="container {$fielddispclass_D48}" data-fieldname="D48">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D48}
			</div>
			<div class="col-md-2" >
				{$searchtype_D48}
			</div>
			<div class="col-md-4" >
				{$D48_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D48_editcontrol1}
			</div>
		</div>
	</div>
{END D48_fieldblock}
	{BEGIN F48_fieldblock}		
	<div class="container {$fielddispclass_F48}" data-fieldname="F48">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST F48}
			</div>
			<div class="col-md-2" >
				{$searchtype_F48}
			</div>
			<div class="col-md-4" >
				{$F48_editcontrol}
			</div>
			<div class="col-md-4" >
				{$F48_editcontrol1}
			</div>
		</div>
	</div>
{END F48_fieldblock}
	{BEGIN D49_fieldblock}		
	<div class="container {$fielddispclass_D49}" data-fieldname="D49">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D49}
			</div>
			<div class="col-md-2" >
				{$searchtype_D49}
			</div>
			<div class="col-md-4" >
				{$D49_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D49_editcontrol1}
			</div>
		</div>
	</div>
{END D49_fieldblock}
	{BEGIN D51_fieldblock}		
	<div class="container {$fielddispclass_D51}" data-fieldname="D51">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D51}
			</div>
			<div class="col-md-2" >
				{$searchtype_D51}
			</div>
			<div class="col-md-4" >
				{$D51_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D51_editcontrol1}
			</div>
		</div>
	</div>
{END D51_fieldblock}
	{BEGIN D52_fieldblock}		
	<div class="container {$fielddispclass_D52}" data-fieldname="D52">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST D52}
			</div>
			<div class="col-md-2" >
				{$searchtype_D52}
			</div>
			<div class="col-md-4" >
				{$D52_editcontrol}
			</div>
			<div class="col-md-4" >
				{$D52_editcontrol1}
			</div>
		</div>
	</div>
{END D52_fieldblock}
	{BEGIN K50_fieldblock}		
	<div class="container {$fielddispclass_K50}" data-fieldname="K50">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST K50}
			</div>
			<div class="col-md-2" >
				{$searchtype_K50}
			</div>
			<div class="col-md-4" >
				{$K50_editcontrol}
			</div>
			<div class="col-md-4" >
				{$K50_editcontrol1}
			</div>
		</div>
	</div>
{END K50_fieldblock}
	{BEGIN P48_fieldblock}		
	<div class="container {$fielddispclass_P48}" data-fieldname="P48">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P48}
			</div>
			<div class="col-md-2" >
				{$searchtype_P48}
			</div>
			<div class="col-md-4" >
				{$P48_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P48_editcontrol1}
			</div>
		</div>
	</div>
{END P48_fieldblock}
	{BEGIN P49_fieldblock}		
	<div class="container {$fielddispclass_P49}" data-fieldname="P49">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P49}
			</div>
			<div class="col-md-2" >
				{$searchtype_P49}
			</div>
			<div class="col-md-4" >
				{$P49_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P49_editcontrol1}
			</div>
		</div>
	</div>
{END P49_fieldblock}
	{BEGIN P50_fieldblock}		
	<div class="container {$fielddispclass_P50}" data-fieldname="P50">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P50}
			</div>
			<div class="col-md-2" >
				{$searchtype_P50}
			</div>
			<div class="col-md-4" >
				{$P50_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P50_editcontrol1}
			</div>
		</div>
	</div>
{END P50_fieldblock}
	{BEGIN P51_fieldblock}		
	<div class="container {$fielddispclass_P51}" data-fieldname="P51">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P51}
			</div>
			<div class="col-md-2" >
				{$searchtype_P51}
			</div>
			<div class="col-md-4" >
				{$P51_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P51_editcontrol1}
			</div>
		</div>
	</div>
{END P51_fieldblock}
	{BEGIN P52_fieldblock}		
	<div class="container {$fielddispclass_P52}" data-fieldname="P52">
		<div class="form-group">
			<div class="col-md-2">
				{$label PMT_PROGRAM_LIST P52}
			</div>
			<div class="col-md-2" >
				{$searchtype_P52}
			</div>
			<div class="col-md-4" >
				{$P52_editcontrol}
			</div>
			<div class="col-md-4" >
				{$P52_editcontrol1}
			</div>
		</div>
	</div>
{END P52_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
