<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="A">
	{$A_editcontrol}
	</control>
	<control 
	field="B">
	{$B_editcontrol}
	</control>
	<control 
	field="C">
	{$C_editcontrol}
	</control>
	<control 
	field="D">
	{$D_editcontrol}
	</control>
	<control 
	field="E">
	{$E_editcontrol}
	</control>
	<control 
	field="F">
	{$F_editcontrol}
	</control>
	<control 
	field="G">
	{$G_editcontrol}
	</control>
	<control 
	field="H">
	{$H_editcontrol}
	</control>
	<control 
	field="I">
	{$I_editcontrol}
	</control>
	<control 
	field="J">
	{$J_editcontrol}
	</control>
	<control 
	field="K">
	{$K_editcontrol}
	</control>
	<control 
	field="L">
	{$L_editcontrol}
	</control>
	<control 
	field="M">
	{$M_editcontrol}
	</control>
	<control 
	field="N">
	{$N_editcontrol}
	</control>
	<control 
	field="O">
	{$O_editcontrol}
	</control>
	<control 
	field="P">
	{$P_editcontrol}
	</control>
	<control 
	field="Q">
	{$Q_editcontrol}
	</control>
	<control 
	field="R">
	{$R_editcontrol}
	</control>
	<control 
	field="S">
	{$S_editcontrol}
	</control>
	<control 
	field="T">
	{$T_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
