<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PMT_ECCUBEBLOG view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN APP_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_UID} bs-viewform-group" data-fieldname="APP_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_UID}">
			{$label PMT_ECCUBEBLOG APP_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_UID_value}&nbsp;
		</div>
	</div>
</div>
{END APP_UID_fieldblock}
	{BEGIN APP_NUMBER_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_NUMBER} bs-viewform-group" data-fieldname="APP_NUMBER">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_NUMBER}">
			{$label PMT_ECCUBEBLOG APP_NUMBER}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_NUMBER_value}&nbsp;
		</div>
	</div>
</div>
{END APP_NUMBER_fieldblock}
	{BEGIN APP_STATUS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APP_STATUS} bs-viewform-group" data-fieldname="APP_STATUS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APP_STATUS}">
			{$label PMT_ECCUBEBLOG APP_STATUS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APP_STATUS_value}&nbsp;
		</div>
	</div>
</div>
{END APP_STATUS_fieldblock}
	{BEGIN BLOC_ID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_BLOC_ID} bs-viewform-group" data-fieldname="BLOC_ID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_BLOC_ID}">
			{$label PMT_ECCUBEBLOG BLOC_ID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$BLOC_ID_value}&nbsp;
		</div>
	</div>
</div>
{END BLOC_ID_fieldblock}
	{BEGIN BLOC_ID_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_BLOC_ID_LABEL} bs-viewform-group" data-fieldname="BLOC_ID_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_BLOC_ID_LABEL}">
			{$label PMT_ECCUBEBLOG BLOC_ID_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$BLOC_ID_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END BLOC_ID_LABEL_fieldblock}
	{BEGIN BLOC_NAME_fieldblock}
<div class="container">
	<div class="{$fielddispclass_BLOC_NAME} bs-viewform-group" data-fieldname="BLOC_NAME">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_BLOC_NAME}">
			{$label PMT_ECCUBEBLOG BLOC_NAME}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$BLOC_NAME_value}&nbsp;
		</div>
	</div>
</div>
{END BLOC_NAME_fieldblock}
	{BEGIN BLOC_NAME_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_BLOC_NAME_LABEL} bs-viewform-group" data-fieldname="BLOC_NAME_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_BLOC_NAME_LABEL}">
			{$label PMT_ECCUBEBLOG BLOC_NAME_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$BLOC_NAME_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END BLOC_NAME_LABEL_fieldblock}
	{BEGIN APPLICATION_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APPLICATION} bs-viewform-group" data-fieldname="APPLICATION">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APPLICATION}">
			{$label PMT_ECCUBEBLOG APPLICATION}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APPLICATION_value}&nbsp;
		</div>
	</div>
</div>
{END APPLICATION_fieldblock}
	{BEGIN APPLICATION_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_APPLICATION_LABEL} bs-viewform-group" data-fieldname="APPLICATION_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_APPLICATION_LABEL}">
			{$label PMT_ECCUBEBLOG APPLICATION_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$APPLICATION_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END APPLICATION_LABEL_fieldblock}
	{BEGIN PROCESS_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PROCESS} bs-viewform-group" data-fieldname="PROCESS">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PROCESS}">
			{$label PMT_ECCUBEBLOG PROCESS}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PROCESS_value}&nbsp;
		</div>
	</div>
</div>
{END PROCESS_fieldblock}
	{BEGIN PROCESS_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PROCESS_LABEL} bs-viewform-group" data-fieldname="PROCESS_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PROCESS_LABEL}">
			{$label PMT_ECCUBEBLOG PROCESS_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PROCESS_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END PROCESS_LABEL_fieldblock}
	{BEGIN CHECKBOXVAR001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_CHECKBOXVAR001} bs-viewform-group" data-fieldname="CHECKBOXVAR001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_CHECKBOXVAR001}">
			{$label PMT_ECCUBEBLOG CHECKBOXVAR001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$CHECKBOXVAR001_value}&nbsp;
		</div>
	</div>
</div>
{END CHECKBOXVAR001_fieldblock}
	{BEGIN DATETIMEVAR001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DATETIMEVAR001} bs-viewform-group" data-fieldname="DATETIMEVAR001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DATETIMEVAR001}">
			{$label PMT_ECCUBEBLOG DATETIMEVAR001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DATETIMEVAR001_value}&nbsp;
		</div>
	</div>
</div>
{END DATETIMEVAR001_fieldblock}
	{BEGIN DATETIMEVAR001_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DATETIMEVAR001_LABEL} bs-viewform-group" data-fieldname="DATETIMEVAR001_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DATETIMEVAR001_LABEL}">
			{$label PMT_ECCUBEBLOG DATETIMEVAR001_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DATETIMEVAR001_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END DATETIMEVAR001_LABEL_fieldblock}
	{BEGIN DATETIMEVAR002_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DATETIMEVAR002} bs-viewform-group" data-fieldname="DATETIMEVAR002">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DATETIMEVAR002}">
			{$label PMT_ECCUBEBLOG DATETIMEVAR002}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DATETIMEVAR002_value}&nbsp;
		</div>
	</div>
</div>
{END DATETIMEVAR002_fieldblock}
	{BEGIN DATETIMEVAR002_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DATETIMEVAR002_LABEL} bs-viewform-group" data-fieldname="DATETIMEVAR002_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DATETIMEVAR002_LABEL}">
			{$label PMT_ECCUBEBLOG DATETIMEVAR002_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DATETIMEVAR002_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END DATETIMEVAR002_LABEL_fieldblock}
	{BEGIN DROPDOWNVAR001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DROPDOWNVAR001} bs-viewform-group" data-fieldname="DROPDOWNVAR001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DROPDOWNVAR001}">
			{$label PMT_ECCUBEBLOG DROPDOWNVAR001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DROPDOWNVAR001_value}&nbsp;
		</div>
	</div>
</div>
{END DROPDOWNVAR001_fieldblock}
	{BEGIN DROPDOWNVAR002_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DROPDOWNVAR002} bs-viewform-group" data-fieldname="DROPDOWNVAR002">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DROPDOWNVAR002}">
			{$label PMT_ECCUBEBLOG DROPDOWNVAR002}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DROPDOWNVAR002_value}&nbsp;
		</div>
	</div>
</div>
{END DROPDOWNVAR002_fieldblock}
	{BEGIN DROPDOWNVAR003_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DROPDOWNVAR003} bs-viewform-group" data-fieldname="DROPDOWNVAR003">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DROPDOWNVAR003}">
			{$label PMT_ECCUBEBLOG DROPDOWNVAR003}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DROPDOWNVAR003_value}&nbsp;
		</div>
	</div>
</div>
{END DROPDOWNVAR003_fieldblock}
	{BEGIN DROPDOWNVAR003_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_DROPDOWNVAR003_LABEL} bs-viewform-group" data-fieldname="DROPDOWNVAR003_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_DROPDOWNVAR003_LABEL}">
			{$label PMT_ECCUBEBLOG DROPDOWNVAR003_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$DROPDOWNVAR003_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END DROPDOWNVAR003_LABEL_fieldblock}
	{BEGIN SATEI_fieldblock}
<div class="container">
	<div class="{$fielddispclass_SATEI} bs-viewform-group" data-fieldname="SATEI">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_SATEI}">
			{$label PMT_ECCUBEBLOG SATEI}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$SATEI_value}&nbsp;
		</div>
	</div>
</div>
{END SATEI_fieldblock}
	{BEGIN SATEI_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_SATEI_LABEL} bs-viewform-group" data-fieldname="SATEI_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_SATEI_LABEL}">
			{$label PMT_ECCUBEBLOG SATEI_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$SATEI_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END SATEI_LABEL_fieldblock}
	{BEGIN TEXTVAR001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR001} bs-viewform-group" data-fieldname="TEXTVAR001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR001}">
			{$label PMT_ECCUBEBLOG TEXTVAR001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR001_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR001_fieldblock}
	{BEGIN TEXTVAR001_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR001_LABEL} bs-viewform-group" data-fieldname="TEXTVAR001_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR001_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR001_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR001_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR001_LABEL_fieldblock}
	{BEGIN TEXTVAR004_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR004} bs-viewform-group" data-fieldname="TEXTVAR004">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR004}">
			{$label PMT_ECCUBEBLOG TEXTVAR004}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR004_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR004_fieldblock}
	{BEGIN TEXTVAR004_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR004_LABEL} bs-viewform-group" data-fieldname="TEXTVAR004_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR004_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR004_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR004_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR004_LABEL_fieldblock}
	{BEGIN TEXTVAR005_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR005} bs-viewform-group" data-fieldname="TEXTVAR005">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR005}">
			{$label PMT_ECCUBEBLOG TEXTVAR005}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR005_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR005_fieldblock}
	{BEGIN TEXTVAR006_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR006} bs-viewform-group" data-fieldname="TEXTVAR006">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR006}">
			{$label PMT_ECCUBEBLOG TEXTVAR006}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR006_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR006_fieldblock}
	{BEGIN TEXTVAR006_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR006_LABEL} bs-viewform-group" data-fieldname="TEXTVAR006_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR006_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR006_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR006_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR006_LABEL_fieldblock}
	{BEGIN TEXTVAR007_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR007} bs-viewform-group" data-fieldname="TEXTVAR007">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR007}">
			{$label PMT_ECCUBEBLOG TEXTVAR007}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR007_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR007_fieldblock}
	{BEGIN TEXTVAR007_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR007_LABEL} bs-viewform-group" data-fieldname="TEXTVAR007_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR007_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR007_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR007_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR007_LABEL_fieldblock}
	{BEGIN TEXTVAR008_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR008} bs-viewform-group" data-fieldname="TEXTVAR008">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR008}">
			{$label PMT_ECCUBEBLOG TEXTVAR008}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR008_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR008_fieldblock}
	{BEGIN TEXTVAR008_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR008_LABEL} bs-viewform-group" data-fieldname="TEXTVAR008_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR008_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR008_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR008_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR008_LABEL_fieldblock}
	{BEGIN TEXTVAR009_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR009} bs-viewform-group" data-fieldname="TEXTVAR009">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR009}">
			{$label PMT_ECCUBEBLOG TEXTVAR009}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR009_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR009_fieldblock}
	{BEGIN TEXTVAR009_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR009_LABEL} bs-viewform-group" data-fieldname="TEXTVAR009_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR009_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR009_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR009_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR009_LABEL_fieldblock}
	{BEGIN TEXTVAR010_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR010} bs-viewform-group" data-fieldname="TEXTVAR010">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR010}">
			{$label PMT_ECCUBEBLOG TEXTVAR010}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR010_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR010_fieldblock}
	{BEGIN TEXTVAR010_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR010_LABEL} bs-viewform-group" data-fieldname="TEXTVAR010_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR010_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR010_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR010_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR010_LABEL_fieldblock}
	{BEGIN TEXTVAR011_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR011} bs-viewform-group" data-fieldname="TEXTVAR011">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR011}">
			{$label PMT_ECCUBEBLOG TEXTVAR011}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR011_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR011_fieldblock}
	{BEGIN TEXTVAR011_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR011_LABEL} bs-viewform-group" data-fieldname="TEXTVAR011_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR011_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR011_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR011_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR011_LABEL_fieldblock}
	{BEGIN TEXTVAR012_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR012} bs-viewform-group" data-fieldname="TEXTVAR012">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR012}">
			{$label PMT_ECCUBEBLOG TEXTVAR012}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR012_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR012_fieldblock}
	{BEGIN TEXTVAR012_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR012_LABEL} bs-viewform-group" data-fieldname="TEXTVAR012_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR012_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR012_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR012_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR012_LABEL_fieldblock}
	{BEGIN TEXTVAR013_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR013} bs-viewform-group" data-fieldname="TEXTVAR013">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR013}">
			{$label PMT_ECCUBEBLOG TEXTVAR013}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR013_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR013_fieldblock}
	{BEGIN TEXTVAR013_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR013_LABEL} bs-viewform-group" data-fieldname="TEXTVAR013_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR013_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR013_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR013_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR013_LABEL_fieldblock}
	{BEGIN TEXTVAR014_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR014} bs-viewform-group" data-fieldname="TEXTVAR014">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR014}">
			{$label PMT_ECCUBEBLOG TEXTVAR014}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR014_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR014_fieldblock}
	{BEGIN TEXTVAR014_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR014_LABEL} bs-viewform-group" data-fieldname="TEXTVAR014_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR014_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR014_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR014_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR014_LABEL_fieldblock}
	{BEGIN TEXTVAR015_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR015} bs-viewform-group" data-fieldname="TEXTVAR015">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR015}">
			{$label PMT_ECCUBEBLOG TEXTVAR015}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR015_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR015_fieldblock}
	{BEGIN TEXTVAR015_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTVAR015_LABEL} bs-viewform-group" data-fieldname="TEXTVAR015_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTVAR015_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTVAR015_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTVAR015_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTVAR015_LABEL_fieldblock}
	{BEGIN TEXTAREAVAR001_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR001} bs-viewform-group" data-fieldname="TEXTAREAVAR001">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR001}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR001}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR001_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR001_fieldblock}
	{BEGIN TEXTAREAVAR002_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR002} bs-viewform-group" data-fieldname="TEXTAREAVAR002">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR002}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR002}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR002_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR002_fieldblock}
	{BEGIN TEXTAREAVAR003_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR003} bs-viewform-group" data-fieldname="TEXTAREAVAR003">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR003}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR003}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR003_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR003_fieldblock}
	{BEGIN TEXTAREAVAR003_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR003_LABEL} bs-viewform-group" data-fieldname="TEXTAREAVAR003_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR003_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR003_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR003_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR003_LABEL_fieldblock}
	{BEGIN TEXTAREAVAR004_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR004} bs-viewform-group" data-fieldname="TEXTAREAVAR004">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR004}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR004}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR004_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR004_fieldblock}
	{BEGIN TEXTAREAVAR004_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR004_LABEL} bs-viewform-group" data-fieldname="TEXTAREAVAR004_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR004_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR004_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR004_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR004_LABEL_fieldblock}
	{BEGIN TEXTAREAVAR005_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR005} bs-viewform-group" data-fieldname="TEXTAREAVAR005">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR005}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR005}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR005_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR005_fieldblock}
	{BEGIN TEXTAREAVAR005_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR005_LABEL} bs-viewform-group" data-fieldname="TEXTAREAVAR005_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR005_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR005_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR005_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR005_LABEL_fieldblock}
	{BEGIN TEXTAREAVAR006_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR006} bs-viewform-group" data-fieldname="TEXTAREAVAR006">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR006}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR006}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR006_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR006_fieldblock}
	{BEGIN TEXTAREAVAR006_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TEXTAREAVAR006_LABEL} bs-viewform-group" data-fieldname="TEXTAREAVAR006_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TEXTAREAVAR006_LABEL}">
			{$label PMT_ECCUBEBLOG TEXTAREAVAR006_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TEXTAREAVAR006_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TEXTAREAVAR006_LABEL_fieldblock}
	{BEGIN JPN_fieldblock}
<div class="container">
	<div class="{$fielddispclass_JPN} bs-viewform-group" data-fieldname="JPN">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_JPN}">
			{$label PMT_ECCUBEBLOG JPN}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$JPN_value}&nbsp;
		</div>
	</div>
</div>
{END JPN_fieldblock}
	{BEGIN JPN_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_JPN_LABEL} bs-viewform-group" data-fieldname="JPN_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_JPN_LABEL}">
			{$label PMT_ECCUBEBLOG JPN_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$JPN_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END JPN_LABEL_fieldblock}
	{BEGIN TPL_PATH_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TPL_PATH} bs-viewform-group" data-fieldname="TPL_PATH">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TPL_PATH}">
			{$label PMT_ECCUBEBLOG TPL_PATH}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TPL_PATH_value}&nbsp;
		</div>
	</div>
</div>
{END TPL_PATH_fieldblock}
	{BEGIN TPL_PATH_LABEL_fieldblock}
<div class="container">
	<div class="{$fielddispclass_TPL_PATH_LABEL} bs-viewform-group" data-fieldname="TPL_PATH_LABEL">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_TPL_PATH_LABEL}">
			{$label PMT_ECCUBEBLOG TPL_PATH_LABEL}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$TPL_PATH_LABEL_value}&nbsp;
		</div>
	</div>
</div>
{END TPL_PATH_LABEL_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
