<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel PMT_SPREADMAIN masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$APP_UID_class}">{$label PMT_SPREADMAIN APP_UID}</th>
			<th class="{$APP_NUMBER_class}">{$label PMT_SPREADMAIN APP_NUMBER}</th>
			<th class="{$APP_STATUS_class}">{$label PMT_SPREADMAIN APP_STATUS}</th>
			<th class="{$ROW_class}">{$label PMT_SPREADMAIN ROW}</th>
			<th class="{$N1_class}">{$label PMT_SPREADMAIN N1}</th>
			<th class="{$P1_class}">{$label PMT_SPREADMAIN P1}</th>
			<th class="{$F25_class}">{$label PMT_SPREADMAIN F25}</th>
			<th class="{$K80_class}">{$label PMT_SPREADMAIN K80}</th>
			<th class="{$F26_class}">{$label PMT_SPREADMAIN F26}</th>
			<th class="{$E27_class}">{$label PMT_SPREADMAIN E27}</th>
			<th class="{$K27_class}">{$label PMT_SPREADMAIN K27}</th>
			<th class="{$K25_class}">{$label PMT_SPREADMAIN K25}</th>
			<th class="{$A30_class}">{$label PMT_SPREADMAIN A30}</th>
			<th class="{$A31_class}">{$label PMT_SPREADMAIN A31}</th>
			<th class="{$A32_class}">{$label PMT_SPREADMAIN A32}</th>
			<th class="{$D35_class}">{$label PMT_SPREADMAIN D35}</th>
			<th class="{$F35_class}">{$label PMT_SPREADMAIN F35}</th>
			<th class="{$M35_class}">{$label PMT_SPREADMAIN M35}</th>
			<th class="{$D36_class}">{$label PMT_SPREADMAIN D36}</th>
			<th class="{$F36_class}">{$label PMT_SPREADMAIN F36}</th>
			<th class="{$J36_class}">{$label PMT_SPREADMAIN J36}</th>
			<th class="{$D38_class}">{$label PMT_SPREADMAIN D38}</th>
			<th class="{$F38_class}">{$label PMT_SPREADMAIN F38}</th>
			<th class="{$D39_class}">{$label PMT_SPREADMAIN D39}</th>
			<th class="{$TIME_class}">{$label PMT_SPREADMAIN TIME}</th>
			<th class="{$MONTHLY_REPORT_class}">{$label PMT_SPREADMAIN MONTHLY_REPORT}</th>
			<th class="{$M39_class}">{$label PMT_SPREADMAIN M39}</th>
			<th class="{$D40_class}">{$label PMT_SPREADMAIN D40}</th>
			<th class="{$D41_class}">{$label PMT_SPREADMAIN D41}</th>
			<th class="{$D42_class}">{$label PMT_SPREADMAIN D42}</th>
			<th class="{$D43_class}">{$label PMT_SPREADMAIN D43}</th>
			<th class="{$M43_class}">{$label PMT_SPREADMAIN M43}</th>
			<th class="{$F43_class}">{$label PMT_SPREADMAIN F43}</th>
			<th class="{$D44_class}">{$label PMT_SPREADMAIN D44}</th>
			<th class="{$F44_class}">{$label PMT_SPREADMAIN F44}</th>
			<th class="{$D45_class}">{$label PMT_SPREADMAIN D45}</th>
			<th class="{$M45_class}">{$label PMT_SPREADMAIN M45}</th>
			<th class="{$D48_class}">{$label PMT_SPREADMAIN D48}</th>
			<th class="{$F48_class}">{$label PMT_SPREADMAIN F48}</th>
			<th class="{$D49_class}">{$label PMT_SPREADMAIN D49}</th>
			<th class="{$D51_class}">{$label PMT_SPREADMAIN D51}</th>
			<th class="{$D52_class}">{$label PMT_SPREADMAIN D52}</th>
			<th class="{$K50_class}">{$label PMT_SPREADMAIN K50}</th>
			<th class="{$P48_class}">{$label PMT_SPREADMAIN P48}</th>
			<th class="{$P49_class}">{$label PMT_SPREADMAIN P49}</th>
			<th class="{$P50_class}">{$label PMT_SPREADMAIN P50}</th>
			<th class="{$P51_class}">{$label PMT_SPREADMAIN P51}</th>
			<th class="{$P52_class}">{$label PMT_SPREADMAIN P52}</th>
			<th class="{$id_class}">{$label PMT_SPREADMAIN id}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$APP_UID_class}">{$APP_UID_mastervalue}</td>
			<td class="{$APP_NUMBER_class}">{$APP_NUMBER_mastervalue}</td>
			<td class="{$APP_STATUS_class}">{$APP_STATUS_mastervalue}</td>
			<td class="{$ROW_class}">{$ROW_mastervalue}</td>
			<td class="{$N1_class}">{$N1_mastervalue}</td>
			<td class="{$P1_class}">{$P1_mastervalue}</td>
			<td class="{$F25_class}">{$F25_mastervalue}</td>
			<td class="{$K80_class}">{$K80_mastervalue}</td>
			<td class="{$F26_class}">{$F26_mastervalue}</td>
			<td class="{$E27_class}">{$E27_mastervalue}</td>
			<td class="{$K27_class}">{$K27_mastervalue}</td>
			<td class="{$K25_class}">{$K25_mastervalue}</td>
			<td class="{$A30_class}">{$A30_mastervalue}</td>
			<td class="{$A31_class}">{$A31_mastervalue}</td>
			<td class="{$A32_class}">{$A32_mastervalue}</td>
			<td class="{$D35_class}">{$D35_mastervalue}</td>
			<td class="{$F35_class}">{$F35_mastervalue}</td>
			<td class="{$M35_class}">{$M35_mastervalue}</td>
			<td class="{$D36_class}">{$D36_mastervalue}</td>
			<td class="{$F36_class}">{$F36_mastervalue}</td>
			<td class="{$J36_class}">{$J36_mastervalue}</td>
			<td class="{$D38_class}">{$D38_mastervalue}</td>
			<td class="{$F38_class}">{$F38_mastervalue}</td>
			<td class="{$D39_class}">{$D39_mastervalue}</td>
			<td class="{$TIME_class}">{$TIME_mastervalue}</td>
			<td class="{$MONTHLY_REPORT_class}">{$MONTHLY_REPORT_mastervalue}</td>
			<td class="{$M39_class}">{$M39_mastervalue}</td>
			<td class="{$D40_class}">{$D40_mastervalue}</td>
			<td class="{$D41_class}">{$D41_mastervalue}</td>
			<td class="{$D42_class}">{$D42_mastervalue}</td>
			<td class="{$D43_class}">{$D43_mastervalue}</td>
			<td class="{$M43_class}">{$M43_mastervalue}</td>
			<td class="{$F43_class}">{$F43_mastervalue}</td>
			<td class="{$D44_class}">{$D44_mastervalue}</td>
			<td class="{$F44_class}">{$F44_mastervalue}</td>
			<td class="{$D45_class}">{$D45_mastervalue}</td>
			<td class="{$M45_class}">{$M45_mastervalue}</td>
			<td class="{$D48_class}">{$D48_mastervalue}</td>
			<td class="{$F48_class}">{$F48_mastervalue}</td>
			<td class="{$D49_class}">{$D49_mastervalue}</td>
			<td class="{$D51_class}">{$D51_mastervalue}</td>
			<td class="{$D52_class}">{$D52_mastervalue}</td>
			<td class="{$K50_class}">{$K50_mastervalue}</td>
			<td class="{$P48_class}">{$P48_mastervalue}</td>
			<td class="{$P49_class}">{$P49_mastervalue}</td>
			<td class="{$P50_class}">{$P50_mastervalue}</td>
			<td class="{$P51_class}">{$P51_mastervalue}</td>
			<td class="{$P52_class}">{$P52_mastervalue}</td>
			<td class="{$id_class}">{$id_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>