<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control 
	field="APP_NUMBER">
	{$APP_NUMBER_editcontrol}
	</control>
	<control 
	field="APP_STATUS">
	{$APP_STATUS_editcontrol}
	</control>
	<control 
	field="APPLICATION">
	{$APPLICATION_editcontrol}
	</control>
	<control 
	field="APPLICATION_LABEL">
	{$APPLICATION_LABEL_editcontrol}
	</control>
	<control 
	field="ECCTEXTAREAVAR007">
	{$ECCTEXTAREAVAR007_editcontrol}
	</control>
	<control 
	field="JPN">
	{$JPN_editcontrol}
	</control>
	<control 
	field="JPN_LABEL">
	{$JPN_LABEL_editcontrol}
	</control>
	<control 
	field="PROCESS">
	{$PROCESS_editcontrol}
	</control>
	<control 
	field="PROCESS_LABEL">
	{$PROCESS_LABEL_editcontrol}
	</control>
	<control 
	field="DATETIMEVAR001">
	{$DATETIMEVAR001_editcontrol}
	</control>
	<control 
	field="DATETIMEVAR001_LABEL">
	{$DATETIMEVAR001_LABEL_editcontrol}
	</control>
	<control 
	field="DATETIMEVAR002">
	{$DATETIMEVAR002_editcontrol}
	</control>
	<control 
	field="DATETIMEVAR002_LABEL">
	{$DATETIMEVAR002_LABEL_editcontrol}
	</control>
	<control 
	field="SATEI">
	{$SATEI_editcontrol}
	</control>
	<control 
	field="SATEI_LABEL">
	{$SATEI_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTVAR004">
	{$TEXTVAR004_editcontrol}
	</control>
	<control 
	field="TEXTVAR004_LABEL">
	{$TEXTVAR004_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTVAR009">
	{$TEXTVAR009_editcontrol}
	</control>
	<control 
	field="TEXTVAR009_LABEL">
	{$TEXTVAR009_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTVAR011">
	{$TEXTVAR011_editcontrol}
	</control>
	<control 
	field="TEXTVAR011_LABEL">
	{$TEXTVAR011_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTVAR012">
	{$TEXTVAR012_editcontrol}
	</control>
	<control 
	field="TEXTVAR012_LABEL">
	{$TEXTVAR012_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTVAR013">
	{$TEXTVAR013_editcontrol}
	</control>
	<control 
	field="TEXTVAR013_LABEL">
	{$TEXTVAR013_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR003">
	{$TEXTAREAVAR003_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR003_LABEL">
	{$TEXTAREAVAR003_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR004">
	{$TEXTAREAVAR004_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR004_LABEL">
	{$TEXTAREAVAR004_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR005">
	{$TEXTAREAVAR005_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR005_LABEL">
	{$TEXTAREAVAR005_LABEL_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR006">
	{$TEXTAREAVAR006_editcontrol}
	</control>
	<control 
	field="TEXTAREAVAR006_LABEL">
	{$TEXTAREAVAR006_LABEL_editcontrol}
	</control>
	<control 
	field="INDEX_LABEL">
	{$INDEX_LABEL_editcontrol}
	</control>
	<control 
	field="INDEXA">
	{$INDEXA_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
