<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
<style>
{$containerCss}
</style>
<div class="sidebar bs-fixed clearfix mCustomScrollbar" data-mcs-theme="minimal-dark" {$blockattr_left}>
	<div class="sidebar-contents mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside">
		

{BEGIN container_logo}
<div {$logo_chiddenattr} data-pageid="{$pageid}" data-container="logo" class=" bs-sidebarlogo   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}



</div>
{END container_logo}



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-default clearfix   "> 

{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}

{BEGIN container_sidemenu}<div {$sidemenu_chiddenattr} data-pageid="{$pageid}" data-container="sidemenu" class="bs-navform navbar-collapse sidebar-menu bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main}

{END menu_block}

												</div>						{END container_sidemenu}

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class=" sidebar-container   "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


	</div>
</div>	
<div class="bs-wrapper">
	<div class="bs-fixedheader" id="fixedheader{$id}">
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default bs-fullwidth-navbar">					



{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class=" navbar-form navbar-left   "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   



{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
				{BEGIN editselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$editselectedlink_attrs} {$editselectedlink_span} >{mlang_message EDIT_SELECTED}</a></li>
		{END editselected_link}

				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >{mlang_message EXPORT_SELECTED}</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>{mlang_message DELETE_SELECTED}</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="PRO_REPORTING_search.php" {$advsearchlink_attrs}>{mlang_message ADVANCED_SEARCH}</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">{mlang_message SHOW_SEARCH_PANEL}</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="PRO_REPORTING_export.php"  {$exportlink_attrs}>{mlang_message EXPORT_RESULTS}</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="PRO_REPORTING_import.php?{$crosstable_attrs}"  {$importlink_attrs}>{mlang_message IMPORT}</a></li>
		{END import_link}

					<li role="separator" class="divider"></li>
				{BEGIN EnglishLANGLINK}
				<li><a href="#" data-lang="English" class="rnr-langlink">
					{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
					English</a></li>
				{END EnglishLANGLINK}
				{BEGIN JapaneseLANGLINK}
				<li><a href="#" data-lang="Japanese" class="rnr-langlink">
					{BEGIN JapaneseLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END JapaneseLANGLINK_ACTIVE}
					日本語</a></li>
				{END JapaneseLANGLINK}
		
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>{mlang_message LOGIN}</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>{mlang_message LOG_OUT}</a></li>
		{END logoutbutton}
		
		{BEGIN adminarea_link}
				<li><a href="admin_rights_list.php" {$adminarealink_attrs}>{mlang_message AA_ADMINAREA}</a></li>
		{END adminarea_link}


	{BEGIN changepwd_link}
				<li><a href="#" {$changepwdlink_attrs}>{mlang_message CHANGE_PASSWORD}</a></li>
	{END changepwd_link}
			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

	{$simpleSearchFieldCombo}
	
	{$simpleSearchTypeCombo}
 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
	</div>	
	<div class="container-fluid bs-underheader bs-fixedsidebarmain" id="underheader{$id}">
		{$header}
		<div class="bs-sidebar-screenbound">
			



{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="    "> 




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>
{END container_messagerow}



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class=" bs-navcontrolled bs-hidden-xs   "> 




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>{mlang_message ADD_NEW}</a>
	{END add_link}

		{BEGIN inlineadd_link}
		<button {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$inlineaddlink_attrs}>{mlang_message INLINE_ADD}</button>
	{END inlineadd_link}

{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>{mlang_message DELETE}</button>
	{END deleteselected_link}
			{BEGIN saveall_link}
		<button type="button" class="btn btn-primary" {$savealllink_attrs} {$savealllink_span}>{mlang_message SAVE_ALL}</button>
	{END saveall_link}
	{BEGIN cancelall_link}
		<button type="button" class="btn btn-default" {$cancelalllink_attrs} {$cancelalllink_span}>{mlang_message CANCEL_ALL}</button>
	{END cancelall_link}
</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{mlang_message WR_PRINT_FRIENDLY}">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">{mlang_message PPANEL_SCOPE}</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="PRO_REPORTING_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							{mlang_message PPANEL_ALL_PAGES}
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="PRO_REPORTING_print.php?{$crosstable_attrs}" name="printScope" checked>
							{mlang_message PPANEL_THIS_PAGE}
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							{mlang_message PPANEL_SELECTED}
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

		
				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											{mlang_message RECORDS_PP}:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >{mlang_message PPANEL_PRINT}</button>			
		</li>
	</ul>	
</span>

{END print_friendly}


{BEGIN field_hide_panel}
<div {$bsfieldhidepanel_hiddenattr} data-pageid="{$pageid}" data-brick="bsfieldhidepanel" id="fildhidepanel{$id}" class="keep-open btn-group" title="{mlang_message SHOW_HIDE_COLUMNS}">
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_PRO_UID" checked="checked" value="1" data-field="PRO_UID">
			  <span>{$label PRO_REPORTING PRO_UID}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_MONTH" checked="checked" value="1" data-field="MONTH">
			  <span>{$label PRO_REPORTING MONTH}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_YEAR" checked="checked" value="1" data-field="YEAR">
			  <span>{$label PRO_REPORTING YEAR}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_AVG_TIME" checked="checked" value="1" data-field="AVG_TIME">
			  <span>{$label PRO_REPORTING AVG_TIME}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_SDV_TIME" checked="checked" value="1" data-field="SDV_TIME">
			  <span>{$label PRO_REPORTING SDV_TIME}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_TOTAL_CASES_IN" checked="checked" value="1" data-field="TOTAL_CASES_IN">
			  <span>{$label PRO_REPORTING TOTAL_CASES_IN}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_TOTAL_CASES_OUT" checked="checked" value="1" data-field="TOTAL_CASES_OUT">
			  <span>{$label PRO_REPORTING TOTAL_CASES_OUT}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_CONFIGURED_PROCESS_TIME" checked="checked" value="1" data-field="CONFIGURED_PROCESS_TIME">
			  <span>{$label PRO_REPORTING CONFIGURED_PROCESS_TIME}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_CONFIGURED_PROCESS_COST" checked="checked" value="1" data-field="CONFIGURED_PROCESS_COST">
			  <span>{$label PRO_REPORTING CONFIGURED_PROCESS_COST}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_TOTAL_CASES_OPEN" checked="checked" value="1" data-field="TOTAL_CASES_OPEN">
			  <span>{$label PRO_REPORTING TOTAL_CASES_OPEN}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_TOTAL_CASES_OVERDUE" checked="checked" value="1" data-field="TOTAL_CASES_OVERDUE">
			  <span>{$label PRO_REPORTING TOTAL_CASES_OVERDUE}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_TOTAL_CASES_ON_TIME" checked="checked" value="1" data-field="TOTAL_CASES_ON_TIME">
			  <span>{$label PRO_REPORTING TOTAL_CASES_ON_TIME}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_PRO_COST" checked="checked" value="1" data-field="PRO_COST">
			  <span>{$label PRO_REPORTING PRO_COST}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_PRO_UNIT_COST" checked="checked" value="1" data-field="PRO_UNIT_COST">
			  <span>{$label PRO_REPORTING PRO_UNIT_COST}</span>
			</label>
		</div>
		</a>
		</li>
	</ul>
</div>

{END field_hide_panel}



</div>
{END container_gridinfo}








{BEGIN container_gridinfo_sort}
<div {$gridinfo_sort_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo_sort" class=" bottom-margin text-right col-md-12 "> 

{BEGIN reorder_records}
<div {$reorder_records_hiddenattr} data-pageid="{$pageid}" data-brick="reorder_records" class="form-inline sortby-ctrl">
{mlang_message SORT_BY}&nbsp;{$sortByDropdown}
</div>

{END reorder_records}



</div>
{END container_gridinfo_sort}






</div>
{END container_gridcontrols}


		</div>
		<div></div>
		<div class="bs-sidebar-screenbound bs-minwidth">
			

{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=PRO_UID]:before {
		content: "{$label PRO_REPORTING PRO_UID}";
	}
	.bs-gridcell[data-field=MONTH]:before {
		content: "{$label PRO_REPORTING MONTH}";
	}
	.bs-gridcell[data-field=YEAR]:before {
		content: "{$label PRO_REPORTING YEAR}";
	}
	.bs-gridcell[data-field=AVG_TIME]:before {
		content: "{$label PRO_REPORTING AVG_TIME}";
	}
	.bs-gridcell[data-field=SDV_TIME]:before {
		content: "{$label PRO_REPORTING SDV_TIME}";
	}
	.bs-gridcell[data-field=TOTAL_CASES_IN]:before {
		content: "{$label PRO_REPORTING TOTAL_CASES_IN}";
	}
	.bs-gridcell[data-field=TOTAL_CASES_OUT]:before {
		content: "{$label PRO_REPORTING TOTAL_CASES_OUT}";
	}
	.bs-gridcell[data-field=CONFIGURED_PROCESS_TIME]:before {
		content: "{$label PRO_REPORTING CONFIGURED_PROCESS_TIME}";
	}
	.bs-gridcell[data-field=CONFIGURED_PROCESS_COST]:before {
		content: "{$label PRO_REPORTING CONFIGURED_PROCESS_COST}";
	}
	.bs-gridcell[data-field=TOTAL_CASES_OPEN]:before {
		content: "{$label PRO_REPORTING TOTAL_CASES_OPEN}";
	}
	.bs-gridcell[data-field=TOTAL_CASES_OVERDUE]:before {
		content: "{$label PRO_REPORTING TOTAL_CASES_OVERDUE}";
	}
	.bs-gridcell[data-field=TOTAL_CASES_ON_TIME]:before {
		content: "{$label PRO_REPORTING TOTAL_CASES_ON_TIME}";
	}
	.bs-gridcell[data-field=PRO_COST]:before {
		content: "{$label PRO_REPORTING PRO_COST}";
	}
	.bs-gridcell[data-field=PRO_UNIT_COST]:before {
		content: "{$label PRO_REPORTING PRO_UNIT_COST}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		
									{BEGIN PRO_UID_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$PRO_UID_class}" data-field=PRO_UID>
									{BEGIN PRO_UID_fieldheader}
																				<span {$PRO_UID_orderlinkattrs}>
											{$label PRO_REPORTING PRO_UID}
										</span>
									{END PRO_UID_fieldheader}
									</th>
									{END PRO_UID_fieldheadercolumn}
									
									
									
									
									{BEGIN MONTH_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$MONTH_class}" data-field=MONTH>
									{BEGIN MONTH_fieldheader}
																				<span {$MONTH_orderlinkattrs}>
											{$label PRO_REPORTING MONTH}
										</span>
									{END MONTH_fieldheader}
									</th>
									{END MONTH_fieldheadercolumn}
									
									
									
									
									{BEGIN YEAR_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$YEAR_class}" data-field=YEAR>
									{BEGIN YEAR_fieldheader}
																				<span {$YEAR_orderlinkattrs}>
											{$label PRO_REPORTING YEAR}
										</span>
									{END YEAR_fieldheader}
									</th>
									{END YEAR_fieldheadercolumn}
									
									
									
									
									{BEGIN AVG_TIME_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$AVG_TIME_class}" data-field=AVG_TIME>
									{BEGIN AVG_TIME_fieldheader}
																				<span {$AVG_TIME_orderlinkattrs}>
											{$label PRO_REPORTING AVG_TIME}
										</span>
									{END AVG_TIME_fieldheader}
									</th>
									{END AVG_TIME_fieldheadercolumn}
									
									
									
									
									{BEGIN SDV_TIME_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$SDV_TIME_class}" data-field=SDV_TIME>
									{BEGIN SDV_TIME_fieldheader}
																				<span {$SDV_TIME_orderlinkattrs}>
											{$label PRO_REPORTING SDV_TIME}
										</span>
									{END SDV_TIME_fieldheader}
									</th>
									{END SDV_TIME_fieldheadercolumn}
									
									
									
									
									{BEGIN TOTAL_CASES_IN_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TOTAL_CASES_IN_class}" data-field=TOTAL_CASES_IN>
									{BEGIN TOTAL_CASES_IN_fieldheader}
																				<span {$TOTAL_CASES_IN_orderlinkattrs}>
											{$label PRO_REPORTING TOTAL_CASES_IN}
										</span>
									{END TOTAL_CASES_IN_fieldheader}
									</th>
									{END TOTAL_CASES_IN_fieldheadercolumn}
									
									
									
									
									{BEGIN TOTAL_CASES_OUT_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TOTAL_CASES_OUT_class}" data-field=TOTAL_CASES_OUT>
									{BEGIN TOTAL_CASES_OUT_fieldheader}
																				<span {$TOTAL_CASES_OUT_orderlinkattrs}>
											{$label PRO_REPORTING TOTAL_CASES_OUT}
										</span>
									{END TOTAL_CASES_OUT_fieldheader}
									</th>
									{END TOTAL_CASES_OUT_fieldheadercolumn}
									
									
									
									
									{BEGIN CONFIGURED_PROCESS_TIME_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$CONFIGURED_PROCESS_TIME_class}" data-field=CONFIGURED_PROCESS_TIME>
									{BEGIN CONFIGURED_PROCESS_TIME_fieldheader}
																				<span {$CONFIGURED_PROCESS_TIME_orderlinkattrs}>
											{$label PRO_REPORTING CONFIGURED_PROCESS_TIME}
										</span>
									{END CONFIGURED_PROCESS_TIME_fieldheader}
									</th>
									{END CONFIGURED_PROCESS_TIME_fieldheadercolumn}
									
									
									
									
									{BEGIN CONFIGURED_PROCESS_COST_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$CONFIGURED_PROCESS_COST_class}" data-field=CONFIGURED_PROCESS_COST>
									{BEGIN CONFIGURED_PROCESS_COST_fieldheader}
																				<span {$CONFIGURED_PROCESS_COST_orderlinkattrs}>
											{$label PRO_REPORTING CONFIGURED_PROCESS_COST}
										</span>
									{END CONFIGURED_PROCESS_COST_fieldheader}
									</th>
									{END CONFIGURED_PROCESS_COST_fieldheadercolumn}
									
									
									
									
									{BEGIN TOTAL_CASES_OPEN_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TOTAL_CASES_OPEN_class}" data-field=TOTAL_CASES_OPEN>
									{BEGIN TOTAL_CASES_OPEN_fieldheader}
																				<span {$TOTAL_CASES_OPEN_orderlinkattrs}>
											{$label PRO_REPORTING TOTAL_CASES_OPEN}
										</span>
									{END TOTAL_CASES_OPEN_fieldheader}
									</th>
									{END TOTAL_CASES_OPEN_fieldheadercolumn}
									
									
									
									
									{BEGIN TOTAL_CASES_OVERDUE_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TOTAL_CASES_OVERDUE_class}" data-field=TOTAL_CASES_OVERDUE>
									{BEGIN TOTAL_CASES_OVERDUE_fieldheader}
																				<span {$TOTAL_CASES_OVERDUE_orderlinkattrs}>
											{$label PRO_REPORTING TOTAL_CASES_OVERDUE}
										</span>
									{END TOTAL_CASES_OVERDUE_fieldheader}
									</th>
									{END TOTAL_CASES_OVERDUE_fieldheadercolumn}
									
									
									
									
									{BEGIN TOTAL_CASES_ON_TIME_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TOTAL_CASES_ON_TIME_class}" data-field=TOTAL_CASES_ON_TIME>
									{BEGIN TOTAL_CASES_ON_TIME_fieldheader}
																				<span {$TOTAL_CASES_ON_TIME_orderlinkattrs}>
											{$label PRO_REPORTING TOTAL_CASES_ON_TIME}
										</span>
									{END TOTAL_CASES_ON_TIME_fieldheader}
									</th>
									{END TOTAL_CASES_ON_TIME_fieldheadercolumn}
									
									
									
									
									{BEGIN PRO_COST_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$PRO_COST_class}" data-field=PRO_COST>
									{BEGIN PRO_COST_fieldheader}
																				<span {$PRO_COST_orderlinkattrs}>
											{$label PRO_REPORTING PRO_COST}
										</span>
									{END PRO_COST_fieldheader}
									</th>
									{END PRO_COST_fieldheadercolumn}
									
									
									
									
									{BEGIN PRO_UNIT_COST_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$PRO_UNIT_COST_class}" data-field=PRO_UNIT_COST>
									{BEGIN PRO_UNIT_COST_fieldheader}
																				<span {$PRO_UNIT_COST_orderlinkattrs}>
											{$label PRO_REPORTING PRO_UNIT_COST}
										</span>
									{END PRO_UNIT_COST_fieldheader}
									</th>
									{END PRO_UNIT_COST_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="{mlang_message EDIT}"></a>
	{END edit_link}
	{END edit_column}

		{BEGIN inlineedit_column}
	{BEGIN inlineedit_link}
			<a class="glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="{mlang_message INLINE_EDIT}"></a>
	{END inlineedit_link}
	{END inlineedit_column}

	
		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="{mlang_message VIEW}"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

	

	{BEGIN PRO_UID_fieldcolumn}
	<td class="bs-gridcell {$PRO_UID_class}"  data-field=PRO_UID {$rowstyle} {$recordattrs}>
		{$PRO_UID_value}
	</td>
{END PRO_UID_fieldcolumn}


	{BEGIN MONTH_fieldcolumn}
	<td class="bs-gridcell {$MONTH_class}"  data-field=MONTH {$rowstyle} {$recordattrs}>
		{$MONTH_value}
	</td>
{END MONTH_fieldcolumn}


	{BEGIN YEAR_fieldcolumn}
	<td class="bs-gridcell {$YEAR_class}"  data-field=YEAR {$rowstyle} {$recordattrs}>
		{$YEAR_value}
	</td>
{END YEAR_fieldcolumn}


	{BEGIN AVG_TIME_fieldcolumn}
	<td class="bs-gridcell {$AVG_TIME_class}"  data-field=AVG_TIME {$rowstyle} {$recordattrs}>
		{$AVG_TIME_value}
	</td>
{END AVG_TIME_fieldcolumn}


	{BEGIN SDV_TIME_fieldcolumn}
	<td class="bs-gridcell {$SDV_TIME_class}"  data-field=SDV_TIME {$rowstyle} {$recordattrs}>
		{$SDV_TIME_value}
	</td>
{END SDV_TIME_fieldcolumn}


	{BEGIN TOTAL_CASES_IN_fieldcolumn}
	<td class="bs-gridcell {$TOTAL_CASES_IN_class}"  data-field=TOTAL_CASES_IN {$rowstyle} {$recordattrs}>
		{$TOTAL_CASES_IN_value}
	</td>
{END TOTAL_CASES_IN_fieldcolumn}


	{BEGIN TOTAL_CASES_OUT_fieldcolumn}
	<td class="bs-gridcell {$TOTAL_CASES_OUT_class}"  data-field=TOTAL_CASES_OUT {$rowstyle} {$recordattrs}>
		{$TOTAL_CASES_OUT_value}
	</td>
{END TOTAL_CASES_OUT_fieldcolumn}


	{BEGIN CONFIGURED_PROCESS_TIME_fieldcolumn}
	<td class="bs-gridcell {$CONFIGURED_PROCESS_TIME_class}"  data-field=CONFIGURED_PROCESS_TIME {$rowstyle} {$recordattrs}>
		{$CONFIGURED_PROCESS_TIME_value}
	</td>
{END CONFIGURED_PROCESS_TIME_fieldcolumn}


	{BEGIN CONFIGURED_PROCESS_COST_fieldcolumn}
	<td class="bs-gridcell {$CONFIGURED_PROCESS_COST_class}"  data-field=CONFIGURED_PROCESS_COST {$rowstyle} {$recordattrs}>
		{$CONFIGURED_PROCESS_COST_value}
	</td>
{END CONFIGURED_PROCESS_COST_fieldcolumn}


	{BEGIN TOTAL_CASES_OPEN_fieldcolumn}
	<td class="bs-gridcell {$TOTAL_CASES_OPEN_class}"  data-field=TOTAL_CASES_OPEN {$rowstyle} {$recordattrs}>
		{$TOTAL_CASES_OPEN_value}
	</td>
{END TOTAL_CASES_OPEN_fieldcolumn}


	{BEGIN TOTAL_CASES_OVERDUE_fieldcolumn}
	<td class="bs-gridcell {$TOTAL_CASES_OVERDUE_class}"  data-field=TOTAL_CASES_OVERDUE {$rowstyle} {$recordattrs}>
		{$TOTAL_CASES_OVERDUE_value}
	</td>
{END TOTAL_CASES_OVERDUE_fieldcolumn}


	{BEGIN TOTAL_CASES_ON_TIME_fieldcolumn}
	<td class="bs-gridcell {$TOTAL_CASES_ON_TIME_class}"  data-field=TOTAL_CASES_ON_TIME {$rowstyle} {$recordattrs}>
		{$TOTAL_CASES_ON_TIME_value}
	</td>
{END TOTAL_CASES_ON_TIME_fieldcolumn}


	{BEGIN PRO_COST_fieldcolumn}
	<td class="bs-gridcell {$PRO_COST_class}"  data-field=PRO_COST {$rowstyle} {$recordattrs}>
		{$PRO_COST_value}
	</td>
{END PRO_COST_fieldcolumn}


	{BEGIN PRO_UNIT_COST_fieldcolumn}
	<td class="bs-gridcell {$PRO_UNIT_COST_class}"  data-field=PRO_UNIT_COST {$rowstyle} {$recordattrs}>
		{$PRO_UNIT_COST_value}
	</td>
{END PRO_UNIT_COST_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


		</div>
	</div>
</div>
	

		{$footer}
	{END body}
	</body>
</html>
