<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel PROCESS_CATEGORY masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$CATEGORY_UID_class}">{$label PROCESS_CATEGORY CATEGORY_UID}</th>
			<th class="{$CATEGORY_PARENT_class}">{$label PROCESS_CATEGORY CATEGORY_PARENT}</th>
			<th class="{$CATEGORY_NAME_class}">{$label PROCESS_CATEGORY CATEGORY_NAME}</th>
			<th class="{$CATEGORY_ICON_class}">{$label PROCESS_CATEGORY CATEGORY_ICON}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$CATEGORY_UID_class}">{$CATEGORY_UID_mastervalue}</td>
			<td class="{$CATEGORY_PARENT_class}">{$CATEGORY_PARENT_mastervalue}</td>
			<td class="{$CATEGORY_NAME_class}">{$CATEGORY_NAME_mastervalue}</td>
			<td class="{$CATEGORY_ICON_class}">{$CATEGORY_ICON_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>