<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel PROCESS_FILES print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN PRF_UID_fieldheadercolumn}
			<th class="{$PRF_UID_class}" {$PRF_UID_style}  data-field="PRF_UID">
				{$label PROCESS_FILES PRF_UID}
			</th>
			{END PRF_UID_fieldheadercolumn}
			{BEGIN PRO_UID_fieldheadercolumn}
			<th class="{$PRO_UID_class}" {$PRO_UID_style}  data-field="PRO_UID">
				{$label PROCESS_FILES PRO_UID}
			</th>
			{END PRO_UID_fieldheadercolumn}
			{BEGIN USR_UID_fieldheadercolumn}
			<th class="{$USR_UID_class}" {$USR_UID_style}  data-field="USR_UID">
				{$label PROCESS_FILES USR_UID}
			</th>
			{END USR_UID_fieldheadercolumn}
			{BEGIN PRF_UPDATE_USR_UID_fieldheadercolumn}
			<th class="{$PRF_UPDATE_USR_UID_class}" {$PRF_UPDATE_USR_UID_style}  data-field="PRF_UPDATE_USR_UID">
				{$label PROCESS_FILES PRF_UPDATE_USR_UID}
			</th>
			{END PRF_UPDATE_USR_UID_fieldheadercolumn}
			{BEGIN PRF_PATH_fieldheadercolumn}
			<th class="{$PRF_PATH_class}" {$PRF_PATH_style}  data-field="PRF_PATH">
				{$label PROCESS_FILES PRF_PATH}
			</th>
			{END PRF_PATH_fieldheadercolumn}
			{BEGIN PRF_TYPE_fieldheadercolumn}
			<th class="{$PRF_TYPE_class}" {$PRF_TYPE_style}  data-field="PRF_TYPE">
				{$label PROCESS_FILES PRF_TYPE}
			</th>
			{END PRF_TYPE_fieldheadercolumn}
			{BEGIN PRF_EDITABLE_fieldheadercolumn}
			<th class="{$PRF_EDITABLE_class}" {$PRF_EDITABLE_style}  data-field="PRF_EDITABLE">
				{$label PROCESS_FILES PRF_EDITABLE}
			</th>
			{END PRF_EDITABLE_fieldheadercolumn}
			{BEGIN PRF_CREATE_DATE_fieldheadercolumn}
			<th class="{$PRF_CREATE_DATE_class}" {$PRF_CREATE_DATE_style}  data-field="PRF_CREATE_DATE">
				{$label PROCESS_FILES PRF_CREATE_DATE}
			</th>
			{END PRF_CREATE_DATE_fieldheadercolumn}
			{BEGIN PRF_UPDATE_DATE_fieldheadercolumn}
			<th class="{$PRF_UPDATE_DATE_class}" {$PRF_UPDATE_DATE_style}  data-field="PRF_UPDATE_DATE">
				{$label PROCESS_FILES PRF_UPDATE_DATE}
			</th>
			{END PRF_UPDATE_DATE_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN PRF_UID_fieldcolumn}
			<td  class="{$PRF_UID_class}" {$PRF_UID_style} {$recordattrs}>
				{$PRF_UID_value}
			</td>
			{END PRF_UID_fieldcolumn}
			{BEGIN PRO_UID_fieldcolumn}
			<td  class="{$PRO_UID_class}" {$PRO_UID_style} {$recordattrs}>
				{$PRO_UID_value}
			</td>
			{END PRO_UID_fieldcolumn}
			{BEGIN USR_UID_fieldcolumn}
			<td  class="{$USR_UID_class}" {$USR_UID_style} {$recordattrs}>
				{$USR_UID_value}
			</td>
			{END USR_UID_fieldcolumn}
			{BEGIN PRF_UPDATE_USR_UID_fieldcolumn}
			<td  class="{$PRF_UPDATE_USR_UID_class}" {$PRF_UPDATE_USR_UID_style} {$recordattrs}>
				{$PRF_UPDATE_USR_UID_value}
			</td>
			{END PRF_UPDATE_USR_UID_fieldcolumn}
			{BEGIN PRF_PATH_fieldcolumn}
			<td  class="{$PRF_PATH_class}" {$PRF_PATH_style} {$recordattrs}>
				{$PRF_PATH_value}
			</td>
			{END PRF_PATH_fieldcolumn}
			{BEGIN PRF_TYPE_fieldcolumn}
			<td  class="{$PRF_TYPE_class}" {$PRF_TYPE_style} {$recordattrs}>
				{$PRF_TYPE_value}
			</td>
			{END PRF_TYPE_fieldcolumn}
			{BEGIN PRF_EDITABLE_fieldcolumn}
			<td  class="{$PRF_EDITABLE_class}" {$PRF_EDITABLE_style} {$recordattrs}>
				{$PRF_EDITABLE_value}
			</td>
			{END PRF_EDITABLE_fieldcolumn}
			{BEGIN PRF_CREATE_DATE_fieldcolumn}
			<td  class="{$PRF_CREATE_DATE_class}" {$PRF_CREATE_DATE_style} {$recordattrs}>
				{$PRF_CREATE_DATE_value}
			</td>
			{END PRF_CREATE_DATE_fieldcolumn}
			{BEGIN PRF_UPDATE_DATE_fieldcolumn}
			<td  class="{$PRF_UPDATE_DATE_class}" {$PRF_UPDATE_DATE_style} {$recordattrs}>
				{$PRF_UPDATE_DATE_value}
			</td>
			{END PRF_UPDATE_DATE_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
