<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-view" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel PROCESS_FILES view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >
	{BEGIN PRF_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_UID} bs-viewform-group" data-fieldname="PRF_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_UID}">
			{$label PROCESS_FILES PRF_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_UID_fieldblock}
	{BEGIN PRO_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRO_UID} bs-viewform-group" data-fieldname="PRO_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRO_UID}">
			{$label PROCESS_FILES PRO_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRO_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRO_UID_fieldblock}
	{BEGIN USR_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_USR_UID} bs-viewform-group" data-fieldname="USR_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_USR_UID}">
			{$label PROCESS_FILES USR_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$USR_UID_value}&nbsp;
		</div>
	</div>
</div>
{END USR_UID_fieldblock}
	{BEGIN PRF_UPDATE_USR_UID_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_UPDATE_USR_UID} bs-viewform-group" data-fieldname="PRF_UPDATE_USR_UID">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_UPDATE_USR_UID}">
			{$label PROCESS_FILES PRF_UPDATE_USR_UID}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_UPDATE_USR_UID_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_UPDATE_USR_UID_fieldblock}
	{BEGIN PRF_PATH_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_PATH} bs-viewform-group" data-fieldname="PRF_PATH">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_PATH}">
			{$label PROCESS_FILES PRF_PATH}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_PATH_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_PATH_fieldblock}
	{BEGIN PRF_TYPE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_TYPE} bs-viewform-group" data-fieldname="PRF_TYPE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_TYPE}">
			{$label PROCESS_FILES PRF_TYPE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_TYPE_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_TYPE_fieldblock}
	{BEGIN PRF_EDITABLE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_EDITABLE} bs-viewform-group" data-fieldname="PRF_EDITABLE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_EDITABLE}">
			{$label PROCESS_FILES PRF_EDITABLE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_EDITABLE_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_EDITABLE_fieldblock}
	{BEGIN PRF_CREATE_DATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_CREATE_DATE} bs-viewform-group" data-fieldname="PRF_CREATE_DATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_CREATE_DATE}">
			{$label PROCESS_FILES PRF_CREATE_DATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_CREATE_DATE_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_CREATE_DATE_fieldblock}
	{BEGIN PRF_UPDATE_DATE_fieldblock}
<div class="container">
	<div class="{$fielddispclass_PRF_UPDATE_DATE} bs-viewform-group" data-fieldname="PRF_UPDATE_DATE">
		<label class="bs-view-label col-md-4 text-right" for="{$labelfor_PRF_UPDATE_DATE}">
			{$label PROCESS_FILES PRF_UPDATE_DATE}
		</label>
		<div class="col-md-6 bs-horizontal-value" >
			{$PRF_UPDATE_DATE_value}&nbsp;
		</div>
	</div>
</div>
{END PRF_UPDATE_DATE_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
			{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
