<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="PRF_UID">
	{$PRF_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control field="PRF_UPDATE_USR_UID">
	{$PRF_UPDATE_USR_UID_editcontrol}
	</control>
	<control field="PRF_PATH">
	{$PRF_PATH_editcontrol}
	</control>
	<control field="PRF_TYPE">
	{$PRF_TYPE_editcontrol}
	</control>
	<control field="PRF_EDITABLE">
	{$PRF_EDITABLE_editcontrol}
	</control>
	<control field="PRF_CREATE_DATE">
	{$PRF_CREATE_DATE_editcontrol}
	</control>
	<control field="PRF_UPDATE_DATE">
	{$PRF_UPDATE_DATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>