<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="PRO_TITLE">
	{$PRO_TITLE_editcontrol}
	</control>
	<control field="PRO_DESCRIPTION">
	{$PRO_DESCRIPTION_editcontrol}
	</control>
	<control field="PRO_PARENT">
	{$PRO_PARENT_editcontrol}
	</control>
	<control field="PRO_TIME">
	{$PRO_TIME_editcontrol}
	</control>
	<control field="PRO_TIMEUNIT">
	{$PRO_TIMEUNIT_editcontrol}
	</control>
	<control field="PRO_STATUS">
	{$PRO_STATUS_editcontrol}
	</control>
	<control field="PRO_TYPE_DAY">
	{$PRO_TYPE_DAY_editcontrol}
	</control>
	<control field="PRO_TYPE">
	{$PRO_TYPE_editcontrol}
	</control>
	<control field="PRO_ASSIGNMENT">
	{$PRO_ASSIGNMENT_editcontrol}
	</control>
	<control field="PRO_SHOW_MAP">
	{$PRO_SHOW_MAP_editcontrol}
	</control>
	<control field="PRO_SHOW_MESSAGE">
	{$PRO_SHOW_MESSAGE_editcontrol}
	</control>
	<control field="PRO_SUBPROCESS">
	{$PRO_SUBPROCESS_editcontrol}
	</control>
	<control field="PRO_TRI_OPEN">
	{$PRO_TRI_OPEN_editcontrol}
	</control>
	<control field="PRO_TRI_DELETED">
	{$PRO_TRI_DELETED_editcontrol}
	</control>
	<control field="PRO_TRI_CANCELED">
	{$PRO_TRI_CANCELED_editcontrol}
	</control>
	<control field="PRO_TRI_PAUSED">
	{$PRO_TRI_PAUSED_editcontrol}
	</control>
	<control field="PRO_TRI_REASSIGNED">
	{$PRO_TRI_REASSIGNED_editcontrol}
	</control>
	<control field="PRO_TRI_UNPAUSED">
	{$PRO_TRI_UNPAUSED_editcontrol}
	</control>
	<control field="PRO_TYPE_PROCESS">
	{$PRO_TYPE_PROCESS_editcontrol}
	</control>
	<control field="PRO_SHOW_DELEGATE">
	{$PRO_SHOW_DELEGATE_editcontrol}
	</control>
	<control field="PRO_SHOW_DYNAFORM">
	{$PRO_SHOW_DYNAFORM_editcontrol}
	</control>
	<control field="PRO_CATEGORY">
	{$PRO_CATEGORY_editcontrol}
	</control>
	<control field="PRO_SUB_CATEGORY">
	{$PRO_SUB_CATEGORY_editcontrol}
	</control>
	<control field="PRO_INDUSTRY">
	{$PRO_INDUSTRY_editcontrol}
	</control>
	<control field="PRO_UPDATE_DATE">
	{$PRO_UPDATE_DATE_editcontrol}
	</control>
	<control field="PRO_CREATE_DATE">
	{$PRO_CREATE_DATE_editcontrol}
	</control>
	<control field="PRO_CREATE_USER">
	{$PRO_CREATE_USER_editcontrol}
	</control>
	<control field="PRO_HEIGHT">
	{$PRO_HEIGHT_editcontrol}
	</control>
	<control field="PRO_WIDTH">
	{$PRO_WIDTH_editcontrol}
	</control>
	<control field="PRO_TITLE_X">
	{$PRO_TITLE_X_editcontrol}
	</control>
	<control field="PRO_TITLE_Y">
	{$PRO_TITLE_Y_editcontrol}
	</control>
	<control field="PRO_DEBUG">
	{$PRO_DEBUG_editcontrol}
	</control>
	<control field="PRO_DYNAFORMS">
	{$PRO_DYNAFORMS_editcontrol}
	</control>
	<control field="PRO_DERIVATION_SCREEN_TPL">
	{$PRO_DERIVATION_SCREEN_TPL_editcontrol}
	</control>
	<control field="PRO_COST">
	{$PRO_COST_editcontrol}
	</control>
	<control field="PRO_UNIT_COST">
	{$PRO_UNIT_COST_editcontrol}
	</control>
	<control field="PRO_ITEE">
	{$PRO_ITEE_editcontrol}
	</control>
	<control field="PRO_ACTION_DONE">
	{$PRO_ACTION_DONE_editcontrol}
	</control>
	<control field="PRO_TRI_CREATE">
	{$PRO_TRI_CREATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>