<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel PROCESS_VARIABLES edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN VAR_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_UID}" data-fieldname="VAR_UID" data-signal-error-for="VAR_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_UID}">
		{BEGIN VAR_UID_label}{$label PROCESS_VARIABLES VAR_UID}{END VAR_UID_label}
	</label>
	<div class="col-md-6" >
		{$VAR_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_UID">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_UID}
		</div>
	</div>
</div>
</div>
{END VAR_UID_fieldblock}

			{BEGIN PRJ_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRJ_UID}" data-fieldname="PRJ_UID" data-signal-error-for="PRJ_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRJ_UID}">
		{BEGIN PRJ_UID_label}{$label PROCESS_VARIABLES PRJ_UID}{END PRJ_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRJ_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRJ_UID">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES PRJ_UID}
		</div>
	</div>
</div>
</div>
{END PRJ_UID_fieldblock}

			{BEGIN VAR_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_NAME}" data-fieldname="VAR_NAME" data-signal-error-for="VAR_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_NAME}">
		{BEGIN VAR_NAME_label}{$label PROCESS_VARIABLES VAR_NAME}{END VAR_NAME_label}
	</label>
	<div class="col-md-6" >
		{$VAR_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_NAME">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_NAME}
		</div>
	</div>
</div>
</div>
{END VAR_NAME_fieldblock}

			{BEGIN VAR_FIELD_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_FIELD_TYPE}" data-fieldname="VAR_FIELD_TYPE" data-signal-error-for="VAR_FIELD_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_FIELD_TYPE}">
		{BEGIN VAR_FIELD_TYPE_label}{$label PROCESS_VARIABLES VAR_FIELD_TYPE}{END VAR_FIELD_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$VAR_FIELD_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_FIELD_TYPE">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_FIELD_TYPE}
		</div>
	</div>
</div>
</div>
{END VAR_FIELD_TYPE_fieldblock}

			{BEGIN VAR_FIELD_SIZE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_FIELD_SIZE}" data-fieldname="VAR_FIELD_SIZE" data-signal-error-for="VAR_FIELD_SIZE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_FIELD_SIZE}">
		{BEGIN VAR_FIELD_SIZE_label}{$label PROCESS_VARIABLES VAR_FIELD_SIZE}{END VAR_FIELD_SIZE_label}
	</label>
	<div class="col-md-6" >
		{$VAR_FIELD_SIZE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_FIELD_SIZE">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_FIELD_SIZE}
		</div>
	</div>
</div>
</div>
{END VAR_FIELD_SIZE_fieldblock}

			{BEGIN VAR_LABEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_LABEL}" data-fieldname="VAR_LABEL" data-signal-error-for="VAR_LABEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_LABEL}">
		{BEGIN VAR_LABEL_label}{$label PROCESS_VARIABLES VAR_LABEL}{END VAR_LABEL_label}
	</label>
	<div class="col-md-6" >
		{$VAR_LABEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_LABEL">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_LABEL}
		</div>
	</div>
</div>
</div>
{END VAR_LABEL_fieldblock}

			{BEGIN VAR_DBCONNECTION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_DBCONNECTION}" data-fieldname="VAR_DBCONNECTION" data-signal-error-for="VAR_DBCONNECTION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_DBCONNECTION}">
		{BEGIN VAR_DBCONNECTION_label}{$label PROCESS_VARIABLES VAR_DBCONNECTION}{END VAR_DBCONNECTION_label}
	</label>
	<div class="col-md-6" >
		{$VAR_DBCONNECTION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_DBCONNECTION">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_DBCONNECTION}
		</div>
	</div>
</div>
</div>
{END VAR_DBCONNECTION_fieldblock}

			{BEGIN VAR_SQL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_SQL}" data-fieldname="VAR_SQL" data-signal-error-for="VAR_SQL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_SQL}">
		{BEGIN VAR_SQL_label}{$label PROCESS_VARIABLES VAR_SQL}{END VAR_SQL_label}
	</label>
	<div class="col-md-6" >
		{$VAR_SQL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_SQL">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_SQL}
		</div>
	</div>
</div>
</div>
{END VAR_SQL_fieldblock}

			{BEGIN VAR_NULL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_NULL}" data-fieldname="VAR_NULL" data-signal-error-for="VAR_NULL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_NULL}">
		{BEGIN VAR_NULL_label}{$label PROCESS_VARIABLES VAR_NULL}{END VAR_NULL_label}
	</label>
	<div class="col-md-6" >
		{$VAR_NULL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_NULL">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_NULL}
		</div>
	</div>
</div>
</div>
{END VAR_NULL_fieldblock}

			{BEGIN VAR_DEFAULT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_DEFAULT}" data-fieldname="VAR_DEFAULT" data-signal-error-for="VAR_DEFAULT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_DEFAULT}">
		{BEGIN VAR_DEFAULT_label}{$label PROCESS_VARIABLES VAR_DEFAULT}{END VAR_DEFAULT_label}
	</label>
	<div class="col-md-6" >
		{$VAR_DEFAULT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_DEFAULT">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_DEFAULT}
		</div>
	</div>
</div>
</div>
{END VAR_DEFAULT_fieldblock}

			{BEGIN VAR_ACCEPTED_VALUES_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VAR_ACCEPTED_VALUES}" data-fieldname="VAR_ACCEPTED_VALUES" data-signal-error-for="VAR_ACCEPTED_VALUES{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VAR_ACCEPTED_VALUES}">
		{BEGIN VAR_ACCEPTED_VALUES_label}{$label PROCESS_VARIABLES VAR_ACCEPTED_VALUES}{END VAR_ACCEPTED_VALUES_label}
	</label>
	<div class="col-md-6" >
		{$VAR_ACCEPTED_VALUES_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VAR_ACCEPTED_VALUES">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES VAR_ACCEPTED_VALUES}
		</div>
	</div>
</div>
</div>
{END VAR_ACCEPTED_VALUES_fieldblock}

			{BEGIN INP_DOC_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_INP_DOC_UID}" data-fieldname="INP_DOC_UID" data-signal-error-for="INP_DOC_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_INP_DOC_UID}">
		{BEGIN INP_DOC_UID_label}{$label PROCESS_VARIABLES INP_DOC_UID}{END INP_DOC_UID_label}
	</label>
	<div class="col-md-6" >
		{$INP_DOC_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="INP_DOC_UID">
		<div class="text-muted" >
		{$tooltip PROCESS_VARIABLES INP_DOC_UID}
		</div>
	</div>
</div>
</div>
{END INP_DOC_UID_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
