<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="VAR_UID">
	{$VAR_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="VAR_NAME">
	{$VAR_NAME_editcontrol}
	</control>
	<control 
	field="VAR_FIELD_TYPE">
	{$VAR_FIELD_TYPE_editcontrol}
	</control>
	<control 
	field="VAR_FIELD_SIZE">
	{$VAR_FIELD_SIZE_editcontrol}
	</control>
	<control 
	field="VAR_LABEL">
	{$VAR_LABEL_editcontrol}
	</control>
	<control 
	field="VAR_DBCONNECTION">
	{$VAR_DBCONNECTION_editcontrol}
	</control>
	<control 
	field="VAR_SQL">
	{$VAR_SQL_editcontrol}
	</control>
	<control 
	field="VAR_NULL">
	{$VAR_NULL_editcontrol}
	</control>
	<control 
	field="VAR_DEFAULT">
	{$VAR_DEFAULT_editcontrol}
	</control>
	<control 
	field="VAR_ACCEPTED_VALUES">
	{$VAR_ACCEPTED_VALUES_editcontrol}
	</control>
	<control 
	field="INP_DOC_UID">
	{$INP_DOC_UID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
