<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control 
	field="USR_USERNAME">
	{$USR_USERNAME_editcontrol}
	</control>
	<control 
	field="USR_PASSWORD">
	{$USR_PASSWORD_editcontrol}
	</control>
	<control 
	field="USR_FIRSTNAME">
	{$USR_FIRSTNAME_editcontrol}
	</control>
	<control 
	field="USR_LASTNAME">
	{$USR_LASTNAME_editcontrol}
	</control>
	<control 
	field="USR_EMAIL">
	{$USR_EMAIL_editcontrol}
	</control>
	<control 
	field="USR_DUE_DATE">
	{$USR_DUE_DATE_editcontrol}
	</control>
	<control 
	field="USR_CREATE_DATE">
	{$USR_CREATE_DATE_editcontrol}
	</control>
	<control 
	field="USR_UPDATE_DATE">
	{$USR_UPDATE_DATE_editcontrol}
	</control>
	<control 
	field="USR_STATUS">
	{$USR_STATUS_editcontrol}
	</control>
	<control 
	field="USR_AUTH_TYPE">
	{$USR_AUTH_TYPE_editcontrol}
	</control>
	<control 
	field="UID_AUTH_SOURCE">
	{$UID_AUTH_SOURCE_editcontrol}
	</control>
	<control 
	field="USR_AUTH_USER_DN">
	{$USR_AUTH_USER_DN_editcontrol}
	</control>
	<control 
	field="USR_AUTH_SUPERVISOR_DN">
	{$USR_AUTH_SUPERVISOR_DN_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
