<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="PER_UID">
	{$PER_UID_editcontrol}
	</control>
	<control 
	field="PER_CODE">
	{$PER_CODE_editcontrol}
	</control>
	<control 
	field="PER_CREATE_DATE">
	{$PER_CREATE_DATE_editcontrol}
	</control>
	<control 
	field="PER_UPDATE_DATE">
	{$PER_UPDATE_DATE_editcontrol}
	</control>
	<control 
	field="PER_STATUS">
	{$PER_STATUS_editcontrol}
	</control>
	<control 
	field="PER_SYSTEM">
	{$PER_SYSTEM_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
