<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-edit" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel RBAC_AUTHENTICATION_SOURCE edit}</h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN AUTH_SOURCE_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_UID}" data-fieldname="AUTH_SOURCE_UID" data-signal-error-for="AUTH_SOURCE_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_UID}">
		{BEGIN AUTH_SOURCE_UID_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_UID}{END AUTH_SOURCE_UID_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_UID">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_UID}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_UID_fieldblock}

			{BEGIN AUTH_SOURCE_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_NAME}" data-fieldname="AUTH_SOURCE_NAME" data-signal-error-for="AUTH_SOURCE_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_NAME}">
		{BEGIN AUTH_SOURCE_NAME_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_NAME}{END AUTH_SOURCE_NAME_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_NAME">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_NAME}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_NAME_fieldblock}

			{BEGIN AUTH_SOURCE_PROVIDER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_PROVIDER}" data-fieldname="AUTH_SOURCE_PROVIDER" data-signal-error-for="AUTH_SOURCE_PROVIDER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_PROVIDER}">
		{BEGIN AUTH_SOURCE_PROVIDER_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PROVIDER}{END AUTH_SOURCE_PROVIDER_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_PROVIDER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_PROVIDER">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PROVIDER}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_PROVIDER_fieldblock}

			{BEGIN AUTH_SOURCE_SERVER_NAME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_SERVER_NAME}" data-fieldname="AUTH_SOURCE_SERVER_NAME" data-signal-error-for="AUTH_SOURCE_SERVER_NAME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_SERVER_NAME}">
		{BEGIN AUTH_SOURCE_SERVER_NAME_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_SERVER_NAME}{END AUTH_SOURCE_SERVER_NAME_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_SERVER_NAME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_SERVER_NAME">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_SERVER_NAME}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_SERVER_NAME_fieldblock}

			{BEGIN AUTH_SOURCE_PORT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_PORT}" data-fieldname="AUTH_SOURCE_PORT" data-signal-error-for="AUTH_SOURCE_PORT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_PORT}">
		{BEGIN AUTH_SOURCE_PORT_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PORT}{END AUTH_SOURCE_PORT_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_PORT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_PORT">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PORT}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_PORT_fieldblock}

			{BEGIN AUTH_SOURCE_ENABLED_TLS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_ENABLED_TLS}" data-fieldname="AUTH_SOURCE_ENABLED_TLS" data-signal-error-for="AUTH_SOURCE_ENABLED_TLS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_ENABLED_TLS}">
		{BEGIN AUTH_SOURCE_ENABLED_TLS_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_ENABLED_TLS}{END AUTH_SOURCE_ENABLED_TLS_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_ENABLED_TLS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_ENABLED_TLS">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_ENABLED_TLS}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_ENABLED_TLS_fieldblock}

			{BEGIN AUTH_SOURCE_VERSION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_VERSION}" data-fieldname="AUTH_SOURCE_VERSION" data-signal-error-for="AUTH_SOURCE_VERSION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_VERSION}">
		{BEGIN AUTH_SOURCE_VERSION_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_VERSION}{END AUTH_SOURCE_VERSION_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_VERSION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_VERSION">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_VERSION}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_VERSION_fieldblock}

			{BEGIN AUTH_SOURCE_BASE_DN_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_BASE_DN}" data-fieldname="AUTH_SOURCE_BASE_DN" data-signal-error-for="AUTH_SOURCE_BASE_DN{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_BASE_DN}">
		{BEGIN AUTH_SOURCE_BASE_DN_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_BASE_DN}{END AUTH_SOURCE_BASE_DN_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_BASE_DN_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_BASE_DN">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_BASE_DN}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_BASE_DN_fieldblock}

			{BEGIN AUTH_ANONYMOUS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_ANONYMOUS}" data-fieldname="AUTH_ANONYMOUS" data-signal-error-for="AUTH_ANONYMOUS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_ANONYMOUS}">
		{BEGIN AUTH_ANONYMOUS_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_ANONYMOUS}{END AUTH_ANONYMOUS_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_ANONYMOUS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_ANONYMOUS">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_ANONYMOUS}
		</div>
	</div>
</div>
</div>
{END AUTH_ANONYMOUS_fieldblock}

			{BEGIN AUTH_SOURCE_SEARCH_USER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_SEARCH_USER}" data-fieldname="AUTH_SOURCE_SEARCH_USER" data-signal-error-for="AUTH_SOURCE_SEARCH_USER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_SEARCH_USER}">
		{BEGIN AUTH_SOURCE_SEARCH_USER_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_SEARCH_USER}{END AUTH_SOURCE_SEARCH_USER_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_SEARCH_USER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_SEARCH_USER">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_SEARCH_USER}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_SEARCH_USER_fieldblock}

			{BEGIN AUTH_SOURCE_PASSWORD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_PASSWORD}" data-fieldname="AUTH_SOURCE_PASSWORD" data-signal-error-for="AUTH_SOURCE_PASSWORD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_PASSWORD}">
		{BEGIN AUTH_SOURCE_PASSWORD_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PASSWORD}{END AUTH_SOURCE_PASSWORD_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_PASSWORD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_PASSWORD">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_PASSWORD}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_PASSWORD_fieldblock}

			{BEGIN AUTH_SOURCE_ATTRIBUTES_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_ATTRIBUTES}" data-fieldname="AUTH_SOURCE_ATTRIBUTES" data-signal-error-for="AUTH_SOURCE_ATTRIBUTES{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_ATTRIBUTES}">
		{BEGIN AUTH_SOURCE_ATTRIBUTES_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_ATTRIBUTES}{END AUTH_SOURCE_ATTRIBUTES_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_ATTRIBUTES_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_ATTRIBUTES">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_ATTRIBUTES}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_ATTRIBUTES_fieldblock}

			{BEGIN AUTH_SOURCE_OBJECT_CLASSES_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_OBJECT_CLASSES}" data-fieldname="AUTH_SOURCE_OBJECT_CLASSES" data-signal-error-for="AUTH_SOURCE_OBJECT_CLASSES{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_OBJECT_CLASSES}">
		{BEGIN AUTH_SOURCE_OBJECT_CLASSES_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_OBJECT_CLASSES}{END AUTH_SOURCE_OBJECT_CLASSES_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_OBJECT_CLASSES_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_OBJECT_CLASSES">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_OBJECT_CLASSES}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_OBJECT_CLASSES_fieldblock}

			{BEGIN AUTH_SOURCE_DATA_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AUTH_SOURCE_DATA}" data-fieldname="AUTH_SOURCE_DATA" data-signal-error-for="AUTH_SOURCE_DATA{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AUTH_SOURCE_DATA}">
		{BEGIN AUTH_SOURCE_DATA_label}{$label RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_DATA}{END AUTH_SOURCE_DATA_label}
	</label>
	<div class="col-md-6" >
		{$AUTH_SOURCE_DATA_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AUTH_SOURCE_DATA">
		<div class="text-muted" >
		{$tooltip RBAC_AUTHENTICATION_SOURCE AUTH_SOURCE_DATA}
		</div>
	</div>
</div>
</div>
{END AUTH_SOURCE_DATA_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>{mlang_message CANCEL}</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>{mlang_message RESET}</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>{mlang_message VIEW}</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
