<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel RBAC_PERMISSIONS masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$PER_UID_class}">{$label RBAC_PERMISSIONS PER_UID}</th>
			<th class="{$PER_CODE_class}">{$label RBAC_PERMISSIONS PER_CODE}</th>
			<th class="{$PER_CREATE_DATE_class}">{$label RBAC_PERMISSIONS PER_CREATE_DATE}</th>
			<th class="{$PER_UPDATE_DATE_class}">{$label RBAC_PERMISSIONS PER_UPDATE_DATE}</th>
			<th class="{$PER_STATUS_class}">{$label RBAC_PERMISSIONS PER_STATUS}</th>
			<th class="{$PER_SYSTEM_class}">{$label RBAC_PERMISSIONS PER_SYSTEM}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$PER_UID_class}">{$PER_UID_mastervalue}</td>
			<td class="{$PER_CODE_class}">{$PER_CODE_mastervalue}</td>
			<td class="{$PER_CREATE_DATE_class}">{$PER_CREATE_DATE_mastervalue}</td>
			<td class="{$PER_UPDATE_DATE_class}">{$PER_UPDATE_DATE_mastervalue}</td>
			<td class="{$PER_STATUS_class}">{$PER_STATUS_mastervalue}</td>
			<td class="{$PER_SYSTEM_class}">{$PER_SYSTEM_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>