<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="AUTH_SOURCE_UID">
	{$AUTH_SOURCE_UID_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_NAME">
	{$AUTH_SOURCE_NAME_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_PROVIDER">
	{$AUTH_SOURCE_PROVIDER_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_SERVER_NAME">
	{$AUTH_SOURCE_SERVER_NAME_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_PORT">
	{$AUTH_SOURCE_PORT_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_ENABLED_TLS">
	{$AUTH_SOURCE_ENABLED_TLS_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_VERSION">
	{$AUTH_SOURCE_VERSION_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_BASE_DN">
	{$AUTH_SOURCE_BASE_DN_editcontrol}
	</control>
	<control 
	field="AUTH_ANONYMOUS">
	{$AUTH_ANONYMOUS_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_SEARCH_USER">
	{$AUTH_SOURCE_SEARCH_USER_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_PASSWORD">
	{$AUTH_SOURCE_PASSWORD_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_ATTRIBUTES">
	{$AUTH_SOURCE_ATTRIBUTES_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_OBJECT_CLASSES">
	{$AUTH_SOURCE_OBJECT_CLASSES_editcontrol}
	</control>
	<control 
	field="AUTH_SOURCE_DATA">
	{$AUTH_SOURCE_DATA_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
