<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ROL_UID">
	{$ROL_UID_editcontrol}
	</control>
	<control 
	field="ROL_PARENT">
	{$ROL_PARENT_editcontrol}
	</control>
	<control 
	field="ROL_SYSTEM">
	{$ROL_SYSTEM_editcontrol}
	</control>
	<control 
	field="ROL_CODE">
	{$ROL_CODE_editcontrol}
	</control>
	<control 
	field="ROL_CREATE_DATE">
	{$ROL_CREATE_DATE_editcontrol}
	</control>
	<control 
	field="ROL_UPDATE_DATE">
	{$ROL_UPDATE_DATE_editcontrol}
	</control>
	<control 
	field="ROL_STATUS">
	{$ROL_STATUS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
