<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-register" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_regpage}
<div {$regpage_chiddenattr} data-pageid="{$pageid}" data-container="regpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN regheader}
	<h2 {$regheader_hiddenattr} data-pageid="{$pageid}" data-brick="regheader">{$pagetitlelabel  register}</h2>

{END regheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_regpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$regfields_hiddenattr} data-pageid="{$pageid}" data-brick="regfields" class="form-horizontal" role="form">
			
		{BEGIN USR_UID_fieldblock}
<div class="container">
<div class="form-group {$fielddispclass_USR_UID}" data-fieldname="USR_UID" data-signal-error-for="USR_UID{$id}">
	<label class="col-md-3 control-label" for="{$labelfor_USR_UID}">
	{BEGIN USR_UID_label}{$label USERS USR_UID}{END USR_UID_label}
	</label>
	<div class="col-md-6">
	{$USR_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="USR_UID">
		<div class="text-muted" >
		{$tooltip USERS USR_UID}
		</div>
	</div>
</div>
</div>
{END USR_UID_fieldblock}
					
		{BEGIN USR_PASSWORD_fieldblock}
<div class="container">
<div class="form-group {$fielddispclass_USR_PASSWORD}" data-fieldname="USR_PASSWORD" data-signal-error-for="USR_PASSWORD{$id}">
	<label class="col-md-3 control-label" for="{$labelfor_USR_PASSWORD}">
	{BEGIN USR_PASSWORD_label}{$label USERS USR_PASSWORD}{END USR_PASSWORD_label}
	</label>
	<div class="col-md-6">
	{$USR_PASSWORD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="USR_PASSWORD">
		<div class="text-muted" >
		{$tooltip USERS USR_PASSWORD}
		</div>
	</div>
</div>
</div>
{END USR_PASSWORD_fieldblock}
					{BEGIN confirm_block}
<div class=container>
<div class="{$fielddispclass_USR_PASSWORD} form-group" data-fieldname="confirm" data-signal-error-for="confirm{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_USR_PASSWORD_confirm}">
		{BEGIN confirm_label}{mlang_message REENTER}{END confirm_label}
	</label>
	<div class="col-md-6" >
		{$confirm_editcontrol1}
	</div>
	<div class="col-md-3 help-block" data-helpfor="confirm">
	</div>
</div>
</div>
{END confirm_block}
			
		{BEGIN USR_EMAIL_fieldblock}
<div class="container">
<div class="form-group {$fielddispclass_USR_EMAIL}" data-fieldname="USR_EMAIL" data-signal-error-for="USR_EMAIL{$id}">
	<label class="col-md-3 control-label" for="{$labelfor_USR_EMAIL}">
	{BEGIN USR_EMAIL_label}{$label USERS USR_EMAIL}{END USR_EMAIL_label}
	</label>
	<div class="col-md-6">
	{$USR_EMAIL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="USR_EMAIL">
		<div class="text-muted" >
		{$tooltip USERS USR_EMAIL}
		</div>
	</div>
</div>
</div>
{END USR_EMAIL_fieldblock}
					<div class="container">
		<div class="form-group" data-fieldname="{$captcha_field_name}" data-signal-error-for="{$captcha_field_name}{$id}" >
	<div class="col-md-6 col-md-offset-3" >
		{$captcha}
	</div>
	<div class="col-md-3 help-block" data-helpfor="{$captcha_field_name}">
		<div class="text-muted" >
		</div>
	</div>
	
</div>

		</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN regbuttons}
	<a href="#" class="btn btn-primary" {$submit_attrs}>{mlang_message REGISTER}</a>
	<a href="login.php" class="btn btn-default" {$backlink_attrs}>{mlang_message BACK_TO_LOGIN}</a>

	
	
		
	
	


{END regbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
