<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="REP_TAB_TITLE">
	{$REP_TAB_TITLE_editcontrol}
	</control>
	<control 
	field="REP_TAB_UID">
	{$REP_TAB_UID_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="REP_TAB_NAME">
	{$REP_TAB_NAME_editcontrol}
	</control>
	<control 
	field="REP_TAB_TYPE">
	{$REP_TAB_TYPE_editcontrol}
	</control>
	<control 
	field="REP_TAB_GRID">
	{$REP_TAB_GRID_editcontrol}
	</control>
	<control 
	field="REP_TAB_CONNECTION">
	{$REP_TAB_CONNECTION_editcontrol}
	</control>
	<control 
	field="REP_TAB_CREATE_DATE">
	{$REP_TAB_CREATE_DATE_editcontrol}
	</control>
	<control 
	field="REP_TAB_STATUS">
	{$REP_TAB_STATUS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
