<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Price">
	{$Price_editcontrol}
	</control>
	<control 
	field="MLS_Number">
	{$MLS_Number_editcontrol}
	</control>
	<control 
	field="House_Number">
	{$House_Number_editcontrol}
	</control>
	<control 
	field="Street_Name">
	{$Street_Name_editcontrol}
	</control>
	<control 
	field="Apartment_Unit">
	{$Apartment_Unit_editcontrol}
	</control>
	<control 
	field="City">
	{$City_editcontrol}
	</control>
	<control 
	field="State">
	{$State_editcontrol}
	</control>
	<control 
	field="Zip">
	{$Zip_editcontrol}
	</control>
	<control 
	field="Bedrooms">
	{$Bedrooms_editcontrol}
	</control>
	<control 
	field="Bathrooms">
	{$Bathrooms_editcontrol}
	</control>
	<control 
	field="Year">
	{$Year_editcontrol}
	</control>
	<control 
	field="Sq_Ft">
	{$Sq_Ft_editcontrol}
	</control>
	<control 
	field="Garage">
	{$Garage_editcontrol}
	</control>
	<control 
	field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<control 
	field="PhotoListing">
	{$PhotoListing_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
