<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-add" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel ROUTE add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN ROU_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_UID}" data-fieldname="ROU_UID" data-signal-error-for="ROU_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_UID}">
		{BEGIN ROU_UID_label}{$label ROUTE ROU_UID}{END ROU_UID_label}
	</label>
	<div class="col-md-6" >
		{$ROU_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_UID">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_UID}
		</div>
	</div>
</div>
</div>
{END ROU_UID_fieldblock}

			{BEGIN ROU_PARENT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_PARENT}" data-fieldname="ROU_PARENT" data-signal-error-for="ROU_PARENT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_PARENT}">
		{BEGIN ROU_PARENT_label}{$label ROUTE ROU_PARENT}{END ROU_PARENT_label}
	</label>
	<div class="col-md-6" >
		{$ROU_PARENT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_PARENT">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_PARENT}
		</div>
	</div>
</div>
</div>
{END ROU_PARENT_fieldblock}

			{BEGIN PRO_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID" data-signal-error-for="PRO_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRO_UID}">
		{BEGIN PRO_UID_label}{$label ROUTE PRO_UID}{END PRO_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRO_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRO_UID">
		<div class="text-muted" >
		{$tooltip ROUTE PRO_UID}
		</div>
	</div>
</div>
</div>
{END PRO_UID_fieldblock}

			{BEGIN TAS_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_UID}" data-fieldname="TAS_UID" data-signal-error-for="TAS_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_UID}">
		{BEGIN TAS_UID_label}{$label ROUTE TAS_UID}{END TAS_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_UID">
		<div class="text-muted" >
		{$tooltip ROUTE TAS_UID}
		</div>
	</div>
</div>
</div>
{END TAS_UID_fieldblock}

			{BEGIN ROU_NEXT_TASK_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_NEXT_TASK}" data-fieldname="ROU_NEXT_TASK" data-signal-error-for="ROU_NEXT_TASK{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_NEXT_TASK}">
		{BEGIN ROU_NEXT_TASK_label}{$label ROUTE ROU_NEXT_TASK}{END ROU_NEXT_TASK_label}
	</label>
	<div class="col-md-6" >
		{$ROU_NEXT_TASK_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_NEXT_TASK">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_NEXT_TASK}
		</div>
	</div>
</div>
</div>
{END ROU_NEXT_TASK_fieldblock}

			{BEGIN ROU_CASE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_CASE}" data-fieldname="ROU_CASE" data-signal-error-for="ROU_CASE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_CASE}">
		{BEGIN ROU_CASE_label}{$label ROUTE ROU_CASE}{END ROU_CASE_label}
	</label>
	<div class="col-md-6" >
		{$ROU_CASE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_CASE">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_CASE}
		</div>
	</div>
</div>
</div>
{END ROU_CASE_fieldblock}

			{BEGIN ROU_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_TYPE}" data-fieldname="ROU_TYPE" data-signal-error-for="ROU_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_TYPE}">
		{BEGIN ROU_TYPE_label}{$label ROUTE ROU_TYPE}{END ROU_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$ROU_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_TYPE">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_TYPE}
		</div>
	</div>
</div>
</div>
{END ROU_TYPE_fieldblock}

			{BEGIN ROU_DEFAULT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_DEFAULT}" data-fieldname="ROU_DEFAULT" data-signal-error-for="ROU_DEFAULT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_DEFAULT}">
		{BEGIN ROU_DEFAULT_label}{$label ROUTE ROU_DEFAULT}{END ROU_DEFAULT_label}
	</label>
	<div class="col-md-6" >
		{$ROU_DEFAULT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_DEFAULT">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_DEFAULT}
		</div>
	</div>
</div>
</div>
{END ROU_DEFAULT_fieldblock}

			{BEGIN ROU_CONDITION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_CONDITION}" data-fieldname="ROU_CONDITION" data-signal-error-for="ROU_CONDITION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_CONDITION}">
		{BEGIN ROU_CONDITION_label}{$label ROUTE ROU_CONDITION}{END ROU_CONDITION_label}
	</label>
	<div class="col-md-6" >
		{$ROU_CONDITION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_CONDITION">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_CONDITION}
		</div>
	</div>
</div>
</div>
{END ROU_CONDITION_fieldblock}

			{BEGIN ROU_TO_LAST_USER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_TO_LAST_USER}" data-fieldname="ROU_TO_LAST_USER" data-signal-error-for="ROU_TO_LAST_USER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_TO_LAST_USER}">
		{BEGIN ROU_TO_LAST_USER_label}{$label ROUTE ROU_TO_LAST_USER}{END ROU_TO_LAST_USER_label}
	</label>
	<div class="col-md-6" >
		{$ROU_TO_LAST_USER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_TO_LAST_USER">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_TO_LAST_USER}
		</div>
	</div>
</div>
</div>
{END ROU_TO_LAST_USER_fieldblock}

			{BEGIN ROU_OPTIONAL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_OPTIONAL}" data-fieldname="ROU_OPTIONAL" data-signal-error-for="ROU_OPTIONAL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_OPTIONAL}">
		{BEGIN ROU_OPTIONAL_label}{$label ROUTE ROU_OPTIONAL}{END ROU_OPTIONAL_label}
	</label>
	<div class="col-md-6" >
		{$ROU_OPTIONAL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_OPTIONAL">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_OPTIONAL}
		</div>
	</div>
</div>
</div>
{END ROU_OPTIONAL_fieldblock}

			{BEGIN ROU_SEND_EMAIL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_SEND_EMAIL}" data-fieldname="ROU_SEND_EMAIL" data-signal-error-for="ROU_SEND_EMAIL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_SEND_EMAIL}">
		{BEGIN ROU_SEND_EMAIL_label}{$label ROUTE ROU_SEND_EMAIL}{END ROU_SEND_EMAIL_label}
	</label>
	<div class="col-md-6" >
		{$ROU_SEND_EMAIL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_SEND_EMAIL">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_SEND_EMAIL}
		</div>
	</div>
</div>
</div>
{END ROU_SEND_EMAIL_fieldblock}

			{BEGIN ROU_SOURCEANCHOR_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_SOURCEANCHOR}" data-fieldname="ROU_SOURCEANCHOR" data-signal-error-for="ROU_SOURCEANCHOR{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_SOURCEANCHOR}">
		{BEGIN ROU_SOURCEANCHOR_label}{$label ROUTE ROU_SOURCEANCHOR}{END ROU_SOURCEANCHOR_label}
	</label>
	<div class="col-md-6" >
		{$ROU_SOURCEANCHOR_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_SOURCEANCHOR">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_SOURCEANCHOR}
		</div>
	</div>
</div>
</div>
{END ROU_SOURCEANCHOR_fieldblock}

			{BEGIN ROU_TARGETANCHOR_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_TARGETANCHOR}" data-fieldname="ROU_TARGETANCHOR" data-signal-error-for="ROU_TARGETANCHOR{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_TARGETANCHOR}">
		{BEGIN ROU_TARGETANCHOR_label}{$label ROUTE ROU_TARGETANCHOR}{END ROU_TARGETANCHOR_label}
	</label>
	<div class="col-md-6" >
		{$ROU_TARGETANCHOR_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_TARGETANCHOR">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_TARGETANCHOR}
		</div>
	</div>
</div>
</div>
{END ROU_TARGETANCHOR_fieldblock}

			{BEGIN ROU_TO_PORT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_TO_PORT}" data-fieldname="ROU_TO_PORT" data-signal-error-for="ROU_TO_PORT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_TO_PORT}">
		{BEGIN ROU_TO_PORT_label}{$label ROUTE ROU_TO_PORT}{END ROU_TO_PORT_label}
	</label>
	<div class="col-md-6" >
		{$ROU_TO_PORT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_TO_PORT">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_TO_PORT}
		</div>
	</div>
</div>
</div>
{END ROU_TO_PORT_fieldblock}

			{BEGIN ROU_FROM_PORT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_FROM_PORT}" data-fieldname="ROU_FROM_PORT" data-signal-error-for="ROU_FROM_PORT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_FROM_PORT}">
		{BEGIN ROU_FROM_PORT_label}{$label ROUTE ROU_FROM_PORT}{END ROU_FROM_PORT_label}
	</label>
	<div class="col-md-6" >
		{$ROU_FROM_PORT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_FROM_PORT">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_FROM_PORT}
		</div>
	</div>
</div>
</div>
{END ROU_FROM_PORT_fieldblock}

			{BEGIN ROU_EVN_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ROU_EVN_UID}" data-fieldname="ROU_EVN_UID" data-signal-error-for="ROU_EVN_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ROU_EVN_UID}">
		{BEGIN ROU_EVN_UID_label}{$label ROUTE ROU_EVN_UID}{END ROU_EVN_UID_label}
	</label>
	<div class="col-md-6" >
		{$ROU_EVN_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ROU_EVN_UID">
		<div class="text-muted" >
		{$tooltip ROUTE ROU_EVN_UID}
		</div>
	</div>
</div>
</div>
{END ROU_EVN_UID_fieldblock}

			{BEGIN GAT_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_GAT_UID}" data-fieldname="GAT_UID" data-signal-error-for="GAT_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_GAT_UID}">
		{BEGIN GAT_UID_label}{$label ROUTE GAT_UID}{END GAT_UID_label}
	</label>
	<div class="col-md-6" >
		{$GAT_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="GAT_UID">
		<div class="text-muted" >
		{$tooltip ROUTE GAT_UID}
		</div>
	</div>
</div>
</div>
{END GAT_UID_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
