<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel ROUTINES print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN SPECIFIC_NAME_fieldheadercolumn}
			<th class="{$SPECIFIC_NAME_class}" {$SPECIFIC_NAME_style}  data-field="SPECIFIC_NAME">
				{$label ROUTINES SPECIFIC_NAME}
			</th>
			{END SPECIFIC_NAME_fieldheadercolumn}
			{BEGIN ROUTINE_CATALOG_fieldheadercolumn}
			<th class="{$ROUTINE_CATALOG_class}" {$ROUTINE_CATALOG_style}  data-field="ROUTINE_CATALOG">
				{$label ROUTINES ROUTINE_CATALOG}
			</th>
			{END ROUTINE_CATALOG_fieldheadercolumn}
			{BEGIN ROUTINE_SCHEMA_fieldheadercolumn}
			<th class="{$ROUTINE_SCHEMA_class}" {$ROUTINE_SCHEMA_style}  data-field="ROUTINE_SCHEMA">
				{$label ROUTINES ROUTINE_SCHEMA}
			</th>
			{END ROUTINE_SCHEMA_fieldheadercolumn}
			{BEGIN ROUTINE_NAME_fieldheadercolumn}
			<th class="{$ROUTINE_NAME_class}" {$ROUTINE_NAME_style}  data-field="ROUTINE_NAME">
				{$label ROUTINES ROUTINE_NAME}
			</th>
			{END ROUTINE_NAME_fieldheadercolumn}
			{BEGIN ROUTINE_TYPE_fieldheadercolumn}
			<th class="{$ROUTINE_TYPE_class}" {$ROUTINE_TYPE_style}  data-field="ROUTINE_TYPE">
				{$label ROUTINES ROUTINE_TYPE}
			</th>
			{END ROUTINE_TYPE_fieldheadercolumn}
			{BEGIN DATA_TYPE_fieldheadercolumn}
			<th class="{$DATA_TYPE_class}" {$DATA_TYPE_style}  data-field="DATA_TYPE">
				{$label ROUTINES DATA_TYPE}
			</th>
			{END DATA_TYPE_fieldheadercolumn}
			{BEGIN CHARACTER_MAXIMUM_LENGTH_fieldheadercolumn}
			<th class="{$CHARACTER_MAXIMUM_LENGTH_class}" {$CHARACTER_MAXIMUM_LENGTH_style}  data-field="CHARACTER_MAXIMUM_LENGTH">
				{$label ROUTINES CHARACTER_MAXIMUM_LENGTH}
			</th>
			{END CHARACTER_MAXIMUM_LENGTH_fieldheadercolumn}
			{BEGIN CHARACTER_OCTET_LENGTH_fieldheadercolumn}
			<th class="{$CHARACTER_OCTET_LENGTH_class}" {$CHARACTER_OCTET_LENGTH_style}  data-field="CHARACTER_OCTET_LENGTH">
				{$label ROUTINES CHARACTER_OCTET_LENGTH}
			</th>
			{END CHARACTER_OCTET_LENGTH_fieldheadercolumn}
			{BEGIN NUMERIC_PRECISION_fieldheadercolumn}
			<th class="{$NUMERIC_PRECISION_class}" {$NUMERIC_PRECISION_style}  data-field="NUMERIC_PRECISION">
				{$label ROUTINES NUMERIC_PRECISION}
			</th>
			{END NUMERIC_PRECISION_fieldheadercolumn}
			{BEGIN NUMERIC_SCALE_fieldheadercolumn}
			<th class="{$NUMERIC_SCALE_class}" {$NUMERIC_SCALE_style}  data-field="NUMERIC_SCALE">
				{$label ROUTINES NUMERIC_SCALE}
			</th>
			{END NUMERIC_SCALE_fieldheadercolumn}
			{BEGIN DATETIME_PRECISION_fieldheadercolumn}
			<th class="{$DATETIME_PRECISION_class}" {$DATETIME_PRECISION_style}  data-field="DATETIME_PRECISION">
				{$label ROUTINES DATETIME_PRECISION}
			</th>
			{END DATETIME_PRECISION_fieldheadercolumn}
			{BEGIN CHARACTER_SET_NAME_fieldheadercolumn}
			<th class="{$CHARACTER_SET_NAME_class}" {$CHARACTER_SET_NAME_style}  data-field="CHARACTER_SET_NAME">
				{$label ROUTINES CHARACTER_SET_NAME}
			</th>
			{END CHARACTER_SET_NAME_fieldheadercolumn}
			{BEGIN COLLATION_NAME_fieldheadercolumn}
			<th class="{$COLLATION_NAME_class}" {$COLLATION_NAME_style}  data-field="COLLATION_NAME">
				{$label ROUTINES COLLATION_NAME}
			</th>
			{END COLLATION_NAME_fieldheadercolumn}
			{BEGIN DTD_IDENTIFIER_fieldheadercolumn}
			<th class="{$DTD_IDENTIFIER_class}" {$DTD_IDENTIFIER_style}  data-field="DTD_IDENTIFIER">
				{$label ROUTINES DTD_IDENTIFIER}
			</th>
			{END DTD_IDENTIFIER_fieldheadercolumn}
			{BEGIN ROUTINE_BODY_fieldheadercolumn}
			<th class="{$ROUTINE_BODY_class}" {$ROUTINE_BODY_style}  data-field="ROUTINE_BODY">
				{$label ROUTINES ROUTINE_BODY}
			</th>
			{END ROUTINE_BODY_fieldheadercolumn}
			{BEGIN ROUTINE_DEFINITION_fieldheadercolumn}
			<th class="{$ROUTINE_DEFINITION_class}" {$ROUTINE_DEFINITION_style}  data-field="ROUTINE_DEFINITION">
				{$label ROUTINES ROUTINE_DEFINITION}
			</th>
			{END ROUTINE_DEFINITION_fieldheadercolumn}
			{BEGIN EXTERNAL_NAME_fieldheadercolumn}
			<th class="{$EXTERNAL_NAME_class}" {$EXTERNAL_NAME_style}  data-field="EXTERNAL_NAME">
				{$label ROUTINES EXTERNAL_NAME}
			</th>
			{END EXTERNAL_NAME_fieldheadercolumn}
			{BEGIN EXTERNAL_LANGUAGE_fieldheadercolumn}
			<th class="{$EXTERNAL_LANGUAGE_class}" {$EXTERNAL_LANGUAGE_style}  data-field="EXTERNAL_LANGUAGE">
				{$label ROUTINES EXTERNAL_LANGUAGE}
			</th>
			{END EXTERNAL_LANGUAGE_fieldheadercolumn}
			{BEGIN PARAMETER_STYLE_fieldheadercolumn}
			<th class="{$PARAMETER_STYLE_class}" {$PARAMETER_STYLE_style}  data-field="PARAMETER_STYLE">
				{$label ROUTINES PARAMETER_STYLE}
			</th>
			{END PARAMETER_STYLE_fieldheadercolumn}
			{BEGIN IS_DETERMINISTIC_fieldheadercolumn}
			<th class="{$IS_DETERMINISTIC_class}" {$IS_DETERMINISTIC_style}  data-field="IS_DETERMINISTIC">
				{$label ROUTINES IS_DETERMINISTIC}
			</th>
			{END IS_DETERMINISTIC_fieldheadercolumn}
			{BEGIN SQL_DATA_ACCESS_fieldheadercolumn}
			<th class="{$SQL_DATA_ACCESS_class}" {$SQL_DATA_ACCESS_style}  data-field="SQL_DATA_ACCESS">
				{$label ROUTINES SQL_DATA_ACCESS}
			</th>
			{END SQL_DATA_ACCESS_fieldheadercolumn}
			{BEGIN SQL_PATH_fieldheadercolumn}
			<th class="{$SQL_PATH_class}" {$SQL_PATH_style}  data-field="SQL_PATH">
				{$label ROUTINES SQL_PATH}
			</th>
			{END SQL_PATH_fieldheadercolumn}
			{BEGIN SECURITY_TYPE_fieldheadercolumn}
			<th class="{$SECURITY_TYPE_class}" {$SECURITY_TYPE_style}  data-field="SECURITY_TYPE">
				{$label ROUTINES SECURITY_TYPE}
			</th>
			{END SECURITY_TYPE_fieldheadercolumn}
			{BEGIN CREATED_fieldheadercolumn}
			<th class="{$CREATED_class}" {$CREATED_style}  data-field="CREATED">
				{$label ROUTINES CREATED}
			</th>
			{END CREATED_fieldheadercolumn}
			{BEGIN LAST_ALTERED_fieldheadercolumn}
			<th class="{$LAST_ALTERED_class}" {$LAST_ALTERED_style}  data-field="LAST_ALTERED">
				{$label ROUTINES LAST_ALTERED}
			</th>
			{END LAST_ALTERED_fieldheadercolumn}
			{BEGIN SQL_MODE_fieldheadercolumn}
			<th class="{$SQL_MODE_class}" {$SQL_MODE_style}  data-field="SQL_MODE">
				{$label ROUTINES SQL_MODE}
			</th>
			{END SQL_MODE_fieldheadercolumn}
			{BEGIN ROUTINE_COMMENT_fieldheadercolumn}
			<th class="{$ROUTINE_COMMENT_class}" {$ROUTINE_COMMENT_style}  data-field="ROUTINE_COMMENT">
				{$label ROUTINES ROUTINE_COMMENT}
			</th>
			{END ROUTINE_COMMENT_fieldheadercolumn}
			{BEGIN DEFINER_fieldheadercolumn}
			<th class="{$DEFINER_class}" {$DEFINER_style}  data-field="DEFINER">
				{$label ROUTINES DEFINER}
			</th>
			{END DEFINER_fieldheadercolumn}
			{BEGIN CHARACTER_SET_CLIENT_fieldheadercolumn}
			<th class="{$CHARACTER_SET_CLIENT_class}" {$CHARACTER_SET_CLIENT_style}  data-field="CHARACTER_SET_CLIENT">
				{$label ROUTINES CHARACTER_SET_CLIENT}
			</th>
			{END CHARACTER_SET_CLIENT_fieldheadercolumn}
			{BEGIN COLLATION_CONNECTION_fieldheadercolumn}
			<th class="{$COLLATION_CONNECTION_class}" {$COLLATION_CONNECTION_style}  data-field="COLLATION_CONNECTION">
				{$label ROUTINES COLLATION_CONNECTION}
			</th>
			{END COLLATION_CONNECTION_fieldheadercolumn}
			{BEGIN DATABASE_COLLATION_fieldheadercolumn}
			<th class="{$DATABASE_COLLATION_class}" {$DATABASE_COLLATION_style}  data-field="DATABASE_COLLATION">
				{$label ROUTINES DATABASE_COLLATION}
			</th>
			{END DATABASE_COLLATION_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN SPECIFIC_NAME_fieldcolumn}
			<td  class="{$SPECIFIC_NAME_class}" {$SPECIFIC_NAME_style} {$recordattrs}>
				{$SPECIFIC_NAME_value}
			</td>
			{END SPECIFIC_NAME_fieldcolumn}
			{BEGIN ROUTINE_CATALOG_fieldcolumn}
			<td  class="{$ROUTINE_CATALOG_class}" {$ROUTINE_CATALOG_style} {$recordattrs}>
				{$ROUTINE_CATALOG_value}
			</td>
			{END ROUTINE_CATALOG_fieldcolumn}
			{BEGIN ROUTINE_SCHEMA_fieldcolumn}
			<td  class="{$ROUTINE_SCHEMA_class}" {$ROUTINE_SCHEMA_style} {$recordattrs}>
				{$ROUTINE_SCHEMA_value}
			</td>
			{END ROUTINE_SCHEMA_fieldcolumn}
			{BEGIN ROUTINE_NAME_fieldcolumn}
			<td  class="{$ROUTINE_NAME_class}" {$ROUTINE_NAME_style} {$recordattrs}>
				{$ROUTINE_NAME_value}
			</td>
			{END ROUTINE_NAME_fieldcolumn}
			{BEGIN ROUTINE_TYPE_fieldcolumn}
			<td  class="{$ROUTINE_TYPE_class}" {$ROUTINE_TYPE_style} {$recordattrs}>
				{$ROUTINE_TYPE_value}
			</td>
			{END ROUTINE_TYPE_fieldcolumn}
			{BEGIN DATA_TYPE_fieldcolumn}
			<td  class="{$DATA_TYPE_class}" {$DATA_TYPE_style} {$recordattrs}>
				{$DATA_TYPE_value}
			</td>
			{END DATA_TYPE_fieldcolumn}
			{BEGIN CHARACTER_MAXIMUM_LENGTH_fieldcolumn}
			<td  class="{$CHARACTER_MAXIMUM_LENGTH_class}" {$CHARACTER_MAXIMUM_LENGTH_style} {$recordattrs}>
				{$CHARACTER_MAXIMUM_LENGTH_value}
			</td>
			{END CHARACTER_MAXIMUM_LENGTH_fieldcolumn}
			{BEGIN CHARACTER_OCTET_LENGTH_fieldcolumn}
			<td  class="{$CHARACTER_OCTET_LENGTH_class}" {$CHARACTER_OCTET_LENGTH_style} {$recordattrs}>
				{$CHARACTER_OCTET_LENGTH_value}
			</td>
			{END CHARACTER_OCTET_LENGTH_fieldcolumn}
			{BEGIN NUMERIC_PRECISION_fieldcolumn}
			<td  class="{$NUMERIC_PRECISION_class}" {$NUMERIC_PRECISION_style} {$recordattrs}>
				{$NUMERIC_PRECISION_value}
			</td>
			{END NUMERIC_PRECISION_fieldcolumn}
			{BEGIN NUMERIC_SCALE_fieldcolumn}
			<td  class="{$NUMERIC_SCALE_class}" {$NUMERIC_SCALE_style} {$recordattrs}>
				{$NUMERIC_SCALE_value}
			</td>
			{END NUMERIC_SCALE_fieldcolumn}
			{BEGIN DATETIME_PRECISION_fieldcolumn}
			<td  class="{$DATETIME_PRECISION_class}" {$DATETIME_PRECISION_style} {$recordattrs}>
				{$DATETIME_PRECISION_value}
			</td>
			{END DATETIME_PRECISION_fieldcolumn}
			{BEGIN CHARACTER_SET_NAME_fieldcolumn}
			<td  class="{$CHARACTER_SET_NAME_class}" {$CHARACTER_SET_NAME_style} {$recordattrs}>
				{$CHARACTER_SET_NAME_value}
			</td>
			{END CHARACTER_SET_NAME_fieldcolumn}
			{BEGIN COLLATION_NAME_fieldcolumn}
			<td  class="{$COLLATION_NAME_class}" {$COLLATION_NAME_style} {$recordattrs}>
				{$COLLATION_NAME_value}
			</td>
			{END COLLATION_NAME_fieldcolumn}
			{BEGIN DTD_IDENTIFIER_fieldcolumn}
			<td  class="{$DTD_IDENTIFIER_class}" {$DTD_IDENTIFIER_style} {$recordattrs}>
				{$DTD_IDENTIFIER_value}
			</td>
			{END DTD_IDENTIFIER_fieldcolumn}
			{BEGIN ROUTINE_BODY_fieldcolumn}
			<td  class="{$ROUTINE_BODY_class}" {$ROUTINE_BODY_style} {$recordattrs}>
				{$ROUTINE_BODY_value}
			</td>
			{END ROUTINE_BODY_fieldcolumn}
			{BEGIN ROUTINE_DEFINITION_fieldcolumn}
			<td  class="{$ROUTINE_DEFINITION_class}" {$ROUTINE_DEFINITION_style} {$recordattrs}>
				{$ROUTINE_DEFINITION_value}
			</td>
			{END ROUTINE_DEFINITION_fieldcolumn}
			{BEGIN EXTERNAL_NAME_fieldcolumn}
			<td  class="{$EXTERNAL_NAME_class}" {$EXTERNAL_NAME_style} {$recordattrs}>
				{$EXTERNAL_NAME_value}
			</td>
			{END EXTERNAL_NAME_fieldcolumn}
			{BEGIN EXTERNAL_LANGUAGE_fieldcolumn}
			<td  class="{$EXTERNAL_LANGUAGE_class}" {$EXTERNAL_LANGUAGE_style} {$recordattrs}>
				{$EXTERNAL_LANGUAGE_value}
			</td>
			{END EXTERNAL_LANGUAGE_fieldcolumn}
			{BEGIN PARAMETER_STYLE_fieldcolumn}
			<td  class="{$PARAMETER_STYLE_class}" {$PARAMETER_STYLE_style} {$recordattrs}>
				{$PARAMETER_STYLE_value}
			</td>
			{END PARAMETER_STYLE_fieldcolumn}
			{BEGIN IS_DETERMINISTIC_fieldcolumn}
			<td  class="{$IS_DETERMINISTIC_class}" {$IS_DETERMINISTIC_style} {$recordattrs}>
				{$IS_DETERMINISTIC_value}
			</td>
			{END IS_DETERMINISTIC_fieldcolumn}
			{BEGIN SQL_DATA_ACCESS_fieldcolumn}
			<td  class="{$SQL_DATA_ACCESS_class}" {$SQL_DATA_ACCESS_style} {$recordattrs}>
				{$SQL_DATA_ACCESS_value}
			</td>
			{END SQL_DATA_ACCESS_fieldcolumn}
			{BEGIN SQL_PATH_fieldcolumn}
			<td  class="{$SQL_PATH_class}" {$SQL_PATH_style} {$recordattrs}>
				{$SQL_PATH_value}
			</td>
			{END SQL_PATH_fieldcolumn}
			{BEGIN SECURITY_TYPE_fieldcolumn}
			<td  class="{$SECURITY_TYPE_class}" {$SECURITY_TYPE_style} {$recordattrs}>
				{$SECURITY_TYPE_value}
			</td>
			{END SECURITY_TYPE_fieldcolumn}
			{BEGIN CREATED_fieldcolumn}
			<td  class="{$CREATED_class}" {$CREATED_style} {$recordattrs}>
				{$CREATED_value}
			</td>
			{END CREATED_fieldcolumn}
			{BEGIN LAST_ALTERED_fieldcolumn}
			<td  class="{$LAST_ALTERED_class}" {$LAST_ALTERED_style} {$recordattrs}>
				{$LAST_ALTERED_value}
			</td>
			{END LAST_ALTERED_fieldcolumn}
			{BEGIN SQL_MODE_fieldcolumn}
			<td  class="{$SQL_MODE_class}" {$SQL_MODE_style} {$recordattrs}>
				{$SQL_MODE_value}
			</td>
			{END SQL_MODE_fieldcolumn}
			{BEGIN ROUTINE_COMMENT_fieldcolumn}
			<td  class="{$ROUTINE_COMMENT_class}" {$ROUTINE_COMMENT_style} {$recordattrs}>
				{$ROUTINE_COMMENT_value}
			</td>
			{END ROUTINE_COMMENT_fieldcolumn}
			{BEGIN DEFINER_fieldcolumn}
			<td  class="{$DEFINER_class}" {$DEFINER_style} {$recordattrs}>
				{$DEFINER_value}
			</td>
			{END DEFINER_fieldcolumn}
			{BEGIN CHARACTER_SET_CLIENT_fieldcolumn}
			<td  class="{$CHARACTER_SET_CLIENT_class}" {$CHARACTER_SET_CLIENT_style} {$recordattrs}>
				{$CHARACTER_SET_CLIENT_value}
			</td>
			{END CHARACTER_SET_CLIENT_fieldcolumn}
			{BEGIN COLLATION_CONNECTION_fieldcolumn}
			<td  class="{$COLLATION_CONNECTION_class}" {$COLLATION_CONNECTION_style} {$recordattrs}>
				{$COLLATION_CONNECTION_value}
			</td>
			{END COLLATION_CONNECTION_fieldcolumn}
			{BEGIN DATABASE_COLLATION_fieldcolumn}
			<td  class="{$DATABASE_COLLATION_class}" {$DATABASE_COLLATION_style} {$recordattrs}>
				{$DATABASE_COLLATION_value}
			</td>
			{END DATABASE_COLLATION_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
