<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ROU_UID">
	{$ROU_UID_editcontrol}
	</control>
	<control field="ROU_PARENT">
	{$ROU_PARENT_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control field="ROU_NEXT_TASK">
	{$ROU_NEXT_TASK_editcontrol}
	</control>
	<control field="ROU_CASE">
	{$ROU_CASE_editcontrol}
	</control>
	<control field="ROU_TYPE">
	{$ROU_TYPE_editcontrol}
	</control>
	<control field="ROU_DEFAULT">
	{$ROU_DEFAULT_editcontrol}
	</control>
	<control field="ROU_CONDITION">
	{$ROU_CONDITION_editcontrol}
	</control>
	<control field="ROU_TO_LAST_USER">
	{$ROU_TO_LAST_USER_editcontrol}
	</control>
	<control field="ROU_OPTIONAL">
	{$ROU_OPTIONAL_editcontrol}
	</control>
	<control field="ROU_SEND_EMAIL">
	{$ROU_SEND_EMAIL_editcontrol}
	</control>
	<control field="ROU_SOURCEANCHOR">
	{$ROU_SOURCEANCHOR_editcontrol}
	</control>
	<control field="ROU_TARGETANCHOR">
	{$ROU_TARGETANCHOR_editcontrol}
	</control>
	<control field="ROU_TO_PORT">
	{$ROU_TO_PORT_editcontrol}
	</control>
	<control field="ROU_FROM_PORT">
	{$ROU_FROM_PORT_editcontrol}
	</control>
	<control field="ROU_EVN_UID">
	{$ROU_EVN_UID_editcontrol}
	</control>
	<control field="GAT_UID">
	{$GAT_UID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>