<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel ROUTE masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$ROU_UID_class}">{$label ROUTE ROU_UID}</th>
			<th class="{$ROU_PARENT_class}">{$label ROUTE ROU_PARENT}</th>
			<th class="{$PRO_UID_class}">{$label ROUTE PRO_UID}</th>
			<th class="{$TAS_UID_class}">{$label ROUTE TAS_UID}</th>
			<th class="{$ROU_NEXT_TASK_class}">{$label ROUTE ROU_NEXT_TASK}</th>
			<th class="{$ROU_CASE_class}">{$label ROUTE ROU_CASE}</th>
			<th class="{$ROU_TYPE_class}">{$label ROUTE ROU_TYPE}</th>
			<th class="{$ROU_DEFAULT_class}">{$label ROUTE ROU_DEFAULT}</th>
			<th class="{$ROU_CONDITION_class}">{$label ROUTE ROU_CONDITION}</th>
			<th class="{$ROU_TO_LAST_USER_class}">{$label ROUTE ROU_TO_LAST_USER}</th>
			<th class="{$ROU_OPTIONAL_class}">{$label ROUTE ROU_OPTIONAL}</th>
			<th class="{$ROU_SEND_EMAIL_class}">{$label ROUTE ROU_SEND_EMAIL}</th>
			<th class="{$ROU_SOURCEANCHOR_class}">{$label ROUTE ROU_SOURCEANCHOR}</th>
			<th class="{$ROU_TARGETANCHOR_class}">{$label ROUTE ROU_TARGETANCHOR}</th>
			<th class="{$ROU_TO_PORT_class}">{$label ROUTE ROU_TO_PORT}</th>
			<th class="{$ROU_FROM_PORT_class}">{$label ROUTE ROU_FROM_PORT}</th>
			<th class="{$ROU_EVN_UID_class}">{$label ROUTE ROU_EVN_UID}</th>
			<th class="{$GAT_UID_class}">{$label ROUTE GAT_UID}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$ROU_UID_class}">{$ROU_UID_mastervalue}</td>
			<td class="{$ROU_PARENT_class}">{$ROU_PARENT_mastervalue}</td>
			<td class="{$PRO_UID_class}">{$PRO_UID_mastervalue}</td>
			<td class="{$TAS_UID_class}">{$TAS_UID_mastervalue}</td>
			<td class="{$ROU_NEXT_TASK_class}">{$ROU_NEXT_TASK_mastervalue}</td>
			<td class="{$ROU_CASE_class}">{$ROU_CASE_mastervalue}</td>
			<td class="{$ROU_TYPE_class}">{$ROU_TYPE_mastervalue}</td>
			<td class="{$ROU_DEFAULT_class}">{$ROU_DEFAULT_mastervalue}</td>
			<td class="{$ROU_CONDITION_class}">{$ROU_CONDITION_mastervalue}</td>
			<td class="{$ROU_TO_LAST_USER_class}">{$ROU_TO_LAST_USER_mastervalue}</td>
			<td class="{$ROU_OPTIONAL_class}">{$ROU_OPTIONAL_mastervalue}</td>
			<td class="{$ROU_SEND_EMAIL_class}">{$ROU_SEND_EMAIL_mastervalue}</td>
			<td class="{$ROU_SOURCEANCHOR_class}">{$ROU_SOURCEANCHOR_mastervalue}</td>
			<td class="{$ROU_TARGETANCHOR_class}">{$ROU_TARGETANCHOR_mastervalue}</td>
			<td class="{$ROU_TO_PORT_class}">{$ROU_TO_PORT_mastervalue}</td>
			<td class="{$ROU_FROM_PORT_class}">{$ROU_FROM_PORT_mastervalue}</td>
			<td class="{$ROU_EVN_UID_class}">{$ROU_EVN_UID_mastervalue}</td>
			<td class="{$GAT_UID_class}">{$GAT_UID_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>