<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="SES_UID">
	{$SES_UID_editcontrol}
	</control>
	<control 
	field="SES_STATUS">
	{$SES_STATUS_editcontrol}
	</control>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control 
	field="SES_REMOTE_IP">
	{$SES_REMOTE_IP_editcontrol}
	</control>
	<control 
	field="SES_INIT_DATE">
	{$SES_INIT_DATE_editcontrol}
	</control>
	<control 
	field="SES_DUE_DATE">
	{$SES_DUE_DATE_editcontrol}
	</control>
	<control 
	field="SES_END_DATE">
	{$SES_END_DATE_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
