<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="STEP_UID">
	{$STEP_UID_editcontrol}
	</control>
	<control 
	field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control 
	field="TRI_UID">
	{$TRI_UID_editcontrol}
	</control>
	<control 
	field="ST_TYPE">
	{$ST_TYPE_editcontrol}
	</control>
	<control 
	field="ST_CONDITION">
	{$ST_CONDITION_editcontrol}
	</control>
	<control 
	field="ST_POSITION">
	{$ST_POSITION_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
