<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}



{BEGIN container_master}
<div {$master_chiddenattr} data-pageid="{$pageid}" data-container="master" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_master}



{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel STEP print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN STEP_UID_fieldheadercolumn}
			<th class="{$STEP_UID_class}" {$STEP_UID_style}  data-field="STEP_UID">
				{$label STEP STEP_UID}
			</th>
			{END STEP_UID_fieldheadercolumn}
			{BEGIN PRO_UID_fieldheadercolumn}
			<th class="{$PRO_UID_class}" {$PRO_UID_style}  data-field="PRO_UID">
				{$label STEP PRO_UID}
			</th>
			{END PRO_UID_fieldheadercolumn}
			{BEGIN TAS_UID_fieldheadercolumn}
			<th class="{$TAS_UID_class}" {$TAS_UID_style}  data-field="TAS_UID">
				{$label STEP TAS_UID}
			</th>
			{END TAS_UID_fieldheadercolumn}
			{BEGIN STEP_TYPE_OBJ_fieldheadercolumn}
			<th class="{$STEP_TYPE_OBJ_class}" {$STEP_TYPE_OBJ_style}  data-field="STEP_TYPE_OBJ">
				{$label STEP STEP_TYPE_OBJ}
			</th>
			{END STEP_TYPE_OBJ_fieldheadercolumn}
			{BEGIN STEP_UID_OBJ_fieldheadercolumn}
			<th class="{$STEP_UID_OBJ_class}" {$STEP_UID_OBJ_style}  data-field="STEP_UID_OBJ">
				{$label STEP STEP_UID_OBJ}
			</th>
			{END STEP_UID_OBJ_fieldheadercolumn}
			{BEGIN STEP_CONDITION_fieldheadercolumn}
			<th class="{$STEP_CONDITION_class}" {$STEP_CONDITION_style}  data-field="STEP_CONDITION">
				{$label STEP STEP_CONDITION}
			</th>
			{END STEP_CONDITION_fieldheadercolumn}
			{BEGIN STEP_POSITION_fieldheadercolumn}
			<th class="{$STEP_POSITION_class}" {$STEP_POSITION_style}  data-field="STEP_POSITION">
				{$label STEP STEP_POSITION}
			</th>
			{END STEP_POSITION_fieldheadercolumn}
			{BEGIN STEP_MODE_fieldheadercolumn}
			<th class="{$STEP_MODE_class}" {$STEP_MODE_style}  data-field="STEP_MODE">
				{$label STEP STEP_MODE}
			</th>
			{END STEP_MODE_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN STEP_UID_fieldcolumn}
			<td  class="{$STEP_UID_class}" {$STEP_UID_style} {$recordattrs}>
				{$STEP_UID_value}
			</td>
			{END STEP_UID_fieldcolumn}
			{BEGIN PRO_UID_fieldcolumn}
			<td  class="{$PRO_UID_class}" {$PRO_UID_style} {$recordattrs}>
				{$PRO_UID_value}
			</td>
			{END PRO_UID_fieldcolumn}
			{BEGIN TAS_UID_fieldcolumn}
			<td  class="{$TAS_UID_class}" {$TAS_UID_style} {$recordattrs}>
				{$TAS_UID_value}
			</td>
			{END TAS_UID_fieldcolumn}
			{BEGIN STEP_TYPE_OBJ_fieldcolumn}
			<td  class="{$STEP_TYPE_OBJ_class}" {$STEP_TYPE_OBJ_style} {$recordattrs}>
				{$STEP_TYPE_OBJ_value}
			</td>
			{END STEP_TYPE_OBJ_fieldcolumn}
			{BEGIN STEP_UID_OBJ_fieldcolumn}
			<td  class="{$STEP_UID_OBJ_class}" {$STEP_UID_OBJ_style} {$recordattrs}>
				{$STEP_UID_OBJ_value}
			</td>
			{END STEP_UID_OBJ_fieldcolumn}
			{BEGIN STEP_CONDITION_fieldcolumn}
			<td  class="{$STEP_CONDITION_class}" {$STEP_CONDITION_style} {$recordattrs}>
				{$STEP_CONDITION_value}
			</td>
			{END STEP_CONDITION_fieldcolumn}
			{BEGIN STEP_POSITION_fieldcolumn}
			<td  class="{$STEP_POSITION_class}" {$STEP_POSITION_style} {$recordattrs}>
				{$STEP_POSITION_value}
			</td>
			{END STEP_POSITION_fieldcolumn}
			{BEGIN STEP_MODE_fieldcolumn}
			<td  class="{$STEP_MODE_class}" {$STEP_MODE_style} {$recordattrs}>
				{$STEP_MODE_value}
			</td>
			{END STEP_MODE_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
	{BEGIN details_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
			{BEGIN details_record}
				<td colspan="9">
					{BEGIN details_table}
						{$details}
					{END details_table}
				</td>
				{BEGIN endrecord_block}
				<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
				{END endrecord_block}
			{END details_record}
		</tr>
	{END details_row}
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
