<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="STEP_UID">
	{$STEP_UID_editcontrol}
	</control>
	<control 
	field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control 
	field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control 
	field="STEP_TYPE_OBJ">
	{$STEP_TYPE_OBJ_editcontrol}
	</control>
	<control 
	field="STEP_UID_OBJ">
	{$STEP_UID_OBJ_editcontrol}
	</control>
	<control 
	field="STEP_CONDITION">
	{$STEP_CONDITION_editcontrol}
	</control>
	<control 
	field="STEP_POSITION">
	{$STEP_POSITION_editcontrol}
	</control>
	<control 
	field="STEP_MODE">
	{$STEP_MODE_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
