<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="APP_UID">
	{$APP_UID_editcontrol}
	</control>
	<control field="APP_PARENT">
	{$APP_PARENT_editcontrol}
	</control>
	<control field="DEL_INDEX_PARENT">
	{$DEL_INDEX_PARENT_editcontrol}
	</control>
	<control field="DEL_THREAD_PARENT">
	{$DEL_THREAD_PARENT_editcontrol}
	</control>
	<control field="SA_STATUS">
	{$SA_STATUS_editcontrol}
	</control>
	<control field="SA_VALUES_OUT">
	{$SA_VALUES_OUT_editcontrol}
	</control>
	<control field="SA_VALUES_IN">
	{$SA_VALUES_IN_editcontrol}
	</control>
	<control field="SA_INIT_DATE">
	{$SA_INIT_DATE_editcontrol}
	</control>
	<control field="SA_FINISH_DATE">
	{$SA_FINISH_DATE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>