<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="SWI_UID">
	{$SWI_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="SWI_TYPE">
	{$SWI_TYPE_editcontrol}
	</control>
	<control field="SWI_X">
	{$SWI_X_editcontrol}
	</control>
	<control field="SWI_Y">
	{$SWI_Y_editcontrol}
	</control>
	<control field="SWI_WIDTH">
	{$SWI_WIDTH_editcontrol}
	</control>
	<control field="SWI_HEIGHT">
	{$SWI_HEIGHT_editcontrol}
	</control>
	<control field="SWI_NEXT_UID">
	{$SWI_NEXT_UID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>