<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="TABLE_CATALOG">
	{$TABLE_CATALOG_editcontrol}
	</control>
	<control 
	field="TABLE_SCHEMA">
	{$TABLE_SCHEMA_editcontrol}
	</control>
	<control 
	field="TABLE_NAME">
	{$TABLE_NAME_editcontrol}
	</control>
	<control 
	field="TABLE_TYPE">
	{$TABLE_TYPE_editcontrol}
	</control>
	<control 
	field="ENGINE">
	{$ENGINE_editcontrol}
	</control>
	<control 
	field="VERSION">
	{$VERSION_editcontrol}
	</control>
	<control 
	field="ROW_FORMAT">
	{$ROW_FORMAT_editcontrol}
	</control>
	<control 
	field="TABLE_ROWS">
	{$TABLE_ROWS_editcontrol}
	</control>
	<control 
	field="AVG_ROW_LENGTH">
	{$AVG_ROW_LENGTH_editcontrol}
	</control>
	<control 
	field="DATA_LENGTH">
	{$DATA_LENGTH_editcontrol}
	</control>
	<control 
	field="MAX_DATA_LENGTH">
	{$MAX_DATA_LENGTH_editcontrol}
	</control>
	<control 
	field="INDEX_LENGTH">
	{$INDEX_LENGTH_editcontrol}
	</control>
	<control 
	field="DATA_FREE">
	{$DATA_FREE_editcontrol}
	</control>
	<control 
	field="AUTO_INCREMENT">
	{$AUTO_INCREMENT_editcontrol}
	</control>
	<control 
	field="CREATE_TIME">
	{$CREATE_TIME_editcontrol}
	</control>
	<control 
	field="UPDATE_TIME">
	{$UPDATE_TIME_editcontrol}
	</control>
	<control 
	field="CHECK_TIME">
	{$CHECK_TIME_editcontrol}
	</control>
	<control 
	field="TABLE_COLLATION">
	{$TABLE_COLLATION_editcontrol}
	</control>
	<control 
	field="CHECKSUM">
	{$CHECKSUM_editcontrol}
	</control>
	<control 
	field="CREATE_OPTIONS">
	{$CREATE_OPTIONS_editcontrol}
	</control>
	<control 
	field="TABLE_COMMENT">
	{$TABLE_COMMENT_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
