<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control field="TAS_TITLE">
	{$TAS_TITLE_editcontrol}
	</control>
	<control field="TAS_DESCRIPTION">
	{$TAS_DESCRIPTION_editcontrol}
	</control>
	<control field="TAS_DEF_TITLE">
	{$TAS_DEF_TITLE_editcontrol}
	</control>
	<control field="TAS_DEF_SUBJECT_MESSAGE">
	{$TAS_DEF_SUBJECT_MESSAGE_editcontrol}
	</control>
	<control field="TAS_DEF_PROC_CODE">
	{$TAS_DEF_PROC_CODE_editcontrol}
	</control>
	<control field="TAS_DEF_MESSAGE">
	{$TAS_DEF_MESSAGE_editcontrol}
	</control>
	<control field="TAS_DEF_DESCRIPTION">
	{$TAS_DEF_DESCRIPTION_editcontrol}
	</control>
	<control field="TAS_TYPE">
	{$TAS_TYPE_editcontrol}
	</control>
	<control field="TAS_DURATION">
	{$TAS_DURATION_editcontrol}
	</control>
	<control field="TAS_DELAY_TYPE">
	{$TAS_DELAY_TYPE_editcontrol}
	</control>
	<control field="TAS_TEMPORIZER">
	{$TAS_TEMPORIZER_editcontrol}
	</control>
	<control field="TAS_TYPE_DAY">
	{$TAS_TYPE_DAY_editcontrol}
	</control>
	<control field="TAS_TIMEUNIT">
	{$TAS_TIMEUNIT_editcontrol}
	</control>
	<control field="TAS_ALERT">
	{$TAS_ALERT_editcontrol}
	</control>
	<control field="TAS_PRIORITY_VARIABLE">
	{$TAS_PRIORITY_VARIABLE_editcontrol}
	</control>
	<control field="TAS_ASSIGN_TYPE">
	{$TAS_ASSIGN_TYPE_editcontrol}
	</control>
	<control field="TAS_ASSIGN_VARIABLE">
	{$TAS_ASSIGN_VARIABLE_editcontrol}
	</control>
	<control field="TAS_GROUP_VARIABLE">
	{$TAS_GROUP_VARIABLE_editcontrol}
	</control>
	<control field="TAS_MI_INSTANCE_VARIABLE">
	{$TAS_MI_INSTANCE_VARIABLE_editcontrol}
	</control>
	<control field="TAS_MI_COMPLETE_VARIABLE">
	{$TAS_MI_COMPLETE_VARIABLE_editcontrol}
	</control>
	<control field="TAS_ASSIGN_LOCATION">
	{$TAS_ASSIGN_LOCATION_editcontrol}
	</control>
	<control field="TAS_ASSIGN_LOCATION_ADHOC">
	{$TAS_ASSIGN_LOCATION_ADHOC_editcontrol}
	</control>
	<control field="TAS_TRANSFER_FLY">
	{$TAS_TRANSFER_FLY_editcontrol}
	</control>
	<control field="TAS_LAST_ASSIGNED">
	{$TAS_LAST_ASSIGNED_editcontrol}
	</control>
	<control field="TAS_USER">
	{$TAS_USER_editcontrol}
	</control>
	<control field="TAS_CAN_UPLOAD">
	{$TAS_CAN_UPLOAD_editcontrol}
	</control>
	<control field="TAS_VIEW_UPLOAD">
	{$TAS_VIEW_UPLOAD_editcontrol}
	</control>
	<control field="TAS_VIEW_ADDITIONAL_DOCUMENTATION">
	{$TAS_VIEW_ADDITIONAL_DOCUMENTATION_editcontrol}
	</control>
	<control field="TAS_CAN_CANCEL">
	{$TAS_CAN_CANCEL_editcontrol}
	</control>
	<control field="TAS_OWNER_APP">
	{$TAS_OWNER_APP_editcontrol}
	</control>
	<control field="STG_UID">
	{$STG_UID_editcontrol}
	</control>
	<control field="TAS_CAN_PAUSE">
	{$TAS_CAN_PAUSE_editcontrol}
	</control>
	<control field="TAS_CAN_SEND_MESSAGE">
	{$TAS_CAN_SEND_MESSAGE_editcontrol}
	</control>
	<control field="TAS_CAN_DELETE_DOCS">
	{$TAS_CAN_DELETE_DOCS_editcontrol}
	</control>
	<control field="TAS_SELF_SERVICE">
	{$TAS_SELF_SERVICE_editcontrol}
	</control>
	<control field="TAS_START">
	{$TAS_START_editcontrol}
	</control>
	<control field="TAS_TO_LAST_USER">
	{$TAS_TO_LAST_USER_editcontrol}
	</control>
	<control field="TAS_SEND_LAST_EMAIL">
	{$TAS_SEND_LAST_EMAIL_editcontrol}
	</control>
	<control field="TAS_DERIVATION">
	{$TAS_DERIVATION_editcontrol}
	</control>
	<control field="TAS_POSX">
	{$TAS_POSX_editcontrol}
	</control>
	<control field="TAS_POSY">
	{$TAS_POSY_editcontrol}
	</control>
	<control field="TAS_WIDTH">
	{$TAS_WIDTH_editcontrol}
	</control>
	<control field="TAS_HEIGHT">
	{$TAS_HEIGHT_editcontrol}
	</control>
	<control field="TAS_COLOR">
	{$TAS_COLOR_editcontrol}
	</control>
	<control field="TAS_EVN_UID">
	{$TAS_EVN_UID_editcontrol}
	</control>
	<control field="TAS_BOUNDARY">
	{$TAS_BOUNDARY_editcontrol}
	</control>
	<control field="TAS_DERIVATION_SCREEN_TPL">
	{$TAS_DERIVATION_SCREEN_TPL_editcontrol}
	</control>
	<control field="TAS_SELFSERVICE_TIMEOUT">
	{$TAS_SELFSERVICE_TIMEOUT_editcontrol}
	</control>
	<control field="TAS_SELFSERVICE_TIME">
	{$TAS_SELFSERVICE_TIME_editcontrol}
	</control>
	<control field="TAS_SELFSERVICE_TIME_UNIT">
	{$TAS_SELFSERVICE_TIME_UNIT_editcontrol}
	</control>
	<control field="TAS_SELFSERVICE_TRIGGER_UID">
	{$TAS_SELFSERVICE_TRIGGER_UID_editcontrol}
	</control>
	<control field="TAS_SELFSERVICE_EXECUTION">
	{$TAS_SELFSERVICE_EXECUTION_editcontrol}
	</control>
	<control field="TAS_NOT_EMAIL_FROM_FORMAT">
	{$TAS_NOT_EMAIL_FROM_FORMAT_editcontrol}
	</control>
	<control field="TAS_OFFLINE">
	{$TAS_OFFLINE_editcontrol}
	</control>
	<control field="TAS_EMAIL_SERVER_UID">
	{$TAS_EMAIL_SERVER_UID_editcontrol}
	</control>
	<control field="TAS_AUTO_ROOT">
	{$TAS_AUTO_ROOT_editcontrol}
	</control>
	<control field="TAS_RECEIVE_SERVER_UID">
	{$TAS_RECEIVE_SERVER_UID_editcontrol}
	</control>
	<control field="TAS_RECEIVE_LAST_EMAIL">
	{$TAS_RECEIVE_LAST_EMAIL_editcontrol}
	</control>
	<control field="TAS_RECEIVE_EMAIL_FROM_FORMAT">
	{$TAS_RECEIVE_EMAIL_FROM_FORMAT_editcontrol}
	</control>
	<control field="TAS_RECEIVE_MESSAGE_TYPE">
	{$TAS_RECEIVE_MESSAGE_TYPE_editcontrol}
	</control>
	<control field="TAS_RECEIVE_MESSAGE_TEMPLATE">
	{$TAS_RECEIVE_MESSAGE_TEMPLATE_editcontrol}
	</control>
	<control field="TAS_RECEIVE_SUBJECT_MESSAGE">
	{$TAS_RECEIVE_SUBJECT_MESSAGE_editcontrol}
	</control>
	<control field="TAS_RECEIVE_MESSAGE">
	{$TAS_RECEIVE_MESSAGE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>