<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel TASK masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$PRO_UID_class}">{$label TASK PRO_UID}</th>
			<th class="{$TAS_UID_class}">{$label TASK TAS_UID}</th>
			<th class="{$TAS_TITLE_class}">{$label TASK TAS_TITLE}</th>
			<th class="{$TAS_DESCRIPTION_class}">{$label TASK TAS_DESCRIPTION}</th>
			<th class="{$TAS_DEF_TITLE_class}">{$label TASK TAS_DEF_TITLE}</th>
			<th class="{$TAS_DEF_SUBJECT_MESSAGE_class}">{$label TASK TAS_DEF_SUBJECT_MESSAGE}</th>
			<th class="{$TAS_DEF_PROC_CODE_class}">{$label TASK TAS_DEF_PROC_CODE}</th>
			<th class="{$TAS_DEF_MESSAGE_class}">{$label TASK TAS_DEF_MESSAGE}</th>
			<th class="{$TAS_DEF_DESCRIPTION_class}">{$label TASK TAS_DEF_DESCRIPTION}</th>
			<th class="{$TAS_TYPE_class}">{$label TASK TAS_TYPE}</th>
			<th class="{$TAS_DURATION_class}">{$label TASK TAS_DURATION}</th>
			<th class="{$TAS_DELAY_TYPE_class}">{$label TASK TAS_DELAY_TYPE}</th>
			<th class="{$TAS_TEMPORIZER_class}">{$label TASK TAS_TEMPORIZER}</th>
			<th class="{$TAS_TYPE_DAY_class}">{$label TASK TAS_TYPE_DAY}</th>
			<th class="{$TAS_TIMEUNIT_class}">{$label TASK TAS_TIMEUNIT}</th>
			<th class="{$TAS_ALERT_class}">{$label TASK TAS_ALERT}</th>
			<th class="{$TAS_PRIORITY_VARIABLE_class}">{$label TASK TAS_PRIORITY_VARIABLE}</th>
			<th class="{$TAS_ASSIGN_TYPE_class}">{$label TASK TAS_ASSIGN_TYPE}</th>
			<th class="{$TAS_ASSIGN_VARIABLE_class}">{$label TASK TAS_ASSIGN_VARIABLE}</th>
			<th class="{$TAS_GROUP_VARIABLE_class}">{$label TASK TAS_GROUP_VARIABLE}</th>
			<th class="{$TAS_MI_INSTANCE_VARIABLE_class}">{$label TASK TAS_MI_INSTANCE_VARIABLE}</th>
			<th class="{$TAS_MI_COMPLETE_VARIABLE_class}">{$label TASK TAS_MI_COMPLETE_VARIABLE}</th>
			<th class="{$TAS_ASSIGN_LOCATION_class}">{$label TASK TAS_ASSIGN_LOCATION}</th>
			<th class="{$TAS_ASSIGN_LOCATION_ADHOC_class}">{$label TASK TAS_ASSIGN_LOCATION_ADHOC}</th>
			<th class="{$TAS_TRANSFER_FLY_class}">{$label TASK TAS_TRANSFER_FLY}</th>
			<th class="{$TAS_LAST_ASSIGNED_class}">{$label TASK TAS_LAST_ASSIGNED}</th>
			<th class="{$TAS_USER_class}">{$label TASK TAS_USER}</th>
			<th class="{$TAS_CAN_UPLOAD_class}">{$label TASK TAS_CAN_UPLOAD}</th>
			<th class="{$TAS_VIEW_UPLOAD_class}">{$label TASK TAS_VIEW_UPLOAD}</th>
			<th class="{$TAS_VIEW_ADDITIONAL_DOCUMENTATION_class}">{$label TASK TAS_VIEW_ADDITIONAL_DOCUMENTATION}</th>
			<th class="{$TAS_CAN_CANCEL_class}">{$label TASK TAS_CAN_CANCEL}</th>
			<th class="{$TAS_OWNER_APP_class}">{$label TASK TAS_OWNER_APP}</th>
			<th class="{$STG_UID_class}">{$label TASK STG_UID}</th>
			<th class="{$TAS_CAN_PAUSE_class}">{$label TASK TAS_CAN_PAUSE}</th>
			<th class="{$TAS_CAN_SEND_MESSAGE_class}">{$label TASK TAS_CAN_SEND_MESSAGE}</th>
			<th class="{$TAS_CAN_DELETE_DOCS_class}">{$label TASK TAS_CAN_DELETE_DOCS}</th>
			<th class="{$TAS_SELF_SERVICE_class}">{$label TASK TAS_SELF_SERVICE}</th>
			<th class="{$TAS_START_class}">{$label TASK TAS_START}</th>
			<th class="{$TAS_TO_LAST_USER_class}">{$label TASK TAS_TO_LAST_USER}</th>
			<th class="{$TAS_SEND_LAST_EMAIL_class}">{$label TASK TAS_SEND_LAST_EMAIL}</th>
			<th class="{$TAS_DERIVATION_class}">{$label TASK TAS_DERIVATION}</th>
			<th class="{$TAS_POSX_class}">{$label TASK TAS_POSX}</th>
			<th class="{$TAS_POSY_class}">{$label TASK TAS_POSY}</th>
			<th class="{$TAS_WIDTH_class}">{$label TASK TAS_WIDTH}</th>
			<th class="{$TAS_HEIGHT_class}">{$label TASK TAS_HEIGHT}</th>
			<th class="{$TAS_COLOR_class}">{$label TASK TAS_COLOR}</th>
			<th class="{$TAS_EVN_UID_class}">{$label TASK TAS_EVN_UID}</th>
			<th class="{$TAS_BOUNDARY_class}">{$label TASK TAS_BOUNDARY}</th>
			<th class="{$TAS_DERIVATION_SCREEN_TPL_class}">{$label TASK TAS_DERIVATION_SCREEN_TPL}</th>
			<th class="{$TAS_SELFSERVICE_TIMEOUT_class}">{$label TASK TAS_SELFSERVICE_TIMEOUT}</th>
			<th class="{$TAS_SELFSERVICE_TIME_class}">{$label TASK TAS_SELFSERVICE_TIME}</th>
			<th class="{$TAS_SELFSERVICE_TIME_UNIT_class}">{$label TASK TAS_SELFSERVICE_TIME_UNIT}</th>
			<th class="{$TAS_SELFSERVICE_TRIGGER_UID_class}">{$label TASK TAS_SELFSERVICE_TRIGGER_UID}</th>
			<th class="{$TAS_SELFSERVICE_EXECUTION_class}">{$label TASK TAS_SELFSERVICE_EXECUTION}</th>
			<th class="{$TAS_NOT_EMAIL_FROM_FORMAT_class}">{$label TASK TAS_NOT_EMAIL_FROM_FORMAT}</th>
			<th class="{$TAS_ID_class}">{$label TASK TAS_ID}</th>
			<th class="{$TAS_OFFLINE_class}">{$label TASK TAS_OFFLINE}</th>
			<th class="{$TAS_EMAIL_SERVER_UID_class}">{$label TASK TAS_EMAIL_SERVER_UID}</th>
			<th class="{$TAS_AUTO_ROOT_class}">{$label TASK TAS_AUTO_ROOT}</th>
			<th class="{$TAS_RECEIVE_SERVER_UID_class}">{$label TASK TAS_RECEIVE_SERVER_UID}</th>
			<th class="{$TAS_RECEIVE_LAST_EMAIL_class}">{$label TASK TAS_RECEIVE_LAST_EMAIL}</th>
			<th class="{$TAS_RECEIVE_EMAIL_FROM_FORMAT_class}">{$label TASK TAS_RECEIVE_EMAIL_FROM_FORMAT}</th>
			<th class="{$TAS_RECEIVE_MESSAGE_TYPE_class}">{$label TASK TAS_RECEIVE_MESSAGE_TYPE}</th>
			<th class="{$TAS_RECEIVE_MESSAGE_TEMPLATE_class}">{$label TASK TAS_RECEIVE_MESSAGE_TEMPLATE}</th>
			<th class="{$TAS_RECEIVE_SUBJECT_MESSAGE_class}">{$label TASK TAS_RECEIVE_SUBJECT_MESSAGE}</th>
			<th class="{$TAS_RECEIVE_MESSAGE_class}">{$label TASK TAS_RECEIVE_MESSAGE}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$PRO_UID_class}">{$PRO_UID_mastervalue}</td>
			<td class="{$TAS_UID_class}">{$TAS_UID_mastervalue}</td>
			<td class="{$TAS_TITLE_class}">{$TAS_TITLE_mastervalue}</td>
			<td class="{$TAS_DESCRIPTION_class}">{$TAS_DESCRIPTION_mastervalue}</td>
			<td class="{$TAS_DEF_TITLE_class}">{$TAS_DEF_TITLE_mastervalue}</td>
			<td class="{$TAS_DEF_SUBJECT_MESSAGE_class}">{$TAS_DEF_SUBJECT_MESSAGE_mastervalue}</td>
			<td class="{$TAS_DEF_PROC_CODE_class}">{$TAS_DEF_PROC_CODE_mastervalue}</td>
			<td class="{$TAS_DEF_MESSAGE_class}">{$TAS_DEF_MESSAGE_mastervalue}</td>
			<td class="{$TAS_DEF_DESCRIPTION_class}">{$TAS_DEF_DESCRIPTION_mastervalue}</td>
			<td class="{$TAS_TYPE_class}">{$TAS_TYPE_mastervalue}</td>
			<td class="{$TAS_DURATION_class}">{$TAS_DURATION_mastervalue}</td>
			<td class="{$TAS_DELAY_TYPE_class}">{$TAS_DELAY_TYPE_mastervalue}</td>
			<td class="{$TAS_TEMPORIZER_class}">{$TAS_TEMPORIZER_mastervalue}</td>
			<td class="{$TAS_TYPE_DAY_class}">{$TAS_TYPE_DAY_mastervalue}</td>
			<td class="{$TAS_TIMEUNIT_class}">{$TAS_TIMEUNIT_mastervalue}</td>
			<td class="{$TAS_ALERT_class}">{$TAS_ALERT_mastervalue}</td>
			<td class="{$TAS_PRIORITY_VARIABLE_class}">{$TAS_PRIORITY_VARIABLE_mastervalue}</td>
			<td class="{$TAS_ASSIGN_TYPE_class}">{$TAS_ASSIGN_TYPE_mastervalue}</td>
			<td class="{$TAS_ASSIGN_VARIABLE_class}">{$TAS_ASSIGN_VARIABLE_mastervalue}</td>
			<td class="{$TAS_GROUP_VARIABLE_class}">{$TAS_GROUP_VARIABLE_mastervalue}</td>
			<td class="{$TAS_MI_INSTANCE_VARIABLE_class}">{$TAS_MI_INSTANCE_VARIABLE_mastervalue}</td>
			<td class="{$TAS_MI_COMPLETE_VARIABLE_class}">{$TAS_MI_COMPLETE_VARIABLE_mastervalue}</td>
			<td class="{$TAS_ASSIGN_LOCATION_class}">{$TAS_ASSIGN_LOCATION_mastervalue}</td>
			<td class="{$TAS_ASSIGN_LOCATION_ADHOC_class}">{$TAS_ASSIGN_LOCATION_ADHOC_mastervalue}</td>
			<td class="{$TAS_TRANSFER_FLY_class}">{$TAS_TRANSFER_FLY_mastervalue}</td>
			<td class="{$TAS_LAST_ASSIGNED_class}">{$TAS_LAST_ASSIGNED_mastervalue}</td>
			<td class="{$TAS_USER_class}">{$TAS_USER_mastervalue}</td>
			<td class="{$TAS_CAN_UPLOAD_class}">{$TAS_CAN_UPLOAD_mastervalue}</td>
			<td class="{$TAS_VIEW_UPLOAD_class}">{$TAS_VIEW_UPLOAD_mastervalue}</td>
			<td class="{$TAS_VIEW_ADDITIONAL_DOCUMENTATION_class}">{$TAS_VIEW_ADDITIONAL_DOCUMENTATION_mastervalue}</td>
			<td class="{$TAS_CAN_CANCEL_class}">{$TAS_CAN_CANCEL_mastervalue}</td>
			<td class="{$TAS_OWNER_APP_class}">{$TAS_OWNER_APP_mastervalue}</td>
			<td class="{$STG_UID_class}">{$STG_UID_mastervalue}</td>
			<td class="{$TAS_CAN_PAUSE_class}">{$TAS_CAN_PAUSE_mastervalue}</td>
			<td class="{$TAS_CAN_SEND_MESSAGE_class}">{$TAS_CAN_SEND_MESSAGE_mastervalue}</td>
			<td class="{$TAS_CAN_DELETE_DOCS_class}">{$TAS_CAN_DELETE_DOCS_mastervalue}</td>
			<td class="{$TAS_SELF_SERVICE_class}">{$TAS_SELF_SERVICE_mastervalue}</td>
			<td class="{$TAS_START_class}">{$TAS_START_mastervalue}</td>
			<td class="{$TAS_TO_LAST_USER_class}">{$TAS_TO_LAST_USER_mastervalue}</td>
			<td class="{$TAS_SEND_LAST_EMAIL_class}">{$TAS_SEND_LAST_EMAIL_mastervalue}</td>
			<td class="{$TAS_DERIVATION_class}">{$TAS_DERIVATION_mastervalue}</td>
			<td class="{$TAS_POSX_class}">{$TAS_POSX_mastervalue}</td>
			<td class="{$TAS_POSY_class}">{$TAS_POSY_mastervalue}</td>
			<td class="{$TAS_WIDTH_class}">{$TAS_WIDTH_mastervalue}</td>
			<td class="{$TAS_HEIGHT_class}">{$TAS_HEIGHT_mastervalue}</td>
			<td class="{$TAS_COLOR_class}">{$TAS_COLOR_mastervalue}</td>
			<td class="{$TAS_EVN_UID_class}">{$TAS_EVN_UID_mastervalue}</td>
			<td class="{$TAS_BOUNDARY_class}">{$TAS_BOUNDARY_mastervalue}</td>
			<td class="{$TAS_DERIVATION_SCREEN_TPL_class}">{$TAS_DERIVATION_SCREEN_TPL_mastervalue}</td>
			<td class="{$TAS_SELFSERVICE_TIMEOUT_class}">{$TAS_SELFSERVICE_TIMEOUT_mastervalue}</td>
			<td class="{$TAS_SELFSERVICE_TIME_class}">{$TAS_SELFSERVICE_TIME_mastervalue}</td>
			<td class="{$TAS_SELFSERVICE_TIME_UNIT_class}">{$TAS_SELFSERVICE_TIME_UNIT_mastervalue}</td>
			<td class="{$TAS_SELFSERVICE_TRIGGER_UID_class}">{$TAS_SELFSERVICE_TRIGGER_UID_mastervalue}</td>
			<td class="{$TAS_SELFSERVICE_EXECUTION_class}">{$TAS_SELFSERVICE_EXECUTION_mastervalue}</td>
			<td class="{$TAS_NOT_EMAIL_FROM_FORMAT_class}">{$TAS_NOT_EMAIL_FROM_FORMAT_mastervalue}</td>
			<td class="{$TAS_ID_class}">{$TAS_ID_mastervalue}</td>
			<td class="{$TAS_OFFLINE_class}">{$TAS_OFFLINE_mastervalue}</td>
			<td class="{$TAS_EMAIL_SERVER_UID_class}">{$TAS_EMAIL_SERVER_UID_mastervalue}</td>
			<td class="{$TAS_AUTO_ROOT_class}">{$TAS_AUTO_ROOT_mastervalue}</td>
			<td class="{$TAS_RECEIVE_SERVER_UID_class}">{$TAS_RECEIVE_SERVER_UID_mastervalue}</td>
			<td class="{$TAS_RECEIVE_LAST_EMAIL_class}">{$TAS_RECEIVE_LAST_EMAIL_mastervalue}</td>
			<td class="{$TAS_RECEIVE_EMAIL_FROM_FORMAT_class}">{$TAS_RECEIVE_EMAIL_FROM_FORMAT_mastervalue}</td>
			<td class="{$TAS_RECEIVE_MESSAGE_TYPE_class}">{$TAS_RECEIVE_MESSAGE_TYPE_mastervalue}</td>
			<td class="{$TAS_RECEIVE_MESSAGE_TEMPLATE_class}">{$TAS_RECEIVE_MESSAGE_TEMPLATE_mastervalue}</td>
			<td class="{$TAS_RECEIVE_SUBJECT_MESSAGE_class}">{$TAS_RECEIVE_SUBJECT_MESSAGE_mastervalue}</td>
			<td class="{$TAS_RECEIVE_MESSAGE_class}">{$TAS_RECEIVE_MESSAGE_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>