<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-add" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel TASK add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN PRO_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PRO_UID}" data-fieldname="PRO_UID" data-signal-error-for="PRO_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PRO_UID}">
		{BEGIN PRO_UID_label}{$label TASK PRO_UID}{END PRO_UID_label}
	</label>
	<div class="col-md-6" >
		{$PRO_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PRO_UID">
		<div class="text-muted" >
		{$tooltip TASK PRO_UID}
		</div>
	</div>
</div>
</div>
{END PRO_UID_fieldblock}

			{BEGIN TAS_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_UID}" data-fieldname="TAS_UID" data-signal-error-for="TAS_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_UID}">
		{BEGIN TAS_UID_label}{$label TASK TAS_UID}{END TAS_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_UID">
		<div class="text-muted" >
		{$tooltip TASK TAS_UID}
		</div>
	</div>
</div>
</div>
{END TAS_UID_fieldblock}

			{BEGIN TAS_TITLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TITLE}" data-fieldname="TAS_TITLE" data-signal-error-for="TAS_TITLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TITLE}">
		{BEGIN TAS_TITLE_label}{$label TASK TAS_TITLE}{END TAS_TITLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TITLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TITLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_TITLE}
		</div>
	</div>
</div>
</div>
{END TAS_TITLE_fieldblock}

			{BEGIN TAS_DESCRIPTION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DESCRIPTION}" data-fieldname="TAS_DESCRIPTION" data-signal-error-for="TAS_DESCRIPTION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DESCRIPTION}">
		{BEGIN TAS_DESCRIPTION_label}{$label TASK TAS_DESCRIPTION}{END TAS_DESCRIPTION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DESCRIPTION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DESCRIPTION">
		<div class="text-muted" >
		{$tooltip TASK TAS_DESCRIPTION}
		</div>
	</div>
</div>
</div>
{END TAS_DESCRIPTION_fieldblock}

			{BEGIN TAS_DEF_TITLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DEF_TITLE}" data-fieldname="TAS_DEF_TITLE" data-signal-error-for="TAS_DEF_TITLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DEF_TITLE}">
		{BEGIN TAS_DEF_TITLE_label}{$label TASK TAS_DEF_TITLE}{END TAS_DEF_TITLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DEF_TITLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DEF_TITLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_DEF_TITLE}
		</div>
	</div>
</div>
</div>
{END TAS_DEF_TITLE_fieldblock}

			{BEGIN TAS_DEF_SUBJECT_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DEF_SUBJECT_MESSAGE}" data-fieldname="TAS_DEF_SUBJECT_MESSAGE" data-signal-error-for="TAS_DEF_SUBJECT_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DEF_SUBJECT_MESSAGE}">
		{BEGIN TAS_DEF_SUBJECT_MESSAGE_label}{$label TASK TAS_DEF_SUBJECT_MESSAGE}{END TAS_DEF_SUBJECT_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DEF_SUBJECT_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DEF_SUBJECT_MESSAGE">
		<div class="text-muted" >
		{$tooltip TASK TAS_DEF_SUBJECT_MESSAGE}
		</div>
	</div>
</div>
</div>
{END TAS_DEF_SUBJECT_MESSAGE_fieldblock}

			{BEGIN TAS_DEF_PROC_CODE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DEF_PROC_CODE}" data-fieldname="TAS_DEF_PROC_CODE" data-signal-error-for="TAS_DEF_PROC_CODE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DEF_PROC_CODE}">
		{BEGIN TAS_DEF_PROC_CODE_label}{$label TASK TAS_DEF_PROC_CODE}{END TAS_DEF_PROC_CODE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DEF_PROC_CODE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DEF_PROC_CODE">
		<div class="text-muted" >
		{$tooltip TASK TAS_DEF_PROC_CODE}
		</div>
	</div>
</div>
</div>
{END TAS_DEF_PROC_CODE_fieldblock}

			{BEGIN TAS_DEF_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DEF_MESSAGE}" data-fieldname="TAS_DEF_MESSAGE" data-signal-error-for="TAS_DEF_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DEF_MESSAGE}">
		{BEGIN TAS_DEF_MESSAGE_label}{$label TASK TAS_DEF_MESSAGE}{END TAS_DEF_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DEF_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DEF_MESSAGE">
		<div class="text-muted" >
		{$tooltip TASK TAS_DEF_MESSAGE}
		</div>
	</div>
</div>
</div>
{END TAS_DEF_MESSAGE_fieldblock}

			{BEGIN TAS_DEF_DESCRIPTION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DEF_DESCRIPTION}" data-fieldname="TAS_DEF_DESCRIPTION" data-signal-error-for="TAS_DEF_DESCRIPTION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DEF_DESCRIPTION}">
		{BEGIN TAS_DEF_DESCRIPTION_label}{$label TASK TAS_DEF_DESCRIPTION}{END TAS_DEF_DESCRIPTION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DEF_DESCRIPTION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DEF_DESCRIPTION">
		<div class="text-muted" >
		{$tooltip TASK TAS_DEF_DESCRIPTION}
		</div>
	</div>
</div>
</div>
{END TAS_DEF_DESCRIPTION_fieldblock}

			{BEGIN TAS_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TYPE}" data-fieldname="TAS_TYPE" data-signal-error-for="TAS_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TYPE}">
		{BEGIN TAS_TYPE_label}{$label TASK TAS_TYPE}{END TAS_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TYPE">
		<div class="text-muted" >
		{$tooltip TASK TAS_TYPE}
		</div>
	</div>
</div>
</div>
{END TAS_TYPE_fieldblock}

			{BEGIN TAS_DURATION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DURATION}" data-fieldname="TAS_DURATION" data-signal-error-for="TAS_DURATION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DURATION}">
		{BEGIN TAS_DURATION_label}{$label TASK TAS_DURATION}{END TAS_DURATION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DURATION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DURATION">
		<div class="text-muted" >
		{$tooltip TASK TAS_DURATION}
		</div>
	</div>
</div>
</div>
{END TAS_DURATION_fieldblock}

			{BEGIN TAS_DELAY_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DELAY_TYPE}" data-fieldname="TAS_DELAY_TYPE" data-signal-error-for="TAS_DELAY_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DELAY_TYPE}">
		{BEGIN TAS_DELAY_TYPE_label}{$label TASK TAS_DELAY_TYPE}{END TAS_DELAY_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DELAY_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DELAY_TYPE">
		<div class="text-muted" >
		{$tooltip TASK TAS_DELAY_TYPE}
		</div>
	</div>
</div>
</div>
{END TAS_DELAY_TYPE_fieldblock}

			{BEGIN TAS_TEMPORIZER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TEMPORIZER}" data-fieldname="TAS_TEMPORIZER" data-signal-error-for="TAS_TEMPORIZER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TEMPORIZER}">
		{BEGIN TAS_TEMPORIZER_label}{$label TASK TAS_TEMPORIZER}{END TAS_TEMPORIZER_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TEMPORIZER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TEMPORIZER">
		<div class="text-muted" >
		{$tooltip TASK TAS_TEMPORIZER}
		</div>
	</div>
</div>
</div>
{END TAS_TEMPORIZER_fieldblock}

			{BEGIN TAS_TYPE_DAY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TYPE_DAY}" data-fieldname="TAS_TYPE_DAY" data-signal-error-for="TAS_TYPE_DAY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TYPE_DAY}">
		{BEGIN TAS_TYPE_DAY_label}{$label TASK TAS_TYPE_DAY}{END TAS_TYPE_DAY_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TYPE_DAY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TYPE_DAY">
		<div class="text-muted" >
		{$tooltip TASK TAS_TYPE_DAY}
		</div>
	</div>
</div>
</div>
{END TAS_TYPE_DAY_fieldblock}

			{BEGIN TAS_TIMEUNIT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TIMEUNIT}" data-fieldname="TAS_TIMEUNIT" data-signal-error-for="TAS_TIMEUNIT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TIMEUNIT}">
		{BEGIN TAS_TIMEUNIT_label}{$label TASK TAS_TIMEUNIT}{END TAS_TIMEUNIT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TIMEUNIT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TIMEUNIT">
		<div class="text-muted" >
		{$tooltip TASK TAS_TIMEUNIT}
		</div>
	</div>
</div>
</div>
{END TAS_TIMEUNIT_fieldblock}

			{BEGIN TAS_ALERT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_ALERT}" data-fieldname="TAS_ALERT" data-signal-error-for="TAS_ALERT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_ALERT}">
		{BEGIN TAS_ALERT_label}{$label TASK TAS_ALERT}{END TAS_ALERT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_ALERT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_ALERT">
		<div class="text-muted" >
		{$tooltip TASK TAS_ALERT}
		</div>
	</div>
</div>
</div>
{END TAS_ALERT_fieldblock}

			{BEGIN TAS_PRIORITY_VARIABLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_PRIORITY_VARIABLE}" data-fieldname="TAS_PRIORITY_VARIABLE" data-signal-error-for="TAS_PRIORITY_VARIABLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_PRIORITY_VARIABLE}">
		{BEGIN TAS_PRIORITY_VARIABLE_label}{$label TASK TAS_PRIORITY_VARIABLE}{END TAS_PRIORITY_VARIABLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_PRIORITY_VARIABLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_PRIORITY_VARIABLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_PRIORITY_VARIABLE}
		</div>
	</div>
</div>
</div>
{END TAS_PRIORITY_VARIABLE_fieldblock}

			{BEGIN TAS_ASSIGN_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_ASSIGN_TYPE}" data-fieldname="TAS_ASSIGN_TYPE" data-signal-error-for="TAS_ASSIGN_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_ASSIGN_TYPE}">
		{BEGIN TAS_ASSIGN_TYPE_label}{$label TASK TAS_ASSIGN_TYPE}{END TAS_ASSIGN_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_ASSIGN_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_ASSIGN_TYPE">
		<div class="text-muted" >
		{$tooltip TASK TAS_ASSIGN_TYPE}
		</div>
	</div>
</div>
</div>
{END TAS_ASSIGN_TYPE_fieldblock}

			{BEGIN TAS_ASSIGN_VARIABLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_ASSIGN_VARIABLE}" data-fieldname="TAS_ASSIGN_VARIABLE" data-signal-error-for="TAS_ASSIGN_VARIABLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_ASSIGN_VARIABLE}">
		{BEGIN TAS_ASSIGN_VARIABLE_label}{$label TASK TAS_ASSIGN_VARIABLE}{END TAS_ASSIGN_VARIABLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_ASSIGN_VARIABLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_ASSIGN_VARIABLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_ASSIGN_VARIABLE}
		</div>
	</div>
</div>
</div>
{END TAS_ASSIGN_VARIABLE_fieldblock}

			{BEGIN TAS_GROUP_VARIABLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_GROUP_VARIABLE}" data-fieldname="TAS_GROUP_VARIABLE" data-signal-error-for="TAS_GROUP_VARIABLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_GROUP_VARIABLE}">
		{BEGIN TAS_GROUP_VARIABLE_label}{$label TASK TAS_GROUP_VARIABLE}{END TAS_GROUP_VARIABLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_GROUP_VARIABLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_GROUP_VARIABLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_GROUP_VARIABLE}
		</div>
	</div>
</div>
</div>
{END TAS_GROUP_VARIABLE_fieldblock}

			{BEGIN TAS_MI_INSTANCE_VARIABLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_MI_INSTANCE_VARIABLE}" data-fieldname="TAS_MI_INSTANCE_VARIABLE" data-signal-error-for="TAS_MI_INSTANCE_VARIABLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_MI_INSTANCE_VARIABLE}">
		{BEGIN TAS_MI_INSTANCE_VARIABLE_label}{$label TASK TAS_MI_INSTANCE_VARIABLE}{END TAS_MI_INSTANCE_VARIABLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_MI_INSTANCE_VARIABLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_MI_INSTANCE_VARIABLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_MI_INSTANCE_VARIABLE}
		</div>
	</div>
</div>
</div>
{END TAS_MI_INSTANCE_VARIABLE_fieldblock}

			{BEGIN TAS_MI_COMPLETE_VARIABLE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_MI_COMPLETE_VARIABLE}" data-fieldname="TAS_MI_COMPLETE_VARIABLE" data-signal-error-for="TAS_MI_COMPLETE_VARIABLE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_MI_COMPLETE_VARIABLE}">
		{BEGIN TAS_MI_COMPLETE_VARIABLE_label}{$label TASK TAS_MI_COMPLETE_VARIABLE}{END TAS_MI_COMPLETE_VARIABLE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_MI_COMPLETE_VARIABLE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_MI_COMPLETE_VARIABLE">
		<div class="text-muted" >
		{$tooltip TASK TAS_MI_COMPLETE_VARIABLE}
		</div>
	</div>
</div>
</div>
{END TAS_MI_COMPLETE_VARIABLE_fieldblock}

			{BEGIN TAS_ASSIGN_LOCATION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_ASSIGN_LOCATION}" data-fieldname="TAS_ASSIGN_LOCATION" data-signal-error-for="TAS_ASSIGN_LOCATION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_ASSIGN_LOCATION}">
		{BEGIN TAS_ASSIGN_LOCATION_label}{$label TASK TAS_ASSIGN_LOCATION}{END TAS_ASSIGN_LOCATION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_ASSIGN_LOCATION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_ASSIGN_LOCATION">
		<div class="text-muted" >
		{$tooltip TASK TAS_ASSIGN_LOCATION}
		</div>
	</div>
</div>
</div>
{END TAS_ASSIGN_LOCATION_fieldblock}

			{BEGIN TAS_ASSIGN_LOCATION_ADHOC_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_ASSIGN_LOCATION_ADHOC}" data-fieldname="TAS_ASSIGN_LOCATION_ADHOC" data-signal-error-for="TAS_ASSIGN_LOCATION_ADHOC{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_ASSIGN_LOCATION_ADHOC}">
		{BEGIN TAS_ASSIGN_LOCATION_ADHOC_label}{$label TASK TAS_ASSIGN_LOCATION_ADHOC}{END TAS_ASSIGN_LOCATION_ADHOC_label}
	</label>
	<div class="col-md-6" >
		{$TAS_ASSIGN_LOCATION_ADHOC_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_ASSIGN_LOCATION_ADHOC">
		<div class="text-muted" >
		{$tooltip TASK TAS_ASSIGN_LOCATION_ADHOC}
		</div>
	</div>
</div>
</div>
{END TAS_ASSIGN_LOCATION_ADHOC_fieldblock}

			{BEGIN TAS_TRANSFER_FLY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TRANSFER_FLY}" data-fieldname="TAS_TRANSFER_FLY" data-signal-error-for="TAS_TRANSFER_FLY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TRANSFER_FLY}">
		{BEGIN TAS_TRANSFER_FLY_label}{$label TASK TAS_TRANSFER_FLY}{END TAS_TRANSFER_FLY_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TRANSFER_FLY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TRANSFER_FLY">
		<div class="text-muted" >
		{$tooltip TASK TAS_TRANSFER_FLY}
		</div>
	</div>
</div>
</div>
{END TAS_TRANSFER_FLY_fieldblock}

			{BEGIN TAS_LAST_ASSIGNED_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_LAST_ASSIGNED}" data-fieldname="TAS_LAST_ASSIGNED" data-signal-error-for="TAS_LAST_ASSIGNED{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_LAST_ASSIGNED}">
		{BEGIN TAS_LAST_ASSIGNED_label}{$label TASK TAS_LAST_ASSIGNED}{END TAS_LAST_ASSIGNED_label}
	</label>
	<div class="col-md-6" >
		{$TAS_LAST_ASSIGNED_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_LAST_ASSIGNED">
		<div class="text-muted" >
		{$tooltip TASK TAS_LAST_ASSIGNED}
		</div>
	</div>
</div>
</div>
{END TAS_LAST_ASSIGNED_fieldblock}

			{BEGIN TAS_USER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_USER}" data-fieldname="TAS_USER" data-signal-error-for="TAS_USER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_USER}">
		{BEGIN TAS_USER_label}{$label TASK TAS_USER}{END TAS_USER_label}
	</label>
	<div class="col-md-6" >
		{$TAS_USER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_USER">
		<div class="text-muted" >
		{$tooltip TASK TAS_USER}
		</div>
	</div>
</div>
</div>
{END TAS_USER_fieldblock}

			{BEGIN TAS_CAN_UPLOAD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_CAN_UPLOAD}" data-fieldname="TAS_CAN_UPLOAD" data-signal-error-for="TAS_CAN_UPLOAD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_CAN_UPLOAD}">
		{BEGIN TAS_CAN_UPLOAD_label}{$label TASK TAS_CAN_UPLOAD}{END TAS_CAN_UPLOAD_label}
	</label>
	<div class="col-md-6" >
		{$TAS_CAN_UPLOAD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_CAN_UPLOAD">
		<div class="text-muted" >
		{$tooltip TASK TAS_CAN_UPLOAD}
		</div>
	</div>
</div>
</div>
{END TAS_CAN_UPLOAD_fieldblock}

			{BEGIN TAS_VIEW_UPLOAD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_VIEW_UPLOAD}" data-fieldname="TAS_VIEW_UPLOAD" data-signal-error-for="TAS_VIEW_UPLOAD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_VIEW_UPLOAD}">
		{BEGIN TAS_VIEW_UPLOAD_label}{$label TASK TAS_VIEW_UPLOAD}{END TAS_VIEW_UPLOAD_label}
	</label>
	<div class="col-md-6" >
		{$TAS_VIEW_UPLOAD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_VIEW_UPLOAD">
		<div class="text-muted" >
		{$tooltip TASK TAS_VIEW_UPLOAD}
		</div>
	</div>
</div>
</div>
{END TAS_VIEW_UPLOAD_fieldblock}

			{BEGIN TAS_VIEW_ADDITIONAL_DOCUMENTATION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_VIEW_ADDITIONAL_DOCUMENTATION}" data-fieldname="TAS_VIEW_ADDITIONAL_DOCUMENTATION" data-signal-error-for="TAS_VIEW_ADDITIONAL_DOCUMENTATION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_VIEW_ADDITIONAL_DOCUMENTATION}">
		{BEGIN TAS_VIEW_ADDITIONAL_DOCUMENTATION_label}{$label TASK TAS_VIEW_ADDITIONAL_DOCUMENTATION}{END TAS_VIEW_ADDITIONAL_DOCUMENTATION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_VIEW_ADDITIONAL_DOCUMENTATION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_VIEW_ADDITIONAL_DOCUMENTATION">
		<div class="text-muted" >
		{$tooltip TASK TAS_VIEW_ADDITIONAL_DOCUMENTATION}
		</div>
	</div>
</div>
</div>
{END TAS_VIEW_ADDITIONAL_DOCUMENTATION_fieldblock}

			{BEGIN TAS_CAN_CANCEL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_CAN_CANCEL}" data-fieldname="TAS_CAN_CANCEL" data-signal-error-for="TAS_CAN_CANCEL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_CAN_CANCEL}">
		{BEGIN TAS_CAN_CANCEL_label}{$label TASK TAS_CAN_CANCEL}{END TAS_CAN_CANCEL_label}
	</label>
	<div class="col-md-6" >
		{$TAS_CAN_CANCEL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_CAN_CANCEL">
		<div class="text-muted" >
		{$tooltip TASK TAS_CAN_CANCEL}
		</div>
	</div>
</div>
</div>
{END TAS_CAN_CANCEL_fieldblock}

			{BEGIN TAS_OWNER_APP_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_OWNER_APP}" data-fieldname="TAS_OWNER_APP" data-signal-error-for="TAS_OWNER_APP{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_OWNER_APP}">
		{BEGIN TAS_OWNER_APP_label}{$label TASK TAS_OWNER_APP}{END TAS_OWNER_APP_label}
	</label>
	<div class="col-md-6" >
		{$TAS_OWNER_APP_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_OWNER_APP">
		<div class="text-muted" >
		{$tooltip TASK TAS_OWNER_APP}
		</div>
	</div>
</div>
</div>
{END TAS_OWNER_APP_fieldblock}

			{BEGIN STG_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_STG_UID}" data-fieldname="STG_UID" data-signal-error-for="STG_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_STG_UID}">
		{BEGIN STG_UID_label}{$label TASK STG_UID}{END STG_UID_label}
	</label>
	<div class="col-md-6" >
		{$STG_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="STG_UID">
		<div class="text-muted" >
		{$tooltip TASK STG_UID}
		</div>
	</div>
</div>
</div>
{END STG_UID_fieldblock}

			{BEGIN TAS_CAN_PAUSE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_CAN_PAUSE}" data-fieldname="TAS_CAN_PAUSE" data-signal-error-for="TAS_CAN_PAUSE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_CAN_PAUSE}">
		{BEGIN TAS_CAN_PAUSE_label}{$label TASK TAS_CAN_PAUSE}{END TAS_CAN_PAUSE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_CAN_PAUSE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_CAN_PAUSE">
		<div class="text-muted" >
		{$tooltip TASK TAS_CAN_PAUSE}
		</div>
	</div>
</div>
</div>
{END TAS_CAN_PAUSE_fieldblock}

			{BEGIN TAS_CAN_SEND_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_CAN_SEND_MESSAGE}" data-fieldname="TAS_CAN_SEND_MESSAGE" data-signal-error-for="TAS_CAN_SEND_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_CAN_SEND_MESSAGE}">
		{BEGIN TAS_CAN_SEND_MESSAGE_label}{$label TASK TAS_CAN_SEND_MESSAGE}{END TAS_CAN_SEND_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_CAN_SEND_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_CAN_SEND_MESSAGE">
		<div class="text-muted" >
		{$tooltip TASK TAS_CAN_SEND_MESSAGE}
		</div>
	</div>
</div>
</div>
{END TAS_CAN_SEND_MESSAGE_fieldblock}

			{BEGIN TAS_CAN_DELETE_DOCS_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_CAN_DELETE_DOCS}" data-fieldname="TAS_CAN_DELETE_DOCS" data-signal-error-for="TAS_CAN_DELETE_DOCS{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_CAN_DELETE_DOCS}">
		{BEGIN TAS_CAN_DELETE_DOCS_label}{$label TASK TAS_CAN_DELETE_DOCS}{END TAS_CAN_DELETE_DOCS_label}
	</label>
	<div class="col-md-6" >
		{$TAS_CAN_DELETE_DOCS_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_CAN_DELETE_DOCS">
		<div class="text-muted" >
		{$tooltip TASK TAS_CAN_DELETE_DOCS}
		</div>
	</div>
</div>
</div>
{END TAS_CAN_DELETE_DOCS_fieldblock}

			{BEGIN TAS_SELF_SERVICE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELF_SERVICE}" data-fieldname="TAS_SELF_SERVICE" data-signal-error-for="TAS_SELF_SERVICE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELF_SERVICE}">
		{BEGIN TAS_SELF_SERVICE_label}{$label TASK TAS_SELF_SERVICE}{END TAS_SELF_SERVICE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELF_SERVICE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELF_SERVICE">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELF_SERVICE}
		</div>
	</div>
</div>
</div>
{END TAS_SELF_SERVICE_fieldblock}

			{BEGIN TAS_START_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_START}" data-fieldname="TAS_START" data-signal-error-for="TAS_START{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_START}">
		{BEGIN TAS_START_label}{$label TASK TAS_START}{END TAS_START_label}
	</label>
	<div class="col-md-6" >
		{$TAS_START_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_START">
		<div class="text-muted" >
		{$tooltip TASK TAS_START}
		</div>
	</div>
</div>
</div>
{END TAS_START_fieldblock}

			{BEGIN TAS_TO_LAST_USER_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_TO_LAST_USER}" data-fieldname="TAS_TO_LAST_USER" data-signal-error-for="TAS_TO_LAST_USER{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_TO_LAST_USER}">
		{BEGIN TAS_TO_LAST_USER_label}{$label TASK TAS_TO_LAST_USER}{END TAS_TO_LAST_USER_label}
	</label>
	<div class="col-md-6" >
		{$TAS_TO_LAST_USER_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_TO_LAST_USER">
		<div class="text-muted" >
		{$tooltip TASK TAS_TO_LAST_USER}
		</div>
	</div>
</div>
</div>
{END TAS_TO_LAST_USER_fieldblock}

			{BEGIN TAS_SEND_LAST_EMAIL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SEND_LAST_EMAIL}" data-fieldname="TAS_SEND_LAST_EMAIL" data-signal-error-for="TAS_SEND_LAST_EMAIL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SEND_LAST_EMAIL}">
		{BEGIN TAS_SEND_LAST_EMAIL_label}{$label TASK TAS_SEND_LAST_EMAIL}{END TAS_SEND_LAST_EMAIL_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SEND_LAST_EMAIL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SEND_LAST_EMAIL">
		<div class="text-muted" >
		{$tooltip TASK TAS_SEND_LAST_EMAIL}
		</div>
	</div>
</div>
</div>
{END TAS_SEND_LAST_EMAIL_fieldblock}

			{BEGIN TAS_DERIVATION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DERIVATION}" data-fieldname="TAS_DERIVATION" data-signal-error-for="TAS_DERIVATION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DERIVATION}">
		{BEGIN TAS_DERIVATION_label}{$label TASK TAS_DERIVATION}{END TAS_DERIVATION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DERIVATION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DERIVATION">
		<div class="text-muted" >
		{$tooltip TASK TAS_DERIVATION}
		</div>
	</div>
</div>
</div>
{END TAS_DERIVATION_fieldblock}

			{BEGIN TAS_POSX_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_POSX}" data-fieldname="TAS_POSX" data-signal-error-for="TAS_POSX{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_POSX}">
		{BEGIN TAS_POSX_label}{$label TASK TAS_POSX}{END TAS_POSX_label}
	</label>
	<div class="col-md-6" >
		{$TAS_POSX_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_POSX">
		<div class="text-muted" >
		{$tooltip TASK TAS_POSX}
		</div>
	</div>
</div>
</div>
{END TAS_POSX_fieldblock}

			{BEGIN TAS_POSY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_POSY}" data-fieldname="TAS_POSY" data-signal-error-for="TAS_POSY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_POSY}">
		{BEGIN TAS_POSY_label}{$label TASK TAS_POSY}{END TAS_POSY_label}
	</label>
	<div class="col-md-6" >
		{$TAS_POSY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_POSY">
		<div class="text-muted" >
		{$tooltip TASK TAS_POSY}
		</div>
	</div>
</div>
</div>
{END TAS_POSY_fieldblock}

			{BEGIN TAS_WIDTH_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_WIDTH}" data-fieldname="TAS_WIDTH" data-signal-error-for="TAS_WIDTH{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_WIDTH}">
		{BEGIN TAS_WIDTH_label}{$label TASK TAS_WIDTH}{END TAS_WIDTH_label}
	</label>
	<div class="col-md-6" >
		{$TAS_WIDTH_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_WIDTH">
		<div class="text-muted" >
		{$tooltip TASK TAS_WIDTH}
		</div>
	</div>
</div>
</div>
{END TAS_WIDTH_fieldblock}

			{BEGIN TAS_HEIGHT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_HEIGHT}" data-fieldname="TAS_HEIGHT" data-signal-error-for="TAS_HEIGHT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_HEIGHT}">
		{BEGIN TAS_HEIGHT_label}{$label TASK TAS_HEIGHT}{END TAS_HEIGHT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_HEIGHT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_HEIGHT">
		<div class="text-muted" >
		{$tooltip TASK TAS_HEIGHT}
		</div>
	</div>
</div>
</div>
{END TAS_HEIGHT_fieldblock}

			{BEGIN TAS_COLOR_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_COLOR}" data-fieldname="TAS_COLOR" data-signal-error-for="TAS_COLOR{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_COLOR}">
		{BEGIN TAS_COLOR_label}{$label TASK TAS_COLOR}{END TAS_COLOR_label}
	</label>
	<div class="col-md-6" >
		{$TAS_COLOR_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_COLOR">
		<div class="text-muted" >
		{$tooltip TASK TAS_COLOR}
		</div>
	</div>
</div>
</div>
{END TAS_COLOR_fieldblock}

			{BEGIN TAS_EVN_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_EVN_UID}" data-fieldname="TAS_EVN_UID" data-signal-error-for="TAS_EVN_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_EVN_UID}">
		{BEGIN TAS_EVN_UID_label}{$label TASK TAS_EVN_UID}{END TAS_EVN_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_EVN_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_EVN_UID">
		<div class="text-muted" >
		{$tooltip TASK TAS_EVN_UID}
		</div>
	</div>
</div>
</div>
{END TAS_EVN_UID_fieldblock}

			{BEGIN TAS_BOUNDARY_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_BOUNDARY}" data-fieldname="TAS_BOUNDARY" data-signal-error-for="TAS_BOUNDARY{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_BOUNDARY}">
		{BEGIN TAS_BOUNDARY_label}{$label TASK TAS_BOUNDARY}{END TAS_BOUNDARY_label}
	</label>
	<div class="col-md-6" >
		{$TAS_BOUNDARY_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_BOUNDARY">
		<div class="text-muted" >
		{$tooltip TASK TAS_BOUNDARY}
		</div>
	</div>
</div>
</div>
{END TAS_BOUNDARY_fieldblock}

			{BEGIN TAS_DERIVATION_SCREEN_TPL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_DERIVATION_SCREEN_TPL}" data-fieldname="TAS_DERIVATION_SCREEN_TPL" data-signal-error-for="TAS_DERIVATION_SCREEN_TPL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_DERIVATION_SCREEN_TPL}">
		{BEGIN TAS_DERIVATION_SCREEN_TPL_label}{$label TASK TAS_DERIVATION_SCREEN_TPL}{END TAS_DERIVATION_SCREEN_TPL_label}
	</label>
	<div class="col-md-6" >
		{$TAS_DERIVATION_SCREEN_TPL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_DERIVATION_SCREEN_TPL">
		<div class="text-muted" >
		{$tooltip TASK TAS_DERIVATION_SCREEN_TPL}
		</div>
	</div>
</div>
</div>
{END TAS_DERIVATION_SCREEN_TPL_fieldblock}

			{BEGIN TAS_SELFSERVICE_TIMEOUT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELFSERVICE_TIMEOUT}" data-fieldname="TAS_SELFSERVICE_TIMEOUT" data-signal-error-for="TAS_SELFSERVICE_TIMEOUT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELFSERVICE_TIMEOUT}">
		{BEGIN TAS_SELFSERVICE_TIMEOUT_label}{$label TASK TAS_SELFSERVICE_TIMEOUT}{END TAS_SELFSERVICE_TIMEOUT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELFSERVICE_TIMEOUT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELFSERVICE_TIMEOUT">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELFSERVICE_TIMEOUT}
		</div>
	</div>
</div>
</div>
{END TAS_SELFSERVICE_TIMEOUT_fieldblock}

			{BEGIN TAS_SELFSERVICE_TIME_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELFSERVICE_TIME}" data-fieldname="TAS_SELFSERVICE_TIME" data-signal-error-for="TAS_SELFSERVICE_TIME{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELFSERVICE_TIME}">
		{BEGIN TAS_SELFSERVICE_TIME_label}{$label TASK TAS_SELFSERVICE_TIME}{END TAS_SELFSERVICE_TIME_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELFSERVICE_TIME_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELFSERVICE_TIME">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELFSERVICE_TIME}
		</div>
	</div>
</div>
</div>
{END TAS_SELFSERVICE_TIME_fieldblock}

			{BEGIN TAS_SELFSERVICE_TIME_UNIT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELFSERVICE_TIME_UNIT}" data-fieldname="TAS_SELFSERVICE_TIME_UNIT" data-signal-error-for="TAS_SELFSERVICE_TIME_UNIT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELFSERVICE_TIME_UNIT}">
		{BEGIN TAS_SELFSERVICE_TIME_UNIT_label}{$label TASK TAS_SELFSERVICE_TIME_UNIT}{END TAS_SELFSERVICE_TIME_UNIT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELFSERVICE_TIME_UNIT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELFSERVICE_TIME_UNIT">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELFSERVICE_TIME_UNIT}
		</div>
	</div>
</div>
</div>
{END TAS_SELFSERVICE_TIME_UNIT_fieldblock}

			{BEGIN TAS_SELFSERVICE_TRIGGER_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELFSERVICE_TRIGGER_UID}" data-fieldname="TAS_SELFSERVICE_TRIGGER_UID" data-signal-error-for="TAS_SELFSERVICE_TRIGGER_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELFSERVICE_TRIGGER_UID}">
		{BEGIN TAS_SELFSERVICE_TRIGGER_UID_label}{$label TASK TAS_SELFSERVICE_TRIGGER_UID}{END TAS_SELFSERVICE_TRIGGER_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELFSERVICE_TRIGGER_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELFSERVICE_TRIGGER_UID">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELFSERVICE_TRIGGER_UID}
		</div>
	</div>
</div>
</div>
{END TAS_SELFSERVICE_TRIGGER_UID_fieldblock}

			{BEGIN TAS_SELFSERVICE_EXECUTION_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_SELFSERVICE_EXECUTION}" data-fieldname="TAS_SELFSERVICE_EXECUTION" data-signal-error-for="TAS_SELFSERVICE_EXECUTION{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_SELFSERVICE_EXECUTION}">
		{BEGIN TAS_SELFSERVICE_EXECUTION_label}{$label TASK TAS_SELFSERVICE_EXECUTION}{END TAS_SELFSERVICE_EXECUTION_label}
	</label>
	<div class="col-md-6" >
		{$TAS_SELFSERVICE_EXECUTION_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_SELFSERVICE_EXECUTION">
		<div class="text-muted" >
		{$tooltip TASK TAS_SELFSERVICE_EXECUTION}
		</div>
	</div>
</div>
</div>
{END TAS_SELFSERVICE_EXECUTION_fieldblock}

			{BEGIN TAS_NOT_EMAIL_FROM_FORMAT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_NOT_EMAIL_FROM_FORMAT}" data-fieldname="TAS_NOT_EMAIL_FROM_FORMAT" data-signal-error-for="TAS_NOT_EMAIL_FROM_FORMAT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_NOT_EMAIL_FROM_FORMAT}">
		{BEGIN TAS_NOT_EMAIL_FROM_FORMAT_label}{$label TASK TAS_NOT_EMAIL_FROM_FORMAT}{END TAS_NOT_EMAIL_FROM_FORMAT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_NOT_EMAIL_FROM_FORMAT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_NOT_EMAIL_FROM_FORMAT">
		<div class="text-muted" >
		{$tooltip TASK TAS_NOT_EMAIL_FROM_FORMAT}
		</div>
	</div>
</div>
</div>
{END TAS_NOT_EMAIL_FROM_FORMAT_fieldblock}

			{BEGIN TAS_OFFLINE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_OFFLINE}" data-fieldname="TAS_OFFLINE" data-signal-error-for="TAS_OFFLINE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_OFFLINE}">
		{BEGIN TAS_OFFLINE_label}{$label TASK TAS_OFFLINE}{END TAS_OFFLINE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_OFFLINE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_OFFLINE">
		<div class="text-muted" >
		{$tooltip TASK TAS_OFFLINE}
		</div>
	</div>
</div>
</div>
{END TAS_OFFLINE_fieldblock}

			{BEGIN TAS_EMAIL_SERVER_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_EMAIL_SERVER_UID}" data-fieldname="TAS_EMAIL_SERVER_UID" data-signal-error-for="TAS_EMAIL_SERVER_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_EMAIL_SERVER_UID}">
		{BEGIN TAS_EMAIL_SERVER_UID_label}{$label TASK TAS_EMAIL_SERVER_UID}{END TAS_EMAIL_SERVER_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_EMAIL_SERVER_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_EMAIL_SERVER_UID">
		<div class="text-muted" >
		{$tooltip TASK TAS_EMAIL_SERVER_UID}
		</div>
	</div>
</div>
</div>
{END TAS_EMAIL_SERVER_UID_fieldblock}

			{BEGIN TAS_AUTO_ROOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_AUTO_ROOT}" data-fieldname="TAS_AUTO_ROOT" data-signal-error-for="TAS_AUTO_ROOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_AUTO_ROOT}">
		{BEGIN TAS_AUTO_ROOT_label}{$label TASK TAS_AUTO_ROOT}{END TAS_AUTO_ROOT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_AUTO_ROOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_AUTO_ROOT">
		<div class="text-muted" >
		{$tooltip TASK TAS_AUTO_ROOT}
		</div>
	</div>
</div>
</div>
{END TAS_AUTO_ROOT_fieldblock}

			{BEGIN TAS_RECEIVE_SERVER_UID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_SERVER_UID}" data-fieldname="TAS_RECEIVE_SERVER_UID" data-signal-error-for="TAS_RECEIVE_SERVER_UID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_SERVER_UID}">
		{BEGIN TAS_RECEIVE_SERVER_UID_label}{$label TASK TAS_RECEIVE_SERVER_UID}{END TAS_RECEIVE_SERVER_UID_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_SERVER_UID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_SERVER_UID">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_SERVER_UID}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_SERVER_UID_fieldblock}

			{BEGIN TAS_RECEIVE_LAST_EMAIL_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_LAST_EMAIL}" data-fieldname="TAS_RECEIVE_LAST_EMAIL" data-signal-error-for="TAS_RECEIVE_LAST_EMAIL{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_LAST_EMAIL}">
		{BEGIN TAS_RECEIVE_LAST_EMAIL_label}{$label TASK TAS_RECEIVE_LAST_EMAIL}{END TAS_RECEIVE_LAST_EMAIL_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_LAST_EMAIL_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_LAST_EMAIL">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_LAST_EMAIL}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_LAST_EMAIL_fieldblock}

			{BEGIN TAS_RECEIVE_EMAIL_FROM_FORMAT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_EMAIL_FROM_FORMAT}" data-fieldname="TAS_RECEIVE_EMAIL_FROM_FORMAT" data-signal-error-for="TAS_RECEIVE_EMAIL_FROM_FORMAT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_EMAIL_FROM_FORMAT}">
		{BEGIN TAS_RECEIVE_EMAIL_FROM_FORMAT_label}{$label TASK TAS_RECEIVE_EMAIL_FROM_FORMAT}{END TAS_RECEIVE_EMAIL_FROM_FORMAT_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_EMAIL_FROM_FORMAT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_EMAIL_FROM_FORMAT">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_EMAIL_FROM_FORMAT}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_EMAIL_FROM_FORMAT_fieldblock}

			{BEGIN TAS_RECEIVE_MESSAGE_TYPE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_MESSAGE_TYPE}" data-fieldname="TAS_RECEIVE_MESSAGE_TYPE" data-signal-error-for="TAS_RECEIVE_MESSAGE_TYPE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_MESSAGE_TYPE}">
		{BEGIN TAS_RECEIVE_MESSAGE_TYPE_label}{$label TASK TAS_RECEIVE_MESSAGE_TYPE}{END TAS_RECEIVE_MESSAGE_TYPE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_MESSAGE_TYPE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_MESSAGE_TYPE">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_MESSAGE_TYPE}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_MESSAGE_TYPE_fieldblock}

			{BEGIN TAS_RECEIVE_MESSAGE_TEMPLATE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_MESSAGE_TEMPLATE}" data-fieldname="TAS_RECEIVE_MESSAGE_TEMPLATE" data-signal-error-for="TAS_RECEIVE_MESSAGE_TEMPLATE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_MESSAGE_TEMPLATE}">
		{BEGIN TAS_RECEIVE_MESSAGE_TEMPLATE_label}{$label TASK TAS_RECEIVE_MESSAGE_TEMPLATE}{END TAS_RECEIVE_MESSAGE_TEMPLATE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_MESSAGE_TEMPLATE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_MESSAGE_TEMPLATE">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_MESSAGE_TEMPLATE}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_MESSAGE_TEMPLATE_fieldblock}

			{BEGIN TAS_RECEIVE_SUBJECT_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_SUBJECT_MESSAGE}" data-fieldname="TAS_RECEIVE_SUBJECT_MESSAGE" data-signal-error-for="TAS_RECEIVE_SUBJECT_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_SUBJECT_MESSAGE}">
		{BEGIN TAS_RECEIVE_SUBJECT_MESSAGE_label}{$label TASK TAS_RECEIVE_SUBJECT_MESSAGE}{END TAS_RECEIVE_SUBJECT_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_SUBJECT_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_SUBJECT_MESSAGE">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_SUBJECT_MESSAGE}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_SUBJECT_MESSAGE_fieldblock}

			{BEGIN TAS_RECEIVE_MESSAGE_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TAS_RECEIVE_MESSAGE}" data-fieldname="TAS_RECEIVE_MESSAGE" data-signal-error-for="TAS_RECEIVE_MESSAGE{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TAS_RECEIVE_MESSAGE}">
		{BEGIN TAS_RECEIVE_MESSAGE_label}{$label TASK TAS_RECEIVE_MESSAGE}{END TAS_RECEIVE_MESSAGE_label}
	</label>
	<div class="col-md-6" >
		{$TAS_RECEIVE_MESSAGE_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TAS_RECEIVE_MESSAGE">
		<div class="text-muted" >
		{$tooltip TASK TAS_RECEIVE_MESSAGE}
		</div>
	</div>
</div>
</div>
{END TAS_RECEIVE_MESSAGE_fieldblock}

			
		





{BEGIN details_STEP_TRIGGER}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">{$caption STEP_TRIGGER}
		<span>
{BEGIN details_inlineadd_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_STEP_TRIGGER_attrs}>{mlang_message INLINE_ADD}</button>
{END details_inlineadd_STEP_TRIGGER_link}		
{BEGIN details_add_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_STEP_TRIGGER_attrs}>{mlang_message ADD_NEW}</button>
{END details_add_STEP_TRIGGER_link}
{BEGIN details_edit_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_STEP_TRIGGER_attrs}>{mlang_message EDIT}</button>
{END details_edit_STEP_TRIGGER_link}
{BEGIN details_updateselected_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_STEP_TRIGGER_attrs}>{mlang_message UPDATE_SELECTED}</button>
{END details_updateselected_STEP_TRIGGER_link}


{BEGIN details_delete_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_STEP_TRIGGER_attrs}>{mlang_message DELETE}</button>
{END details_delete_STEP_TRIGGER_link}

{BEGIN saveall_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_STEP_TRIGGER_attrs} {$savealllink_STEP_TRIGGER_span}>{mlang_message SAVE_ALL}</button>
{END saveall_STEP_TRIGGER_link}
{BEGIN cancelall_STEP_TRIGGER_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_STEP_TRIGGER_attrs} {$cancelalllink_STEP_TRIGGER_span}>{mlang_message CANCEL_ALL}</button>
{END cancelall_STEP_TRIGGER_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_STEP_TRIGGER}
</div>
</div>
</div>
{END details_STEP_TRIGGER}
	
	
	


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
