<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="TMREVN_UID">
	{$TMREVN_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="EVN_UID">
	{$EVN_UID_editcontrol}
	</control>
	<control 
	field="TMREVN_OPTION">
	{$TMREVN_OPTION_editcontrol}
	</control>
	<control 
	field="TMREVN_START_DATE">
	{$TMREVN_START_DATE_editcontrol}
	</control>
	<control 
	field="TMREVN_END_DATE">
	{$TMREVN_END_DATE_editcontrol}
	</control>
	<control 
	field="TMREVN_DAY">
	{$TMREVN_DAY_editcontrol}
	</control>
	<control 
	field="TMREVN_HOUR">
	{$TMREVN_HOUR_editcontrol}
	</control>
	<control 
	field="TMREVN_MINUTE">
	{$TMREVN_MINUTE_editcontrol}
	</control>
	<control 
	field="TMREVN_CONFIGURATION_DATA">
	{$TMREVN_CONFIGURATION_DATA_editcontrol}
	</control>
	<control 
	field="TMREVN_NEXT_RUN_DATE">
	{$TMREVN_NEXT_RUN_DATE_editcontrol}
	</control>
	<control 
	field="TMREVN_LAST_RUN_DATE">
	{$TMREVN_LAST_RUN_DATE_editcontrol}
	</control>
	<control 
	field="TMREVN_LAST_EXECUTION_DATE">
	{$TMREVN_LAST_EXECUTION_DATE_editcontrol}
	</control>
	<control 
	field="TMREVN_STATUS">
	{$TMREVN_STATUS_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
