<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="TRIGGER_CATALOG">
	{$TRIGGER_CATALOG_editcontrol}
	</control>
	<control 
	field="ACTION_STATEMENT">
	{$ACTION_STATEMENT_editcontrol}
	</control>
	<control 
	field="TRIGGER_SCHEMA">
	{$TRIGGER_SCHEMA_editcontrol}
	</control>
	<control 
	field="TRIGGER_NAME">
	{$TRIGGER_NAME_editcontrol}
	</control>
	<control 
	field="EVENT_MANIPULATION">
	{$EVENT_MANIPULATION_editcontrol}
	</control>
	<control 
	field="EVENT_OBJECT_CATALOG">
	{$EVENT_OBJECT_CATALOG_editcontrol}
	</control>
	<control 
	field="EVENT_OBJECT_SCHEMA">
	{$EVENT_OBJECT_SCHEMA_editcontrol}
	</control>
	<control 
	field="EVENT_OBJECT_TABLE">
	{$EVENT_OBJECT_TABLE_editcontrol}
	</control>
	<control 
	field="ACTION_ORDER">
	{$ACTION_ORDER_editcontrol}
	</control>
	<control 
	field="ACTION_CONDITION">
	{$ACTION_CONDITION_editcontrol}
	</control>
	<control 
	field="ACTION_ORIENTATION">
	{$ACTION_ORIENTATION_editcontrol}
	</control>
	<control 
	field="ACTION_TIMING">
	{$ACTION_TIMING_editcontrol}
	</control>
	<control 
	field="ACTION_REFERENCE_OLD_TABLE">
	{$ACTION_REFERENCE_OLD_TABLE_editcontrol}
	</control>
	<control 
	field="ACTION_REFERENCE_NEW_TABLE">
	{$ACTION_REFERENCE_NEW_TABLE_editcontrol}
	</control>
	<control 
	field="ACTION_REFERENCE_OLD_ROW">
	{$ACTION_REFERENCE_OLD_ROW_editcontrol}
	</control>
	<control 
	field="ACTION_REFERENCE_NEW_ROW">
	{$ACTION_REFERENCE_NEW_ROW_editcontrol}
	</control>
	<control 
	field="CREATED">
	{$CREATED_editcontrol}
	</control>
	<control 
	field="SQL_MODE">
	{$SQL_MODE_editcontrol}
	</control>
	<control 
	field="DEFINER">
	{$DEFINER_editcontrol}
	</control>
	<control 
	field="CHARACTER_SET_CLIENT">
	{$CHARACTER_SET_CLIENT_editcontrol}
	</control>
	<control 
	field="COLLATION_CONNECTION">
	{$COLLATION_CONNECTION_editcontrol}
	</control>
	<control 
	field="DATABASE_COLLATION">
	{$DATABASE_COLLATION_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
