<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control field="TAS_UID">
	{$TAS_UID_editcontrol}
	</control>
	<control field="PRO_UID">
	{$PRO_UID_editcontrol}
	</control>
	<control field="MONTH">
	{$MONTH_editcontrol}
	</control>
	<control field="YEAR">
	{$YEAR_editcontrol}
	</control>
	<control field="TOTAL_QUEUE_TIME_BY_TASK">
	{$TOTAL_QUEUE_TIME_BY_TASK_editcontrol}
	</control>
	<control field="TOTAL_TIME_BY_TASK">
	{$TOTAL_TIME_BY_TASK_editcontrol}
	</control>
	<control field="TOTAL_CASES_IN">
	{$TOTAL_CASES_IN_editcontrol}
	</control>
	<control field="TOTAL_CASES_OUT">
	{$TOTAL_CASES_OUT_editcontrol}
	</control>
	<control field="USER_HOUR_COST">
	{$USER_HOUR_COST_editcontrol}
	</control>
	<control field="AVG_TIME">
	{$AVG_TIME_editcontrol}
	</control>
	<control field="SDV_TIME">
	{$SDV_TIME_editcontrol}
	</control>
	<control field="CONFIGURED_TASK_TIME">
	{$CONFIGURED_TASK_TIME_editcontrol}
	</control>
	<control field="TOTAL_CASES_OVERDUE">
	{$TOTAL_CASES_OVERDUE_editcontrol}
	</control>
	<control field="TOTAL_CASES_ON_TIME">
	{$TOTAL_CASES_ON_TIME_editcontrol}
	</control>
	<control field="PRO_COST">
	{$PRO_COST_editcontrol}
	</control>
	<control field="PRO_UNIT_COST">
	{$PRO_UNIT_COST_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>