<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="WEE_UID">
	{$WEE_UID_editcontrol}
	</control>
	<control 
	field="PRJ_UID">
	{$PRJ_UID_editcontrol}
	</control>
	<control 
	field="EVN_UID">
	{$EVN_UID_editcontrol}
	</control>
	<control 
	field="ACT_UID">
	{$ACT_UID_editcontrol}
	</control>
	<control 
	field="DYN_UID">
	{$DYN_UID_editcontrol}
	</control>
	<control 
	field="USR_UID">
	{$USR_UID_editcontrol}
	</control>
	<control 
	field="WEE_STATUS">
	{$WEE_STATUS_editcontrol}
	</control>
	<control 
	field="WEE_WE_UID">
	{$WEE_WE_UID_editcontrol}
	</control>
	<control 
	field="WEE_WE_TAS_UID">
	{$WEE_WE_TAS_UID_editcontrol}
	</control>
	<control 
	field="WEE_TITLE">
	{$WEE_TITLE_editcontrol}
	</control>
	<control 
	field="WEE_DESCRIPTION">
	{$WEE_DESCRIPTION_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
