<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-print" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel wpfg_term_relationships print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN object_id_fieldheadercolumn}
			<th class="{$object_id_class}" {$object_id_style}  data-field="object_id">
				{$label wpfg_term_relationships object_id}
			</th>
			{END object_id_fieldheadercolumn}
			{BEGIN term_taxonomy_id_fieldheadercolumn}
			<th class="{$term_taxonomy_id_class}" {$term_taxonomy_id_style}  data-field="term_taxonomy_id">
				{$label wpfg_term_relationships term_taxonomy_id}
			</th>
			{END term_taxonomy_id_fieldheadercolumn}
			{BEGIN term_order_fieldheadercolumn}
			<th class="{$term_order_class}" {$term_order_style}  data-field="term_order">
				{$label wpfg_term_relationships term_order}
			</th>
			{END term_order_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN object_id_fieldcolumn}
			<td  class="{$object_id_class}" {$object_id_style} {$recordattrs}>
				{$object_id_value}
			</td>
			{END object_id_fieldcolumn}
			{BEGIN term_taxonomy_id_fieldcolumn}
			<td  class="{$term_taxonomy_id_class}" {$term_taxonomy_id_style} {$recordattrs}>
				{$term_taxonomy_id_value}
			</td>
			{END term_taxonomy_id_fieldcolumn}
			{BEGIN term_order_fieldcolumn}
			<td  class="{$term_order_class}" {$term_order_style} {$recordattrs}>
				{$term_order_value}
			</td>
			{END term_order_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
