<!doctype html>
<html  {$html_attrs}>
  <head>asdfsfs
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {$pagetitle}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link REL="stylesheet" href="styles/default.css" type="text/css">
    {BEGIN rtlCSS}
      <link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
    {END rtlCSS}
    {BEGIN styleCSSFiles}
      <link REL="stylesheet" href="{$stylepath}" type="text/css">
    {END styleCSSFiles}
  </head>
  <BODY class="{$stylename} function-search" {$bodyattrs}>
    {BEGIN body}
      {$header}
      <style>
        {$containerCss}
      </style>
      <DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel wpfg_users search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_fieldblock}		
	<div class="container {$fielddispclass_ID}" data-fieldname="ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ID}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol1}
			</div>
		</div>
	</div>
{END ID_fieldblock}
	{BEGIN user_login_fieldblock}		
	<div class="container {$fielddispclass_user_login}" data-fieldname="user_login">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_login}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_login}
			</div>
			<div class="col-md-4" >
				{$user_login_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_login_editcontrol1}
			</div>
		</div>
	</div>
{END user_login_fieldblock}
	{BEGIN user_pass_fieldblock}		
	<div class="container {$fielddispclass_user_pass}" data-fieldname="user_pass">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_pass}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_pass}
			</div>
			<div class="col-md-4" >
				{$user_pass_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_pass_editcontrol1}
			</div>
		</div>
	</div>
{END user_pass_fieldblock}
	{BEGIN user_nicename_fieldblock}		
	<div class="container {$fielddispclass_user_nicename}" data-fieldname="user_nicename">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_nicename}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_nicename}
			</div>
			<div class="col-md-4" >
				{$user_nicename_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_nicename_editcontrol1}
			</div>
		</div>
	</div>
{END user_nicename_fieldblock}
	{BEGIN user_email_fieldblock}		
	<div class="container {$fielddispclass_user_email}" data-fieldname="user_email">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_email}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_email}
			</div>
			<div class="col-md-4" >
				{$user_email_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_email_editcontrol1}
			</div>
		</div>
	</div>
{END user_email_fieldblock}
	{BEGIN user_url_fieldblock}		
	<div class="container {$fielddispclass_user_url}" data-fieldname="user_url">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_url}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_url}
			</div>
			<div class="col-md-4" >
				{$user_url_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_url_editcontrol1}
			</div>
		</div>
	</div>
{END user_url_fieldblock}
	{BEGIN user_registered_fieldblock}		
	<div class="container {$fielddispclass_user_registered}" data-fieldname="user_registered">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_registered}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_registered}
			</div>
			<div class="col-md-4" >
				{$user_registered_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_registered_editcontrol1}
			</div>
		</div>
	</div>
{END user_registered_fieldblock}
	{BEGIN user_activation_key_fieldblock}		
	<div class="container {$fielddispclass_user_activation_key}" data-fieldname="user_activation_key">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_activation_key}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_activation_key}
			</div>
			<div class="col-md-4" >
				{$user_activation_key_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_activation_key_editcontrol1}
			</div>
		</div>
	</div>
{END user_activation_key_fieldblock}
	{BEGIN user_status_fieldblock}		
	<div class="container {$fielddispclass_user_status}" data-fieldname="user_status">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users user_status}
			</div>
			<div class="col-md-2" >
				{$searchtype_user_status}
			</div>
			<div class="col-md-4" >
				{$user_status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$user_status_editcontrol1}
			</div>
		</div>
	</div>
{END user_status_fieldblock}
	{BEGIN display_name_fieldblock}		
	<div class="container {$fielddispclass_display_name}" data-fieldname="display_name">
		<div class="form-group">
			<div class="col-md-2">
				{$label wpfg_users display_name}
			</div>
			<div class="col-md-2" >
				{$searchtype_display_name}
			</div>
			<div class="col-md-4" >
				{$display_name_editcontrol}
			</div>
			<div class="col-md-4" >
				{$display_name_editcontrol1}
			</div>
		</div>
	</div>
{END display_name_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


      </div>
      <DIV class="bs-middle ">
        <DIV class="bs-topmiddle">
          
        </div>
        <DIV class="bs-left" {$blockattr_left}>
          
        </div>
        <DIV class="bs-center">
          
        </div>
        <DIV class="bs-right">
          
        </div>
      </div>
      <DIV class="bs-bottom">
        
      </div>
      {$footer}
    {END body}
  </body>
</html>
